[2020-04-08 09:23] madewild opened #7 "Pagination + count"
Add pagination and total number of projects
120 projects (10 pages of 12) is a good start for now

[2020-04-08 09:24] madewild opened #8 "Green deal filter"
In advanced filters

[2020-04-08 09:26] madewild opened #9 "Beneficiaries page"
Display beneficiaries separately from projects

[2020-04-08 09:29] madewild opened #10 "Link filtered projects with map"
Currently all projects are shown all the time

[2020-04-08 09:31] madewild opened #11 "Search for exact expression with quotes"
Quotes are escaped by the UI?
Try "low carbon" -> 0 results
Similar result can be achieved with low AND carbon but cumbersome for users

[2020-04-08 09:35] madewild opened #12 "Unresponsive"
"When filtering, it happens that the results view is truncated (with both Edge and Chrome, did not try with FF) - (see picture below)"
![view truncated](https://user-images.githubusercontent.com/942488/78769005-03d71b80-798d-11ea-8be5-c61cf9b1d74c.jpg)

[2020-04-14 10:20] madewild opened #13 "Remove three dots (...) for short summaries"
Don't show the three dots at the end of the summary if it is shorter than the text length limit.
For instance it should be "DELTA GREEN" and not "DELTA GREEN..."
![dots](https://user-images.githubusercontent.com/942488/79213905-46479f00-7e4a-11ea-8517-3f4fc6402b1e.png)

[2020-04-14 10:21] madewild commented on #13
Also in labels (titles)

[2020-04-14 10:23] madewild commented on #12
I also have this issue now unless I unzoom to 80%...

[2020-04-14 11:16] raphdom commented on #13
Done

[2020-04-14 11:16] #13 closed

[2020-04-14 11:28] raphdom commented on #12
done!

[2020-04-14 11:28] #12 closed

[2020-04-15 08:26] raphdom commented on #7
Pagination on client side is done, I am not sure if you want to close this?

[2020-04-15 08:29] madewild commented on #7
Do you think it's better to have 10 per page instead of 12 ? Then maybe adapt the display...

[2020-04-15 08:31] raphdom commented on #7
12,24,48,96?

[2020-04-15 08:33] madewild commented on #7
I agree it's a bit strange... but the two blank spaces as well so maybe lines of 5 is better

[2020-04-15 08:47] raphdom commented on #7
okay, I changed to 15,30,60 and the lines I change to 1,2,3,5 according to the size of the screen...

[2020-04-15 08:50] madewild commented on #7
Looks good to me so I close for now, thanks

[2020-04-15 08:50] #7 closed

[2020-04-15 08:52] raphdom commented on #11
done!

[2020-04-15 08:52] #11 closed

[2020-06-19 08:27] madewild commented on #8
Solved by "Greener and carbon free Europe" policy objective

[2020-06-19 08:27] #8 closed

[2020-06-19 08:27] #9 closed

[2020-06-19 08:28] #10 closed

[2020-06-19 08:28] madewild opened #21 "Mobile version"
Develop responsive mobile version of Kohesio on top of current desktop version

[2020-06-19 08:29] madewild opened #22 "Localisation in 24 EU official languages"
When we get the contents...

[2020-06-19 08:31] madewild opened #23 "Add Excel export link"
API already provided by Dennis on /facet/eu/search/beneficiaries/excel

[2020-06-19 08:33] madewild opened #24 "Add polygons for regions on homepage map"
Waiting to know NUTS level needed for each country
geoJSON data available on https://ec.europa.eu/eurostat/web/gisco/geodata/reference-data/administrative-units-statistical-units/nuts

[2020-06-19 08:49] madewild commented on #24
Also, which scale should we use?

[2020-06-19 08:53] madewild opened #25 "Server-side pagination"
Using OFFSET and LIMIT parameters in API

[2020-06-19 08:53] madewild opened #26 "Server-side pagination"
Using OFFSET and LIMIT parameters in API

[2020-06-19 09:01] madewild opened #27 "Server-side pagination"
Using OFFSET and LIMIT parameters in API

[2020-06-19 09:01] #27 closed

[2020-06-19 09:02] #26 closed

[2020-06-19 09:03] madewild opened #28 "Sorting"
Allow to sort projects by date, amount, etc.

[2020-06-19 09:04] madewild opened #29 "Explore GIS options"
To improve map

[2020-06-19 10:45] madewild opened #30 "Harmonize numerical formats"
Decimal and thousand separators should be the same across the site, including:

- carousel
- key figures
- homepage map
- projects
- beneficiaries

[2020-06-22 15:22] madewild opened #32 "Message if no Categories of intervention"
The message "Category of intervention have not been declared by the Managing Authority" should appear on the projects search page and not on the project details page. On the details we should have "n/a"

@teodoracostin can you confirm exactly what we need?

[2020-06-22 20:11] madewild opened #33 "Wrong programming period"
Programming period seems to be hardcoded to "2014-2021". However, the right value is "2014-2020".
To avoid problems in the future, the best way would be to used the field "programmingPeriodLabel" from the API (the value was also wrong there but now corrected).

[2020-06-22 20:20] madewild commented on #30
All the monetary amounts now seem correct.
The only remaining question is for the co-financing rate: should we have a comma instead of a dot when there are decimals? I'll ask Pascal.

[2020-06-23 07:16] madewild opened #34 "Add actual region"
When the region of each project is provided by the API, add it on the details page instead of "IN [THE REGION]"

[2020-06-26 13:32] madewild commented on #30
REGIO confirms that we have to use the comma everywhere as a decimal separator

[2020-06-26 13:34] madewild opened #36 "Improve carousel"
The carousel could be thinner, which would allow to see better the map and key figures.
Also, the images in the carousel are a little bit blurry: let's obtain them in better resolution.

[2020-06-26 13:34] #33 closed

[2020-06-26 13:46] madewild commented on #25
The change of pagination should ideally implemented for 13 July.

[2020-06-26 13:53] #23 closed

[2020-06-26 14:02] madewild opened #37 "Flag CSS"
When the beneficiary name spreads over multiple lines, the national flag shrinks

[2020-06-26 14:02] madewild opened #38 "Remove Google+ button"

[2020-06-26 14:03] madewild opened #39 "Remove tooltip from "Greener and carbon free Europe""

[2020-06-26 14:03] madewild opened #40 "Enlarge icons from key figures"

[2020-06-26 14:05] madewild opened #41 "Problematic icon for TO"
Icons is bigger than the others and interferring with the text on small screens:
![to7](https://user-images.githubusercontent.com/942488/85865899-e153e200-b7c6-11ea-8a1c-e5c61ebdd8e7.png)

[2020-06-26 14:07] madewild commented on #37
I cannot really reproduce this issue, ask Thierry

[2020-06-26 14:09] madewild opened #42 "Text overlap"
Amounts overlapping on small screens:
![overlap](https://user-images.githubusercontent.com/942488/85866194-532c2b80-b7c7-11ea-8102-74a6055ba4e8.png)

Quick fix or wait for responsive design?

[2020-06-29 11:38] madewild opened #43 "Markers on the map are too large"
They are hiding the actual map (country). Can we make them always smaller, or relative to the size of the zoom?
![too_large](https://user-images.githubusercontent.com/942488/86000456-dd65d100-ba0d-11ea-958d-80821c3750f7.png)

[2020-06-29 11:40] madewild opened #44 "Map centering"
The map isn’t focused on a specific MS (selected in the previous step, when clicking on the map on the homepage) but it is centered on the EU.

[2020-06-29 11:42] madewild opened #45 "Re-enable bubbles/clusters on the map"
When we have 20 markers at the same location, find a mechanism to display them all nicely
Cf. https://www.storelocatorwidgets.com/blogpost/20465/Marker_clustering_added_to_MapBox_and_Open_Street_Map

[2020-06-29 11:43] madewild opened #46 "Images distorted"
Audiovisual tab > photos are not shown in proportion (they're extended)

[2020-06-29 11:47] madewild commented on #46
@teodoracostin do you see this and are you able to comment when you are logged in to GitHub?

[2020-06-29 12:12] teodoracostin commented on #42
Responsiveness will fix this issue.

[2020-06-29 12:14] madewild commented on #42
Great!
And good to see you can comment here :)
So we move to v2 when mobile is implemented

[2020-06-29 12:15] teodoracostin commented on #40
Fixed, soon will be merged on master.

[2020-06-29 12:15] teodoracostin commented on #39
Fixed, soon will be merged on master.

[2020-06-29 12:15] teodoracostin commented on #38
Fixed, soon will be merged on master.

[2020-06-29 12:16] madewild commented on #21
Responsiveness should also solve #42

[2020-06-29 12:17] madewild commented on #40
The merge will be done on Friday morning
@teodoracostin feel free to close issues yourself when they are done

[2020-06-29 12:17] #40 closed

[2020-06-29 12:17] teodoracostin commented on #36
Fixed the height, soon will be merged on master. I will ask for better quality images to integrate.

[2020-06-29 12:17] #39 closed

[2020-06-29 12:17] #38 closed

[2020-06-30 06:36] raphdom commented on #37
I cannot reproduce also

[2020-06-30 06:37] raphdom commented on #37
![image](https://user-images.githubusercontent.com/5124917/86091927-fd000680-baac-11ea-8c3e-72ab88a5d70f.png)

[2020-06-30 06:47] raphdom commented on #37
![image](https://user-images.githubusercontent.com/5124917/86092813-53ba1000-baae-11ea-9099-51ee58e6a4b7.png)

[2020-06-30 06:48] raphdom commented on #37
Firefox!

[2020-06-30 06:56] raphdom commented on #32
Fixed

[2020-06-30 06:56] #32 closed

[2020-06-30 06:56] raphdom commented on #30
Fixed

[2020-06-30 06:56] #30 closed

[2020-06-30 06:57] raphdom commented on #37
Fixed!

[2020-06-30 06:57] #37 closed

[2020-06-30 06:57] raphdom commented on #36
Fixed!

[2020-06-30 07:00] teodoracostin commented on #46
Fixed and pushed on dev.

[2020-06-30 07:00] #46 closed

[2020-06-30 07:12] teodoracostin commented on #41
Responsiveness will fix this issue.

[2020-06-30 07:28] madewild opened #47 "Add region polygon to project details"
When there is no coordinates, show polygon of region (NUTS3) instead of country

[2020-06-30 07:29] madewild commented on #47
Duplicate of #24

[2020-06-30 07:43] madewild commented on #24
For homepage

[2020-06-30 07:46] madewild commented on #21
And also #41

[2020-07-02 11:08] madewild opened #48 "Remove link to linkedopendata.eu"
On project details page, the link after "Website" should go to the actual website of the beneficiary. If we don't have it, we display nothing. In any case we don't want a link to "linkedopendata.eu" here, it is already provided by edit button.

[2020-07-02 13:02] madewild opened #49 "Missing space in pagination total"
Should be "1 - 15 of 705 095" (space as thousand separator) instead of 705095

[2020-07-02 13:04] madewild commented on #34
Waiting for REGIO validation for exact format

[2020-07-02 13:32] #34 closed

[2020-07-03 05:56] madewild commented on #43
Another telling example with Corsica projects:
![corse](https://user-images.githubusercontent.com/942488/86436515-b3a8f480-bd02-11ea-96bf-8521c8b4595c.png)

[2020-07-03 05:59] madewild commented on #36
The image is still blurry on my large screen, can we get a better resolution?
![blurry](https://user-images.githubusercontent.com/942488/86436702-139f9b00-bd03-11ea-81fc-986bd138ab19.png)

[2020-07-03 06:56] teodoracostin commented on #36
I have asked BISIAUX Amaury to provide us images with better resolution. I will integrate them once I receive them.

[2020-07-03 06:57] madewild commented on #36
OK no problem, let's just keep this issue open until it's fixed :)

[2020-07-03 07:18] madewild opened #51 "Typo in CoI disclaimer"
"Categor**y** of intervention **have** not been declared by the Managing Authority"
Anne suggests "Category of intervention not declared by the Managing Authority"

[2020-07-03 07:58] madewild opened #52 "Edge issues"
The maps are not rendering on Microsoft Edge, which is unfortunately used by some people ;)
Maybe the new GIS map with fix this?
Other issues detected with EDGE?

[2020-07-03 12:51] madewild opened #53 "Improve themes page"
The title "exploring the data by themes" should be "exploring the **projects** by themes"
Also, the text below ("Through the filters above...") is a copy-paste from elsewhere and should be adapted or removed

[2020-07-03 12:54] madewild opened #54 "Warning when leaving to Wikidata"
When we click on a Wikidata link, we should somehow warn the user that we are leaving the Commission-approved data. This is especially important since Wikidata looks very much like our Wikibase (linkedopendata.eu). People should not be misled as to whether the information is approved by the Commission or not.

Any user-friendly way of achieving that?

[2020-07-03 12:56] madewild opened #55 "GDPR disclaimer"
At some point we may need to add a disclaimer about some personal information displayed on the site. Not sure if there is anything problematic now but it's a remark from the management for later...

[2020-07-03 13:10] madewild opened #56 "About page"
As the URL is now shared with many people, it becomes urgent to fill the About page (https://kohesio.eu/about) with some context about the scope of the pilot, why we only have 6 member states, etc.
@teodoracostin could you press REGIO for the content to be included on this page?
If a random citizen arrives on kohesio.eu it is not very clear why some countries are absent...

[2020-07-06 06:33] raphdom commented on #48
The "link" data is coming in the API.
Should be change there, I already have the logic if we don't have the link display "n/a"

[2020-07-06 06:45] madewild commented on #48
OK this is for Dennis then.

[2020-07-06 06:45] #48 closed

[2020-07-06 07:54] teodoracostin commented on #56
Email sent to Pascal.

[2020-07-06 08:15] teodoracostin commented on #53
Title is fixed and text below was removed (asked by Anne).

[2020-07-06 08:15] #53 closed

[2020-07-06 08:17] teodoracostin commented on #51
Fixed.

[2020-07-06 08:17] #51 closed

[2020-07-06 08:26] raphdom commented on #47
As dicussed with Dennis, when we don't have the coordinates we don't have the region also. Still need to check the lack of the data!

[2020-07-06 08:27] D063520 commented on #47
yes, this I have to fix ....

[2020-07-06 08:28] madewild commented on #47
Is this feasible for Friday? Or do we postpone to v2?

[2020-07-06 08:30] D063520 commented on #47
I think this is feasible .... Thierry shared the mapping between program and nuts (I need to import them), the nuts are imported then it should be not difficult .....

[2020-07-06 08:34] D063520 commented on #47
But there is also the request to put the poligon when there is the geo-coordiante, and for this I already pass in the API the geoJson. So if you implement this, I need just to put the info in the API .....

[2020-07-06 12:40] #47 closed

[2020-07-06 12:41] raphdom commented on #47
fixed

[2020-07-06 12:41] #49 closed

[2020-07-06 12:41] raphdom commented on #49
fixed

[2020-07-06 12:41] raphdom commented on #25
implemented, waiting for the new API to get the points and put in the map

[2020-07-06 12:42] raphdom commented on #43
fixed!

[2020-07-06 12:42] #43 closed

[2020-07-06 14:22] raphdom commented on #25
done

[2020-07-06 14:22] #25 closed

[2020-07-07 07:12] teodoracostin commented on #36
Images on carousel are with better resolution now.

[2020-07-07 10:23] D063520 opened #58 "Adding advanced filters"
Somehow we forgot about this I think .... so the backend is ready for this, we need to put it in the front-end ..... I think this was a request for version 1.0 ...

[2020-07-10 07:09] madewild commented on #36
For me the first image is still blurry
And apparently the carousel is not thin enough
Reopening and moving to v2

[2020-07-10 07:30] raphdom opened #60 "Region filter on beneficiaries page"
Fix the bug that now we're sending the concatenation of the old linkedopendata with the wikidata:

Example:
region=https://linkedopendata.eu/entity/http://www.wikidata.org/entity/Q54188

Should be(like we have on the projects list page):
region=http://www.wikidata.org/entity/Q54188

[2020-07-10 07:32] madewild opened #61 "Abstract shown on projects search is truncated"
When searching for keywords, Lucene highlights them and we see only the relevant part but we should at least see the beginning with ...

[2020-07-10 07:47] madewild opened #62 "Order dropdown values alphabetically"
For countries, regions... currently random order?

[2020-07-10 07:48] D063520 commented on #62
yes, I think .... you want alfabetically I guess ....

[2020-07-10 07:49] madewild commented on #62
yes that's what the title of the issue says ;)

[2020-07-10 07:50] D063520 commented on #62
ups ....

[2020-07-10 07:53] madewild commented on #55
@weisest could you help with the content of GDPR disclaimer?

[2020-07-10 08:08] madewild commented on #29
Also add geolocation option ("projects around me" on mobile)

[2020-07-10 08:16] D063520 commented on #29
I think I know how to do this. Basically we need the point and this we can get from the IP address. Like described here:
https://www.baeldung.com/geolocation-by-ip-with-maxmind. Would be happy to try this out. Always wanted also for qanswer ....

[2020-07-10 08:17] madewild commented on #29
Yes apparently the directors would really love that so please go ahead and experiment :)

[2020-07-10 08:21] D063520 commented on #29
you can promis this to the directors, but don't promise them the order by budget (this is much more complex) ; )

[2020-07-10 10:51] weisest commented on #55
Here is an example of privacy statement: https://futurium.ec.europa.eu/en/futurium-platform-and-communities-privacy-statement
I think we should check with colleagues in R4 for a statement dedicated for kohesio.

[2020-07-10 11:13] madewild commented on #55
Perfect, we can check with R4. It has to be in place for beginning of September.

[2020-07-13 10:07] madewild commented on #58
REGIO will discuss this internally on Thursday and provide more details about what they want exactly

[2020-07-13 11:47] madewild opened #64 "Add favicon"
Currently we don't have a favicon for bookmarks etc. Ask REGIO for a suitable icon?

[2020-07-13 11:49] madewild opened #65 "Add filters to breadcrumb"
Currently if we are on a project detail page and click "Projects" in the breadcrumb to come back, all filters are lost. We should maybe add the GET parameters in the URL behind "Projects" in the breadcrump, e.g. https://kohesio.eu/projects?country=Italy&theme=Climate-Change-Adaptation-%26-Risk-Prevention

[2020-07-13 12:42] madewild opened #66 "Update key figures"
On homepage:
* Number of projects: 705 095
* Number of beneficiaries: 122 504
* Total EU Amount: 114 728 800 218

The amount needs to be cross-checked because apparently it suprised the directors... And some people also think it's not a good idea to display the total money on the homepage so perhaps we need to replace with another key figure.

[2020-07-13 13:46] madewild opened #67 "Go to top of next page"
When clicking "Next page" in the pagination navigation below the results, we should go to the TOP of the next page, not the bottom (standard behaviour in e.g. Google)

[2020-07-13 13:55] madewild commented on #66
I cross-checked everything and the total amount seems correct
The explanation is probably that Poland has a lot of high-amount projects and is pushing the total upwards.

[2020-07-16 12:06] raphdom commented on #52
For me it works fine, like Chrome and Firefox, all features are good, the map is rendering the points properly

[2020-07-16 12:09] raphdom commented on #60
fixed!

[2020-07-16 12:09] #60 closed

[2020-07-16 12:10] #52 closed

[2020-07-16 12:27] raphdom commented on #67
fixed

[2020-07-16 12:27] #67 closed

[2020-07-23 09:57] teodoracostin commented on #64
Hi,

For now I added the default favicon. Will send an email to Pascal to ask if ok.

[2020-07-23 10:18] teodoracostin commented on #56
Content added.

[2020-07-23 10:24] teodoracostin commented on #41
Fixed.

[2020-07-23 10:24] #56 closed

[2020-07-23 10:24] #64 closed

[2020-07-23 19:02] D063520 opened #74 "Program adapting to country"
Quote by Thierry:

"The advanced filters don’t adapt dynamically to the global filters.  This is particularly visible for the “Programme name” which is a data typically linked to the country.  When browsing the French projects, only the French programmes should be selectable and so on."

This is possible, the API for the program:

/facet/eu/programs

has an optional parameter country. So if the co

[2020-07-23 19:04] D063520 opened #75 "Programming period"
Quote by Theirry:

"Programming period: currently, we only have ingested projects from 2014-2020, although the filter shows only value 2021 - 2027.  Moreover this value doesn’t empty when the filters are reset.  Both “2014 - 2020” and “2021 - 2027” should be presented, with the possibility to have no (=blank) selection."

We should for sure change 2021 - 2027 to 2014 - 2020. If you can, can you ma

[2020-07-23 19:11] D063520 opened #76 "Intervention Field by area ..."
Intervention Field: the sorting by alphabetical order makes it hard to select a correct target.  Originally, the intervention fields are classified by areas:
![image003](https://user-images.githubusercontent.com/10883585/88328596-fd489600-cd28-11ea-994e-91c9b4c69653.png)
Is it possible to have the areas (in grey in the screenshot above) somehow separating the intervention fields, and the intervent

[2020-07-23 19:25] D063520 opened #77 "Adding geoJson geometry on map when points are results"
Hola!

I added the geoJson when the results of the map API are points and either country, region or granularity region is selected. So basically if the filed geoJson is set you need to draw it ....

[2020-07-24 07:00] #74 closed

[2020-07-24 07:00] raphdom commented on #74
done

[2020-07-24 07:19] raphdom commented on #77
done

[2020-07-24 07:19] #77 closed

[2020-07-24 09:57] raphdom commented on #75
done

[2020-07-24 09:57] #75 closed

[2020-07-24 09:57] raphdom commented on #44
centered on the countries that user selected on the filters...

[2020-07-24 09:57] #44 closed

[2020-07-24 09:58] raphdom commented on #58
implemented on projects and beneficiaries page

[2020-07-24 09:58] #58 closed

[2020-07-24 15:39] D063520 commented on #29
I created a first implementation ..... it is available under
/facet/eu/map/nearby
@raphdom can you try to implement it .... not sure about scalability and so on .....

[2020-07-24 18:12] D063520 opened #83 "Many overlapping regions"
I noted that even if there many projects, we can only see some because they are overlapped. For example in
Italy -> South Italy -> Apulia, Province of Bari

[2020-07-24 22:05] D063520 opened #84 "map, nothing rendered in some cases"
this request is not rendering

https://dev.kohesio.eu/projects?keywords=rome

maybe because geoJson is empty?

[2020-07-25 14:36] D063520 commented on #24
is this not the same as the map without filters? I changed the scale that I send you via API, it should be light-way enough to take it from the API

[2020-07-25 14:40] D063520 commented on #22
About this .... for the search, map, beneficiary page .... in the APIs there should be always a language parameter .... if the knowledge is present in the knowledge base the only thing you need to do is to set it to "fr"

[2020-07-26 20:23] D063520 opened #85 "Write more clearly "No Result""
Sometimes it is not clear for the user that there is no result, like here:

https://dev.kohesio.eu/beneficiaries?country=Italy&fund=CF---Cohesion-Fund

[2020-07-27 06:52] raphdom commented on #84
done

[2020-07-27 06:52] #84 closed

[2020-07-27 08:26] #29 closed

[2020-07-27 10:08] raphdom commented on #24
done

[2020-07-27 10:08] #24 closed

[2020-07-27 16:49] D063520 opened #88 "replace tails with points in the map"
The tails take too much space, one cannot search properly because they cover things ..... I suggest just dots

[2020-07-28 13:35] D063520 opened #89 "Website of the beneficiary"
In a project like this

https://dev.kohesio.eu/projects/Q92715

for the website of the beneficiary, put the website field of the json API response. I changed this right now, this issue was on the data level and is now moving to here. If it is not set put n/a

[2020-08-04 06:53] raphdom commented on #45
When we have more than one project we display it in the popup in a scroll if needed. Still need to improve and ask Dennis to create another endpoint to receive the coordinates and retrieve all the projects in this coordinate.

[2020-08-04 06:53] #45 closed

[2020-08-04 06:56] raphdom commented on #65
I've discussed this with Dennis and Teodora and we think that the breadcrumbs don't have this purpose, it will be weird because the breadcrumb is made to navigate between the pages, if the user want to go back to the previous search he should use the back button of the browser... Maybe the breadcrumbs in the detail page is useless and we can remove it, because have only a link for the home page, t

[2020-08-04 06:56] raphdom commented on #66
We don't understand what we should do here...

[2020-08-04 06:57] raphdom commented on #83
It was implemented the popup with several projects when we have these cases... Now it is fixed.

[2020-08-04 06:57] #83 closed

[2020-08-04 09:18] raphdom opened #91 "Themes filter doesn't work properly"
When we select, in the projects page one theme, the results are without the theme that we've selected.

[2020-08-04 09:20] raphdom opened #92 "Audiovisual tab"
Now that we've implemented the pagination on server side, it is weird to have pagination in the audiovisual too, when we select France only in the next pages that we're going to have one image. Maybe we should implement another API to get all the audiovisuals at once...

[2020-08-04 09:21] raphdom opened #93 "Bug with filter "Total Project Budget""
an example of the error:

https://kohesio.linkedopendata.eu/api/dev/facet/eu/search/project?offset=0&limit=15&budgetSmallerThan=1000000&budgetBiggerThan=100000

[2020-08-04 14:09] #93 closed

[2020-08-04 14:13] D063520 commented on #91
can you describe the problem better ... I tried the first theme (Climate Change Adaptation & Risk Prevention) and for me it is right ..... note the themes are associeted to the categories of intervention ....

[2020-08-05 06:09] raphdom commented on #91
Pascal told me that always when we select a theme, the first pages is always with "Category of intervention not declared by the Managing Authority" but I remember that was not like that before, when we did the selection this appear the themes in the first page...

[2020-08-05 08:46] D063520 commented on #91
yes, there was a bug introduced for some reason ; )

[2020-08-05 08:46] #91 closed

[2020-08-05 15:27] madewild commented on #66
Please update the numbers on homepage, they are no longer correct (we have more projects etc now)

[2020-08-07 20:07] D063520 commented on #66
Hola! I made an API for this at "api/dev/facet/eu/statistics". With this it will be always up to date .... the result will be cached so it will e the same until we do not invalidate the cache

[2020-08-17 06:39] madewild commented on #54
@weisest could R4 also help with a disclaimer in this case?

[2020-08-20 13:31] teodoracostin commented on #36
Hi,

I have updated the carousel 50% text 50% img like Pascal asked.
Changes are on branch d-carousel pushed to dev.

[2020-08-24 08:19] D063520 opened #94 "Typo in about page"
Check the last sentence here:

https://dev.kohesio.eu/about

At the moment, Kohesio is still in its pilot phase and is presenting therefore data limited to 6 pilot Member States: Czechia, Danemark, France, Ireland, Italy and Poland.

I think it should be Czech Republic and Denmark is misselled

[2020-08-24 08:42] madewild commented on #55
@weisest could you organise the meeting with R4? thanks

[2020-08-24 08:44] madewild opened #95 "Create test env"
Between dev and prod

[2020-08-24 08:51] D063520 commented on #95
wait ... you mean having prod, dev and now test?

[2020-08-24 09:01] madewild commented on #95
Yes, not urgent but we need an environment where REGIO (and later member states) can test new features before deploying them to prod, but dev is not the right place to do that, it should be only for developers. This is standard IT management. :)

[2020-08-24 09:04] madewild commented on #95
PS: DIGIT tools have 5 environments, DEV TEST ACC MAINT and PROD ;)

[2020-08-24 09:08] madewild commented on #94
For Czechia vs Czech Republic it's not so straightforward: https://en.wikipedia.org/wiki/Name_of_the_Czech_Republic
I have seen both in use at the Commission (and it already created some problems in the past) but I agree we should settle for one name everywhere. Let's ask the Czech delegates in September what they prefer :)

[2020-08-24 09:12] madewild commented on #88
You mean the markers? Let's discuss this with @raphdom

[2020-08-24 09:12] D063520 commented on #88
I think this is already done .....

[2020-08-24 09:12] madewild commented on #85
Agreed

[2020-08-24 09:13] madewild commented on #76
Yes, this asks for improvement...

[2020-08-24 09:14] madewild commented on #88
Ah yes, I see we now have blue circles...

[2020-08-24 09:14] #88 closed

[2020-08-24 12:24] D063520 opened #96 "Add licence for search around a point"
This product includes GeoLite2 data created by MaxMind, available from
<a href="https://www.maxmind.com">https://www.maxmind.com</a>.

[2020-08-24 13:26] raphdom commented on #66
done, it was implemented on the homepage

[2020-08-24 13:26] #66 closed

[2020-08-24 14:59] madewild commented on #55
Apparently only the beneficiary name is concerned
@raphdom do we collect any user data like IP addresses?

[2020-08-24 15:24] raphdom commented on #55
only when the user want to get the projects near by (on the map)

On Mon, 24 Aug 2020 at 16:59, Max De Wilde <notifications@github.com> wrote:

[2020-08-24 15:25] madewild commented on #55
OK right, we need to be explicit about that in the GDPR statement

[2020-08-24 15:30] D063520 commented on #55
but we are not storing this ... or strictly speaking we are caching only the geo-coordinate we resolved ... not sure if this helps ...

[2020-08-25 10:12] madewild commented on #55
OK thanks. I also see a few cookies but only basic stuff, we can acknowledge that explicitly to be on the safe side.

[2020-08-25 11:59] raphdom commented on #89
done

[2020-08-25 11:59] #89 closed

[2020-08-25 11:59] raphdom commented on #85
done, even on projects list...

[2020-08-25 11:59] #85 closed

[2020-08-25 12:19] D063520 opened #97 "Changed map API"
Hi,

I changed the map API.

1) If you query:

curl -G 'localhost:5678/api/dev/facet/eu/search/project/map'   --data-urlencode 'keywords=angola'

you will get (when there are less than 2000 results or the nuts region is already the smallest) a list of geo corrdinates

{"geoJson":"","list":["16.1976,51.0677","12.2018,44.4161","17.2906,50.9574"]}

To get the projects at a specific coordinate you the

[2020-08-25 12:20] D063520 commented on #95
I created test in the backend .... available at "/api/test". But what should I put there? Currently it is an older version of dev ..... A bit insecure about this .....

[2020-08-25 12:22] madewild commented on #95
Right now you can put the same as dev. But when we merge dev the next time (next Thursday), we will merge into test instead of merging directly into prod to avoid breaking the prod. Then after REGIO review we can merge test into prod. Clearer? :)

[2020-08-25 12:23] D063520 commented on #95
ok, I got it!

[2020-08-25 13:06] D063520 opened #98 "Made API for image"
I added an API for the image search. The parameters are the same as the other search APIs

curl -G 'localhost:5678/api/dev/facet/eu/search/project/image' --data-urlencode 'keywords=blood glucose'

gives back:

{"numberResults":1,"list":[{"image":"https://ec.europa.eu/regional_policy/rest/projects/upload/regio_standard_153_4078_mellisim_image.jpg","item":"https://linkedopendata.eu/entity/Q139379"}]

[2020-08-26 06:35] #36 closed

[2020-08-26 06:43] madewild opened #99 "English error"
On the map, "Projects near by me" should read simply "Projects near me" (or "Projects around me")

[2020-08-26 06:58] raphdom commented on #99
Fixed, will be deployed on dev

[2020-08-26 06:58] #99 closed

[2020-08-26 08:45] raphdom commented on #97
Implemented. On dev!

[2020-08-26 08:45] #97 closed

[2020-08-27 09:10] madewild opened #100 "Move NUTS info and project count to tooltip on map"
Don't show all labels at once because they clog the map

[2020-08-27 11:40] raphdom commented on #100
done

[2020-08-27 11:40] #100 closed

[2020-08-27 13:58] raphdom commented on #98
done! implemented, event the "no results"

[2020-08-27 13:58] #98 closed

[2020-08-27 13:59] raphdom commented on #92
duplicated!

[2020-08-27 13:59] #92 closed

[2020-08-30 19:54] D063520 opened #101 "Thematic objective should not be bold"
Thematic objective should be n/a:

https://dev.kohesio.eu/projects/Q139577

and not bold:

https://dev.kohesio.eu/projects/Q1979863

[2020-08-31 07:03] raphdom commented on #101
fixed!

[2020-08-31 07:03] #101 closed

[2020-08-31 13:05] madewild opened #102 "Add help page for project search"
We need to document somewhere that * can be used as a wildcard, AND for a stricter search, etc.

[2020-08-31 13:17] madewild commented on #94
Please put I Czech Republic and Denmark for now

[2020-08-31 13:17] madewild opened #103 "Czechia"
vs Czech Republic, what does the MS prefer?

[2020-08-31 13:19] madewild commented on #65
Agreed, maybe we should remove the breadcrumb altogether in future version?

[2020-08-31 13:19] #65 closed

[2020-08-31 14:29] madewild opened #104 "Theme filters broken"
Dennis changed the filter names from "Low carbon economy" to "TO04 Low carbon economy" for instance so the categories on the homepage are broken and return no results. We have to align both

[2020-08-31 14:31] D063520 commented on #104
I think this is a point for raph ....

[2020-09-01 05:24] madewild commented on #104
I discussed with Anne and she says that we can leave the "TO01" codes (as asked by Thierry and Slaven) for now but that in the future we should remove them from the public website and only have them in the professional space. I think the best way would be to keep the current order (non-alphabetical) but without showing the codes in the filters. Will open a separate issue.

[2020-09-01 05:25] madewild opened #105 "Sort by TO number without showing them"
The themes should not be sorted alphabetically, but the codes TO01 etc should be hiddent for the user

[2020-09-01 08:22] madewild opened #106 "Wrong copyright information"
A lot of images (including the placeholder when no image is present) have the copyright info "“©Société de Gestion de la Station des Rousses, SAEM SOGESTAR / Benjamin Becker (2017)”.
This seems to be an error, we need to check what to display (if anything at all) for generic images.

[2020-09-01 08:25] madewild commented on #106
@teodoracostin Thierry was asking
Could you clarify
-	what is the copyright information of the logos, and
-	whether or not we have to display it down the logos if we use those logos for replacing missing real pictures in the project details ?

I don't think @raphdom can answer these questions, this is about the origin of the images we use. They come from InfoRegio if I'm not mistaken so we should

[2020-09-01 08:38] D063520 commented on #106
Basically the copyright of inforregio is in the knowledge graph. So they are send via API, the other are coming from the front-end . In fact I would prefer to move all the data (including the logos of the thematic objectives) to the knwoledge graph and send you evrything via API .....

[2020-09-01 08:41] madewild commented on #106
Yes I agree it would be better to have everything in the knowledge graph. But we first need to get the data right :)

[2020-09-01 09:18] #105 closed

[2020-09-01 09:34] madewild commented on #96
@D063520 do we send any data outside (through an API) for this or just resolve the location locally?

[2020-09-01 09:39] madewild commented on #104
Fixed since we removed the codes again

[2020-09-01 09:39] #104 closed

[2020-09-01 09:41] madewild commented on #54
The suggested phrasing is “Please note that you are now leaving the Kohesio website from the European Commission. The EC cannot be held responsible for incorrect information published on Wikidata"
@weisest will cross-check with D4

[2020-09-01 09:43] madewild commented on #55
Feedback of R4: we should move to the europa.eu domain in the long run to avoid problems.
In the short term, we need to:
- state that the obligation to inform people about the publication of the (pseudonymised) personal data lies on the member states
- check what we do exactly with the location from "projects around me", this is sensitive stuff
- check about cookies

[2020-09-01 10:39] madewild commented on #106
Moving to backend

[2020-09-01 12:01] D063520 commented on #96
I prepared that, I will push it when raph gives me the go ....

[2020-09-02 12:56] raphdom commented on #94
done

[2020-09-02 12:56] #94 closed

[2020-09-02 12:58] raphdom commented on #96
done

[2020-09-02 12:58] #96 closed

[2020-09-02 13:50] raphdom commented on #54
done, waiting for @weisest confirmation to change or not the message

[2020-09-02 13:50] raphdom commented on #55
What I should do for this version?

[2020-09-03 07:18] weisest commented on #54
Reply from D4, there is no official wording so this is fine but we should change "incorrect" with "any"
“Please note that you are now leaving the Kohesio website from the European Commission. The EC cannot be held responsible for any information published on Wikidata"

[2020-09-03 09:10] #54 closed

[2020-09-03 09:56] madewild commented on #55
So there is no cookie at all, and no third-party API. Nothing is left in St-Etienne, and the "projects around me" is a local database store on our AWS instance resolving the location from the IP. The resolved geolocation is cached and stored in a log file that is deleted after 30 days.
So here's the text we can put on the about page (under the text already present):

Kohesio does not collect any p

[2020-09-03 09:59] madewild commented on #76
Another idea suggested by Anne is to have expanding dropdowns that open with a + sign the subcontents of categories. This could also be used for regions and subregions but I don't know if this fits well in the current dropdowns...

[2020-09-03 09:59] raphdom commented on #55
Maybe it is better to put under a sub-title like "Data protection"? What do you think?

[2020-09-03 10:09] madewild commented on #55
Yes good idea

[2020-09-03 13:54] madewild opened #109 "Image blurry"
https://kohesio.eu/assets/images/banners/banner1.jpg is still blurry on 27" screen
634x300 resolution is not enough, we need high-resolution images! :)

[2020-09-03 13:55] madewild commented on #109
@teodoracostin can you check again with REGIO communication unit?

[2020-09-04 10:17] madewild opened #110 "Professional space (aka Kohesio Lab)"
Develop intranet access for REGIO specials and member states correspondents

[2020-09-04 10:55] madewild opened #111 "Add info about translation in About page"
We should clarify that we used eTranslation for English labels (titles) and summaries (descriptions), which explains some errors

[2020-09-04 12:15] madewild opened #112 "Use singular when 1 project"
On the map we sometimes see "1 project**s**". Use "project" in the singular when there is only one.

[2020-09-07 08:21] madewild opened #114 "Improve carousel arrows"
Mentioned by Pascal, to check with REGIO

[2020-09-07 08:41] madewild opened #115 "Add thousand separator on map"
Add a space as thousand separator as elsewhere on the website. For instance number of projects when hovering France should read as "24 046" rather than "24046".

[2020-09-07 09:00] madewild opened #116 "Remove Cookies link in footer"
As we don't use cookies, we can remove this link

[2020-09-07 09:03] madewild opened #117 "Improve Contact link in footer"
Currently we have mailto:REGIO-EXTERNAL-COMMUNICATION@ec.europa.eu?subject=feedback
Two improvements:

- add a target="_blank" so that Gmail (or other) opens in separate tab
- put "Kohesio feedback" as subject as this is a general functional mailbox not dedicated to Kohesio alone

[2020-09-08 14:30] madewild opened #118 "Make full map visible without scrolling"
Make carousel thinner?

[2020-09-17 09:35] madewild opened #119 "Sort beneficiaries by all fields"
Currently beneficiaries cannot be sorted

[2020-09-18 07:59] D063520 commented on #28
Hello,

the backend is now prepared for this ..... we deployed the new API in dev:

https://kohesio.linkedopendata.eu/swagger-ui.html#/facet-dev-controller/euSearchProjectUsingGET_1

the parameters are orderEndDate, orderStartDate, orderTotalBudget, orderEuBudget. They are boolean. If they are not passed results order will be "random", as it comes from the index. If it is true/false it is ascendin

[2020-09-21 05:30] raphdom commented on #28
Hey Dennis,

I will add this on frontend for sure, but this week I am very busy, maybe next week if it is good for you?

Regards,

Raphael

[2020-09-21 05:31] madewild commented on #28
Take your time, I told REGIO you were busy and that they should not expect too much change on the frontend before 15 October...

[2020-09-30 07:18] madewild commented on #109
@teodoracostin any update? should I ask someone else (Slaven)?

[2020-09-30 07:22] madewild commented on #114
Will be solved by update to eUI10

[2020-09-30 07:22] #114 closed

[2020-09-30 07:25] madewild commented on #118
To investigate with #21

[2020-09-30 08:49] madewild opened #120 "Beneficiary detail page"

[2020-09-30 10:03] D063520 opened #121 "Grabbing the project location from API"
Hi Raph,

on the project page like here:

https://kohesio.eu/projects/Q139575

 could you please grab the "Seine-Saint-Denis, Île-de-France, France"

directly from the API. I added a field called:

regionText

Salut
Dennis

[2020-09-30 13:09] D063520 opened #122 "In the search page put the description of the project instead of the text snippet"
Hi Raph,

can you display the description field and not the text snippet ..... it's included in the API

Salut
Dennis

[2020-10-06 06:46] raphdom commented on #122
Hello,

in the search, the rule is:

if we have the snippet than I show it, otherwise I show the description:

` getFullDescription(){
        if (this.snippet){
            return this.snippet;
        }else{
            return this.description;
        }
    }`

[2020-10-06 06:59] raphdom commented on #121
done, sending to dev...

[2020-10-06 07:00] raphdom commented on #117
done, sending to dev...

[2020-10-06 07:01] raphdom commented on #116
done, sending to dev...

[2020-10-06 07:39] raphdom commented on #115
done, sending to dev...

[2020-10-06 07:43] raphdom commented on #112
done, sending to dev...

[2020-10-06 07:43] raphdom commented on #111
waiting the phrase to put there....

[2020-10-06 08:01] D063520 commented on #122
yes, the goal is to never show the snippet ....

[2020-10-06 08:51] raphdom commented on #122
I thought the snippet was to show the part of the description that match with the keyword typed by the user.
Normally we have **bold** in these keywords...
@madewild did you remember that?
Because in the beginning we had the description only, and after we changed.

Regards...

[2020-10-06 08:51] #121 closed

[2020-10-06 08:51] #117 closed

[2020-10-06 08:51] #116 closed

[2020-10-06 08:52] #115 closed

[2020-10-06 08:52] #112 closed

[2020-10-06 08:53] D063520 opened #123 "When project selected on the map do not load the full application again"
Hi Raph,

it would be nice if you can fix this too ....

Salut
Dennis

[2020-10-06 08:54] D063520 commented on #123
I put it in v3, if you do not make it for this is not a problem ......

[2020-10-06 08:55] D063520 commented on #122
Discussed this with Max .... @madewild can you confirm?

[2020-10-06 08:55] raphdom commented on #123
yeah. I will try to do this for next week. It is not simple because the map using leaflet is out of the angular scope, I need to use dynamic components in angular to solve that.

[2020-10-06 09:10] madewild commented on #111
**About translation**

English translations of project titles and descriptions have been performed automatically with [eTranslation](https://ec.europa.eu/cefdigital/wiki/display/CEFDIGITAL/eTranslation), the neural machine translation tool of the European Commission. While we strive to offer the best accuracy, some occasional translations may be suboptimal. You are encouraged to report them in ord

[2020-10-06 09:14] madewild commented on #122
@raphdom yes sorry we reverted to description only everywhere and no highlighted snippet because of two issues:

- when the match is in the title, we currently show the title twice and no description, which is ugly
- we now allow to search on original title and description, so we would have to show non-English text, or show the English description with no match anyway

[2020-10-06 09:15] madewild commented on #122
and also because we cut in mid-sentence with snippets, so for the description we should always put whole sentences if possible

[2020-10-06 09:16] raphdom commented on #122
okay, understood, I will change. Thanks for the explanation Max.

[2020-10-06 13:39] madewild commented on #103
According to http://publications.europa.eu/code/en/en-370100.htm, we should use Czechia everywhere as "Czech Republic" is the more formal name (lile "Kingdom of Belgium" rather than just "Belgium").

[2020-10-06 13:40] madewild commented on #109
Mail sent to Slaven

[2020-10-07 07:08] madewild commented on #109
![banner_v1](https://user-images.githubusercontent.com/942488/95298603-9e50e280-087c-11eb-91e1-7b0167009727.jpg)

[2020-10-07 07:28] madewild commented on #103
Moving this to backend

[2020-10-07 07:31] raphdom commented on #28
It is done. Dennis, you can proceed with the tests, please?

[2020-10-07 07:32] raphdom commented on #122
done

[2020-10-07 07:32] #122 closed

[2020-10-07 07:38] madewild commented on #109
Much better!!

[2020-10-07 07:38] #109 closed

[2020-10-07 07:39] madewild commented on #111
Link missing ;)

[2020-10-07 07:39] madewild commented on #111
Now it's good!

[2020-10-07 07:39] #111 closed

[2020-10-07 09:17] madewild commented on #102
The default boolean operator is AND, so searching for **green carbon** (or **carbon green**) retrieves only documents containing both words in any order. To include also documents containing either word, use **green OR carbon**. You can also search for an exact expression using quotes: **"artificial intelligence"** for instance will look for the sequence in that order. Additionally, you can use th

[2020-10-07 09:21] D063520 commented on #28
cool! I think it works out no .... some more caching and it should be there. Some things I noticed:

- Eu Budget (**descending**) -> is it no ascending? it's the same for all the fields
- For better UI I would suggest that the user can only order by the fields that are displayed, EuBudget, StartDate and End Date and that we put in the UI arrows on top of that fields

[2020-10-07 10:47] raphdom commented on #28
I don't understand the descending part: You said "If they are true/false the order is ascending/descending." If the user select "EU Budget(ascending)" then it is "orderEuBudget: true" otherwise the "Eu Budget(descending) it will be "orderEuBudget: false".

The second suggestion I think, as we don't have columns headers, it is not good to put arrows close to the fields directly, can be misleading.

[2020-10-07 12:06] D063520 commented on #28
About the ascending/descending part .... if you query for example this:

https://dev.kohesio.eu/projects?keywords=water

and then you order by EU budget ascending then in the list you will see the project budget decreasing,  but it should be the other way around or?

About the second thing ..... yes let's think more about a nice solution .....

[2020-10-07 12:14] raphdom commented on #28
for me yes, should be in another way around.

but when I choose the EU Budged(ascending) I am doing this query

https://kohesio.linkedopendata.eu/api/dev/facet/eu/search/project?offset=0&limit=15&keywords=water&orderEuBudget=true

Let me know if you want to change it.

Anyway, the normal sort in API's is not like that, you have a field in the query with the fieldname that you want to sort, like so

[2020-10-07 12:20] D063520 commented on #28
ok, I changed the APi for now, if I implement something similar I will stick to the APi convention you describe ... salut

[2020-10-07 12:22] D063520 opened #124 "Little i?"
A little i appeared near country:

https://dev.kohesio.eu/projects

[2020-10-07 12:31] raphdom commented on #124
This is intentional. Max will add the description for each field. Just to show how this look like.

[2020-10-07 12:32] D063520 commented on #124
ahhhh

[2020-10-07 12:32] #124 closed

[2020-10-08 06:54] raphdom commented on #28
ok, then we can close this?

[2020-10-08 07:43] raphdom commented on #102
done!

[2020-10-08 07:43] #102 closed

[2020-10-08 08:00] #28 closed

[2020-10-09 08:29] raphdom commented on #123
finally done!

[2020-10-09 08:29] #123 closed

[2020-10-13 06:57] madewild commented on #21
To be tackled in November as agreed

[2020-10-13 06:59] madewild opened #125 "Add NOT operator to search doc"
The NOT operator is currently not documented

[2020-10-13 12:01] madewild opened #127 "Social network links"
Some remarks about the links we find on a detail page like https://kohesio.eu/projects/Q141625

- I would remove the colon (:) after SHARE
- all links should open in target="blank"
- dribbble.com/ should be https://dribbble.com/
- https://kohesio.eu/rss redirects to https://kohesio.eu/404
- finally, we could use some extra arguments like ?text= and ?u= as shown on https://sproutsocial.com/insights

[2020-10-13 12:08] madewild opened #128 "Font sizes"
In the top bar, the fontsize of "English" is different from "Professional space" which looks weird

[2020-10-16 09:19] madewild opened #129 "Wrong numbers in themes on homepage"
For instance Low Carbon Economy shows "17 302 projects" whereas we have 17 547 on https://kohesio.eu/projects?theme=Low-Carbon-Economy
Are the numbers on the homepage static? If yes we should make them dynamic with an API. If not there is something wrong with the query behind...

[2020-10-16 09:47] madewild opened #130 "Total budget filters"
We can filter by total budget ascending/descending but the value is not shown in the results (only the EU amount).
We should display the total budget or remove these filters (to decide with REGIO).

[2020-10-16 12:15] D063520 commented on #129
hi Raph, this is done on the API side .... if you now call the statistics API:

https://kohesio.linkedopendata.eu/api/facet/eu/statistics

you will get also the themes statistics for the first page ...

[2020-10-18 19:59] D063520 opened #131 "Map loading infinitely when no result ...."
for example for this request:

https://dev.kohesio.eu/projects?country=Italy&categoryOfIntervention=068---Energy-efficiency-and-demonstration-projects-in-SMEs-and-supporting-measures&theme=Information-%26-Communication-Technologies

[2020-10-19 08:41] raphdom commented on #129
this is done

[2020-10-19 08:41] #129 closed

[2020-10-19 08:41] raphdom commented on #131
fixed!

[2020-10-19 08:41] #131 closed

[2020-10-22 11:11] madewild opened #133 "Invalid (end) date"
Example: https://kohesio.eu/projects/Q19824
The end date is invalid. However on https://linkedopendata.eu/wiki/Item:Q19824 we see an "expected end time". We should probably have something smarter in the UI for unfinished projects than showing "invalid end date" for all ;)

[2020-10-22 13:16] madewild commented on #110
There is the idea to put the Qlik dashboard developed by Catia behind the "Professional Space" button, at least for now.
It's protected by EU Login and there is the Qlik license/token complex scheme so let's discuss with Catia how to do it.

[2020-11-09 13:18] teodoracostin commented on #127
Hi Max,

Do we know what will be the final links for Khoesio social sharing? What we have now it is just an example I have added.
Are we going to keep all of them?

[2020-11-09 13:23] madewild commented on #127
@teodoracostin  no idea, I guees you should check with the communication team in REGIO (Amaury/Slaven)...

[2020-11-09 13:32] teodoracostin commented on #127
@madewild will check with Pascal tomorrow (will be back from holiday)

[2020-11-09 14:14] teodoracostin commented on #128
Font size is fixed.

[2020-11-10 07:22] D063520 opened #134 "Map not rendering fully"
Max reported this bug. When searching projects nearby me the map is not fully rendered:

![brussels](https://user-images.githubusercontent.com/10883585/98642452-caed9380-232d-11eb-8b57-443ec6e9e9ab.png)

Not sure what can be done here .... some config of leaflet?

[2020-11-10 15:17] D063520 commented on #119
sortable + pagination + better cache

[2020-11-10 16:15] D063520 opened #136 "Enable download of projects via csv and excel"
I added APIs similarly to beneficiaries for the exports.

/facet/eu/search/project/excel

and

/facet/eu/search/project/csv

[2020-11-11 12:46] raphdom commented on #134
fixed

[2020-11-11 12:46] #134 closed

[2020-11-11 12:46] raphdom commented on #128
fixed

[2020-11-11 12:46] #128 closed

[2020-11-16 15:44] D063520 commented on #120
Hi Raph,

Ali implemented the API:

curl -G https://kohesio.linkedopendata.eu/api/dev/facet/eu/beneficiary --data-urlencode 'id=https://linkedopendata.eu/entity/Q197108'

the response looks like:

{
"country":"https://linkedopendata.eu/entity/Q25",
"item":"Q197108",
"website":"http://www.thun.cz/",
"images":[
],
"projects":[
{
"project":"https://linkedopendata.eu/entity/Q15385",
"euBudget":51663.1

[2020-11-16 15:44] D063520 opened #145 "Beneficary API broke on dev"
https://dev.kohesio.eu/beneficiaries

is broken because the API change towards pagination. It should be the same as the one for projects.

Salut
Dennis

[2020-11-17 05:54] raphdom commented on #145
fixed

[2020-11-17 05:54] #145 closed

[2020-11-17 06:36] raphdom commented on #42
fixed

[2020-11-17 06:36] #42 closed

[2020-11-17 08:44] raphdom commented on #110
fixed

[2020-11-17 08:46] madewild commented on #133
@D063520 can you handle this in the API?

[2020-11-17 08:54] madewild commented on #76
@D063520 does the API support more than one CoI at the same time?

[2020-11-17 09:57] raphdom commented on #130
the filter was removed

[2020-11-17 09:57] #130 closed

[2020-11-17 10:01] madewild commented on #136
@D063520 please ensure that the format is XLSX and not XLS

[2020-11-17 10:34] raphdom commented on #76
@D063520 the API to get the intervention field, should give me the parent and children also
https://kohesio.linkedopendata.eu/api/dev/facet/eu/categoriesOfIntervention
in order to build the relations

[2020-11-17 14:04] D063520 opened #151 "Export beneficiaries (and project) to XLSX"
Hola!

the exports for beneficiaries (and projects, not implemented yet in the UI) in DEV return now xlsx. When I use the download button the name seams to be overwritten by the UI from xlsx to xls.

Salut
Dennis

[2020-11-17 14:43] raphdom opened #152 "Share by email"
In the body of the email we will put the link

[2020-11-18 06:59] raphdom commented on #151
It is implemented on client side for projects page, but now I have an error in the API, can you check, please?

[2020-11-18 09:19] D063520 commented on #133
What do you exactly want? When a field is not filled generally we put N/A .... should I put the expected end date as the end date, or should I add an additional field to the API?

[2020-11-18 09:28] madewild commented on #133
I would put the expected end date if there is no end date

[2020-11-18 09:28] madewild commented on #133
In the same field, easier to manage in the UI

[2020-11-18 09:32] D063520 commented on #133
ok, done:

https://dev.kohesio.eu/projects/Q19824

[2020-11-18 09:38] D063520 commented on #151
yep, my bug, it is working now .... but still there is the problem that the generated file is xls and not xlsx. The API produces filename="beneficiary_export.xlsx". So something in the front-end is happening I guess ....

[2020-11-18 09:39] D063520 commented on #136
This is fixed in the backend, it needs to be fixed in the front-end

[2020-11-18 13:22] raphdom commented on #136
fixed

[2020-11-18 13:22] #136 closed

[2020-11-18 13:22] raphdom commented on #152
done

[2020-11-18 13:22] #152 closed

[2020-11-18 13:23] raphdom commented on #151
done, the front-end now is exporting to xlsx

[2020-11-18 13:23] #151 closed

[2020-11-18 14:26] AlyHdr commented on #119
used boolean parameters for sorting [orderEuBudget,orderTotalBudget,orderNumProjects] - (true = asc , false = desc).

example request:
`curl -G localhost:5678/api/dev/facet/eu/search/beneficiaries --data-urlencode 'orderNumProjects=false' --data-urlencode 'limit=15' --data-urlencode 'offset=500'`

[2020-11-18 14:28] D063520 commented on #119
So it available in the backend, but needs to be implemented in the front-end

[2020-11-19 12:24] madewild opened #158 "Scrolling past the map"
Not always easy to scroll down the screen when the map occupies most of the screen…then you easily scroll the map instead of the page.

[2020-11-19 12:25] madewild opened #159 "Reduce font size in map popup"
When navigating through the map and finally arrive to the location dots, when opening a dot where several projects are shown, the text goes out of the screen and you cannot move the screen (or zoom out) to see the text that is out of sight (you can do it when 1 or few results but not when there is a longer list).

[2020-11-19 12:27] madewild opened #160 "Collapse map breadcrumb and use icon"
The breadcrumb in the map takes a lot of space into the map when we dig into the region, cities, …is there a way to minimize it, with one-click to make it visible?

Also, replace "Projects near me" button by an icon

[2020-11-19 12:27] madewild opened #161 "Close hamburger menu"
When using the 3 bars menu to navigate to Projects or beneficiaries, the page loads but the menu stays open. It would be more convenient that it closes automatically and allows users the see the loaded page. Otherwise, they may think that it is blocked and the page does not open.

[2020-11-19 12:29] madewild opened #162 "Remove zoom on input fields"
In the project result list, when using the filtering menu, there is an undesirable zoom in into the page, which requests the user to zoom out after each usage of the menu to correctly see the page.

[2020-11-19 12:29] madewild opened #163 "Move down related material section"
In project fiche, would it be possible to send back at the end of the page the Related material section, so that the Project info are visible just after the map?

[2020-11-19 12:32] madewild opened #164 "Implement better collapsible refine search menu"
When having a result page, the page should be opened by default with the filtering criteria closed, so that the results appear first and the little arrow to open the filtering criteria should be a small button named Refine search, which when clicking on would open the filtering possibilities.

[2020-11-19 14:50] raphdom commented on #160
fixed

[2020-11-19 14:50] #160 closed

[2020-11-19 14:50] raphdom commented on #161
fixed

[2020-11-19 14:50] #161 closed

[2020-11-19 14:53] raphdom commented on #21
implemented

[2020-11-19 14:53] #21 closed

[2020-11-19 14:54] raphdom commented on #118
not applied

[2020-11-19 14:54] #118 closed

[2020-11-19 14:57] #127 closed

[2020-11-19 15:24] raphdom commented on #164
we will split this in 2. The search panel is collapsible on mobile, but to put the label "refine search" we will need more time, because it is not customizable on eui.

[2020-11-19 15:29] raphdom opened #167 "Mobile - Search input in all pages"
Add a button close to the menu to open/hide the search input.

[2020-11-19 15:37] raphdom commented on #162
done

[2020-11-19 15:37] #162 closed

[2020-11-20 13:12] teodoracostin commented on #163
Done.

[2020-11-20 13:12] #163 closed

[2020-11-23 09:20] teodoracostin commented on #159
Fixed.

[2020-11-23 09:20] #159 closed

[2020-11-23 09:20] teodoracostin commented on #158
Fixed.

[2020-11-23 09:22] D063520 opened #170 "keywords search not working on dev"
Keyword search not working here:

https://dev.kohesio.eu/projects

[2020-11-24 08:30] madewild commented on #170
@raphdom it works when you click on "Show results" but not with the ENTER key

[2020-11-24 08:43] madewild opened #172 "Sort beneficiaries by decreasing amount EU support"
On https://dev.kohesio.eu/beneficiaries
When we had only 500 the order was OK. Now we have all beneficiaries but the order seems random.

[2020-11-24 08:51] madewild opened #171 "Missing number of projects in themes"
https://dev.kohesio.eu/
This is an API issue??

![themes](https://user-images.githubusercontent.com/942488/100070731-8dfbc380-2e3a-11eb-99da-d5bbd6289c8d.png)

[2020-11-24 09:00] madewild commented on #172
@D063520 will implement on server-side for now

[2020-11-24 09:00] #172 closed

[2020-11-24 09:16] raphdom commented on #170
fixed!

[2020-11-24 09:16] #170 closed

[2020-11-24 09:16] raphdom commented on #171
fixed!

[2020-11-24 09:16] #171 closed

[2020-11-24 10:24] madewild commented on #158
OK for this version but could be improved later...

[2020-11-24 10:51] madewild commented on #164
The search menu is not very visible and the arrow is too far, to improve later...

[2020-11-24 11:51] gachpas opened #175 "Losing navigation via the map when clicking on a result"
As already discussed in the past, when consulting results of a search and clicking a result, one was loosing the search criteria when going back. The same happens when navigating thorugh the map...when arriving to a location dot and clicking on a result, the navigation is lots and you are sent back to the whole Europa map when going back.
It is not user-friendly :(

[2020-11-24 11:52] gachpas opened #176 "Commission logo lost when selecting another language"
The Commission logo lost when selecting another language in the menu and is replaced by the EU flag...probably a ghost from the past when you have changed from the EU to the Commission logo ;)

[2020-11-24 11:55] gachpas opened #177 "Near me feature icon"
You have changed the NEar me button into a House logo.
If I understand the reason behind, in terms of user experience, it looks more like a Home page button to me. If the idea is to gain space, one could imagine a geolocation icon (if you see what I mean ;o) Other wise, coming back to "Near me" even with smaller font is also good

[2020-11-24 11:57] gachpas opened #178 "Breadcrumb in the map preventing clicking on results"
Sometimes when digging into the map, when the list of results is long, you cannot click on the first results. They are a bit hidden by the breadcrumb and their clicking area is not usable.

[2020-11-24 11:58] gachpas opened #179 "Links for social network to be added"
On the homepage, when clicking the social network, we arrive to the personal page of the user and not on a REGIO page.

I will ask Slaven to provide exact links ;)

[2020-11-24 14:40] teodoracostin commented on #179
Fixed

[2020-11-24 14:40] #179 closed

[2020-11-24 15:56] madewild opened #185 "Duplicate images difficult to distinguish"
https://kohesio.eu/projects?theme=Low-Carbon-Economy > Audio-visual tab
One image is used 3 times, another 6 times
Hovering over images we can see the URL with QID but maybe we should also show the title in a tooltip (not on mobile though)
Or maybe it's better to deduplicate images in some way, not showing 6 times the same?

[2020-11-25 10:23] madewild opened #186 "Image & Videos (typo)"
On project detail page, should be Image**s** & Videos

[2020-11-25 10:24] madewild opened #187 "Pagination not reset"
In beneficiaries, if you select some filters, go to page 2 of pagination, then remove filters, you stay on page 2.
Removing filters should reset pagination to page 1.

[2020-11-25 10:26] madewild commented on #175
Thanks @gachpas for reporting here! :)

[2020-11-25 10:27] madewild commented on #175
Not easy because the zoom in the map is not changing the URL...

[2020-11-25 10:36] madewild opened #188 "Use background maps from Eurostat"
Instead than default from OSM. Important to reflect the official position of EU on geopolitics.
Compatible with Leaflet.

[2020-11-25 11:12] gachpas commented on #175
@madewild, easier for all ;) I have suggested to Anne that she also creates a profile ;)

[2020-11-25 11:19] gachpas commented on #175
maybe by opening in another tab then ?

[2020-11-25 12:21] madewild commented on #175
Opening in a new tab is usually not considered a good practice for UX when staying on the same website.
We will discuss and try to find an appropriate solution.

[2020-11-25 12:35] gachpas commented on #175
if we can solve that behaviour without opening another tab, it is perfect.
If not, between losing the search criteria and having another tab opened, as a user, my choice is quickly done ;)

[2020-11-26 09:26] madewild opened #189 "Professional space link not correct"
When clicking on professional space, I land here instead of directly into the sheet:

![sheet_not_found](https://user-images.githubusercontent.com/942488/100332478-bb2eaa00-2fd1-11eb-9ba4-f250dbf51e03.PNG)

To check with Catia

[2020-11-27 10:27] madewild commented on #133
@D063520 It's OK on detail page (https://kohesio.eu/projects/Q711502) for not in the search results, still showing invalid date : https://kohesio.eu/projects?keywords=olive%20tree

[2020-11-27 12:19] madewild commented on #125
Fixed in https://github.com/ec-doris/kohesio.eu/commit/112e74fcba69d6fb620e48f608a67728991e51b1
@raphdom my first commit on the UI side! :)

[2020-11-27 12:19] #125 closed

[2020-12-10 13:17] madewild opened #190 "Add precision about exports"
Exports of projects/beneficiaries to csv/xlsx are limited to 1000 rows, explain this to users in the UI

[2020-12-14 14:23] raphdom commented on #187
fixed!

[2020-12-14 14:23] #187 closed

[2020-12-14 15:41] raphdom commented on #186
fixed

[2020-12-14 15:41] #186 closed

[2020-12-15 12:17] madewild commented on #22
One option is to try new eTranslation widget.

This comes with a disclaimer, cf. https://ec.europa.eu/info/departments/translation/language-industry-platform-lind

[2020-12-16 09:10] madewild commented on #190
@D063520 can you raise the limit to 10000 rows?
Then @raphdom will only display the Download button if there are fewer.

[2020-12-16 09:12] raphdom commented on #158
we could add a layer and just when the user click on the map start the interaction with the map. With this we prevent the wrong scrolling...

[2020-12-16 09:14] madewild opened #208 "Provide CoI parent/children structure"
For https://github.com/ec-doris/kohesio.eu/issues/76

[2020-12-16 09:17] raphdom commented on #175
One possible solution that should be the better one is add a popup when the user click in the point, this popup will be exactly the same of the detail page. With this we don't lose the navigation in the map, the user can close the popup and continue the navigation.

[2020-12-16 09:20] madewild commented on #178
![Uploading bcmap.png…]()

[2020-12-16 09:22] madewild commented on #178
![bcmap](https://user-images.githubusercontent.com/942488/102329312-8b4b4480-3f88-11eb-97e3-0dd6123e88fd.png)

[2020-12-16 09:24] madewild commented on #178
@gachpas two solutions:
- close the breadcrumb of the map
- swipe the map to display the top of results
![swipe](https://user-images.githubusercontent.com/942488/102329504-c8173b80-3f88-11eb-899a-fc700d4eeb4e.png)

Can you try and tell us if it's enough? Difficult to find a workaround. There is also a scrollbar in the list of results but it only appears when you start scrolling.

[2020-12-16 09:27] madewild commented on #22
Probably easier with localization module from eUI to have more control

[2020-12-16 09:31] madewild commented on #95
Let's discuss with WMDE in January to see how they manage this in Wikidata

[2020-12-16 09:45] gachpas commented on #178
Hello @madewild,

I would let the breadcrumb, rather have a popup with the list of projects (which occupies the whole screen) and click the cross to close it and come back to the map.

Is this feasible?

Thanks and Kr,
Pascal

[2020-12-16 09:52] madewild commented on #178
@gachpas this is already the current behaviour, except that the popup does not fill the whole screen. Even if we enlarge there is no guarrantee that we can show all if there are too many projects... maybe we actually need a smaller popup to be sure that the top is not over the map limit, forcing the user to swipe the map down...

[2020-12-16 10:01] gachpas commented on #175
Hello @raphdom,
so this popup would +/- act as a new tab, right? Just to see if I understood correctly :)
Br,
Pascal

[2020-12-16 10:14] madewild commented on #178
OK @gachpas was thinking of a full layer hiding the map and displaying only the results
example on https://webgate.ec.europa.eu/esiflegislation/display/ESIFLEG/ESIF+Legislation+Home (mobile version, when clicking the magnifying glass search icon)
@raphdom let's discuss the options

[2020-12-16 12:58] raphdom commented on #175
No, not a new tab but a modal window that will cover the whole page for mobile and part of the page on desktop, we will have a close button and a button to open in new tab. I am going to implement it on dev to check the behavior...

[2020-12-16 13:02] gachpas commented on #175
OK. Thanks @raphdom ;)

[2020-12-16 15:06] raphdom commented on #175
done, you can check if it is okay for you we can close the issue @gachpas and @madewild

[2020-12-16 15:14] gachpas commented on #175
Thanks @raphdom.

It is ok, except that the "Open in a new tab" did not work (tested with Safari on iPhone 7)

Br,
Pascal

[2020-12-17 09:10] raphdom commented on #175
I've tried Chrome on IPhone XR and it works, normally should work because it is a native javascript code, can you try to delete the cache in the browser and try again, please?

[2020-12-17 09:37] madewild commented on #175
I tried in Chrome with developers tools and it also does not work for me: the new tab opens but the URL is https://q2496120/ (404 error) instead of https://kohesio.eu/projects/Q2496120 for instance. I cleaned the cache and it did not help. The Edit link going to https://linkedopendata.eu/wiki/Item:Q2496120 works well.

[2020-12-17 09:49] raphdom commented on #175
I know, you are in the homepage, I was thinking in the project page, but indeed we have a problem in the homepage, I will fix it. Thanks

[2020-12-17 10:25] gachpas opened #192 "Kohesio mobile dark mode"
Hello,

We have received a comment from a colleague in REGIO.A2 Relations with MS (Amaury) that the dark mode is not working ok for Kohesio mobile.

Is it something that has been conidered yet?

Nothing urgent but to be taken on board when moving to the project phase ;)

Br,
Pascal

[2020-12-17 12:36] raphdom commented on #175
fixed

[2020-12-17 13:09] gachpas commented on #175
Thanks @raphdom

[2020-12-17 13:09] #175 closed

[2021-01-05 13:03] raphdom commented on #120
Hello Dennis,

The first beneficiary detail page is on dev.

Can you please send me the country code (exactly the same way that you did in the beneficiaries list)

Regards,

Raphael

[2021-01-05 13:22] D063520 commented on #120
ah cool! I added the country code and also the geo-coorinates. Note there is also a description field, there was a bug previewsly. For an example see:

https://dev.kohesio.eu/beneficiaries/Q226000

Salut
Dennis

[2021-01-05 13:58] raphdom commented on #120
Thanks for the country code. Now I've updated with the country, description and the geo-coordinate.

Thanks

Raphael

[2021-01-05 14:01] madewild commented on #120
@D063520 can you send in the API the projects of the beneficiary already sorted by decreasing EU contribution, like we have on the global beneficiary page? Later on we will also need to add the options for the user to sort them differently...

[2021-01-05 14:11] D063520 commented on #120
ok, done

[2021-01-05 14:13] D063520 commented on #120
found a little bug, for this beneficary:

https://dev.kohesio.eu/beneficiaries/Q206

the map is not centered ....

[2021-01-05 14:16] D063520 commented on #120
not sure what you think, but one could aggregate the projects of one beneficary on a map ..... then there is a map even if we do not have the geo-coordianates of the beneficary
PS: could also go wrong when they indicated the address of the beneficary and not the one of the projects

[2021-01-05 14:17] raphdom commented on #120
fixed

[2021-01-06 13:48] raphdom commented on #190
fixed!

[2021-01-06 13:48] #190 closed

[2021-01-06 14:16] raphdom commented on #158
I was searching the best option for this and find better to disabled the dragrable function on the map on mobile, if the user want to zoom in and out or pan he can use two fingers, I think it is more natural and doesn't require one more click to start the map navigation. It is already on dev. What you think?

[2021-01-06 14:30] raphdom commented on #119
Implemented, done!

[2021-01-06 14:30] #119 closed

[2021-01-07 08:40] madewild commented on #158
@gachpas can you test and give your feedback?

[2021-01-07 09:11] gachpas commented on #158
@madewild, much better like that ;)
Thanks @raphdom

and Happy New Year to both of you, as well as your families ;)

[2021-01-07 09:18] raphdom commented on #158
Happy new year too. I will close this issue. Thanks

[2021-01-07 09:18] #158 closed

[2021-01-07 09:19] raphdom commented on #189
can you point the right link please?

[2021-01-07 09:36] madewild commented on #189
I think we should go the the root of the stream: https://intragate.development.ec.europa.eu/qs_cnect_audit_hub_vp/ecas/hub/stream/c64d563e-d9c9-4e7d-8794-914cd8964567
please cross-check with Catia...

[2021-01-11 12:51] madewild commented on #120
is this issue still open for some reason?

[2021-01-11 12:54] raphdom commented on #120
it was only the first version but if you are okay guys with this we can close and open others if needed?

[2021-01-11 12:58] madewild commented on #120
@gachpas can you have a look and check if we miss some information of the beneficiary detail page?

[2021-01-11 13:05] D063520 commented on #120
I limited the number of projects displayed per beneficary to 1000. otherwise there was a performance issue

[2021-01-11 13:08] madewild commented on #120
We probably will need some king of pagination there too...

[2021-01-11 13:10] gachpas commented on #120
Thanks guys ;)
Fully agree with Max concerning the pagination.
I will review this together with the team and will come back to you :)
Br

[2021-01-14 09:58] raphdom commented on #189
discussed with Catia and change to this link that you indicated, to the stream.

[2021-01-14 09:58] #189 closed

[2021-01-14 09:59] raphdom commented on #177
I've changed the icon to a map marker.

[2021-01-14 09:59] #177 closed

[2021-01-14 10:00] raphdom commented on #167
done

[2021-01-14 10:00] #167 closed

[2021-01-14 10:00] raphdom commented on #176
fixed

[2021-01-14 10:00] #176 closed

[2021-01-14 10:02] gachpas commented on #177
Thanks @raphdom. Ok for me ;)

[2021-01-14 10:04] gachpas commented on #176
Thanks @raphdom

[2021-01-14 14:54] madewild commented on #120
after discussion with @gachpas we can close this now and will reopen later if needed when they have time for an in-depth review

[2021-01-14 14:54] #120 closed

[2021-01-15 15:21] raphdom commented on #164
fixed

[2021-01-15 15:21] #164 closed

[2021-01-18 15:02] raphdom commented on #178
okay, I've committed one version that I did some improvements, I don't like to expand to the fullscreen the popup because in the user experience perspective he lose the map and sometimes the user click by mistake in one point and he would like to click in one very close. If we put a popup that cover all the screen when the user close it than he doesn't know which point he clicked before.

[2021-01-19 10:57] gachpas commented on #178
Thanks @raphdom. It is acceptable as is. Not the perfect navigation experience (when moving the card at the dots level) but a good compromise for the pilot. Thanks and kr

[2021-01-20 07:50] madewild commented on #76
API not yet ready so we postpone.

[2021-01-20 07:51] #178 closed

[2021-01-22 13:11] gachpas opened #198 "Social media sharing buttons"
When clicking on email, the link is copied into an email that is automatically opened in your mailbox; This is the expected behaviour.
Howevere, when clicking on th eother buttons 5Linkedin, FB, ...), it just open the paltform but dos not create any link or post.
Is it the "normal" behaviour?

[2021-01-22 13:14] gachpas opened #199 "Audio-visual content not displayed"
the pics are not displayed into the audio-visual section (except one), nor in the project fiche
This happens with Edge; no problem with Chrome

[2021-01-22 13:17] gachpas opened #200 "Add "in progress" icon when searching"
I have experienced very slow calculation before the result is dispayed when sortering or filterng the beneficiaries.
As there is no visual that shows that the system is working, you have the impression that there is no result or that the system is blocked.

[2021-01-22 13:19] gachpas opened #201 "Pagination of results limited to 1000"
This is a known issue that I log just for tracking and eventual improvement during the project phase.

the fact that the pagination sown cannot be navigated till the end (e.g. when showing 1759 results, just the results till 1005 are displayed. If you try to go to the next page, it says "no results".

[2021-01-22 13:35] madewild commented on #198
No indeed, this should be improved with a draft publication for each social media platform.

[2021-01-22 13:37] madewild commented on #199
Kohesio does not officially support Edge, the recommended browsers are Chrome/Firefox. Let's see if there is a quick fix but if not I would suggest ignoring it for now since Microsoft announced they would rebuild Edge on top on Chromium (the open source project behind Chrome) which should solve such issues.

[2021-01-22 13:40] madewild commented on #200
@D063520 @AlyHdr can the requests be further optimized? If not, we could indeed put a "busy" symbol while it's running.

[2021-01-22 13:43] madewild commented on #201
We have indeed an arbitrary limit at 1000 for performance reasons. Let's see what we can do to improve in the future, at least put a message friendlier than "no results".

[2021-01-22 13:44] madewild opened #202 "Paginate projects on beneficiary detail page"
And remove limitation in the max number of projects shown.

[2021-01-22 13:44] madewild opened #282 "Paginate projects on beneficiary detail page"
And remove limitation in the max number of projects shown.

[2021-01-22 14:12] D063520 commented on #200
it depends, some things we are caching ..... others not, in fact we try to cache the heavy things .... could you please always indicate the request .... the it is easier to debug
PS: in general we noticed that there is some problem and we were working on the cache

[2021-01-22 14:19] gachpas commented on #200
Hi @D063520, in fact , it was basically all the requests done to filter or sort.
I started with the sort, and nothing seemed to move... then I wait more time and saw the change..then when I start again the same procedure, it was faster (maybe in cache) but after it started again to be slow...I know that I madeCTLR+F5  but I cannot remember at what stage of that process.

As proposed by @madewild,

[2021-01-22 14:21] D063520 commented on #200
Hi,

so when you do CTLR+F5  you will not clean the cache I mean ... it is in the backend. We recompute the cache every night. So when you see a slow request, please note it down and we will check ....

in general currenlty I know the situation is not ideal since we had a bug on the cache level .....

[2021-01-22 14:23] D063520 commented on #201
@AlyHdr can you check this please .... there is a bug there, after 1000 it should be slow but not return no results
PS: would have never thought that someone clicks until 1000

[2021-01-22 14:23] gachpas commented on #200
of course, I was just mentioning the CTLR+F5, as an extra info for your analysis ;)

[2021-01-22 14:24] D063520 commented on #202
this is our problems, not raphs ... maybe later

[2021-01-22 15:20] AlyHdr commented on #201
@D063520 I found the bug and I pushed the changes to dev. It's working now however those after 1000 would take time and in the UI there is nothing that pops up as it's running the query or something so it looks like it's stuck.. Maybe a loading signal in the corner would be nice..

[2021-01-22 16:05] AlyHdr commented on #201
BTW nobody show results more than 500, checkout amazon for example.. they just show the first 7 pages which is basically almost ~300 hits.. you can not even go further
https://www.amazon.fr/s?k=blanket&__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&ref=nb_sb_noss_1

[2021-01-23 18:31] D063520 opened #203 "problem with special characters in beneficiary text"
See for example:

https://dev.kohesio.eu/beneficiaries/Q226000

There are characters like \n\n

[2021-02-09 09:20] gachpas opened #204 "email adress behind the contact"
the email adress behind contact button had been provided and (if I remember correctly implemented) but is now not available in test and prod.

Here it is: REGIO-EXTERNAL-COMMUNICATION@ec.europa.eu

Thansk and Kr,
Pascal

[2021-02-09 09:32] gachpas commented on #204
Sorry, I cannot update the ticket......

so I place the énd related request here:
for the linkedin button please  use this link: https://www.linkedin.com/feed/hashtag/euinmyregion/

[2021-03-02 10:51] madewild opened #209 "Total budget showing as 0 €"
https://kohesio.eu/beneficiaries?fund=ERDF---European-Regional-Development-Fund&country=France&region=Provence-Alpes-C%C3%B4te-d%27Azur

"Métropole d'Aix-Marseille-Provence" for instance shows a total budget of 0 € even though several projects linked to this beneficiary have a total budget filled: https://kohesio.eu/beneficiaries/Q2536086

[2021-03-02 11:00] madewild opened #205 "Add fund information to beneficiary"
Two additional informations to provide on beneficiary detail page:
- total amount per fund (ERDF/ESF/YEI...)
- fund for each project listed
To be added first in the API then shown on the website.

[2021-03-05 09:30] madewild opened #206 "Handling missing total budget"
On https://kohesio.eu/projects/Q154346 for instance we see

Total budget: 0 €
Funded by EU: 4 000 000 € (0%)

Should be:

Total budget: **Unknown**
Funded by EU: 4 000 000 €

Should we handle this in the API and/or UI?

[2021-03-05 09:31] madewild opened #207 "Invalid date"
On https://kohesio.eu/projects/Q11724 for instance we have "Start date: Invalid date". However it's not really an invalid date, just a missing value in the Wikibase. So we should put "Start date: Unknown" instead. I don't know if it's in the API or hardcoded in the UI?

[2021-03-05 10:46] madewild commented on #198
for the linkedin button please use this link: https://www.linkedin.com/feed/hashtag/euinmyregion/

[2021-03-05 10:46] madewild commented on #204
@gachpas I moved the Linkedin part to #127

[2021-03-05 10:48] madewild commented on #204
For the email address, it's implemented behind the "contact" word but not behind the envoloppe icon
@raphdom can you take care of this?

[2021-03-05 10:51] madewild commented on #203
@D063520 I don't see any newline chars on this link, can you be more specific or add a screenshot?

[2021-03-05 10:53] D063520 commented on #203
this is a good example
https://dev.kohesio.eu/beneficiaries/Q39
basically the json wtring is rendered an not parsed before

[2021-03-10 13:01] raphdom commented on #203
there is something wrong with this string that is coming from the server:

![image](https://user-images.githubusercontent.com/5124917/110633236-d0a69900-81a8-11eb-8dd9-d98713c840c3.png)

In the beginning of the string we have double quotes, and should be \" if you want to represent a double quote inside the string. If you fix this everything should work properly.

[2021-03-10 13:19] raphdom commented on #206
@madewild  Will be better follow the same thing that we have for other fields, instead of "unknown" use "n/a"

[2021-03-10 13:35] raphdom commented on #185
The problem here is for this API call I don't have any title or info to display, I have only the image url and the item id
![image](https://user-images.githubusercontent.com/5124917/110637386-a4414b80-81ad-11eb-8dec-dd5f49010493.png)

If you provide me this I can easily do the tooltip or even put like inside the image (bellow) with a transparent background that will cover as well the mobile versio

[2021-03-10 13:36] D063520 commented on #203
@AlyHdr: ali can you check this, it is our problem ....

[2021-03-10 13:52] madewild commented on #206
ok

[2021-03-10 13:52] madewild commented on #185
@D063520 can you add this?

[2021-03-10 13:54] madewild commented on #199
Yeah @AThollard joined GitHub!

[2021-03-10 14:39] AlyHdr commented on #203
I think it should be fine now.. just on dev https://dev.kohesio.eu/beneficiaries/Q39

[2021-03-10 14:41] #203 closed

[2021-03-10 14:56] raphdom commented on #204
fixed on dev

[2021-03-10 14:56] #204 closed

[2021-03-10 14:57] raphdom commented on #206
fixed on dev

[2021-03-10 15:18] raphdom commented on #185
good

[2021-03-11 08:58] raphdom commented on #185
fixed

[2021-03-11 08:58] #185 closed

[2021-03-11 09:03] madewild commented on #199
I'm just wondering, should we not also put the images here:
![avmat](https://user-images.githubusercontent.com/942488/110762302-ee2f3d80-8250-11eb-8d10-044f38daf8a6.png)

or hide this unused section?

[2021-03-11 09:11] AThollard commented on #199
Yes we were supposed to display the audiovisual material there. I would indeed hide it and re-discuss with our colleagues from the business to fine tune their needs for the next steps (and also plan it)

[2021-03-11 09:14] gachpas commented on #199
The idea was also to allow MA to upload their own audio-visual material to complete what we have.
Communication campaign is something different, which will be used by REGIO colleagues and/or MAs.
I am not usre whether we should hide it, as for instance we have already communication campaigns that we could share....also, it is good to show the potential...TBD

[2021-03-11 09:23] AThollard commented on #199
Indeed @gachpas but as discussed yesterday, we also have to check the IP / creative common licenses issues before. And regarding the campaigns, again to be discussed with our colleagues because most of the time campaigns spots entire regions so how to aggregate at projects level?

[2021-03-11 09:29] gachpas commented on #199
Hello @AThollard, for the CCL, the comment is valid even if what we share now in terms of pictures. For the campaigns, we will indeed discuss with the colleagues...one solution could be to link the video about a programme to all concerned projects...but to be checked with Alex's team :)

[2021-03-12 12:22] raphdom commented on #199
I will hide this section for now. If we need to implement in the future we will create another issue. Thank you all.

[2021-03-12 12:22] #199 closed

[2021-03-12 13:08] D063520 opened #210 "connecting projects with beneficiaries"
Currently it is possible to navigate from the beneficiaries to the projects. But in the project website the beneficiary is only indicated as a string. I think it would make sense to add a link from the project page to the corresponding beneficiary page.

[2021-03-15 07:46] madewild opened #212 "Intervention field dropdown too large"
![intervention_field](https://user-images.githubusercontent.com/942488/111119763-cd295e00-856a-11eb-8fee-61f345dc268f.png)

can we have an automatic carriage return for long titles? or use "..." after a limit of 200 chars for instance ?

[2021-03-15 09:03] D063520 commented on #212
I made it in the backend for now .....

[2021-05-06 08:26] madewild opened #213 "Rename "category of intervention" to "intervention field""
More precise terminology (already used in advanced filters)

[2021-05-06 08:26] madewild opened #214 "Autotype in intervention field advanced filter"
To let the user type and get matches instead of scrolling

[2021-05-06 10:46] madewild opened #215 "Adapt Linkedin button"
Link to https://www.linkedin.com/feed/hashtag/euinmyregion/ instead of generic https://www.linkedin.com/ (in homepage footer and maybe elsewhere)

[2021-05-06 11:06] madewild commented on #205
@D063520 this is already provided by the API?

[2021-05-06 11:10] madewild commented on #201
@gachpas is the current behaviour ok or still needs improvement?

[2021-05-06 11:13] madewild commented on #215
Duplicate of #198

[2021-05-06 11:15] madewild commented on #22
This will come back sooner or later... let's try to anticipate :)

[2021-05-06 11:15] gachpas commented on #201
Hello @madewild, Have you changed something or it is still the exact same behaviour as reported?

[2021-05-06 11:16] madewild commented on #76
@D063520 is this ready in the backend? I don't remember...

[2021-05-06 11:17] madewild commented on #198
(for linkedin link, also in footer button of homepage)

[2021-05-06 11:17] D063520 commented on #22
NOTE: a lot of this vocabulary

<img width="297" alt="Screenshot 2021-05-06 at 13 17 26" src="https://user-images.githubusercontent.com/10883585/117289873-6d19ae80-ae6d-11eb-8b7a-e2cd7281153c.png">

Can be extracted form the Knowledge Graph too.

[2021-05-06 11:19] madewild commented on #76
ah it's described in https://github.com/ec-doris/kohesio.eu/issues/208
@raphdom please review and validate when you have time...

[2021-05-06 11:20] D063520 commented on #201
@gachpas can you try again and paste an example .... I'm not sure anymore ....

[2021-05-06 11:23] madewild commented on #201
@AlyHdr reported debugging and improvements. It works for me with small delay:
![1000](https://user-images.githubusercontent.com/942488/117290508-2c6e6500-ae6e-11eb-8cd8-585b0aec9bf0.png)

[2021-05-06 11:24] gachpas commented on #198
Hello @madewild , not sure I understand your comment? my initial comment was on the share, saying that it just open the app, but does not copy the link to the Kohesio page.

[2021-05-06 11:25] gachpas commented on #201
@D063520 Hi Denis, should I try in dev or Prod?

[2021-05-06 11:26] madewild commented on #198
Indeed, I will split into two issues

[2021-05-06 11:27] D063520 commented on #201
Both are fine. And yes, basically if I remember correctly it should work but there is a delay, because the result is not cached (we saw it as something improbable).

[2021-05-06 11:28] madewild commented on #198
Related issue with linkedin button on homepage: #215

[2021-05-06 11:29] madewild commented on #201
For me it's perfectly acceptable, I would close it if @gachpas confirms :)

[2021-05-06 11:32] gachpas commented on #201
Yes, please proceed with closing :)

[2021-05-06 11:32] madewild commented on #95
@raphdom could you add a test env in the frontend to link the test api?

[2021-05-06 11:32] #201 closed

[2021-05-06 11:39] madewild commented on #188
To investigate...

[2021-05-12 07:24] madewild opened #216 "Point to dev Wikibase"
We now have a brand new dev Wikibase running on https://dev.linkedopendata.eu/ :-)
The API behind is already adapted so no need to change it.
However, the Edit links on project detail and beneficiary detail pages are still pointing to https://linkedopendata.eu and so they should be changed to https://dev.linkedopendata.eu/

[2021-05-12 08:30] madewild opened #217 "Call dev backend with dev wikibase id"
Currently the project detail page on dev website is calling https://dev.kohesio.linkedopendata.eu/api/facet/eu/project?id=https://linkedopendata.eu/entity/Q139379

it should be instead: https://dev.kohesio.linkedopendata.eu/api/facet/eu/project?id=https://dev.linkedopendata.eu/entity/Q139379

(currently the dev backend does not support this but it will be fixed soon)

[2021-05-21 09:24] madewild opened #218 "Czechia"
When hovering over the map on the homepage, it still says "Czech Republic - 46 258 projects"
Should be changed to Czechia as elsewhere

[2021-05-21 09:26] #217 closed

[2021-05-21 09:27] #216 closed

[2021-05-21 14:46] D063520 opened #219 "Adding countries in the backend + flags"
There is an API to grab the countries for this facet:

<img width="373" alt="Screenshot 2021-05-21 at 11 29 42" src="https://user-images.githubusercontent.com/10883585/119116054-29f03b80-ba28-11eb-8bc2-8bd1962d870e.png">

here

https://dev.kohesio.linkedopendata.eu/swagger-ui.html#/facet-controller/facetEuCountriesUsingGET

Can you please use this so that I can add countries in the backend?

Salut

[2021-05-22 06:15] madewild commented on #219
This is only in dev now? Or can already be implemented in prod? We need to be careful that Sweden does not show in the list in prod...

[2021-05-22 07:09] D063520 commented on #219
yes, we implement it in dev.kohesio.eu and in dev.kohesio.linkedopendata.eu. So it will be only in DEV and it will move to PROD once we move DEV to PROD.

[2021-05-25 09:45] madewild opened #220 "Missing space in thematic objective"
On homepage there is a space missing in "ResourceEfficiency"
Is this hardcoded or coming from an API??

[2021-05-25 09:48] D063520 commented on #220
I think this is in the Ui .....

[2021-06-02 07:57] madewild commented on #219
@raphdom when you have time this would be the most urgent issue to fix...

[2021-06-03 09:45] madewild opened #221 "Link from project to beneficiary"
On the project detail page, there is this info:

beneficiary
Name: XXX
Website: YYY

The link behind the name should now be systematic and redirect to the corresponding beneficiary detail page (which did not exist yet at the time) and not anymore to Wikidata. We can remove the link to Wikidata and also the disclaimer about leaving the Kohesio website.

Additionally, the website should be on the be

[2021-06-03 12:29] madewild opened #222 "Update about page"
Add extra disclaimer (see with @slaven777 and @bisiaam)
Remove explicit mention to 6 countries and replace by "added on a continuous basis)

[2021-06-11 08:52] madewild opened #223 "Add button to visualise graph"
On each project and beneficiary detail page, add a link to visualise in the knowledge graph (to open in a new tab). Maybe next to "edit"?

Link should be https://query.linkedopendata.eu/#%23defaultView%3AGraph%0ASELECT%20%3Fitem%20%3FitemLabel%20WHERE%20%7B%0A%20%20VALUES%20%3Fitem%20%7B%20%3Chttps%3A%2F%2Flinkedopendata.eu%2Fentity%2FQ198964%3E%7D%20%3Fitem%20%3FpDirect%20%3FlinkTo%20.%0A%20%20%3

[2021-06-14 13:35] madewild opened #224 "Show multiple beneficiaries on project detail page"
Currently it shows one random beneficiary among several if there are more than one

e.g. https://kohesio.eu/projects/Q2024527

[2021-06-14 13:37] D063520 commented on #224
Looks like a problem in the UI, the API looks good:

<img width="1679" alt="Screenshot 2021-06-14 at 15 37 18" src="https://user-images.githubusercontent.com/10883585/121901111-690f6500-cd26-11eb-8ac6-06d5fcf5fa6c.png">

[2021-06-14 14:20] madewild commented on #224
Yes I assigned to Raph... Normally there is only one beneficiary so we did not foresee to show several

[2021-06-19 21:49] raphdom commented on #219
it is fixed, but we need to double check (specially the map) when we will add a new country.

[2021-06-20 08:19] madewild commented on #219
@raphdom in dev we already added 3 more countries so we can check

[2021-06-21 07:09] D063520 commented on #219
yes, can you check dev.kohesio? I noticed that the flag of the countries are not there .... I can provide you the flags if you want ...

[2021-06-21 10:03] D063520 opened #225 "error in beneficiary page"
@raphdom : can you check what is going wrong here:
https://dev.kohesio.eu/beneficiaries
I looked at the API request and it looks fine ....

[2021-06-21 10:05] D063520 commented on #225
sorry i found it ... problem on my side .....

[2021-06-22 12:16] #225 closed

[2021-06-22 12:26] madewild commented on #221
also remove "Name", just name of benef with link to benef detail page

[2021-06-22 12:28] madewild commented on #222
@gachpas could you coordinate this?

[2021-06-22 12:32] madewild commented on #223
should be like https://tinyurl.com/ydvr5ta9

[2021-06-22 12:32] madewild commented on #223
https://query.linkedopendata.eu/embed.html#%23defaultView%3AGraph%0ASELECT%20%3Fitem%20%3FitemLabel%20WHERE%20%7B%0A%20%20VALUES%20%3Fitem%20%7B%20%3Chttps%3A%2F%2Flinkedopendata.eu%2Fentity%2FQ198964%3E%7D%20%3Fitem%20%3FpDirect%20%3FlinkTo%20.%0A%20%20%3Fitem%20rdfs%3Alabel%20%3FitemLabel%20.%0A%20%20FILTER(lang(%3FitemLabel)%3D%22en%22)%0A%7D

[2021-06-22 12:37] madewild commented on #215
also on detail pages

[2021-06-22 12:40] madewild commented on #219
+ benef dropdown of countries

[2021-06-22 12:44] madewild commented on #210
duplicate of #221

[2021-06-22 12:44] #210 closed

[2021-06-22 12:45] madewild commented on #209
default value should be Unknown

[2021-06-22 12:48] madewild commented on #200
fast enough, closing for now

[2021-06-22 12:48] #200 closed

[2021-06-22 14:50] gachpas commented on #222
Hello @madewild, @AThollard will coordinate this with Slaven ;)

[2021-06-22 14:58] AThollard commented on #222
@madewild thanks
For the OP project of linked data initiative map we also have to review Kohesio description.
So I would kill two birds with one stone and review the description and about with @slaven777 and @Bisiaam
[LOD comm_KOHESIO_Project Owner Questionnaire.docx](https://github.com/ec-doris/kohesio.eu/files/6695374/LOD.comm_KOHESIO_Project.Owner.Questionnaire.docx)
[Diagram and graphic exampl

[2021-06-22 16:14] raphdom commented on #209
@AlyHdr can you give me an example that we have empty in the budget for a beneficiary that I can test?

[2021-06-22 16:36] raphdom commented on #215
I've changed on homepage,

In the details page (project and beneficiary) for me make sense to be the linkedin for each project/beneficiary, I mean not only for linkedin, should all the social icons pointing to their social account, non?

[2021-06-22 17:31] AlyHdr commented on #209
Here some of the fields should be n/a or something instead of blank like the row : "Métropole d'Aix-Marseille-Provence"

https://dev.kohesio.eu/beneficiaries?country=France&region=Provence-Alpes-C%C3%B4te-d%27Azur&fund=ERDF---European-Regional-Development-Fund

<img width="1772" alt="Screenshot 2021-06-22 at 19 30 41" src="https://user-images.githubusercontent.com/43681203/122972365-592ffa80-d390-

[2021-06-22 18:33] madewild commented on #215
OK fine, I close this one then and leave #127 for the rest

[2021-06-22 18:33] #215 closed

[2021-06-23 07:27] madewild commented on #223
@raphdom nice for projects but now we need the same for beneficiaries on the detail page, e.g. https://dev.kohesio.eu/beneficiaries/Q198964

[2021-06-23 07:28] #220 closed

[2021-06-23 07:28] #213 closed

[2021-06-28 12:37] madewild commented on #219
seems fine

[2021-06-28 12:37] #219 closed

[2021-07-05 08:22] madewild commented on #222
@AThollard where do we stand with this?

[2021-07-05 08:27] AThollard commented on #222
I have received contribution from Slaven and Amaury. I am currently reviewing it together with the OP questionnaire.
What is your deadline for the next release?

[2021-07-05 08:40] madewild commented on #222
we want to deploy next Monday, so would be good to have it on Thusday...

[2021-07-05 08:52] AThollard commented on #222
ok, well noted

[2021-07-05 13:43] raphdom commented on #224
fixed on dev

[2021-07-05 13:43] raphdom commented on #223
fixed on dev

[2021-07-05 13:44] raphdom commented on #221
fixed on dev

[2021-07-05 14:29] madewild commented on #224
Thanks @raphdom, could you just sort them alphabetically? The order is random and changes when we refresh the page...

[2021-07-05 14:32] madewild commented on #223
Nice, @raphdom for consistency I would just order the buttons in the same way (for projects it's Graph then Edit, for beneficiaries it's Edit then Graph). No preference, just please harmonise it. :)

[2021-07-05 14:35] madewild commented on #221
perfect!

[2021-07-05 14:35] #221 closed

[2021-07-05 14:37] madewild commented on #222
also add banner

[2021-07-05 15:07] raphdom commented on #224
sorted. Can you test please?

[2021-07-05 15:07] raphdom commented on #223
harmonized... :)

[2021-07-05 15:09] madewild commented on #224
excellent!

[2021-07-05 15:09] #224 closed

[2021-07-05 15:10] madewild commented on #223
okido

[2021-07-05 15:10] #223 closed

[2021-07-06 08:26] madewild opened #226 "Harmonise URLs"
Some get parameters could be improved
For instance in https://dev.kohesio.eu/projects?categoryOfIntervention=004---Productive-investment-linked-to-the-cooperation-between-large-enterprises-and-SMEs-for-developing-information-and-communication-technology-(%E2%80%98ICT%E2%80%99)-products-and-services,-e-commerce-and-enhancing-deman-...

- categoryOfIntervention shoud be interventionField
- the ... a

[2021-07-06 08:49] raphdom commented on #212
fixed, on dev

[2021-07-06 08:49] #212 closed

[2021-07-06 08:49] raphdom commented on #209
fixed on dev. can you check please? @AlyHdr

[2021-07-06 08:50] raphdom commented on #76
fixed on dev, please test

[2021-07-06 08:50] raphdom commented on #208
fixed on dev, please teste

[2021-07-06 08:51] AlyHdr commented on #209
Yes this looks fine for me we can close the issue.

[2021-07-06 08:53] madewild commented on #76
perfect for me!

[2021-07-06 08:53] #76 closed

[2021-07-06 08:53] #208 closed

[2021-07-06 08:55] madewild commented on #209
@raphdom we still have the blanks in the list below the map on https://dev.kohesio.eu/beneficiaries/Q2536086 for instance

[2021-07-06 08:59] AlyHdr commented on #209
Yes Max is right and I checked actually the API is returning a missing field "budget" in case there is no total budget, @raphdom do you prefer that we return an empty value with the budget existing ?

[2021-07-06 09:25] raphdom commented on #209
@AlyHdr. it is not necessary. I manage to put unknown when we don't have the field, thanks! it will be deployed on dev in 5min

[2021-07-06 09:31] raphdom commented on #209
@AlyHdr @madewild fixed on dev, you can test, please

[2021-07-06 09:35] madewild commented on #209
fine for me

[2021-07-06 09:35] #209 closed

[2021-07-07 08:17] madewild opened #227 "Missing EU contribution should be shown as unknown or n/a"
For Greek projects we don't have the EU contribution at this stage.
The rendering on e.g. https://dev.kohesio.eu/projects/Q2814985 is strange: "Funded by EU: (80%)"
Should be "Funded by EU: unknown (80%)" or similar.
We cannot compute it by multiplying the total budget by 80% because the percentage is an average at priority axis level...

[2021-07-07 16:44] D063520 opened #228 "Slow rendering of dense project points"
I noticed that when there is a point with man y projects it takes quite a while to show the project list window.
<img width="1390" alt="Screenshot 2021-07-07 at 18 42 15" src="https://user-images.githubusercontent.com/10883585/124798056-3cc8bc00-df53-11eb-9de5-2c8aecb8482f.png">
 @raphdom can you try to check ... the API might also not be super fast but even the second time when the result is cach

[2021-07-08 05:49] madewild opened #229 "Show total budget instead of EU contrib in project list (results)"
@AThollard : Investigate if it worth leaving the EU budget on the project summary when at least 2 countries are not providing it (Greece / Portugal).
@D063520 : I would suggest using in the general presentation the global budget (since it is always provided) but for the project view to display it. If it is not there then indicate that it is not provided by the member state.
@AThollard : Agreed. Le

[2021-07-08 07:43] gachpas commented on #229
@AThollard , my 2 cents on this...
for me, as a citizen, this is crucial...when loking for projects in my region, it is maybe the first info my eyes will catch and what finally matters. Only after I would see what is the topic. So I would definitively keep it and, as proposed by Denis, indicate when it is not provided.

This being said, I have to admit that it would also be weird for a citizen to

[2021-07-08 08:17] D063520 commented on #229
@slaven777: can we use this a bit as a pressure and ask again to greece and portugal if they can provide this data ....

[2021-07-08 09:21] madewild commented on #228
I checked and for me it's quite fast, and for @raphdom too...

[2021-07-08 14:46] raphdom commented on #222
the new about page and the banner are available in DEV, can you test please? @AThollard @madewild

[2021-07-08 14:46] raphdom commented on #227
on dev

[2021-07-08 20:26] #227 closed

[2021-07-08 20:30] madewild commented on #222
ABOUT Kohesio.eu > About kohesio.eu
missing space between "developmentand"

[2021-07-09 05:58] raphdom commented on #222
fixed

[2021-07-09 06:00] madewild commented on #222
I see the extra space, but I would also change the heading "ABOUT Kohesio.eu" into "About kohesio.eu"
Also, I would write  CNECT-ECDORIS@ec.europa.eu in full like for REGIO-KM

[2021-07-09 06:04] madewild commented on #222
The link is missing behing Wikimedia Deutschland: https://wikimedia.de/

[2021-07-09 06:29] raphdom commented on #222
all fixed

[2021-07-09 07:07] madewild commented on #222
Looks good to me, I let @AThollard @gachpas comment before closing

[2021-07-09 07:12] madewild commented on #228
@D063520 do you still experience the issue? I looked at Zagreb again and it loads in 1 second

[2021-07-09 08:14] AThollard commented on #222
ok for me for the About section.

[2021-07-09 08:17] AThollard opened #230 "One click on the beneficiary link in project details does not open"
If you single click on the beneficiary name it does not open. You have to use right click -> open in a new tab

[2021-07-09 08:29] madewild commented on #230
From a standard page like https://dev.kohesio.eu/projects/Q139379 it works correctly, right?
But from the overlay project detail page (starting from the homepage map), clicking on the beneficiary name opens the beneficiary page behind the overlay which is strange...
@AThollard could you confirm this is the issue?
@raphdom could the beneficiary detail page open in overlay and replace the project in

[2021-07-09 08:36] raphdom commented on #230
okay, understand, normally it will be better to open in a new tab when the click comes from the overlay, because if it will be in the same page the user cannot use the back button, and inside the overlay is weird

[2021-07-09 08:36] madewild commented on #230
okay perfect, you can open the beneficiary in a new tab by default when coming from the overlay then

[2021-07-09 09:12] raphdom commented on #230
it was applied like that on dev

[2021-07-09 09:13] D063520 commented on #228
https://blog.bitsrc.io/3-ways-to-render-large-lists-in-angular-9f4dcb9b65

[2021-07-09 09:18] madewild commented on #230
perfect!

[2021-07-09 09:18] #230 closed

[2021-07-09 09:19] madewild commented on #228
let's investigate later

[2021-07-09 09:25] D063520 opened #231 "cannot click on region of Portugal"
the region "Norte region" seams covered by the "projects nearme"button ...

<img width="1390" alt="Screenshot 2021-07-09 at 11 24 48" src="https://user-images.githubusercontent.com/10883585/125056214-4ca5e480-e0a8-11eb-8844-ccc819122cb4.png">

<img width="1390" alt="Screenshot 2021-07-09 at 11 24 54" src="https://user-images.githubusercontent.com/10883585/125056208-4adc2100-e0a8-11eb-890c-6c127be8

[2021-07-09 09:28] D063520 opened #232 "map breadcrump disappearing"
click on denmark and then on a project, then the breadcrump is dissapiring

before:
<img width="1390" alt="Screenshot 2021-07-09 at 11 28 04" src="https://user-images.githubusercontent.com/10883585/125056702-c76eff80-e0a8-11eb-8b31-114123d771de.png">
after:
<img width="1390" alt="Screenshot 2021-07-09 at 11 28 10" src="https://user-images.githubusercontent.com/10883585/125056663-bf16c480-e0a8-11eb

[2021-07-09 09:40] raphdom commented on #232
the breadcrumb does not disappear, normally when we have small screens I just minimize the breadcrumb to not take the entire screen, if you click in the arrow to the right should appear again.

[2021-07-09 09:41] raphdom commented on #231
yes, you can just swipe the map and click in the region, I think this is not a problem.

[2021-07-09 09:43] D063520 commented on #232
I think it is not very intuitive .... as you want .....

[2021-07-09 09:43] madewild commented on #232
But the breadcrumb also minimizes on my 27" screen...

[2021-07-09 09:43] D063520 commented on #231
I think it's not very intuitive .... for a "normal user" I think it looks wrong (but I agree I'm very picky here ....)

[2021-07-09 09:45] madewild commented on #231
OK not urgent but this is the default view for Portugal so could be improved later if possible...

[2021-07-09 09:49] madewild commented on #222
comment from @gachpas : why give 2 email addresses to report translation errors?
I agree, we could put just the EC-DORIS one there and specify the REGIO-KM for more generic questions about Kohesio
@AThollard do you agree? we can discuss the exact wording to give to @raphdom

[2021-07-09 09:52] madewild commented on #232
OK not urgent anyway

[2021-07-09 09:58] AThollard commented on #222
I agree, please  let EC-DORIS for translation issues. And maybe we could put just a Contact mention at the end of the About page with REGIO-KM.

[2021-07-09 10:01] madewild commented on #222
Contact
For any enquiry about Kohesio, please contact REGIO-KM@ec.europa.eu.

[2021-07-09 10:02] D063520 commented on #222
Maybe we should add something similar as the translation also for
- the geo-coordinates: done using nominatim (https://nominatim.openstreetmap.org/ui/search.html)
- benficiary linking: done using ML
-(these are the 2 steps that we do to enrich the data)

[2021-07-09 10:12] AThollard commented on #222
what about adding the next release?
I don't want to enter into the full reviewing process today :-(

[2021-07-09 10:14] madewild opened #233 "Improve about page"
Maybe we should add something similar as the translation also for

the geo-coordinates: done using nominatim (https://nominatim.openstreetmap.org/ui/search.html)
benficiary linking: done using ML
-(these are the 2 steps that we do to enrich the data)

[2021-07-09 10:14] madewild commented on #222
I created a new issue for this (https://github.com/ec-doris/kohesio.eu/issues/233) so that we can close this one.

[2021-07-09 10:30] AThollard commented on #233
Directly linked-> create a related "Term of use" page for copyrights on the EC logo, maps, what is under creative commons etc...)
Also maybe a FAQ page

[2021-07-09 10:38] AThollard opened #234 "Outermost regions ribbon"
![OutermostRegions](https://user-images.githubusercontent.com/80402472/125065828-998eb880-e0b2-11eb-91c7-dddcfb270ba3.GIF)

[2021-07-09 11:38] madewild commented on #222
All done on https://dev.kohesio.eu/about

[2021-07-09 15:52] AThollard opened #235 "Add territorial dimension to the KG"
using Eurostat typologie: https://ec.europa.eu/eurostat/statistics-explained/index.php?title=Territorial_typologies_manual_-_degree_of_urbanisation
Property of  NUTS3 region

[2021-07-12 09:11] AThollard opened #236 "Location not interpreted for 1 Cyprus project"
https://dev.kohesio.eu/projects/Q2720760
Location string in greek characteres in the project detail

[2021-07-12 09:16] madewild commented on #236
https://linkedopendata.eu/wiki/Item:Q2720760
we have no location and no NUTS so not much we can do...

[2021-07-12 09:20] madewild commented on #236
Ah the issue is that it reads "In Cyprus" but Cyprus is not selected on the map, @AlyHdr could you check why?

[2021-07-12 09:21] madewild commented on #236
TypeError: Cannot read property 'geometries' of undefined
the geometries are missing

[2021-07-12 13:47] madewild opened #239 "Adapt carousel"
Should we keep the carousel or discard it in the final version?
@gachpas to discuss...

[2021-07-12 13:48] gachpas opened #240 "Harmonise font size"
The fonts are not aligned anymore (size and font)
e.g.https://kohesio.eu/projects/Q140362
![12-07-2021_154751](https://user-images.githubusercontent.com/74774446/125298570-8dac2c00-e328-11eb-80db-f96562058474.jpg)

[2021-07-12 13:52] madewild commented on #240
I think the font is the same everywhere, but the size should be harmonised.

[2021-07-12 13:52] gachpas opened #241 "Add copyright mention to all image visualisations"
Is the copyright message on photos for the final verison only?

[2021-07-12 13:54] madewild commented on #241
Not sure I understand the question. On https://kohesio.eu/projects/Q139379 for instance, there is the copyright info below the image. You would like to have it on the photo itself?

[2021-07-12 13:57] gachpas commented on #241
when clicking to open the picture, there is no copyright below; just when seeing it as part of the prokect fiche or project audio-visual collection.

[2021-07-12 13:58] madewild commented on #241
@raphdom could we replicate what you did on https://kohesio.eu/projects (audio-visual tab) to have it also on https://ec.europa.eu/regional_policy/rest/projects/upload/regio_standard_153_4078_mellisim_image.jpg ?

[2021-07-12 14:01] gachpas opened #242 "Global search"
I am not sure if the requirements have changed through time, as I was not involved in the last months but, initially, the global search was supposed to search on all ements, while the ones specific to projects and beneficiarries were looking only on the category in reference.

If you look for a beneficiary in the global search, you do not find it.

Please ignore if the requirements have changed ;o

[2021-07-12 14:04] madewild commented on #242
The problem is: which page should we open when we search? we cannot know in advance if people will search for a project or a beneficiary... Or a separate page just for these global search results? Then we need a design (wireframe) for this...

[2021-07-12 14:04] madewild commented on #242
@AThollard what do you think?

[2021-07-12 14:08] gachpas commented on #242
@madewild , well it could be a global search with possibility of filtering...it is what one expect from a search that is on the top and present on all the pages
but, as said, it was mentioned in the beginning and is maybe not part anymore of the requirements...

[2021-07-12 14:17] gachpas opened #243 "Negative Budget"
https://kohesio.eu/projects/Q2483622

mentions a negative budget

[2021-07-12 14:19] gachpas opened #244 "EU Budget vailable in percentage but not nrelated value"
https://kohesio.eu/projects/Q2907460

EU Budget vailable in percentage but not nrelated value

[2021-07-12 14:28] gachpas commented on #239
For me we could get rid of it but I think that last time we spoke about it all together, @AThollard said that we keep it for now and we will reconsider for the final version. Anne, i sit correct?

[2021-07-12 14:32] madewild commented on #244
Yes we are aware of this, it's because we imported the average co-financing rate from the priority axis but this is not ideal.
Duplicate of https://github.com/ec-doris/kohesio-data-import/issues/122 so closing.

[2021-07-12 14:32] #244 closed

[2021-07-12 14:39] AThollard commented on #242
It was indeed the initial requirement, even to be able to search on a region's name.
After 1.5 years of intensive usage, we could even challenge the 'global search' itself. Personally at this stage I don't see the added value.
I would open one or several  tickets for the UI evolution for the final launch
1) Global search / keep it or not? OR add filters (I am not really in favor of this option / r

[2021-07-12 14:41] AThollard commented on #239
@madewild to discuss together with home page UI for the final version, see issue#242

[2021-07-12 14:42] gachpas commented on #242
@madewild , do we need to review the mobile version now?
While looking a bit, I see some elements, which used to work properly and which are now not fully OK...

[2021-07-12 14:43] madewild commented on #242
FYI, this is already an issue for the final launch, see tag "v1.0 milestone" ;)

[2021-07-12 14:44] madewild commented on #239
yes, this is also tagged as v1.0 milestone :)

[2021-07-12 14:50] gachpas opened #245 "Mobile version - issue for "playing" with the map"
it is difficult and not too much reactive to navigate through the map by resizing

PS: test done with Iphone7 and safari

[2021-07-12 14:57] gachpas opened #246 "Mobile version - rendering menu"
See search in menus
![IMG_9118](https://user-images.githubusercontent.com/74774446/125309651-3743eb00-e332-11eb-8b24-25acfec735c3.PNG)

[2021-07-12 15:01] gachpas opened #247 "Disclaimer for using Projects near me"
when using the near me feature, shouldn't have a message (or pop up with link to the About section) about location data that we collect?

[2021-07-12 15:05] gachpas opened #248 "Sharing on social networks"
We had already discussed that but I cannot remember whether it would be taken into account or not...

so, when using the share, I would expect that the link is copied to be able inserting the post, while at the moment, it just opens the related app.

[2021-07-12 15:18] gachpas opened #249 "loosing navigation when going back"
It is also a point that we have already discussed: when selecting some sorting (for instance in the beneficiaries list), then applying some filtering, I arrive to a list that I want to consult. However, if I open a project and go back, I have lost my selection, which is not at all user friendly.

[2021-07-12 16:29] madewild commented on #247
not sure this is the best UX, but maybe a tooltip?

[2021-07-12 16:31] madewild commented on #248
Duplicate of #198

[2021-07-12 16:31] #248 closed

[2021-07-12 16:33] madewild commented on #249
You should use the "back" button of the browser and not the breadcrumb, and the filters are kept.
@gachpas can you confirm it works?

[2021-07-13 07:54] gachpas commented on #249
Hello @madewild , it works on laptop but not on mobile.

[2021-07-13 07:59] madewild commented on #249
@raphdom anything we can do on mobile?

[2021-07-13 13:22] AThollard opened #250 "Project description translation mixed swedish / english"
https://kohesio.eu/projects/Q2659929
@madewild

[2021-07-13 13:29] madewild commented on #250
fixed in dev: https://dev.kohesio.eu/projects/Q2659929
if you find other cases, we will investigate more...

[2021-07-13 13:29] #250 closed

[2021-07-13 13:30] AThollard opened #251 "Strange corsican italian beneficiary"
"Universite de corse Pasquale Paoli" appears both as French and italian beneficiary?
https://kohesio.eu/beneficiaries?name=univ*%20paoli
@madewild @D063520
Data issue? or geolocation issue? or sensitive issue?

[2021-07-13 13:32] madewild opened #252 "Indicate n/a for missing fund and programme"
Normally fund and programme should always be there but the world is messy so it happens: https://dev.kohesio.eu/projects/Q2659969
Would be good to have n/a instead of blank space.

[2021-07-20 08:23] AThollard opened #253 "Beneficiary name not displayed in beneficiary details or page for Latvia"
Hi  @D063520 @AlyHdr
Just noticed that beneficiaries' name for Latvia are not displayed in the Beneficiary module.
https://dev.kohesio.eu/beneficiaries?country=Latvia
Is it a 'translation' or another issue?

[2021-07-20 08:58] D063520 commented on #253
Fixed ....

[2021-07-20 08:58] #253 closed

[2021-09-10 14:20] madewild opened #254 "Update search help"
Add semantic search explanations (quotes for strict search without semantic expansion)

[2021-09-10 14:33] madewild opened #255 "Show expanded keywords from semantic search"
First wait for @svili to expose them

[2021-09-13 06:37] raphdom commented on #228
@D063520 Like max said, for me it is very fast on Zagreb(Croatia). 2000 items on a list it is not so many for me that justify the implementation of techniques likes virtual scrolling or others.

[2021-09-13 07:58] madewild commented on #205
@D063520 what's the status of this?

[2021-09-13 07:59] madewild commented on #233
@roberto-musmeci could you coordinate this?

[2021-09-13 08:02] roberto-musmeci commented on #233
Ok, I will speak to @AThollard about this.

[2021-09-20 09:27] madewild opened #256 "Show multiple intervention fields and thematic objectives"
Can be more than one (like beneficiaries)
interest of @roberto-musmeci

[2021-09-20 09:38] madewild commented on #247
Add this in a general disclaimer with cookies, to approve at the beginning.

[2021-09-21 07:18] raphdom commented on #205
@D063520 need to know what's the name of each field in order to add in the ui.

[2021-09-21 09:29] raphdom commented on #241
@madewild  Should be the copyright or the title of the project? In project details we have the copyright below the image but in the audiovisual we have the title of the project inside the image. The information about the copyright I have it on project details but if you need to put in the list we need to ask to add in the API.

[2021-09-21 09:31] madewild commented on #241
Sorry for the confusion, it's indeed the copyright info we need.
@D063520 or @AlyHdr can you add this to the API?

[2021-09-21 09:38] raphdom commented on #249
So, the problem here is not the mobile, the sort feature is not persisted even on desktop, the filters are but the sort non. @madewild maybe we can close this issue and open another one to persist the sort in projects and beneficiaries list.

[2021-09-21 09:43] raphdom commented on #240
this should be good, @madewild can you check and close it, please?

[2021-09-21 09:49] raphdom commented on #252
this should be good, @madewild can you test and close it, please?

[2021-09-21 09:56] madewild commented on #240
Looks good to me although it's small...
@gachpas can you test on dev (e.g. https://dev.kohesio.eu/projects/Q139379) and provide feedback? Now it's 12px everywhere, but we could also put 14px everywhere if better.

[2021-09-21 09:58] #252 closed

[2021-09-21 10:00] madewild commented on #249
@gachpas could you clarify what you mean by "I have lost my selection"? you mean the filters or the sorting order? is the behaviour diffrent on desktop and mobile?

[2021-09-21 11:25] raphdom commented on #249
@madewild and @gachpas. Now the sort is persisted, even if you refresh the page or use the back button from the detail page you will not lose the sort anymore.

[2021-09-21 12:34] madewild commented on #249
Great! @gachpas can you confirm the issue is solved now?

[2021-09-21 13:52] gachpas commented on #249
@madewild, great! It works ;)

[2021-09-21 14:26] madewild commented on #249
perfect, closing

[2021-09-21 14:26] #249 closed

[2021-09-22 06:44] raphdom commented on #255
@svili it is already exposed? We can work on that?

[2021-09-22 06:45] raphdom commented on #254
@madewild need more info here

[2021-09-22 06:47] madewild commented on #254
Waiting to see if we integrate the semantic search now or later, we need to sync both issues...

[2021-09-22 06:48] svili commented on #255
Yes, if you use the dev version @ http://kohesio-search-dev.eu-west-1.elasticbeanstalk.com/docs#/default/search_search_get

[2021-09-22 06:52] raphdom commented on #240
ok, now is better with relative sizes. @madewild

[2021-09-22 06:55] gachpas commented on #240
Thanks @raphdom ;)

[2021-09-22 06:57] madewild commented on #240
Perfect, thank you both!

[2021-09-22 06:57] #240 closed

[2021-09-22 07:05] madewild commented on #255
@raphdom you have to wait for @D063520 and @AlyHdr to integrate in the backend
I will organise a meeting on this tomorrow

[2021-09-22 08:46] D063520 commented on #205
the fund for each project is already there, Ali will add the budegt per fund

[2021-09-22 09:24] madewild commented on #205
@raphdom the field you need is "fundLabel" for each project (on https://dev.kohesio.eu/beneficiaries/Q2514974 for instance), to be added to each project in the table

[2021-09-22 09:41] madewild commented on #241
Sorry I was confused about this issue, I will clarify again:

- on https://kohesio.eu/projects/Q139379 we have the copyright info "Mellisim & Mellisense" under the image which is fine
- but when clicking on the picture to enlarge it, we see this:

![open_pic](https://user-images.githubusercontent.com/942488/134320645-2c12960c-0723-4532-9933-0e3848fb4417.png)

- so in this open image, could we add

[2021-09-22 10:49] raphdom commented on #241
normally I've fixed on page details with the copyright that we already have in the API results:
![image](https://user-images.githubusercontent.com/5124917/134330529-78b1c2d2-b117-4844-8687-c38a89c42eb8.png)
but in project list I put(for now) the title, because we don't have the copyright in the API results:
![image](https://user-images.githubusercontent.com/5124917/134330584-39ec3f4a-aaa0-468c-ad7

[2021-09-22 11:32] D063520 commented on #241
We are not able to make this until merge ... basically the problem is that this data is in the reefied part which we are not indexing currently .... we plan to do it but we are not there yet ....

[2021-09-22 11:36] madewild commented on #241
ok no problem, @gachpas can you already check on the project detail page ?
for the result list we postpone until next release

[2021-09-22 11:48] gachpas commented on #241
Hello @madewild , for me the part that is ready is fine.
The only thing is....I am not sure whether, from a legal point of view, we are obliged to have the copyright symbol before the name?
Do you have experience with that aspect?
Thanks and kr,
Pascal

[2021-09-22 12:26] AlyHdr commented on #205
The API now returns a list of budgetsPerFund like so:

<img width="768" alt="Screenshot 2021-09-22 at 14 23 17" src="https://user-images.githubusercontent.com/43681203/134343087-6a004ac3-d88d-4d0d-811e-2f981701be8a.png">

Example of a given project:

https://dev.kohesio.linkedopendata.eu/api/facet/eu/beneficiary?id=https://linkedopendata.eu/entity/Q2514974

[2021-09-22 14:35] D063520 commented on #255
It is done, can you check? ... we pass it directly to the description, so it is already rendered. there is nothing really to do except to try it ....

[2021-09-23 05:24] madewild commented on #241
"The symbol is widely recognized but, under the Berne Convention, is no longer required in most nations to assert a new copyright." (https://en.wikipedia.org/wiki/Copyright_symbol)
But why not, we can add it beforme the name to clarify it's the credit and not the title or something else...

[2021-09-23 06:49] gachpas commented on #241
Hello @madewild , I fully agree...it would clarify what the mention is ;)

[2021-09-23 07:09] raphdom commented on #205
@AlyHdr thank you. Can I ask you 2 things. Instead of "n/a"can you put "Other funds"? And sort the totalBudget desc ?

[2021-09-23 07:15] madewild commented on #205
Actually by totalEuBudget desc. The totalBudget is irrelevant here and should not be shown at all in my opinion.

[2021-09-23 08:21] AlyHdr commented on #205
@raphdom It must be done now

[2021-09-23 09:17] raphdom commented on #205
Thanks @AlyHdr. @madewild can you test on dev?

[2021-09-23 09:33] madewild commented on #205
Perfect, thank you both!
Of interest for @roberto-musmeci @AThollard @gachpas (check https://dev.kohesio.eu/beneficiaries/Q2514974 for instance)
Closing this now, feel free to reopen if something is wrong/missing.

[2021-09-23 12:09] madewild commented on #255
@AlyHdr so can you also send a list of 10 expanded keywords?

[2021-09-23 12:34] madewild commented on #254
Implemented in dev: https://dev.kohesio.eu/projects
@AlyHdr and @svili could you go to this page, click on the "i" next to keywords and review what I wrote to make sure it's in line with reality of the (semantic) search?

[2021-09-23 12:45] svili commented on #254
Looks good to me!

[2021-09-23 13:19] AlyHdr commented on #255
<img width="673" alt="Screenshot 2021-09-23 at 15 00 41" src="https://user-images.githubusercontent.com/43681203/134511269-b7f64513-dbe1-4727-896a-6552b3b2c333.png">

@madewild the search is now over 10 expanded keywords, and the API returns a list of keywords @raphdom

[2021-09-23 13:35] raphdom commented on #255
@AlyHdr thank you, it is implemented on dev:
![image](https://user-images.githubusercontent.com/5124917/134516803-9f4a09de-6144-4716-a18c-057a086efacb.png)

[2021-09-23 13:45] AlyHdr commented on #255
Coool!

[2021-09-24 09:35] madewild opened #257 "Replace EU contrib by total budget"
In project list
Already available in API
Change amount + label ("Total budget")

[2021-09-24 09:36] madewild commented on #22
This will impact (semantic) search: each localized version should search on content in the same language

[2021-09-24 09:42] madewild commented on #255
We have again a font size mismatch here... For me:
- "Also matching..." is 12.8px
- the keywords are 12px
- "Use my keyword only" is 14px

Can we use the same (relative) size everywhere?
Also, can we save space by putting the button "Use my keyword only" next to "Also matching..." ?

[2021-09-24 09:58] madewild opened #258 "Filter beneficiaries by type (public/private)"
Wait for https://github.com/ec-doris/kohesio-backend/issues/72 first

[2021-09-24 10:56] madewild commented on #254
Added the use of explicit AND, closing now.

[2021-09-24 10:56] #254 closed

[2021-09-24 11:26] madewild commented on #255
Since we can now use multiple words with semantic search, should be "Use my keyword**s** only"

[2021-09-24 12:49] gachpas opened #259 "Value not appearing in the "Funded by EU" field"
Hello,
Where: https://dev.kohesio.eu/projects/Q2776218
In fact , there is the same issue in quite a lot of projects.

What: Value not appearing, just the %. Funded by EU: n/a (85%)

Either we do not have and we say n/a (or we give the theoric % and we explain what it is exactly), or, if we have, we give the value and teh percentage.

Br,
Pascal

[2021-09-24 13:12] madewild commented on #205
Some slight issue with zero values on https://dev.kohesio.eu/beneficiaries/Q2823834
Should be:
Funded by EU: n/a

funds
ERDF: n/a
ESF: n/a
CF: n/a

[2021-09-24 13:18] madewild opened #260 "Create a "Terms of use" page"
Directly linked-> create a related "Term of use" page for copyrights on the EC logo, maps, what is under creative commons etc...)

_Originally posted by @AThollard in https://github.com/ec-doris/kohesio-data-import/issues/139#issuecomment-877085895_

[2021-09-24 13:24] madewild opened #261 "Create a FAQ"
Based on @AThollard request (if still needed)

[2021-09-24 13:26] gachpas commented on #205
Hello @madewild,

linked to this:
https://dev.kohesio.eu/beneficiaries/Q2825030
funds
IPA II: 0,00 €
ERDF: 0,00 €
ESF: 0,00 €
CF: 0,00 €

We do not have EU allocations for those projects and n/a is returned, so why the summary gives a value 0 and not n/a?

Br,
Pascal

[2021-09-24 13:27] madewild commented on #205
That's exactly what I wrote above! :D

[2021-09-24 13:28] gachpas commented on #205
oops ;)

[2021-09-24 13:32] gachpas opened #262 "cofin rate NOK"
Where: https://dev.kohesio.eu/projects/Q3099894
What: cofin rate NOK
Total budget: 867 955 365,00 €
Funded by EU: 750 206 873,60 € (0,86%)

0,86%?!?
PS: does not correspond to 86% either

[2021-09-24 14:14] madewild opened #263 "Hide co-financing rate when n/a or zero"
https://dev.kohesio.eu/projects/Q3060553

Funded by EU: n/a (0%)

should be

Funded by EU: n/a

[2021-09-24 14:28] madewild opened #264 "Show name of country when hovering over flag"
Both on https://dev.kohesio.eu/beneficiaries and https://dev.kohesio.eu/beneficiaries/Q3064623
If you don't know the flag it's tricky to guess the country... If the country name is available in the API we could show it in a tooltip when hovering with the mouse over the flag (or at least the country code).

[2021-09-27 06:52] raphdom commented on #257
Change from "EU contribution" to "Total budget"? And what about the sort and the filter that we have in this field. IT will be weird have a sort and a filter in one of the fields that doesn't appear in the list. Maybe we should change as well but not sure if we support this in the API.

[2021-09-27 06:59] madewild commented on #257
Good point, we should adapt the filter and sort as well. @D063520 is this supported by the API? If not we can postpone to next version...

[2021-09-27 07:01] raphdom commented on #255
The font-size is already relative and it is normal have a smaller size just to differentiate because this is part of the field above., about to put the "Also matching..." in the same line as "Use my keywords only", the only way to not pollute the space is like that:
![image](https://user-images.githubusercontent.com/5124917/134859784-0ea9878d-f12e-4587-8926-1461f6cf04c0.png)

[2021-09-27 07:03] madewild commented on #255
Maybe we can put just "Also matching:" to have something shorted and on one line. Can you try?

[2021-09-27 07:05] raphdom commented on #255
![image](https://user-images.githubusercontent.com/5124917/134860327-37f915ad-2adc-469d-a1db-8c6e4e4f275f.png)
like this?

[2021-09-27 07:07] madewild commented on #255
For me it's fine, I would just put the same small font size for "Use my keywords only" if possible.

[2021-09-27 07:22] raphdom commented on #205
fixed, @madewild can you check and close the issue, please?

[2021-09-27 07:22] raphdom commented on #255
fixed, @madewild can you check and close the issue, please?

[2021-09-27 07:22] raphdom commented on #263
fixed, @madewild can you check and close the issue, please?

[2021-09-27 07:24] madewild commented on #205
Perfect.

[2021-09-27 07:24] #205 closed

[2021-09-27 07:29] #255 closed

[2021-09-27 08:08] D063520 commented on #257
this is already possible, the parameter is called "orderTotalBudget" and not "orderTotalBudget". Can you check if it is this what you want?

[2021-09-27 10:08] raphdom commented on #257
@madewild
it is okay like that?

![image](https://user-images.githubusercontent.com/5124917/134889050-b4de12c1-ccf6-4797-bbcd-6d659ea2a009.png)

[2021-09-27 10:08] raphdom commented on #257
and I will leave the EU contribution filter

[2021-09-27 10:09] madewild commented on #257
OK for me!

[2021-09-27 10:12] roberto-musmeci opened #265 "Rendering breakdown by funds"
Is it normal ?

https://dev.kohesio.eu/beneficiaries/Q3113578

![image](https://user-images.githubusercontent.com/86654885/134889557-899a035c-c913-488d-b1d0-68eb2165181b.png)

[2021-09-27 11:03] madewild commented on #265
Oops, @raphdom I think you introduced a bug here ;)

[2021-09-27 11:24] raphdom commented on #257
fixed @madewild

[2021-09-27 11:33] raphdom commented on #265
my bad, colateral effect :) now is fixed @madewild

[2021-09-27 11:35] madewild commented on #257
I had a timeout from the API with the filter, but now seems fixed with the cache... will see if it happens again.
https://dev.kohesio.linkedopendata.eu/api/facet/eu/search/project?offset=0&limit=15&budgetSmallerThan=1000000000&budgetBiggerThan=100000000&orderTotalBudget=false
FYI @D063520

[2021-09-27 11:35] #257 closed

[2021-09-27 11:36] madewild commented on #265
much better ;)

[2021-09-27 11:36] #265 closed

[2021-09-28 09:04] madewild opened #266 "Improve thumbnails"
Some big pictures like https://linkedopendata.eu/w/images/1/1d/CF.10.134_Rehabilitation_of_the_former_landfill_at_Wied_Fulija-15_rs.jpg are not rendered properly in smaller versions: https://dev.kohesio.eu/projects/Q3064384

It's a bit compressed and stretched... Let's see what we can do.

[2021-09-28 13:15] madewild opened #267 "Display n/a when no beneficiary"
Some rare projects have no beneficiary like https://dev.kohesio.eu/projects/Q3101677
We should display the label of the box + n/a below rather than an empty grey box...

[2021-09-28 14:36] madewild opened #268 "Display several markers on the map"
Some projects have multiple locations, e.g. https://dev.kohesio.eu/projects/Q86132
The API returns several points in "coordinates" but the UI only shows one, we should display all.
https://github.com/ec-doris/kohesio-backend/issues/77 will also return all geoJSON

[2021-09-28 14:41] madewild commented on #263
Sorry @raphdom other case: https://dev.kohesio.eu/projects/Q86132
Here the total budget is n/a so the co-financing rate should also be hidden.

Funded by EU: 148 147 400,56 € (0%)

should be

Funded by EU: 148 147 400,56 €

[2021-09-28 14:44] madewild commented on #268
All locations (and related NUTS) can be seen on https://linkedopendata.eu/wiki/Item:Q86132

[2021-09-28 16:04] madewild commented on #268
The multiple polygons are ready but you need to sync with @AlyHdr because there is a breaking change in the API...

[2021-09-29 06:27] raphdom commented on #263
fixed, @madewild can you check, please?

[2021-09-29 06:27] raphdom commented on #267
fixed, @madewild can you check, please?

[2021-09-29 06:35] raphdom commented on #268
notice there are several points duplicated in the API when we have more than one coordinate.
![image](https://user-images.githubusercontent.com/5124917/135214180-e80078b2-c217-4d0f-b1d0-5654e5c8c057.png)
I am drawing the several points already.
![image](https://user-images.githubusercontent.com/5124917/135214248-29455bde-93c9-4a7d-932b-ae5ee2d75852.png)
Question: We are going to receive more than

[2021-09-29 06:39] madewild commented on #263
Looks good.

[2021-09-29 06:39] #263 closed

[2021-09-29 06:39] madewild commented on #267
Perfect!

[2021-09-29 06:39] #267 closed

[2021-09-29 06:42] madewild commented on #268
Yes, Ali provided the multiple geoJSON yesterday but this broke the API so he reverted the change...
As soon as he's available you can sync with him to deploy both the fix in the API and the change in the UI.
See https://github.com/ec-doris/kohesio-backend/issues/77 so you can know what to expect and anticipate already: "The API returns a list of geoJson and the coordinates, the label is now "regi

[2021-09-29 08:15] AlyHdr commented on #268
Yes all those fixes were introduced yesterday but I reverted them because the UI broke, I will deploy again the latest changes you can check here:

https://github.com/ec-doris/kohesio-backend/issues/77

[2021-09-29 08:16] AlyHdr commented on #268
Yes @raphdom the API returns a list of geoJson and the duplicates are not there anymore.

[2021-09-29 08:17] raphdom commented on #268
okay, I already did and deploy a change to handle multiple geoJson's... maybe should be fine in the ui side.

[2021-09-29 08:30] madewild opened #269 "Audiovisual material"
Currently we have only images and no videos/sounds so the term "audiovisual" sounds strange to me.
Moreover, we have multiple spellings:

- the tab is called "Audio-visual" with a dash (and for me this is an adjective without a noun)
- when no ressources it reads "NO AUDIO VISUAL ASSETS FOUND!" (with a space, also the capitals are a bit aggressive and I would write "audiovisual material" rather th

[2021-09-29 08:37] raphdom commented on #268
it is fixed @AlyHdr and @madewild

[2021-09-29 08:37] madewild commented on #268
Mostly good except that the initial zoom is now wrong on https://dev.kohesio.eu/projects/Q86132

[2021-09-29 08:39] madewild commented on #268
![wrong_zoom](https://user-images.githubusercontent.com/942488/135233695-146b9ce1-a6dc-49e8-8472-02f2aa532d39.png)

(also double "in" mentioned to Ali in https://github.com/ec-doris/kohesio-backend/issues/77)

[2021-09-29 08:40] raphdom commented on #268
the zoom is based on the last region rendered. Not easy to calculate the boundaries with multiple regions in the map. Maybe we could fixed this issue and create a new one to evaluate if I can do it with leaflet. Another solution is if @AlyHdr is able to send me the geoJson combined of all regions that I can centralize the map.

[2021-09-29 08:41] madewild commented on #268
Mmmh, so a big MultiPolygon combining everything... @AlyHdr is this easily feasible? If not I create a separate issue and keep for next release.

[2021-09-29 08:48] AlyHdr commented on #268
Mmm I would suggest to try to fit the bounds with leaflet based on the coordinates, I already did this in some projects but maybe here it's different.
something like:
[code]
If this doesn't work I'm not sure how we could do it because I think the geometries are based on the nuts and I think it wouldn't be easy to find the nuts that combines all the found nuts of each coordinate, especially that it

[2021-09-29 08:49] madewild opened #270 "Correct initial zoom when multiple locations"
Mmm I would suggest to try to fit the bounds with leaflet based on the coordinates, I already did this in some projects but maybe here it's different.
something like:
[code]
If this doesn't work I'm not sure how we could do it because I think the geometries are based on the nuts and I think it wouldn't be easy to find the nuts that combines all the found nuts of each coordinate, especially that it

[2021-09-29 08:50] madewild commented on #270
See https://dev.kohesio.eu/projects/Q86132

[2021-09-29 08:51] madewild commented on #268
Moved to separate issue

[2021-09-29 08:51] #268 closed

[2021-09-29 09:09] madewild commented on #270
Much better!
![new_zoom](https://user-images.githubusercontent.com/942488/135238808-df943224-1e88-4fe4-a7c1-d2755630ff35.png)

@AThollard @roberto-musmeci does it seem OK that the NUTS polygon is truncated at the top? if not we can always try to improve later...

[2021-09-29 09:11] madewild commented on #270
Oops @raphdom side effect is that other projects with one location like https://dev.kohesio.eu/projects/Q2659969 are zoomed too much now! :(

[2021-09-29 09:12] madewild commented on #270
Another cleaner option would be to parse all geometries and keep the smaller and bigger values for latitude and longitude, no? Probably better to do it in the API though @AlyHdr ...

[2021-09-29 09:15] AlyHdr commented on #270
Yes this behaviour is expected, for one coordinate projects can't we just fit the bounds based on the polygon as before and otherwise just like this?

[2021-09-29 09:22] roberto-musmeci commented on #270
Yes, it is indeed much better and representative of to reality the project ! :)

If possible, it would be good to zoom out a bit to see the boundaries of all the regions involved.
Usually, these projects are infrastrutture projects and a lot of clicks because they have very big budget.
Up to you for the planning for that.

[2021-09-29 09:22] madewild commented on #270
https://leafletjs.com/reference-1.7.1.html#map-fitbounds should do the trick :)

[2021-09-29 09:23] raphdom commented on #270
Deploying this right now with this behavior. 5min and you can test it

[2021-09-29 09:26] raphdom commented on #270
done, you can test it @madewild @AlyHdr @roberto-musmeci

[2021-09-29 09:27] madewild commented on #270
Working perfectly both on single-location (https://dev.kohesio.eu/projects/Q2659969) and multiple-location (https://dev.kohesio.eu/projects/Q86132) projects, awesome!!

[2021-09-29 09:32] #270 closed

[2021-09-29 18:07] madewild commented on #188
Related to https://github.com/ec-doris/kohesio-data-import/issues/114

[2021-09-30 12:56] madewild opened #272 "Add n/a if no Managing authority name"
See https://kohesio.eu/projects/Q2660753 for instance

[2021-10-01 09:01] madewild commented on #239
Coming back to this, I would suggest keeping a thinner carousel so that the map is not cut in the middle when loading the page...

[2021-10-01 10:03] madewild commented on #239
Something like this would be nice (of coursewith better/unstretched picture):

![new_carousel](https://user-images.githubusercontent.com/942488/135602396-53bd51e5-2755-49d9-ae31-47ed42de6f30.png)

[2021-10-01 10:23] madewild commented on #239
@raphdom for reference this simulation is with `.carousel-item--img {
              width: 50%;
              height: 20vh;
          }` instead of 35vh

[2021-10-04 16:00] AThollard opened #274 "Accessing projects in the Map tab - title not displayed"
Issue accessing projects - Search: Just transition (keyword)-> Map tab> Zoom in Paris
![image](https://user-images.githubusercontent.com/80402472/135884391-09bad9b4-061f-4c1d-ab6e-e8a03b7e3260.png)

[2021-10-04 16:00] AThollard commented on #274
@madewild @raphdom

[2021-10-04 17:20] madewild commented on #274
Mmmh, and projects are not aligned between the results and the map!

https://kohesio.eu/projects?keywords=just%20transition&country=France&region=%C3%8Ele-de-France
@D063520 @AlyHdr

[2021-10-04 17:29] madewild commented on #274
Both the results and the map show 3 projects, but they have only one in common!

[2021-10-04 17:37] D063520 commented on #274
I quickly checked ....

there are three coordinates in the map:

<img width="1678" alt="Screenshot 2021-10-04 at 19 36 24" src="https://user-images.githubusercontent.com/10883585/135897839-2631ea17-e213-48de-8320-9f750b72d6d8.png">

and I can find these 3 attached to the projects

<img width="1678" alt="Screenshot 2021-10-04 at 19 36 59" src="https://user-images.githubusercontent.com/10883585/1358

[2021-10-04 17:43] madewild commented on #274
The problem seems to come from this api: https://kohesio.linkedopendata.eu/api/facet/eu/search/project/map/point?keywords=just%20transition&country=https://linkedopendata.eu/entity/Q20&region=https://linkedopendata.eu/entity/Q2616107&coordinate=2.291709093592,48.83717225

[2021-10-04 17:49] madewild commented on #274
And https://kohesio.linkedopendata.eu/api/facet/eu/search/project/map/point?keywords=just%20transition&country=https://linkedopendata.eu/entity/Q20&region=https://linkedopendata.eu/entity/Q2616107&coordinate=2.4393518918543,48.859270124851 return project https://linkedopendata.eu/entity/Q139285 instead of https://linkedopendata.eu/entity/Q139926

[2021-10-04 18:14] D063520 commented on #274
the keywords where not expanded .....

https://dev.kohesio.eu/projects?keywords=Just%20transition&country=France&region=Île-de-France

deployed this to dev. I can merge to master if you approve

[2021-10-04 18:21] madewild commented on #274
yes looking fine on dev, for me you can merge! :) thx

[2021-10-04 18:21] #274 closed

[2021-10-06 17:38] AThollard opened #275 "Duplicates in semantic search matching concepts"
https://kohesio.eu/projects?keywords=biodiversity%20conservation
@madewild

[2021-10-07 05:05] madewild commented on #275
Oops, @AlyHdr can you check what is happening here??

[2021-10-07 08:42] #275 closed

[2021-10-13 11:21] madewild commented on #261
Maybe add in this faq that interreg is not yet covered + a link to keep.eu

[2021-10-22 09:20] madewild opened #276 "Embedding maps"
Some countries ask about embedding Kohesio maps in their own websites.
From what I understand, this would require an api like https://www.embed-leaflet.com/ but with multiple markers and then generating an iframe snippet. Any other option?

[2021-11-24 14:29] madewild commented on #22
@raphdom what do you think is realistic here in terms of timeline? we could start with adding French and/or German then add all 24 languages... it also implies running eTranslation on all projects

[2021-11-29 14:37] madewild commented on #22
Mission for January: evaluate the workload on UI side, explore possibilities using DGT (human) translators...

[2021-11-30 14:17] madewild commented on #95
linked to https://github.com/ec-doris/kohesio-backend/issues/64
will be solved in EKS

[2021-11-30 14:27] madewild commented on #228
cannot reproduce, feel free to reopen if happening again

[2021-11-30 14:27] #228 closed

[2021-11-30 14:29] madewild commented on #229
leaving like this for the moment, will adapt for next programming period if needed

[2021-11-30 14:29] #229 closed

[2021-11-30 14:32] madewild commented on #231
ok understood, not linked to the button but to a div map.navigation that is over the actual map

[2021-11-30 14:35] madewild commented on #241
@D063520 what's the status of this?

[2021-11-30 14:38] madewild commented on #245
@gachpas you need 2 fingers to resize AND move the map, to avoid issues with the rest of the navigation on mobile...
can we close ou could you give an example of another site where it works better?

[2021-11-30 14:41] madewild commented on #246
cannot reproduce, @gachpas can you clarify the actual issue? maybe depending on the resolution of the screen...

[2021-11-30 14:43] madewild commented on #247
@AThollard what is your view on this?

[2021-11-30 14:51] madewild commented on #266
not so bad here...
@roberto-musmeci do you have examples where it's very bad? if not we close ;)

[2021-11-30 15:33] madewild commented on #256
3000 projects have multiple intervention fields: https://query.linkedopendata.eu/#select%20DISTINCT%20%3Fproject%20where%20%7B%0A%20%20%20%20%3Fproject%20%3Chttps%3A%2F%2Flinkedopendata.eu%2Fprop%2Fdirect%2FP35%3E%20%3Chttps%3A%2F%2Flinkedopendata.eu%2Fentity%2FQ9934%3E%20.%0A%20%20%20%20%3Fproject%20%3Chttps%3A%2F%2Flinkedopendata.eu%2Fprop%2Fdirect%2FP32%3E%20%3Chttps%3A%2F%2Flinkedopendata.eu%2

[2021-11-30 15:48] gachpas commented on #246
Hello @madewild , I still have the same issue with iphone 7.

[2021-11-30 15:56] madewild commented on #246
the issue is only the spyglass icon over the "e" of Projects? Is your zoom normal?

[2021-11-30 16:00] gachpas commented on #246
Yes it is. No zoom.

[2021-11-30 16:01] madewild commented on #256
2000+ have multiple TO
https://query.linkedopendata.eu/#select%20DISTINCT%20%3Fproject%20where%20%7B%0A%20%20%20%20%3Fproject%20%3Chttps%3A%2F%2Flinkedopendata.eu%2Fprop%2Fdirect%2FP35%3E%20%3Chttps%3A%2F%2Flinkedopendata.eu%2Fentity%2FQ9934%3E%20.%0A%20%20%20%20%3Fproject%20%3Chttps%3A%2F%2Flinkedopendata.eu%2Fprop%2Fdirect%2FP32%3E%20%3Chttps%3A%2F%2Flinkedopendata.eu%2Fentity%2FQ25%3E%20.%0A%20

[2021-11-30 16:03] madewild commented on #246
so only happening on small screens... will see if there is a fix

[2021-11-30 16:07] gachpas commented on #246
I thought that the design was repsonsive?!?

[2021-11-30 16:09] AThollard commented on #264
Ideally the country name (but then come the multilinguism question), so rater the country code (not sure it's clearer?)
Can we discuss this with @slaven777 @Bisiaam  on Friday as they have more experience with Member states preferences?

[2021-11-30 16:10] AThollard commented on #264
but in any case I agree the flag itself is not very clear

[2021-11-30 16:14] AThollard commented on #229
ok

[2021-11-30 16:15] madewild commented on #246
It is. You can open kohesio.eu on a laptop with Chrome, press F12 then click the mobile icon in the toolbar. We are responsive and this is how we render on different phone sizes (S - M - L)
![mobile_s](https://user-images.githubusercontent.com/942488/144085044-d9ffb253-7e4c-4ec0-a0fc-e38975986b63.png)
![mobile_m](https://user-images.githubusercontent.com/942488/144085060-e676172e-829e-46bf-b9d6-71

[2021-11-30 16:17] madewild commented on #247
It's already mentioned in the about
Do we need an additional pop-up to warn users if they don't look at the about page? Or good enough with the about?

[2021-11-30 16:22] AThollard commented on #247
I think we need:
a) a pop-up warning users with a link to
b) a dedicated section on data protection (e.g : https://webgate.ec.europa.eu/regiokm/display/ST/6.+Data+protection+for+RegioWiki)
@gachpas to include in our lists as a priority under the GDPR actions (also consult the DPC and finalise the record for GDPR to the DPO)

[2021-12-01 08:45] gachpas commented on #246
Hello @madewild , when testing mobile version I always do with a mobile, as it is live conditions and curiously it defers from the testing you can do with Chrome (with same definition). The size of Iphone 7 is quite standard, so it should work properly.
Is there a possibility to align the title on the left and/or reduce the font size for the title?
Thanks and kr, Pascal

[2021-12-02 11:09] madewild commented on #256
the backend has been changed, ready for you @raphdom

[2021-12-02 13:52] madewild opened #277 "Highlighted projects"
Some projects (mainly coming from InfoRegio) will be marked as "highlighted" in the Wikibase. We should:

- make these project appeat first in the list
- allow to filter by highlighted or not
- investigate the possibility to show their marker on the map with a different color than blue

The first two points require backend changes.
For the third, it raises the question of what to do when we have m

[2021-12-03 13:31] madewild opened #278 "Hide Project website and Programme website if n/a"
Before:
![web_before](https://user-images.githubusercontent.com/942488/144610605-9350a1c2-bf77-46ce-b0f4-3e13d44fca8f.png)

After:
![web_after](https://user-images.githubusercontent.com/942488/144610624-bbf6173a-7ba4-4323-925e-94fa5a6fc939.png)

[2021-12-06 09:23] madewild commented on #258
Implemented in the benef api: https://dev.kohesio.linkedopendata.eu/api/facet/eu/search/beneficiaries?offset=0&limit=15&country=https://linkedopendata.eu/entity/Q25&beneficiaryType=private

[2021-12-06 16:35] raphdom commented on #272
fix, can you check in dev, please?

[2021-12-06 16:35] raphdom commented on #278
fix, can you check in dev, please?

[2021-12-06 16:37] madewild commented on #231
Perfect now!

[2021-12-06 16:37] #231 closed

[2021-12-06 16:39] madewild commented on #278
indeed good on https://dev.kohesio.eu/projects/Q2660753

[2021-12-06 16:39] #278 closed

[2021-12-09 11:51] raphdom commented on #214
to do this, we need to change the component itself to eui-autocomplete, but the problem is that the autocomplete doesn't support subitems, need to check a better way to do it. I ask you to postponed this to another release.

[2021-12-09 12:08] raphdom commented on #198
Instagram does not support the share url, for all the others it will be implemented

[2021-12-09 12:37] madewild commented on #214
OK no problem

[2021-12-09 14:55] raphdom commented on #232
It was fixed that now the breadcrumb only collapse in mobile version. @madewild I cannot ask you to check... :)

[2021-12-09 14:56] raphdom commented on #198
Fixed, can you check on dev, please?

[2021-12-09 14:58] raphdom commented on #246
In fact we had another problem, this empty space on the left was the missing logo. Now the logo is there but I hide the search button is small screens. It will appear after 400px. This is not critical because in the homepage we have the search of the projects below the header. Can you check if it is okay now @gachpas and @madewild

[2021-12-09 14:59] raphdom commented on #226
fix on dev, please check @madewild

[2021-12-09 15:02] madewild commented on #232
Haha actually you can, I tested on my 27" screen and indeed the map breadcrumb does not disappear anymore so it's good!

[2021-12-09 15:02] #232 closed

[2021-12-09 15:07] madewild commented on #246
I let @gachpas do it ;)

[2021-12-09 15:28] madewild commented on #264
I propose to postpone for now as time is short

[2021-12-09 16:18] gachpas commented on #198
@madewild , @raphdom , It is ok. Thanks ;)

[2021-12-09 16:26] gachpas commented on #246
@madewild , @raphdom , as a standard user, I am not sure that I will have the reflex to turn my mobile in landscape mode to be able accessing the search, when being on a project or beneficiary page. Having to go back to the home page to be able searching does not seem natural/convenient to me either. If there is no other possibility that the one you propose, I would let the final decision to @ATho

[2021-12-09 16:50] #198 closed

[2021-12-10 07:38] raphdom commented on #246
@gachpas @madewild @AThollard. We need a threshold when we talk about screen sizes, and I've put the threshold in 350px because this cover most of the devices (see this list: https://mediag.com/blog/popular-screen-resolutions-designing-for-all/). @gachpas can you confirm that doesn't work in your iphone 7, should work and see the search button?

[2021-12-10 07:55] madewild commented on #256
@raphdom moving to this release because there is a breaking change in the api...

[2021-12-10 07:56] madewild commented on #256
When implemented it should also fix ec-doris/kohesio-data-import#173

[2021-12-10 08:38] raphdom commented on #188
Now, we are using the layers that is comming from the eurostat (https://europa.eu/webtools/maps/tiles/osmec2/)
Can you check if is stable and everything is okay?

[2021-12-10 08:38] raphdom commented on #258
Fixed on dev, can you check, please?

[2021-12-10 08:39] raphdom commented on #256
fixed on dev, can you check please?

[2021-12-10 09:18] madewild commented on #188
Nice, I see this map is fully in English instead of multilingual, I guess it can be localised later in any EU language?

This is very important, @AThollard @gachpas @Bisiaam @slaven777 could you provide feedback before the merge?
also @D063520 @AlyHdr @DiaZork @svili could you test a bit?
https://dev.kohesio.eu/ is the new one (with eurostat maps), compare with https://kohesio.eu/ which is the pre

[2021-12-10 09:19] madewild commented on #188
(also note the © GISCO below the new map)

[2021-12-10 09:28] madewild commented on #258
Very nice: https://dev.kohesio.eu/beneficiaries?beneficiaryType=Private
@roberto-musmeci @gachpas can you have a look? it's in the advanced filters (type)

[2021-12-10 09:28] madewild commented on #188
and @roberto-musmeci of course, oops ;)

[2021-12-10 09:29] D063520 commented on #258
I think one should put a disclaimer in the search indicating that we know the private/public thing only for a subset of the beneficiaries ....

[2021-12-10 09:29] madewild commented on #256
I would remove the bullet points (dashes)...

[2021-12-10 09:31] madewild commented on #256
Here's an example to test: https://dev.kohesio.eu/projects/Q68696

[2021-12-10 09:32] madewild commented on #258
Yes, and that it's based on machine learning... maybe a ? button next to the field like for the keyword search

[2021-12-10 09:35] roberto-musmeci commented on #256
Also, what do you think about displaying the code too ?

[2021-12-10 09:37] madewild commented on #256
I think we decided not to because too technical for common users... to check with @AThollard

[2021-12-10 09:40] Bisiaam commented on #188
Regarding the map and language, I presented Kohesio to Country Team Bulgaria yesterday (on the dev site), but the regions and cities were in Cyrillic and I could not read them
But I prefer the map on dev, it's clearer we don't see all the capitals and the EEZ but the names of the countries

[2021-12-10 09:43] madewild commented on #188
The main point is that's it's now the official EU map with official borders etc.
But it's also more easy to read, I agree. ;)

[2021-12-10 09:47] gachpas commented on #246
@raphdom , not sure what you mean by working ;)
when going to the project homepgae, I now do not see any search possibility, except if I turn my phone in landscape mode

[2021-12-10 10:01] gachpas commented on #188
+1 for the new one in dev..all in EN, clearer and sticking to the offcial borders

[2021-12-10 10:03] raphdom commented on #246
it is weird because normally the iphone 7 has the resolution of 375px(viewport), and I have put the threshold in 350px. I don't have a Iphone 7 to test, but if I test in the browser I can see that it is working. Can you try to send a screenshot of the screen to me, just to understand what is happen. Thank you @gachpas

[2021-12-10 10:05] raphdom commented on #258
It is easy to add it, can you send me the text that I should include in the ? button, @madewild

[2021-12-10 10:11] gachpas commented on #246
That's why I always try to test with the phone instead of simulating ;)....hereis a screenshot:

![6C69010D-0B84-4354-8D92-9CB016816EE9](https://user-images.githubusercontent.com/74774446/145556783-6e0b8e45-a8c1-4891-a3b0-c6cd7a459e0d.png)

[2021-12-10 10:58] D063520 commented on #241
this is done. Can you check and close if fine?

[2021-12-10 11:02] madewild commented on #241
on https://dev.kohesio.eu/projects/Q139379 it's perfect
but on https://dev.kohesio.eu/projects if you click on the photo you still get the title "MELLISEN: continuous blood glucose measurement arm" over the photo instead of the copyright info...

[2021-12-10 11:02] madewild commented on #241
![cr](https://user-images.githubusercontent.com/942488/145564086-a0332199-a6d4-4c7b-8f05-f683555cb60d.png)

[2021-12-10 11:04] D063520 commented on #241
It's because when you click there what is rendered is not the copyright but the title of the project ....

[2021-12-10 11:09] madewild commented on #245
@gachpas @Bisiaam @D063520 could you explain more specifically what the problem?

[2021-12-10 11:11] madewild commented on #247
Dennis will remove this from the logs
I will update the about page to remove this part
So we don't need a popup
For the rest on data protection in general we can open another issue...

[2021-12-10 11:27] gachpas commented on #245
@madewild , not so easy to put in words the user experience..I will try to ;)
A first concrete (and easy to expalin) element is the fact that the breadcrumb is hiding part of th emap and therefore projects points.
Another element is that sometime there is a delay  of some miliseconds between th emoment you use the 2 fingers to enlarge or zoom in into th emap. This latency is difficult to manage wh

[2021-12-10 13:24] madewild opened #548 "Move exports to S3"
Currently all the exports are sitting on an EBS volume:

https://data.linkedopendata.eu/kohesio/projects/
https://dev.data.linkedopendata.eu/kohesio/projects/

It would be better to put them on S3 but we want to keep a neutral URL, not use containing "aws" or "s3".
For instance the latest export of Austria should always be on https://data.linkedopendata.eu/kohesio/projects/latest_AT.csv
(or maybe

[2021-12-10 13:39] madewild opened #279 "Move to new URL"
Normally https://kohesio.ec.europa.eu
@AThollard  what is the status now? We wait for ITCB approval of the project charter before going back to DG COMM?

We will also have to adapt subdomains.
Keep kohesio.eu for dev?

[2021-12-10 13:54] madewild commented on #277
Actually first projects on https://dev.kohesio.eu/projects are already those highlighted, with images and link to inforegio so point 1 is mostly solved.

@AlyHdr is this info exposed in the api for each project? basically yes/no for having the property https://linkedopendata.eu/wiki/Property:P1741 ("ID used by InfoRegio")

@roberto-musmeci @AThollard anything else to implement for highlighted proj

[2021-12-10 13:57] roberto-musmeci commented on #277
From my side, soon we are going to have more links between InfoRegio and Kohesio

[2021-12-10 14:08] madewild commented on #277
Good, this is on the data side but then here we explore how to take advantage of this data in the UI... :)

[2021-12-10 14:13] madewild commented on #258
"The type of beneficiary is guessed by an algorithm and is therefore not 100% accurate. Only a subset of beneficiaries is currently tagged with this information."

[2021-12-10 14:14] madewild commented on #258
@roberto-musmeci feel free to suggest more precise wording to replace public/private

[2021-12-10 14:30] AlyHdr commented on #277
We just return the info like the images and url, however it's not flagged or anything:
https://dev.kohesio.linkedopendata.eu/api/facet/eu/project?id=https://linkedopendata.eu/entity/Q139379

[2021-12-10 14:31] roberto-musmeci commented on #258
Just to be on the safe side, I would suggest
1) public and publicly-owned
2) private
This allows us to consider private companies (e.g. ltd) owned by the state as public see https://dev.kohesio.eu/beneficiaries/Q276795

[2021-12-10 14:40] madewild commented on #277
OK maybe something that will need to change then... let's import the new data first :)

[2021-12-11 07:21] madewild commented on #239
@raphdom could we already try a thinner carousel for this release?

[2021-12-13 10:08] D063520 opened #280 "tiles are very slow at rendering with new map"
I like the new map, but I feel that when zooming in it takes longer until the tiles are loaded. In particular it is difficult to find cities. This is the result after a while ....
<img width="1680" alt="Screenshot 2021-12-13 at 11 07 25" src="https://user-images.githubusercontent.com/10883585/145792631-8e73b223-b7e6-485a-86ca-d48df66326d0.png">

[2021-12-13 10:10] madewild commented on #280
cannot reproduce on my side, it's fully loaded in less than a second:
![tiles](https://user-images.githubusercontent.com/942488/145793055-be9b7629-d8bb-48c7-8c7a-31991dc46497.png)

[2021-12-13 13:20] raphdom commented on #246
Okay, in this case it means that your mobile is not greater than 350px which is a bit weird that we have the specifications of the iphone 7 pointing to 375px of the viewport. Can you check if you have a zoom in safari applied or you are in 100%? Thank you @gachpas

[2021-12-13 13:20] madewild commented on #241
@D063520 so what we need is the add the copyright information also to the image api: https://dev.kohesio.linkedopendata.eu/api/facet/eu/search/project/image?offset=0&limit=15

[2021-12-13 13:22] madewild commented on #241
(to replace the title by the copyright info)

[2021-12-13 13:32] D063520 commented on #241
Added
![Uploading Screenshot 2021-12-13 at 14.32.25.png…]()

[2021-12-13 13:33] D063520 commented on #241
<img width="1680" alt="Screenshot 2021-12-13 at 14 33 10" src="https://user-images.githubusercontent.com/10883585/145821722-abe0d6b3-ba48-462c-b19e-ddc26d775c9c.png">

[2021-12-13 13:37] madewild commented on #246
@gachpas could you check http://whatismyscreenresolution.net/ on your iPhone? :)

[2021-12-13 13:56] madewild commented on #247
I changed the about page.
@D063520 can you confirm and close when we don't log the geolocation anymore?

[2021-12-13 13:57] madewild opened #281 "Privacy statement"
I think we need:
a) a pop-up warning users with a link to
b) a dedicated section on data protection (e.g : https://webgate.ec.europa.eu/regiokm/display/ST/6.+Data+protection+for+RegioWiki)
@gachpas to include in our lists as a priority under the GDPR actions (also consult the DPC and finalise the record for GDPR to the DPO)
Sorry for the acronyms: GDPR: General data protection regulation, DPC (dat

[2021-12-13 14:00] #247 closed

[2021-12-13 14:12] madewild commented on #246
we checked with @gachpas and his actual resolution is 320x568px :-/
no zoom in safari...

[2021-12-13 14:49] madewild commented on #258
I discussed with Anne and we propose to leave just public/private for now for clarity's sake.
We can discuss improvements for next release...

[2021-12-13 14:49] #258 closed

[2021-12-13 14:49] #188 closed

[2021-12-13 14:50] madewild commented on #256
we don't have this code in the api right now (only the one of TO) so we leave like this for this release
@raphdom so we just need to remove the bullet points...

[2021-12-13 15:53] madewild commented on #241
sorry @D063520 I was mistaken we need the copyright info in https://dev.kohesio.linkedopendata.eu/api/facet/eu/search/project?offset=0&limit=15 :(

[2021-12-13 15:54] raphdom commented on #246
Then I will propose to postponed this small improvement to small size of screens, I will decrease the font-size, but need more time to cross check with other resolutions and sizes.

[2021-12-13 15:54] madewild commented on #256
we just need a small padding between categories etc. thx

[2021-12-13 16:30] Bisiaam commented on #245
For me it's a bit difficult to move the map with 2 fingers, it doesn't work all the time

[2021-12-13 17:10] D063520 commented on #241
<img width="1680" alt="Screenshot 2021-12-13 at 18 10 36" src="https://user-images.githubusercontent.com/10883585/145857140-a90f1a7c-c2a7-49d6-93c2-732c2c84218f.png">

[2021-12-13 19:04] madewild commented on #241
@raphdom is this ok for you?

[2021-12-14 08:45] raphdom commented on #241
@max and @D063520 it is fine. going to change, thanks

[2021-12-14 17:14] raphdom commented on #241
done, you can test it on dev

[2021-12-14 17:15] raphdom commented on #256
you can test on dev. padding was added.

[2021-12-14 18:19] madewild commented on #241
great, @gachpas can you test one last time in dev before we close?

[2021-12-14 18:26] madewild commented on #256
sorry @raphdom to bother you but I find it hard to see the padding with the big line-height... I would go for something like this:
![padding](https://user-images.githubusercontent.com/942488/146057596-400f6b55-2109-4990-b177-7e045226ccad.png)

(padding 3px instead of 2px and line-height 1.4 instead of 1.6)

[2021-12-15 08:37] raphdom commented on #256
done, can you test on dev please?

[2021-12-15 08:44] madewild commented on #256
excellent, thx

[2021-12-15 08:44] #256 closed

[2021-12-15 08:57] madewild commented on #110
Reopening this as it's unclear if we will keep the (incomplete) qlik dashboard or put something else behind the pro space.
@AThollard mentioned something done by REGIO colleagues using PowerBI...

[2021-12-16 09:20] #241 closed

[2021-12-16 14:55] D063520 opened #283 "Improve themes"
I cannot set both the policy objective and the themes filter
<img width="1680" alt="Screenshot 2021-12-16 at 15 54 01" src="https://user-images.githubusercontent.com/10883585/146394611-b3dafe2c-c80b-44e4-a346-1a3fbd4a87b7.png">

[2021-12-16 14:56] D063520 opened #284 "Add placeholder text for some filters"
the region tab is empty is not country is selected. It can be confusing. Maybe we can write ("select country first")

[2021-12-16 15:01] D063520 opened #285 "region facet is not reset"
1) select austria
2) select a region
3) unselect austria
3) the region facet still offer options but it should not

[2021-12-16 15:19] madewild commented on #283
Indeed there is something wrong with these 2 filters... @raphdom is there a quick fix?

[2021-12-16 15:19] madewild commented on #284
or hide the region filter if no country selected?

[2021-12-17 07:56] raphdom commented on #283
It is explicit like this in the code:
<img width="275" alt="Screenshot 2021-12-17 at 08 54 39" src="https://user-images.githubusercontent.com/5124917/146509450-f0fe9804-ae7f-4075-86d5-d8ccb016464d.png">
It is there for some reason, maybe we don't remember why.

[2021-12-17 08:01] madewild commented on #239
@raphdom maybe we can use this banner instead to avoid too much stretching
![banner1_v3](https://user-images.githubusercontent.com/942488/146510217-ea000615-cced-481b-abd4-46f966b73f98.jpg)

[2021-12-17 08:02] madewild commented on #283
OK, to discuss with @AThollard in January then...

[2021-12-17 11:36] madewild commented on #284
also hide programme filter (in advanced) if country not selected

[2021-12-17 13:19] madewild opened #287 "Remove red banner"
"Kohesio test version: data import and enrichment in progress"
To do in dev AFTER next release!

[2021-12-17 13:52] madewild opened #288 "Harmonise and simplify filter names"
Put in the singular when we can select only one at a time (country, etc.)
Except Keywords because we can use more than one. So:

Countries > Country
Regions > Region
Policy objectives > Policy
Themes > Theme
Funds > Fund
Programme name > Programme
Start-end > Date

[2021-12-18 14:43] D063520 opened #289 "putting loader in beneficiary page"
Some search requests are slow, because we have a lot of beneficiaries, I suggest putting a loader as in the project page

[2021-12-18 14:55] madewild commented on #289
Why not, but why is it faster for projects although we have many more projects than beneficiaries? Just trying to understand the cause...

[2021-12-19 09:34] D063520 opened #290 "Pagination not kept during navigation"
1) visit https://kohesio.eu/beneficiaries
2) change 3 pages
3) click on a beneficary
4) click back (navigation is lost)

[2021-12-19 09:41] madewild commented on #290
This is normal behaviour with a server-side pagination...
To change this we would need to encode the page as a get parameter in the url, do we want this?

[2021-12-19 09:42] madewild commented on #290
(the user can also open the beneficiary in a new tab...)

[2021-12-19 09:43] D063520 commented on #290
I think this is what a normal user expects .....

[2021-12-20 09:25] madewild commented on #22
@raphdom generate a json/csv static file with all strings to translate
@madewild check what data in the wikibase should be humanly translated

[2021-12-20 09:29] madewild commented on #110
Or link to monitoring tool?

[2021-12-20 09:29] D063520 commented on #22
Note that some things are already for example for :
<img width="292" alt="Screenshot 2021-12-20 at 10 27 04" src="https://user-images.githubusercontent.com/10883585/146744450-c7d068eb-96b0-41a5-bfe0-9050ee6e5046.png">
we have
<img width="1118" alt="Screenshot 2021-12-20 at 10 28 31" src="https://user-images.githubusercontent.com/10883585/146744510-dd68ef85-75e9-455b-880f-509dfd04c31e.png">

I woul

[2021-12-20 09:31] madewild commented on #110
If nothing is ready, hide professional space link

[2021-12-20 09:33] madewild commented on #22
Yes of course, we will do it as much as possible in the wikibase.
But some strings like "Project Information Portal for Regional Policy" etc are specific to the website only.

Try with one or two languages? (French and/or German?)
If languages are not ready, hide language selector link

[2021-12-20 09:35] madewild commented on #192
Dark mode is currently not a priority, closing.

[2021-12-20 09:35] #192 closed

[2021-12-20 09:40] madewild commented on #282
The problem is that we have 2 paginations in projects list: one for projects and one for audiovisual material...
To investigate in eUI component @raphdom

[2021-12-20 09:42] madewild opened #291 "Allow direct link to tab"
Add parameter in query string for each tab (Results, Audiovisual, Map) so that we share share direct link to one tab.

[2021-12-20 09:47] madewild commented on #214
Possibility to combine autocomplete with tree, allowing to select parent category (e.g. "Productive investment") to retrieve all children?

[2021-12-20 09:52] madewild commented on #234
Investigate with GISCO team or develop custom solution?
https://ec.europa.eu/eurostat/web/coastal-island-outermost-regions/background

[2021-12-20 09:55] madewild commented on #242
@D063520 does the backend support searching on projects AND beneficiaries at the same time?
If yes it's a matter of adding a special page to display the Google-like results over everything...

[2021-12-20 10:00] D063520 commented on #242
Yes, this is possible

[2021-12-20 10:01] madewild commented on #246
If we enable global search on all pages at the top, then we can remove the custom project search and solve this issue :)

[2021-12-20 10:06] madewild commented on #264
@D063520 could you add a countryName field to https://dev.kohesio.linkedopendata.eu/api/facet/eu/search/beneficiaries?offset=0&limit=15 ? and also to https://dev.kohesio.linkedopendata.eu/api/facet/eu/beneficiary?id=https://linkedopendata.eu/entity/Q3064623
Thanks

[2021-12-20 10:12] madewild commented on #277
To change the color of a marker, we need the backend to send a special parameter linked to the coordinates in https://dev.kohesio.linkedopendata.eu/api/facet/eu/search/project/map?granularityRegion=https://linkedopendata.eu/entity/Q11

[2021-12-20 10:13] madewild commented on #280
@D063520 can you try again to see if it's still happening?
anyone else experiencing issues with map background loading time?

[2021-12-20 10:17] madewild commented on #285
Should be solved by #284

[2021-12-20 10:18] madewild commented on #284
Add placeholder text

[2021-12-20 10:20] madewild commented on #288
Also adapt query strings

[2021-12-20 10:24] madewild commented on #289
Maybe can be solved by better cache?

[2021-12-20 10:25] madewild commented on #242
OK cool so @raphdom can move ahead

[2021-12-20 10:30] roberto-musmeci commented on #277
On my browser, images in all nubnails are squized rather then cropped. the problem is more visible in the project result list rather than on the project fishe. Anyway, it is not a big deal so up to you to decide.
for example https://kohesio.eu/projects/Q139588

![image](https://user-images.githubusercontent.com/86654885/146752654-71240a90-16ce-4a55-adde-15a1527ea931.png)

![image](https://user-ima

[2021-12-20 12:11] AlyHdr commented on #277
The API now returns a boolean flag indicating if the project is connected to infoRegio, check this example.

https://dev.kohesio.linkedopendata.eu/api/facet/eu/search/project/map?granularityRegion=https://linkedopendata.eu/entity/Q6026

This can be used in the UI to put a different marker.

[2021-12-20 13:11] roberto-musmeci commented on #266
On my browser, images in all nubnails are squized rather then cropped. the problem is more visible in the project result list rather than on the project fishe. Anyway, it is not a big deal so up to you to decide.
for example https://kohesio.eu/projects/Q139588

![image](https://user-images.githubusercontent.com/86654885/146752654-71240a90-16ce-4a55-adde-15a1527ea931.png)

![image](https://user-ima

[2021-12-22 08:58] roberto-musmeci opened #292 "Beneficiary fiche does not display beneficiary name"
Hi guys, I noticed that in Lithuania the beneficiary fiche does not display beneficiary name.
 In general, data from Lithuania are partial but beneficiary information are present.

I am not sure if this is a front end or backend problem, but I can't check the latter because dev is down :(

https://kohesio.eu/beneficiaries/Q3818845

![image](https://user-images.githubusercontent.com/86654885/147065

[2022-01-01 16:25] D063520 opened #293 "Docker file not working"
I wanted to run the application locally and thought Docker might be handy. Unfortunately I get

[code]

Can you check?

[2022-01-01 16:49] D063520 commented on #280
looks better

[2022-01-01 16:49] #280 closed

[2022-01-03 11:15] AThollard commented on #277
To be checked with @slaven777 @roberto-musmeci @Bisiaam and Anne Verbist:
The need was to tag these projects as 'highlighted' so in the KG statement add 'instance of'   'higlighted project' and
make the link to InfoRegio explicit.
Now, we have to discuss among us if this image yes/no criteria is really sufficient to 'promote' a project as 'highlighted'?

[2022-01-03 11:24] AThollard commented on #283
If I remember correctly there is a hierarchy between the PO and the TO, for example PO "Green and carbon free Europe" contains 3 Themes: Low carbon economy, climate change, environment protection.
So it should not be exclusive but the PO should filter the related Themes. I think it was implemented in the KG  but let's check together.

[2022-01-03 11:30] AThollard commented on #269
- Tab spelling: Audiovisual (videos will come at some point)
- when no resource: "No audiovisual material available"
- we should make this available on the project detail page again now that we have more content. Also maybe add the link to InfoRegio when exists with an 'additional information' link

[2022-01-03 12:05] D063520 commented on #283
Hi, it is slightly different .... the intervention field is attached both to a "Policy Objective" and a "Thematic Objective". Here an example:

https://linkedopendata.eu/wiki/Item:Q200734

So basically based on the intervention field we assign projects to a PO or a TO.

[2022-01-03 12:32] madewild commented on #283
Strange, I remember like Anne...

[2022-01-03 12:33] madewild commented on #269
@raphdom can you take care of this?

[2022-01-03 13:31] slaven777 commented on #277
About InfoRegio projects and criteria in terms of promotable / highlighted - I would say so, so having a specific  color for them sounds good to me. Also, is it possible to have them highlighted in the Results tab somehow (perhaps below the photo)?

In addition to InfoRegio ones, operations of strategic importance should be highlighted too. Not knowing what technical options we have for displaying

[2022-01-03 14:29] #293 closed

[2022-01-03 15:06] AThollard commented on #277
Thanks @slaven777
- operation of strategic importance will only be true for new projects (so for 2021-2027 period)
- How are we going to spot operation of strategic importance? This info is not in the list of mandatory fields of the list of operation ([CPR article 49](https://webgate.ec.europa.eu/regiokm/pages/viewpage.action?pageId=143757688).
- the project should be 'instance of ' 'operation of

[2022-01-03 15:39] slaven777 commented on #277
We rely on the template and manual, so MAs read there that osi's should be highlighted in the LoOs. On top of that, Inform EU meetins, trainings...

I see about Alain's point - I see it as promoting a platform (one of many) on one hand, but on the other it could be phrased as _Find out more about the project_ or similar..

Happy to talk on Thursday

[2022-01-03 16:20] AThollard commented on #277
Also for our discussion, keep in mind that we wanted to spot RegioStars projects as well.
So for our discussion my suggestion would be:
**Project details page**:
 - We add the info: Highlighted project,
 - We also add a project category (or name it as you want) with different values: RegioStars, Operation of strategic importance, ...Major project (for 2014-2020), Communication Campaign, you name i

[2022-01-03 16:58] AThollard commented on #110
Nothing's mature enough for March, so I would say hide for now.
(we should prepare a new version of templates + guidelines for version 1.2)

[2022-01-03 17:04] AThollard commented on #239
@slaven777 @Bisiaam are you happy with removing the carousel and just keeping a thinner banner? to be discussed on Thursday 06/12.
Also to be linked with the visuals we want to use for Communication in social media and with Wikimedia.

[2022-01-03 17:06] AThollard commented on #283
On this one I really have my doubts. I am pretty sure that it was not exclusive...maybe we mixed-up with the selection we've made for the home page?

[2022-01-03 17:08] AThollard commented on #279
I am on it :-)

[2022-01-03 17:10] AThollard commented on #256
Fine with me.

[2022-01-03 17:12] AThollard commented on #247
Fine you can close this one then

[2022-01-04 06:18] madewild commented on #110
@raphdom can you hide it? then I will move to 1.2 milestone

[2022-01-04 08:10] Bisiaam commented on #239
For me I like the idea of the carrousel, it's a great way to start when you don't know a website because it's big and on the top of the page. For us, it's also a great way to promote some information (on a project or on Kohesio itself).
Visually I really like the carousel from cohesion data: https://cohesiondata.ec.europa.eu
<img width="845" alt="image" src="https://user-images.githubusercontent.c

[2022-01-04 08:18] D063520 commented on #239
I think we need something at the beginning. I showed the webpage to some Family and Friends and if you do not tell anything people see it and do not know what to do and what it is about. In my opinion one needs to help the user a bit understanding. Something like "Discover projects financed by the EU across Europe". "Click on the map and see which projects are financed nearby you". Use the search

[2022-01-04 08:22] Bisiaam commented on #277
I agree with you Anne and Slaven. We should already have all the Regiostars projects on Inforegio (and labeled as it) and in the future (before the merge between Inforegio and Kohesio) we want to have all the OSI on Inforegio.

I understand Alain's point but if we want to prepare the merge, shouldn't we have all the information on Inforegio directly on Kohesio, and not juste a link "More on the pr

[2022-01-04 08:26] Bisiaam commented on #239
I agree. Maybe next to the map (which is really big), we can have a text to present Kohesio in one sentence and a small text to explain how to use it

[2022-01-05 10:52] madewild opened #307 "Expose info regio website"
https://linkedopendata.eu/wiki/Property:P1742 for all projects concerned

[2022-01-05 14:39] AThollard commented on #283
After discussing with colleagues, we suggest the following:
Selecting a PO should filter the related TOs, and vice versa.
Groups of TOs by PO below (thanks @Bisiaam )

**- Smart   Europe**
Research &   Innovation
Information   & Communication Technologies
SME   Competitiveness

  **Green and Carbon free Europe**
Low-Carbon   Economy
Climate Change   Adaptation & Risk Prevention
Environment   Prote

[2022-01-05 15:05] AThollard commented on #287
For v1.0 can we just update the text an add a teaser: 'Official Kohesio launch 17/03/2022"? And maybe a countdown if easy to implement?

[2022-01-05 15:17] AThollard commented on #261
@slaven777 @Bisiaam @roberto-musmeci  Could you please prepare a draft FAQ getting inspiration from https://ec.europa.eu/regional_policy/en/faq/about_open_data/
Most obvious ones for me:
What is Cohesion Policy? (link to https://ec.europa.eu/regional_policy/en/policy/what/investment-policy/)
Who provides the data?
Which funds are covered in Kohesio?
Can I download the datasets
What is a Knowledge

[2022-01-06 06:21] madewild commented on #283
Thank you @AThollard
@raphdom do you foresee a problem to implement this?

[2022-01-06 09:39] madewild commented on #277
@roberto-musmeci can you create the entities corresponding to the categories (regiostars, etc.) ? let's check what already exists
then use a sparql query with multiple instance of separated by OR

[2022-01-06 09:59] madewild commented on #283
@AThollard check the alignment with colors on https://dev.kohesio.eu/themes

[2022-01-06 10:18] madewild opened #294 "Add link to inforegio programme"
For instance on https://kohesio.eu/projects/Q139379
Currently we have:

Programme: Île-de-France et Seine

we want to have:

Programme: [Île-de-France et Seine](https://ec.europa.eu/regional_policy/en/atlas/programmes/2014-2020/france/2014fr05m0op001)

the backend will provide the URL, cf. https://github.com/ec-doris/kohesio-data/issues/176

[2022-01-06 10:20] madewild opened #295 "Extra n/a to remove"
For instance on https://kohesio.eu/projects/Q139379
Currently we have:

Managing authority name: Région Ile-de-France n/a

we want to have:

Managing authority: Région Ile-de-France

the backend provides the correct data: https://kohesio.linkedopendata.eu/api/facet/eu/project?id=https://linkedopendata.eu/entity/Q139379
"managingAuthorityLabel":"Région Ile-de-France"

so the extra n/a seems to be h

[2022-01-06 10:21] madewild commented on #295
We can also shorten "Managing authority name" to just "Managing authority"

[2022-01-06 11:19] AThollard commented on #283
Hi @madewild, the colors are aligned but not the titles
https://cohesiondata.ec.europa.eu/themes

Colors are not consistent with the PO/TO repartition but we give priority to the consistency among platforms.

Is it difficult to change the TO labels at this stage? Impact on the filters as well.
If yes can be done for milestones 1.2
- SME competitiveness -> Competitiveness of SMEs
- Transport & Ener

[2022-01-06 13:24] AThollard commented on #279
Request sent to DG COMM with the project charter approval by the ITCB on 04/01/2021

[2022-01-10 11:03] AThollard opened #296 "Licences and Intellectual Property rights info"
Create a section to mention the licenses and IP rights info on :
- audiovisual content
- datasets
- European union emblem, logo

cc: @slaven777 @roberto-musmeci

[2022-01-10 13:27] AThollard commented on #281
Hi @madewild , could you please confirm that we don't use geolocation info anymore for the 'project near me' feature.
And so basically at this stage we do not use or process personal data at all in Kohesio.

[2022-01-10 13:43] D063520 commented on #281
Hi, so we use the IP to infer the geo location. But we do not store this piece of information anywhere. In this sense we do not store personal information.

[2022-01-10 13:50] AThollard commented on #281
Thanks @D063520 , we will double check with our data protection correspondent to be sure.

[2022-01-11 14:27] Bisiaam opened #297 "New tab & Firefox"
When I open a project in a new tab on Firefox, I see a blank page.

![image](https://user-images.githubusercontent.com/85291854/148960845-f29b3fed-9194-43ed-9c37-398fb1a82610.png)

We tried on another computer with @roberto-musmeci and on dev.kohesio but same issue. It works with Chrome

[2022-01-11 14:38] madewild commented on #297
I confirm, strange issue... @raphdom any idea what is happening?

[2022-01-14 10:52] madewild opened #298 "Update footer"
Align with ECL

[2022-01-17 08:38] madewild commented on #239
So the goal now is:
- to have three visuals clearly adrressing three kinds of publics
- to make the carousel rotate automatically
We are waiting for the visuals...

[2022-01-17 10:32] AThollard commented on #298
for info: @gachpas

[2022-01-17 10:33] AThollard commented on #296
@madewild could you please assign the issue to @gachpas? thanks

[2022-01-17 10:40] gachpas commented on #296
@madewild , in case we aligne the Kohesio footer to the ocntent one can find on InforRegio footer, we could summarise all the points of this issue under Legal notice, together with EC copyright.

What do you think?

[2022-01-17 10:44] madewild commented on #296
Related to #298
OK for me, feasability to check with @raphdom

[2022-01-17 10:47] gachpas commented on #296
I will check and agree with @AThollard  and  Slaven if we can have in the footer a legal notice link which would lead to a page where all lega matters are adressed, Privacy policy, Copyright (EC logo, pics, ...), any disclaimer (external sites, ....).
Br,
Pascal

[2022-01-17 11:03] AThollard commented on #296
Let's indeed discuss among us before @gachpas
InfoRegio footer is very rich. We have to pick from there 1) what is mandatory 2) what is important for Kohesio
![image](https://user-images.githubusercontent.com/80402472/149758168-a061f2eb-db9b-429a-8926-32acd1a6906c.png)

[2022-01-19 06:31] madewild opened #299 "Display transliteration"
API https://dev.kohesio.linkedopendata.eu/api/facet/eu/search/beneficiaries?offset=0&limit=15 now has a new field "transliteration" which is null for most beneficiaries but used in BG, CY and GR.

The goal is to have something like this:
![translit_bg](https://user-images.githubusercontent.com/942488/150076633-c1a4cef3-371e-40c7-ac30-d0f529c0ea32.png)
(only the last beneficiary has been changed he

[2022-01-19 15:39] D063520 commented on #282
Hi,

I run over this ... basically when clicking on these beneficiaries:

https://dev.kohesio.eu/beneficiaries?sort=Number-of-Projects-(descending)

the request is slow (I guess because they have so many projects). So when the pagination is introduce the performance should be checked.

Salut

[2022-01-20 14:44] madewild commented on #277
@roberto-musmeci @AThollard @Bisiaam @slaven777 we have a first version on https://dev.kohesio.eu/ !
You can zoom on France > Ile-de-France for instance and test the red markers
Any feedback welcome :) Currently it's only infoRegio projects...

[2022-01-20 14:48] D063520 commented on #277
I like this new feature : )

[2022-01-20 15:05] Bisiaam commented on #277
I really like this feature ! We can spot the highlighted projects very easily, bravo!

I see a few more projects on Inforegio on Auvergne-Rôhne-Alpes
- https://ec.europa.eu/regional_policy/en/projects/France/a-french-platform-to-reinvent-home-help
- https://ec.europa.eu/regional_policy/en/projects/France/a-brighter-future-for-derelict-land-in-clermont-ferrand-france
- https://ec.europa.eu/regional

[2022-01-20 15:07] madewild commented on #277
the reconciliation between inforegio and kohesio is still partial, maybe we can add them later...

[2022-01-20 15:10] roberto-musmeci commented on #277
Great job guys !!! :D

[2022-01-20 15:20] AThollard commented on #277
Great job, I like the feature very much!
However not sure about the red. Personally, I have the feeling that it spots something wrong rather than something good.
Sorry to be so  picky, maybe I am the only one to have this impression. Can we test it widely? And maybe try another color? the Europe yellow for instance (maybe risky for the visibility) or any other color.

[2022-01-20 15:28] AThollard commented on #277
By the way, here is the official 'palette' communicated by the Graphic designers in our unit
[Priorities_GeneralGuidelines_An Economy that works for people.pdf](https://github.com/ec-doris/kohesio.eu/files/7906428/Priorities_GeneralGuidelines_An.Economy.that.works.for.people.pdf)
)

[2022-01-20 15:28] D063520 commented on #277
small video on how you can increase the coverage, starting from the links of Amaury:

https://drive.google.com/file/d/1yjVLaMsKX7wL5Ptn4AScygx9LTd_YViP/view?usp=sharing

[2022-01-20 15:39] Bisiaam commented on #277
Regarding the color, some HoU push to use the "official" colors, so it may be good to use them.
@D063520 good job. Usually as keyword we use the official name of the project (mentioned in the last paragraph) because that the name we should find on the List of Operations (and on Kohesio), but not always apparently

[2022-01-21 10:59] madewild commented on #277
Let's keep red for now and see later about colour changes.
Still to do: change project detail api and display "highlighted project" on project detail page

[2022-01-21 11:09] madewild opened #300 "Change default sort"
on https://dev.kohesio.eu/projects the default sort should remain "no sort" (just rename it to "Relevance"), i.e. images first
but when using filters and/or keywords, the default sort should be "Total Project Budget (descending)"
the backend will reflect this change

[2022-01-21 11:22] roberto-musmeci opened #301 "Project icon"
I noticed that for some projects the icon is missing in the project fiche.
However, the icon is present in the list of operations.
I would say that is is very low priority. I just open the issue so we rember to fix at some point.

A few examples
https://kohesio.eu/projects/Q2547990
https://kohesio.eu/projects/Q2854126

---
_List of results_
![image](https://user-images.githubusercontent.com/866548

[2022-01-21 11:27] madewild commented on #301
I think there is a bug and it it never shown! ;)

@raphdom there is a class called class="default-theme-image ng-star-inserted" but no image appears... can you investigate?

[2022-01-21 13:29] madewild opened #302 "Integrate ECL"
Cf. DG COMM requirements

[2022-01-21 16:06] D063520 opened #303 "program filter on the facets not working"
In the project search the program filter is not opening. I guess the API is not called.

<img width="685" alt="Screenshot 2022-01-21 at 17 06 27" src="https://user-images.githubusercontent.com/10883585/150560190-9074ba71-c7ff-46aa-b887-73f2c5485b5c.png">

[2022-01-22 07:36] madewild commented on #303
@svili could you check?

[2022-01-24 12:34] svili commented on #303
So actually the programme name filter works, but only when a country is selected.
I can make it work without country selected if thats what you'd like?
![image](https://user-images.githubusercontent.com/11196689/150783711-87f909c7-c16d-40c4-a6f7-00be3dc6e03e.png)

[2022-01-24 12:37] madewild commented on #303
ah yes it's normal, see #284
we should add a placeholder text "Select country first" in both Region and Programme
so no issue here

[2022-01-24 12:37] #303 closed

[2022-01-24 12:39] madewild commented on #284
"Select country first" should be the default text for both filters.

[2022-01-24 16:11] svili commented on #284
Unfortunately in the eUI component library the placeholder doesn't work if the selector options are empty.
So this is the best I could do:
- If there is no country selected add "select country first" to the label + disable the selector
- When a country is selected activate the selector and remove the addition of the label text
![image](https://user-images.githubusercontent.com/11196689/150820013-2

[2022-01-24 16:54] madewild commented on #284
@roberto-musmeci @athollard does this seem acceptable?

[2022-01-24 18:09] roberto-musmeci commented on #284
Good for me

[2022-01-25 14:43] svili commented on #301
I fixed this, but just to signal what was the problem here:
The endpoint `https://dev.kohesio.linkedopendata.eu/api/facet/eu/project` doesnt return an `objectiveId` field but an `objectiveIds` list of strings.
On the project listing view this objectId is being used, so I guess that API returns this field normally.
I fixed by adding the objectiveIds field to the Project model and using that on the

[2022-01-25 15:09] D063520 commented on #301
I do not remember exactly, but my guess is that at the beginning we thought a project has only one thematic objective. But this is not true. It has multiple, so objectiveIds is fine. So I would keep it like this and close this issue ....

[2022-01-25 15:32] madewild commented on #301
indeed it's normal, we changed from id to ids

[2022-01-25 15:38] svili commented on #264
Added a tooltip for this in the right places. If the countryName is not available it falls back to the countryCode.
![image](https://user-images.githubusercontent.com/11196689/151008339-d18801ad-ce16-49bb-a8c8-fcac7cbb4594.png)

[2022-01-25 17:14] madewild commented on #294
the url is now provided, cf #307

[2022-01-25 17:17] madewild commented on #307
Thank you @DiaZork, @svili will take it from here.
However, the program url is currently
https://ec.europa.eu/regional_policy/opempl/detail.cfm?cci=2014FR05M0OP001&lan=en

and I thought it should be
https://ec.europa.eu/regional_policy/en/atlas/programmes/2014-2020/france/2014fr05m0op001

@roberto-musmeci @bisiaam could you confirm which one we should use?

[2022-01-25 17:53] #264 closed

[2022-01-25 17:53] #295 closed

[2022-01-25 17:53] #301 closed

[2022-01-25 17:58] raphdom commented on #234
So, finally we have the first version of this feature, on my view maybe we could now zoom in the country, like France we have the world zoom because of the overseas regions. I think if we zoom in only in France, could me more interesting, as now we have a separated panel to this (@D063520):
<img width="1029" alt="Screenshot 2022-01-25 at 18 54 24" src="https://user-images.githubusercontent.com/512

[2022-01-25 19:24] madewild commented on #234
Very nice, thank you @raphdom
Indeed we should adapt the geometries to zoom in on continental France and Portugal instead of zooming out.

[2022-01-26 06:10] madewild commented on #295
Checked and validated on https://dev.kohesio.eu/projects/Q139379

[2022-01-26 06:17] madewild commented on #301
Fixed, @roberto-musmeci you can verify on:
https://dev.kohesio.eu/projects/Q2547990
https://dev.kohesio.eu/projects/Q2854126

However, we have a date modeling issue for projects with multiple TOs... For instance https://dev.kohesio.eu/projects/Q68696 has 2 themes but only one of the two icons can be displayed (at random?). So here "Education & Training" is listed in the themes but ignored for the

[2022-01-26 06:23] madewild commented on #264
OK tested and approved on both https://dev.kohesio.eu/beneficiaries and https://github.com/ec-doris/kohesio.eu/issues/264
So @AThollard  for now we display the country code but if we localize the website later we could add the country name in the local language of the user.

[2022-01-26 06:27] madewild commented on #284
I tested on https://dev.kohesio.eu/projects, working for the region filter but I'm noticing the same behaviour described on https://github.com/ec-doris/kohesio.eu/issues/303 : nothing in the Programme filter even when one country is selected. @svili can you check?

[2022-01-26 06:31] madewild commented on #299
This is currently not working on
https://dev.kohesio.eu/beneficiaries?country=Bulgaria
https://dev.kohesio.eu/beneficiaries?country=Cyprus
https://dev.kohesio.eu/beneficiaries?country=Greece

Also, it has yet to be implemented on the beneficiary detail page. @svili we can discuss further today.

[2022-01-26 08:03] AThollard commented on #234
Very nice indeed @raphdom
One remark on the wording please use 'Outermost regions' rather than 'Overseas regions' -> important to get colleagues from Regio on board.
Also for my understanding, are you going to display this ribbon with all the outermost regions (OR) on the general map, and then when someone clicks on France, reduce the ribbon to French OR only? Or the ribbon appears only when click