[2022-01-26 08:04] AThollard commented on #234
Happy to show the map to colleagues for validation when these small modifs are done.

[2022-01-26 08:25] Bisiaam commented on #264
For Greece should we use GR or EL ?
https://publications.europa.eu/code/pdf/370000en.htm

[2022-01-26 08:35] madewild commented on #264
"The abbreviations to use are the ISO codes, except for Greece, for which EL is recommended (instead of GR)."

Did not know that... should we change everywhere at some point then?

[2022-01-26 08:47] Bisiaam commented on #264
I guess so

[2022-01-26 08:57] Bisiaam commented on #307
Yes you have all the OPS here: https://ec.europa.eu/regional_policy/en/atlas/programmes

[2022-01-26 09:07] madewild commented on #284
Actually the programs are not provided by the backend: https://dev.kohesio.linkedopendata.eu/api/facet/eu/programs?country=https://linkedopendata.eu/entity/Q16

it works in prod: https://kohesio.linkedopendata.eu/api/facet/eu/programs?country=https://linkedopendata.eu/entity/Q16

@DiaZork @D063520 could you fix this?

[2022-01-26 09:10] madewild commented on #307
@DiaZork could you change the urls to the atlas? don't know where the old one comes from...

[2022-01-26 09:12] madewild opened #308 "Change Greek country code from GR to EL"
"The abbreviations to use are the ISO codes, except for Greece, for which EL is recommended (instead of GR)."

Did not know that... should we change everywhere at some point then?

_Originally posted by @madewild in https://github.com/ec-doris/kohesio.eu/issues/264#issuecomment-1021977387_

[2022-01-26 09:19] DiaZork commented on #284
It's fixed now

[2022-01-26 09:20] D063520 commented on #284
ahaha .. I was also on it and it just worked! Thank you Jonathan!

[2022-01-26 09:32] madewild commented on #284
Perfect!

[2022-01-26 09:32] #284 closed

[2022-01-26 09:33] roberto-musmeci commented on #307
Maybe just a few words to clarify.

All programs financed by REGIO Funds (e.g. ERDF, CF) are availalbe in InfoRegio
https://ec.europa.eu/regional_policy/en/atlas/programmes

Programs finanaced by the EMPL funds (e.g. ESF) alone are intested in DG EMPL portal only.
This is why we have two possible urls - _I am  trying to find the relevant post in github._

Programs financed both by REGIO and EMPL f

[2022-01-26 09:35] madewild commented on #307
OK very clear, thank you @roberto-musmeci !

[2022-01-26 09:37] madewild commented on #234
@AThollard the two options are possible but the one currently implemented (by country) has the advantage of not overwhelming the map with many regions...

[2022-01-26 09:38] madewild commented on #308
Check wherever it has to change (data - backend - ui).

[2022-01-26 09:39] madewild commented on #264
Moved to a separate issue since this one is closed.

[2022-01-26 10:40] madewild commented on #234
@raphdom so it's tricky to change the geometries because there is an impact on the filters...
could we try hardcoding the frame (max/min lat/long) for France to zoom by default on the continental part?
for Spain and Portugal not sure it's needed, we can discuss after
also, when zooming on a continental region we should maybe hide the ribbon (show it only at "France" level):
![hide_ribbon](https://

[2022-01-26 10:59] AThollard commented on #234
On the other side, it could be a way to give more visibility to the outermost regions that are generally forgotten on maps from the very start.
Let me discuss this with colleagues internally in Regio (it's a 'communication' decision). The option implemented now is already very good.

[2022-01-26 12:54] svili commented on #294
Added the link in the commit, just one note for the given project the link now leads to this:
https://ec.europa.eu/regional_policy/opempl/detail.cfm?cci=2014FR05M0OP001&lan=en

Which has the same text as you wanted but kinda unformatted, is this intended?

[2022-01-26 15:37] madewild commented on #294
Indeed, let's wait until we have the correct link in the backend to close...

[2022-01-26 16:09] svili commented on #285
I've added a fix to the original solution of #284 in #310 so this should fix this too.

[2022-01-26 16:20] omar0z commented on #110
Should be already hidden in dev.

[2022-01-26 16:42] madewild commented on #110
Great! By the way @omar0z could you also hide the language selector? We don't have time to make the site multilingual for the official launch...

[2022-01-27 07:40] madewild commented on #277
@svili easy fix for now: if there is a inforegio project website (caution, different from inforegio programme website !) then it is highlighted and we can mark it as such, on https://kohesio.eu/projects/Q139379 for instance
cf. #307
reuse the red star of the map? @roberto-musmeci where is the best place to put this info on the project fiche?

[2022-01-27 08:25] Bisiaam commented on #277
Maybe we could have another category "Highlighted" in the project info with different label Inforegio, Regiostars, Major Project etc.
and we should have at the end of the description "More on the project" with a link (to Inforegio project website for example)

[2022-01-27 08:32] madewild commented on #277
OK but this will be for later... for the launch we agreed to have a simpler version with just "highlighted" :)

[2022-01-27 08:44] roberto-musmeci commented on #277
@madewild
what do you say below the description or in the project info box ?
sorry for the screenshot quality
![image](https://user-images.githubusercontent.com/86654885/151323178-382ff2b3-9e33-4779-a536-d6c362896e8b.png)

[2022-01-27 09:23] madewild commented on #277
ok will discuss with @svili to showcase a first version at the meeting tomorrow

[2022-01-27 09:28] madewild commented on #302
Type of website:
This website falls under the category of "Harmonised EC branded websites – Web information systems (group 1)" website according to the Europa Web Guide and must respect all rules and guidelines applicable to this type of website.
Content class:
The content class to be indicated in the site header and footer is EU regional and urban development.
Design requirements:
As this is a ha

[2022-01-27 09:28] madewild commented on #302
https://wikis.ec.europa.eu/display/WEBGUIDE/03.+EC+branded+harmonised+websites+design

[2022-01-27 09:30] madewild commented on #302
Move to https://eui.ecdevops.eu/eui-showcase-ecl-10.x/home

[2022-01-27 12:59] madewild commented on #299
@svili almost there but could we have the link only on the blue text? so closing the </a> before the transliteration... thanks! :)

[2022-01-27 13:11] madewild commented on #288
Excellent!
@svili before we close could you also do the same for the filters on https://dev.kohesio.eu/beneficiaries ?

Countries > Country
Regions > Region (+ disable by default + "(select a country)")
Funds > Fund
Programme name > Programme

[2022-01-27 13:16] madewild commented on #294
Still to be fixed in the backend @DiaZork

[2022-01-27 13:17] madewild commented on #307
The inforegio programme website is there but not the inforegio **project** website.
@svili can you check the api? we can discuss the correct way to add this...

[2022-01-27 13:20] D063520 commented on #307
It's in the api. For example https://dev.kohesio.eu/projects/Q139379
<img width="1680" alt="Screenshot 2022-01-27 at 14 20 21" src="https://user-images.githubusercontent.com/10883585/151367028-51a0ff06-7b6d-4b3c-8b19-e47bb0d55677.png">

[2022-01-27 13:22] madewild commented on #307
Yes yes indeed, only a front-end problem (the issue was not very clear and mixing two things, sorry about that)

[2022-01-27 14:46] madewild commented on #282
This is not working on https://dev.kohesio.eu/beneficiaries/Q3258786 for instance
@omar0z can you check what is wrong?

[2022-01-27 15:34] madewild commented on #282
Nice, working now! it was just the build that failed
@omar0z could we put the pagination navigation on the right like on https://dev.kohesio.eu/projects and https://dev.kohesio.eu/beneficiaries?
I don't understand why class="right-table-tools" is not doing this out of the box...

[2022-01-27 15:38] madewild commented on #279
https://kohesio.development.ec.europa.eu/ working now, other envs will follow

[2022-01-27 15:56] D063520 commented on #282
still this is slow:

https://dev.kohesio.eu/beneficiaries?sort=Number-of-Projects-(descending)

we need to look into it ....

[2022-01-27 15:59] madewild commented on #282
for me it's not slow but I guess it has just been cached
anyway it's a different issue from this one, we can open an issue for that in the backend if you want

[2022-01-27 16:00] D063520 commented on #282
yes please ....

[2022-01-27 20:50] madewild commented on #299
Perfect now: https://dev.kohesio.eu/beneficiaries?country=Bulgaria
However there is a minor issue for Cyprus that should be fixed in the backend, some transliterations are displayed although the name is en English: https://dev.kohesio.eu/beneficiaries?country=Cyprus
![cy_translit](https://user-images.githubusercontent.com/942488/151441380-d512fc52-8d9f-4506-9f62-91ed686a5e05.png)
Opening a separat

[2022-01-27 20:54] madewild commented on #288
Perfect now.

[2022-01-27 20:54] #288 closed

[2022-01-27 20:54] madewild commented on #285
Now fixed also for beneficiaries.

[2022-01-27 20:54] #285 closed

[2022-01-27 20:56] madewild commented on #277
@roberto-musmeci here's a first proposal: https://dev.kohesio.eu/projects/Q139379
![mellisen_hl](https://user-images.githubusercontent.com/942488/151442219-19a50b7c-efdd-4c2c-b664-1d2c898e9fda.png)

We can of course adapt based on your feedback...

[2022-01-27 21:03] madewild commented on #300
@AThollard @roberto-musmeci you can test with a keyword or a filter on https://dev.kohesio.eu/projects
@svili there is still a side effect: if you select a sort criterion on the main page and then go back to "no sort", it still tries to filter by decreasing budget (which currently fails because cache is missing, cf. https://github.com/ec-doris/kohesio-backend/issues/97)

side note: could we rename

[2022-01-27 21:04] madewild commented on #307
This is done, if we need to tweak you can mention it in #277

[2022-01-27 21:05] #307 closed

[2022-01-27 21:07] madewild commented on #298
Linked to #302

[2022-01-27 21:09] madewild commented on #234
@svili could you already rename "Overseas regions" into "Outermost regions" in the ribbon?

[2022-01-27 21:11] madewild commented on #269
@svili the first two changes are cosmetic
the third one already exists, we should uncomment in the code when we have something to show

[2022-01-27 21:12] madewild commented on #214
@raphdom do you want to delegate this? or we postpone to 1.1?

[2022-01-28 07:45] D063520 opened #315 "No program, should be n/a or not displayed"
https://dev.kohesio.eu/projects/Q2900235

<img width="1680" alt="Screenshot 2022-01-28 at 08 44 04" src="https://user-images.githubusercontent.com/10883585/151507091-3f2df5f6-e03c-4657-b235-3361f576a199.png">

[2022-01-28 07:48] madewild commented on #315
Should indeed be n/a.
Strange it should have been fixed by https://github.com/ec-doris/kohesio.eu/issues/252
Regression?

[2022-01-28 08:03] svili commented on #315
The problem was that there was programLabel but no infoRegioUrl so no link. Fixing.

[2022-01-28 09:07] madewild commented on #234
@AThollard it has been renamed now

[2022-01-28 10:26] #315 closed

[2022-01-28 10:35] madewild commented on #315
Now there is a programme for the same project, strange...

[2022-01-28 10:57] madewild commented on #234
@raphdom we discussed this during the meeting, could you try adding the ribbon with all 8 regions on the main map? it would also address comments by REGIO colleagues that the right part of the map is out of EU scope so can be hidden (instead of resizing the map)

also, could you aligne the width of the ribbon with the "Projects near me" button above?

[2022-01-28 10:58] madewild opened #318 "Hide names of non-EU country on the map"
Check if GISCO provides a layer with only the names of EU countries?

[2022-01-28 11:01] madewild opened #319 "Add default image when intervention field is undefined"
Currently the image is a broken link: https://dev.kohesio.eu/projects/Q3748753
Pointing to https://dev.kohesio.eu/assets/images/topics/undefined.png which does not exist
Let's add a question mark there? @raphdom did you already have something in mind?

[2022-01-28 11:11] madewild opened #320 "Harmonise budget terminology"
1. On https://kohesio.eu/projects
    - in the sort menu
        - Total Project Budget (ascending) -> Budget (ascending)
        - Total Project Budget (descending) -> Budget (descending)
    - in the search results (below the actual amount)
        - Total project budget -> Budget
    - in the advanced filters
        - TOTAL PROJECT BUDGET > BUDGET
2. On https://kohesio.eu/projects/Q139379 (for

[2022-01-28 11:15] roberto-musmeci commented on #261
Starting the work on that

[2022-01-28 11:18] madewild commented on #277
So decisions following the meeting:

- star should be moved to the right of the project title
- star should be in European blue (#203F79) instead of red
- "Highlighted" should be removed from Project info, but added in a tooltip when hovering over the star
- "InfoRegio Website" should be renamed "Discover in InfoRegio" (with no bold text before) and this should be preceded by a small vertical padd

[2022-01-28 11:18] madewild commented on #261
OK, let me know if we need to postpone to 1.1

[2022-01-28 11:23] madewild commented on #277
Also, the markers on the map should stay red but the stars should use European blue:
![blue_star](https://user-images.githubusercontent.com/942488/151538553-e59d53c1-68d0-46d6-88e8-0740bf376b03.png)

[2022-01-28 11:27] madewild commented on #234
And reminder: hardcode the frame (max/min lat/long) to zoom by default on the continental part for France **but also Spain and Portugal**

[2022-01-28 11:28] madewild commented on #234
Oh sorry and also: disable the ribbon (or improve) on mobile:
![ribbon_mobile](https://user-images.githubusercontent.com/942488/151539322-49d9f3d1-fc79-40ce-9b0b-173fb95ed018.png)

[2022-01-28 11:48] madewild commented on #294
OK closing, will follow-up in https://github.com/ec-doris/kohesio-data/issues/176

[2022-01-28 11:48] #294 closed

[2022-01-28 11:58] madewild commented on #260
Linked to #261 and #298

[2022-01-28 12:03] madewild commented on #266
@raphdom is there an easy solution to crop instead of squeezing/strectching? feel free to re-assign...

[2022-01-28 12:31] madewild commented on #95
Soon on https://kohesio.test.ec.europa.eu/ ...

[2022-01-28 12:42] madewild opened #321 "Hide language selector"
Great! By the way @omar0z could you also hide the language selector? We don't have time to make the site multilingual for the official launch...

_Originally posted by @madewild in https://github.com/ec-doris/kohesio.eu/issues/110#issuecomment-1022382745_

[2022-01-28 12:43] madewild commented on #321
After the launch we need to display it again to perform tests on #22

[2022-01-28 13:56] madewild opened #322 "Add redirection"
Redirect https://kohesio.eu to https://kohesio.ec.europa.eu <s>when we have the countdown there</s> for the official launch.

[2022-01-28 17:30] AThollard commented on #261
@gachpas could you please coordinate this pls? and see for when we would be able to deliver.
Thnks

[2022-01-30 21:27] D063520 opened #323 "ordering when clicking on thematic objective (TO) and search is not harmonized"
- search for TO in search triggers order by budget
- click on icon of TO (from the homepage) triggers no order

[2022-01-31 07:07] raphdom commented on #246
We will change completely the header with the new ECL look and feel, I suggest to postponed this issue for the release that we will implement the ECL

[2022-01-31 08:27] svili commented on #323
Can you guys elaborate on this?
We implemented default ordering by budget on purpose.
But the second one I don't understand.

[2022-01-31 08:35] madewild commented on #323
To adapt on https://dev.kohesio.eu/ and https://dev.kohesio.eu/themes
I discussed with @svili

[2022-01-31 09:32] svili commented on #269
The first two changes are fine, but for the third one:
How can I know if there are related materials for the project and to where should a link point to? The backend doesnt seem to provide such information.

[2022-01-31 09:38] madewild commented on #269
I think you need to call the image API: https://dev.kohesio.linkedopendata.eu/api/facet/eu/search/project/image?offset=0&limit=15
but does this api allow to query on one project only? @D063520 @DiaZork ?

[2022-01-31 09:45] raphdom commented on #289
@D063520 we could close it because you already improve the cache on beneficiary?

[2022-01-31 09:46] raphdom commented on #242
@D063520 it is possible, good, but it is already implemented? There is an endpoint to get both mixed?

[2022-01-31 09:48] raphdom commented on #239
@AThollard when do we get the new images?

[2022-01-31 09:49] #95 closed

[2022-01-31 09:56] gachpas commented on #261
Hello @madewild and @raphdom ,
Slaven will provide the FAQ content by 21/02/2022.
Could you please plan for some space in your busy planning for adding the content on Kohesio around that date?
Thanks and kr,
Pascal
cc: @AThollard

[2022-01-31 10:00] madewild commented on #261
OK we wait for the contents and then @prototorpedo will implement it for release 1.1

[2022-01-31 10:10] svili commented on #269
#325 only added the box but not the links, will come back to it later just wanted to push out a bunch of other changes.

[2022-01-31 10:23] svili commented on #300
In #325 the side effect should be fixed (along with the name).

[2022-01-31 10:43] #321 closed

[2022-01-31 10:53] madewild commented on #323
@svili it's fixed on the homepage but not on https://dev.kohesio.eu/themes

[2022-01-31 10:55] madewild commented on #320
@slaven777 do you confirm ths new terminology is OK from a communication point of view?

[2022-01-31 10:58] madewild commented on #319
@roberto-musmeci this is ok for you?
https://dev.kohesio.eu/assets/images/topics/question_mark.png

[2022-01-31 10:59] AThollard commented on #239
@raphdom I've asked REGIO graphic designers, waiting for their input. What would be your deadline to include this in version 1.0?

[2022-01-31 11:00] madewild commented on #300
Closing, @roberto-musmeci feel free to reopen if something is not as expected.

[2022-01-31 11:00] #300 closed

[2022-01-31 11:02] D063520 commented on #289
I'm still for putting a loader ... I mean it is the same as in the project page ....

[2022-01-31 11:05] roberto-musmeci commented on #319
Maybe a very general image hinting to project ?
something of this sort
https://www.flaticon.com/premium-icon/idea_3234971?term=project&page=1&position=3&page=1&position=3&related_id=3234971&origin=tag

[2022-01-31 11:09] madewild commented on #269
@svili could you remove the allcaps and the exclamation mark? I find it a bit aggressive ;)

NO AUDIOVISUAL MATERIAL AVAILABLE! -> No audiovisual material available

And on the project fiche:

Related materials > Audiovisual material
"Images & Videos" + "Communication campaign" can be removed
I propose we just add the images from the api under the heading "Audiovisual material"

[2022-01-31 11:10] madewild commented on #239
Still this week would be better...

[2022-01-31 11:12] madewild commented on #289
Indeed let's harmonise. @raphdom I let you reassign

[2022-01-31 11:13] madewild commented on #319
But don't we want to attract the attention to the fact that the category of intervention is missing, and should not be?

[2022-01-31 11:19] roberto-musmeci commented on #277
Very good !
it could be nice to have a star also next to the title in the result list if it is not too much work
![image](https://user-images.githubusercontent.com/86654885/151783413-083b5d14-cca5-4d41-9a40-3bf6e48affbd.png)

[2022-01-31 11:22] madewild commented on #277
So @svili if "images" is not empty you can consider it as highlighted and add the star
later on we can worry about a better way in the backend...

[2022-01-31 11:35] roberto-musmeci commented on #319
As discussed with @madewild, we could have maybe something less actractive but still generic enough

[2022-01-31 11:54] madewild commented on #319
something like https://cdn2.iconfinder.com/data/icons/design-thinking-9/66/27-512.png ?

[2022-01-31 11:55] roberto-musmeci commented on #319
Good for me ! :)

[2022-01-31 12:00] D063520 commented on #242
it is possible, but this is not for milestone 1, no?

[2022-01-31 12:20] D063520 opened #326 "When clicking on a point on the map, two requests are done"
If I'm not wrong, two requests are done for each selected point on the map ....

[2022-01-31 12:26] madewild commented on #242
Well yes it was planned for this milestone, requested since July... ;)
But we can postpone to 1.1 if you need more time
@gachpas @AThollard  what's the degree of urgency?

[2022-01-31 12:28] madewild commented on #326
I see only one request:
![point](https://user-images.githubusercontent.com/942488/151793871-230153c9-b4f3-4f98-be49-610f34754210.png)

can you elaborate?

[2022-01-31 13:44] madewild commented on #281
Relevant Europa docs:

- https://ec.europa.eu/info/cookies_en
- https://ec.europa.eu/info/legal-notice_en
- https://ec.europa.eu/info/privacy-policy_en

[2022-01-31 15:04] D063520 commented on #242
Jonathan will create an API for this ....

[2022-01-31 15:56] slaven777 commented on #320
can we make it "Total budget"? I see that the online generator, another REGIO project that prepares billboards and plaques uses the "Total budget", so aiming to have the same info in Kohesio and on billboards and plaques of actual projects

[2022-01-31 16:00] madewild commented on #320
We can if necessary, but as a citizen I don't understand what the "total" is about.
For beneficiaries on the contrary (e.g. https://kohesio.eu/beneficiaries/Q2514974) "Total budget" totally makes sense because it's the sum of the budgets of several projects.
Anyway @slaven777 the final decision is yours to take. :)

[2022-01-31 16:34] gachpas commented on #239
@madewild , FYI, the 3 banners for carrousel were received this pm and have been sent to Alex's team for final validation.  Due date for commenting is this Wednesday.

[2022-01-31 16:39] gachpas commented on #246
@madewild , so this version is the one for 17th March, correct?

Thansk and kr

[2022-01-31 16:58] madewild commented on #246
Release planned for March 3: https://github.com/ec-doris/kohesio.eu/milestone/12

[2022-01-31 19:21] D063520 commented on #326
https://user-images.githubusercontent.com/10883585/151858464-a00c49e1-55aa-4b0f-bb0f-f28f7d45d238.mov

[2022-01-31 19:24] D063520 commented on #326
https://user-images.githubusercontent.com/10883585/151858823-606755e4-8770-4e76-862b-b823fff74d74.mov

[2022-01-31 19:40] madewild commented on #326
This is with Safari? I cannot replicate with Chromium nor Firefox...

[2022-01-31 19:41] D063520 commented on #326
yes, this is with safari, could be a browser dependent problem. You can close it if it is like this ...

[2022-01-31 19:46] madewild commented on #326
Old thread but seems to be something like that: https://stackoverflow.com/questions/5956501/safari-double-submitting-ajax-calls

[2022-01-31 19:46] #326 closed

[2022-02-01 08:23] slaven777 commented on #320
okay, lets keep "Total budget" as it's in line with other platforms

[2022-02-01 08:30] madewild commented on #320
@svili can you adapt again everywhere?

[2022-02-01 13:20] svili commented on #283
Needs change in the backend.
I can change on the /themes page but the Theme selector is getting its values from this endpoint:
https://dev.kohesio.linkedopendata.eu/api/facet/eu/thematic_objectives

[2022-02-01 13:22] D063520 commented on #283
@svili @AThollard : you can change the labels in the wikibase. For example here:

https://linkedopendata.eu/wiki/Item:Q236691

this will be reflected across all the application after a refresh of the cache ...

Salut
Dennis

[2022-02-01 13:36] madewild commented on #299
@svili the backend is ready, it can be implemented on the beneficiary detail page

For instance on https://dev.kohesio.eu/beneficiaries/Q2748683
we want this:
![idiotis](https://user-images.githubusercontent.com/942488/151977925-f17ca331-740d-4991-81fd-7601b990d840.png)

(maybe with the parenthesis in grey again)

api is https://dev.kohesio.linkedopendata.eu/api/facet/eu/beneficiary?id=https://lin

[2022-02-01 13:50] madewild commented on #283
I will do the change in the wikibase
@svili will take care of the interaction between filters, and also adapt the /themes page to fetch from the backend

[2022-02-01 13:52] madewild commented on #320
Fixed, @slaven777 can you check that it is applied everywhere? If not feel free to reopen.

[2022-02-01 13:52] #320 closed

[2022-02-01 13:58] madewild commented on #323
@svili this still uses "Budget (descending)" instead of "Total Budget (descending)"!

[2022-02-01 13:59] madewild commented on #277
@roberto-musmeci can you check now? anything else to add for highlighted projects? :)

[2022-02-01 14:03] roberto-musmeci commented on #277
It is exactly as we discussed. Thanks guys, bravo ! :D

[2022-02-01 14:13] madewild commented on #319
@roberto-musmeci can you validate?

https://dev.kohesio.eu/projects/Q3748753
https://dev.kohesio.eu/projects?country=Finland&sort=Total-Budget-(descending)

[2022-02-01 14:14] madewild commented on #269
Almost there: https://dev.kohesio.eu/projects/Q139577
@AThollard @gachpas can you have a look and comment on it?
@svili will fix the strange right padding

[2022-02-01 14:21] madewild commented on #269
Also @svili : could you hide the "Audiovisual material" heading when there is nothing to show?
Looks weird on https://dev.kohesio.eu/projects/Q3097484 for instance...

[2022-02-01 14:23] madewild commented on #283
@AThollard the new names already appear on the projects fiches thanks to the new live endpoint
e.g. https://dev.kohesio.eu/projects/Q3097484 has "Social Inclusion"

To appear in the dropdown filter on https://dev.kohesio.eu/projects I guess the cache has to be regenerated (@D063520 ?) so tomorrow

[2022-02-01 14:28] svili commented on #323
Where? Can you do a hard refresh? Cause I can't find it.

[2022-02-01 14:29] roberto-musmeci commented on #319
Good for me. I am checking with @AThollard. We can close it for the moment and reopen if needed

[2022-02-01 14:31] madewild commented on #323
Oops my bad, it was indeed cached on my side ;)
Fixed.

[2022-02-01 14:31] #323 closed

[2022-02-01 14:41] gachpas commented on #269
@madewild , I had understood that Anne wanted to see "No Audiovisual material available" when there is nothing...so not clear to me why deleting the heading? Why not keeping the heading and adding that sentence in case theer is nothing?
Br

[2022-02-01 14:42] madewild commented on #282
@omar0z any progress on putting the pagination controller to the right?

[2022-02-01 14:44] madewild commented on #269
OK for me but we will have this sentence for almost all projects then... @AThollard let us know before @svili does the change.

[2022-02-01 14:58] AThollard commented on #283
Thanks @madewild let's check tomorrow then

[2022-02-01 15:03] AThollard commented on #283
@madewild @raphdom @D063520 I don't see the behaviour below implemented in dev? Filters are still exclusive. Is it going to be solved by the cache regeneration or no link btween the issues?

 After discussing with colleagues, we suggest the following: Selecting a PO should filter the related TOs, and vice versa.

[2022-02-01 15:14] madewild commented on #283
see my comment above: "@svili will take care of the interaction between filters" ;)
not done yet ;)

[2022-02-01 15:21] madewild commented on #290
OK @omar0z will implement this
also for projects

[2022-02-01 15:27] AThollard commented on #283
Sorry I read too fast @svili takes care...(just skipped the will)

[2022-02-01 15:30] AThollard commented on #269
Thanks @gachpas and @madewild
I wanted to keep the heading 'audiovisual material' because I had in mind to put systematic link to InfoRegio when it exists.
Now that we have put the link elsewhere in the project info, you can remove the heading. And of course remove it only when we don't have audiovisual material.

[2022-02-01 15:31] AThollard commented on #277
All good! thanks

[2022-02-01 15:33] AThollard commented on #110
Yes, already have a new name idea for that -> Kohesio Lab :-) but first let's launch Kohesio!

[2022-02-01 16:25] AThollard commented on #269
@madewild @gachpas @svili
I have just looked closer at the final result when we display the images under the 'audiovisual material heading and for me it does not fly. Look at this one for example: [https://dev.kohesio.eu/projects/Q192825],  even for cow lovers:-/
Then 2 options, pick the simpler one for you:
- We replace the image as such by a link to the image as initially planned and if possible

[2022-02-01 19:13] madewild commented on #269
Well clicking on the thumbnail above is already a link to the same image... Except if we have several images for the same project.

I propose we discuss this on Friday and take a final decision for this release.

[2022-02-01 22:02] raphdom commented on #289
Now we have the loading feature in the beneficiaries list. Can you test, please?

[2022-02-01 22:08] raphdom commented on #234
Everything was implemented, except the mobile experience that I still need to prettify, for now I just disabled the ribbon on mobile devices. Can you test, please?

[2022-02-02 06:08] madewild commented on #289
Perfect!

[2022-02-02 06:08] #289 closed

[2022-02-02 06:12] madewild commented on #234
Very nice! @AThollard @roberto-musmeci  can you have a look?

There is only this comment:

@AThollard what do you think? we leave like it is or hide the ribbon when zooming on a continental region?

[2022-02-02 08:02] raphdom commented on #318
They have indeed, only with EU countries:
<img width="1267" alt="Screenshot 2022-02-02 at 08 59 26" src="https://user-images.githubusercontent.com/5124917/152115272-ea01e5b2-0d2f-47d1-b490-a4a4e8ba509b.png">

But the regions and all other names is not available in this version:
<img width="1259" alt="Screenshot 2022-02-02 at 08 59 48" src="https://user-images.githubusercontent.com/5124917/15211534

[2022-02-02 08:09] gachpas commented on #239
![Kohesio_webbanner_data enthousiasts-geek](https://user-images.githubusercontent.com/74774446/152116322-adaae578-ff9f-4889-b28e-8e428dc898fd.png)
![Kohesio_webbanner_General public](https://user-images.githubusercontent.com/74774446/152116341-4bddaa85-109d-4b0e-894b-365e5492fe4b.png)
![Kohesio_webbanner_Policy makers-Managing authorities](https://user-images.githubusercontent.com/74774446/1521163

[2022-02-02 08:10] gachpas commented on #239
The 3 validated pictures for the carrousel.

[2022-02-02 08:16] roberto-musmeci commented on #234
Very good implementation. Thanks @raphdom :)
For coherence, I would be in favour of hiding the outermost ribbon when zooming in a region.

[2022-02-02 08:17] gachpas commented on #239
and related messages:
         Curious to discover what Europe does in your region or city? Explore Kohesio map (General public)
         Are you looking for inspiration or successful EU projects to share?  Enjoy the project search advanced functionalities (Policy makers/Managing authorities)
         Do you want to reuse Kohesio open and linked data? Navigate the EU knowledge graph and export

[2022-02-02 08:24] madewild commented on #318
@AThollard @gachpas what would be better in your opinion?

[2022-02-02 08:27] madewild commented on #234
@raphdom can you try implementing this?

[2022-02-02 08:28] madewild commented on #239
Thanks @gachpas
@omar0z could you please prioritise this task?

[2022-02-02 09:02] madewild commented on #283
Can you check now on https://dev.kohesio.eu/projects? Not the interaction yet, but the names have been changes, e.g. https://dev.kohesio.eu/projects?theme=Competitiveness-of-SMEs&sort=Total-Budget-(descending)

@AThollard do you think we should add "Technical Assistance" to https://dev.kohesio.eu/themes to be aligned with the filter? The logo it's already available on https://dev.kohesio.eu/assets

[2022-02-02 09:06] AThollard commented on #239
I confirm the messages, and the order:
1- Curious to discover what Europe does in your region or city? Explore Kohesio map -> blue banner with the bicycle
2 - Are you looking for inspiration or successful EU projects to share? Enjoy the project search advanced functionalities-> orange banner with the puzzle
3 - Do you want to reuse Kohesio open and linked data? Navigate the EU knowledge graph and

[2022-02-02 09:11] AThollard commented on #318
@madewild @gachpas can we discuss this briefly so I am sure to understand the options

[2022-02-02 09:21] madewild commented on #318
@raphdom let's implement the new one without regions at Europe level, but add the regions (switch layer) when we zoom on one country

[2022-02-02 09:31] AThollard commented on #318
@madewild clear now, thanks! as discussed please implement the map with the EU country name (extended) only.

[2022-02-02 09:53] AThollard commented on #234
@raphdom @madewild maybe  not related but the project near me does not work anymore on dev.kohesio.eu

[2022-02-02 09:58] madewild commented on #234
it works for me... maybe you need to refresh the cache?

something else @raphdom : we need to handle the ribbon properly on the projects results...
for instance https://dev.kohesio.eu/projects?keywords=youth&sort=Total-Budget-(descending) > Map tab
![results_map](https://user-images.githubusercontent.com/942488/152132163-1e058c86-0896-4248-b4ce-7c6ce7aa039d.png)

The ORs are shown even if 0 result

[2022-02-02 10:02] raphdom commented on #234
For me we should hide it and create another issue to implement this. There is a lot of complexity around the filters in the project page.

[2022-02-02 10:03] madewild commented on #234
I agree, so @AThollard we propose to hide on that page + on mobile for now and use it only in the front page map

[2022-02-02 10:05] madewild opened #328 "Implement outermost regions ribbon on projects results (map tab)"
![results_map](https://user-images.githubusercontent.com/942488/152133108-fb0491a5-0c85-48fa-a8b7-05af420a2bfe.png)

interaction with filters...

[2022-02-02 10:06] madewild opened #329 "Implement outermost regions ribbon on mobile"
Find a way for it not to hide the map.

[2022-02-02 10:07] madewild commented on #329
Follow-up to #234

[2022-02-02 10:07] madewild commented on #328
Follow-up to #234

[2022-02-02 10:16] madewild opened #330 "Reframing EU North"
Can we slightly change the default coordinates of the map (max latitude) so that Sweden and Finland are shown in full when first loading the page? Currently they are slighly cut in the North:
![se-fi](https://user-images.githubusercontent.com/942488/152134917-70563335-ea2d-444d-bee8-5ffc7da920ec.png)

Request of REGIO map unit...

[2022-02-02 10:16] madewild commented on #330
or maybe this is coming from the backend @D063520 ?

[2022-02-02 10:35] D063520 commented on #330
no, it is not coming form the backend .... it is hard coded in the ui

[2022-02-02 10:43] AThollard commented on #234
It works now! probably a network issue from my side.

[2022-02-02 10:45] madewild commented on #242
@DiaZork when do you expect to have this ready?

[2022-02-02 10:57] raphdom commented on #330
yes, I will change it

[2022-02-02 10:59] raphdom commented on #245
We can postponed the interaction with the map on mobile to the next release as we will have some main changes specially when we apply the ECL look and feel

[2022-02-02 11:01] raphdom commented on #318
@madewild @AThollard it was implemented, of course that will be a lot of discussion about the label, the positioning, but it is not easy to have a default rule to position label for each region, it is not a layer in the map, it is me that create a marker in the center of the region, but. sometimes the label is huge and cannot fit.

[2022-02-02 11:02] raphdom commented on #234
Everything was implemented as discussed, can you test please?

[2022-02-02 11:05] madewild commented on #318
Indeed this is quite ugly compared to the previous version... whu do we have this strange bold font and background grey box?

[2022-02-02 11:15] madewild commented on #318
@AThollard maybe we should contact the GISCO colleague again and ask if there is another layer we can use...

[2022-02-02 11:16] madewild commented on #234
For me we can close, @AThollard agreed?

[2022-02-02 11:17] madewild commented on #318
P.S. available options on https://webgate.ec.europa.eu/fpfis/wikis/pages/viewpage.action?spaceKey=webtools&title=Map+-+Available+tile+services

[2022-02-02 11:19] raphdom commented on #318
The country names is part of the layer, I cannot do much about this or maybe they have something to change the look and feel, but it is not exposed in the API documentation (link above). The regions label is on my control (font-size, color).

[2022-02-02 12:45] DiaZork commented on #242
Here is a first version : https://dev.kohesio.linkedopendata.eu/api/facet/eu/search/general?offset=0&limit=15&keywords=fire

It's quite slow when it's not cached for the moment but i'm looking into it

[2022-02-02 12:52] madewild commented on #242
@prototorpedo could you prepare a draft result page. You can check with @raphdom for the requirements...

[2022-02-02 12:54] omar0z commented on #239
These messages are great! and are a perfect opportunity for a call to action.

I understand that for banner 1 there is no need for it as the users are already on the map, and that the call to action for banner 2 would be "Go to Projects".

However, for banner 3, where should I send an user that would like to "reuse Kohesio open and linked data"? Where do we export the datasets in the current UI?

[2022-02-02 13:22] AThollard commented on #234
Great job! thanks @raphdom
We can close the issue. For me good to go for version 1.0.
If we need to adapt the label Guadeloupe->Guadeloupe/St Martin we will do it for version 1.2. And I would really prefer to stick to the NUTS labels as it is now (to be discussed internally in REGIO)

[2022-02-02 13:28] #234 closed

[2022-02-02 13:29] AThollard commented on #239
Thanks @omar0z . Happy that you like the messages, result of a hard teamwork.
For the call of action:
Banner 1 no need as indeed this is an implicit one to go to the map
Banner 2: Go to projects: https://dev.kohesio.eu/projects
Banner 3: can we have 2 links? "knowledge graph" linking to "https://linkedopendata.eu/wiki/The_EU_Knowledge_Graph" and "export datasets': https://data.linkedopendata.eu/
T

[2022-02-02 13:38] madewild commented on #239
Just my 2 cents:

For banner, 1 we could add an anchor at the level of the text "in my region", so if the user clicks on it the page is "scrolled" automatically to the map. Then instead of:
![bad](https://user-images.githubusercontent.com/942488/152163833-cb309a5b-500d-4678-93e6-7d6834caa854.png)
the user sees immediately:
![good](https://user-images.githubusercontent.com/942488/152163884-aa4bc561

[2022-02-02 13:43] DiaZork commented on #242
The speed is a lot better now !

[2022-02-02 14:15] madewild commented on #239
Perfect for me, except that the KG URL is https://linkedopendata.eu (or https://knowledgegraph.eu) ;)

[2022-02-02 14:43] roberto-musmeci commented on #239
I think banner 3 should be linked to a page where it is clearly explained we provide two main services:
- querying the KG (SPARQL end point)
- downloading csv files

I don't know if a page like this exists already or if we can readapt one.

[2022-02-02 14:46] AThollard commented on #283
Thanks, a very small typo (our fault) -> Information and Communication **Technology** (not technologies)
Perfect for the rest.
And yes we can add the Technical Assistance in the themes, ok for the icon as well

[2022-02-02 14:51] madewild commented on #283
Changed on https://linkedopendata.eu/wiki/Item:Q236690 (you could do it yourself in the future if you spot other typos ;)
@svili can you add TA on /themes? it should come from the list in the backend (same as for filter)

[2022-02-02 14:58] omar0z commented on #239
Thank you all!

@roberto-musmeci:  it is an interesting proposal, however I have been instructed to keep the site map as it is now for the v1.0 launch. Moreover, implementing a fully functional SPARQL client inside Kohesio before the v1.0 launch is quite ambitious in my view, considering all other pending tasks.

@madewild: Great idea! I'll set the anchor up.

@AThollard: Considering that most of

[2022-02-02 15:00] madewild commented on #239
@omar0z we have already the sparql endpoint ;) it would be a matter of presenting the options to a specialised audience... we can discuss during the coordination meeting on Friday

[2022-02-02 15:34] AThollard commented on #239
Let's discuss on Friday. One option could be to re-organise the existing https://knowledgegraph.eu page, separating clearly the Kohesio related 'services': export and query  (for now everything is a bit mixed up).
Not for version 1.0 in any case.

[2022-02-02 15:37] #299 closed

[2022-02-02 16:11] madewild commented on #299
Great, working on https://dev.kohesio.eu/beneficiaries/Q2748683 now

[2022-02-02 18:32] #282 closed

[2022-02-02 18:35] madewild commented on #322
As discussed, let's also redirect https://dev.kohesio.eu to https://kohesio.development.ec.europa.eu already for release 1.0, so that we can test it without affecting prod.

[2022-02-03 07:15] raphdom commented on #330
done, can you check please?

[2022-02-03 07:33] madewild commented on #330
For me it still appears slightly cut :/
![cut](https://user-images.githubusercontent.com/942488/152300052-57d13de5-0edc-46bc-a405-b50cdb91e0a1.png)

[2022-02-03 07:51] raphdom commented on #330
it is, but if I put more we will cut in the south

[2022-02-03 07:54] madewild commented on #330
mmmh annoying, and we cannot zoom out very slightly (without making it very small)?

[2022-02-03 07:56] madewild commented on #330
Full comment of REGIO: "The entry view of the map shows a very wide frame covering areas that are not relevant for the EU (Greenland, Kyrgyzstan…) while the northern part of the EU is missing. Our suggestion is to use a frame that is less wide and that ensures that the whole north/south extent of continental Europe is visible (i.e. from northern SE + FI to CY, Ceuta and Melilla).

Maybe we can cha

[2022-02-03 07:56] raphdom commented on #330
no, because the zoom has levels. Another solution could be increase the height of the map. But the right size will be 725px it is too big for small screens:
<img width="1239" alt="Screenshot 2022-02-03 at 08 56 36" src="https://user-images.githubusercontent.com/5124917/152302886-c9f408cd-b0e7-417f-ac91-be47f1a2dcbe.png">

[2022-02-03 08:01] raphdom commented on #330
https://www.browserstack.com/guide/ideal-screen-sizes-for-responsive-design#:~:text=According%20to%20the%20Worldwide%20Screen,360%C3%97640%20(7.28%25)

I think it will be fine to go to 725px. What do you think?

[2022-02-03 08:04] madewild commented on #330
ok let's test!

[2022-02-03 08:23] raphdom commented on #330
done, you can test

[2022-02-03 08:34] madewild commented on #330
Much better! Maybe we can save some space between the carousel and "in my region" to compensate? (orange zone)
![orange2](https://user-images.githubusercontent.com/942488/152307921-08d2dfb1-fcb1-469b-a98a-45444cef4a8b.png)

[2022-02-03 08:50] raphdom commented on #330
I will tell @omar0z  to change the margin in home component (change class mt-5 to mt-2), to avoid to touch in the same file... then you can close this @madewild

[2022-02-03 09:11] #330 closed

[2022-02-03 09:21] madewild commented on #260
@roberto-musmeci @AThollard is this still in the scope for 1.0 or to be postponed? we would need the text asap...

[2022-02-03 09:24] roberto-musmeci commented on #260
I think we are covered by the standard legal notice of the EU Commission (e.g. https://ec.europa.eu/info/legal-notice_en#copyright-notice). I will discuss it with @AThollard today

[2022-02-03 09:26] madewild commented on #296
@gachpas @AThollard still in scope for 1.0 or to be moved to 1.1 together with the ECL look and feel?

[2022-02-03 09:27] madewild commented on #281
@AThollard same question here, is there something to do for this release?

[2022-02-03 09:50] AThollard commented on #260
@madewild @roberto-musmeci we are covered indeed by the legal notice in the footer. Not clear to me if we are going to have the DG COM template with the footer already in place for version 1.0?
I think you can close this issue.

[2022-02-03 09:52] AThollard commented on #281
@madewild we are trying to push to have the standard footer with the legal requirements requested by DG COM
"Legal requirements:
All legal requirements applicable to European Commission websites must be respected, in particular in relation to:
· the obligations concerning the protection of personal data 
· web content accessibility guidelines
· no use of [third-party tools](https://wikis.ec.europa

[2022-02-03 09:58] madewild commented on #260
No, ECL integration is for 1.1: #302
Closing then

[2022-02-03 09:58] #260 closed

[2022-02-03 10:53] madewild commented on #283
@DiaZork we see that the TO IDs are not in the api https://dev.kohesio.linkedopendata.eu/api/facet/eu/thematic_objectives
could you add them by querying this property in your sparql query: https://linkedopendata.eu/wiki/Property:P1105 ?
so add TO01 for https://linkedopendata.eu/wiki/Item:Q236689 etc.
it will help Vilmos to improve the /themes page and link with the correct icon, thanks

[2022-02-03 10:58] AThollard commented on #281
Please push this to version 1.1 and link it to ECL look and feel

[2022-02-03 11:01] madewild commented on #283
In the meantime, @AThollard @roberto-musmeci you can test the interaction between policies and themes filters on https://dev.kohesio.eu/projects

[2022-02-03 11:02] madewild commented on #281
Linked to #302

[2022-02-03 12:48] madewild commented on #283
TA has already been added on https://dev.kohesio.eu/themes
@roberto-musmeci @AThollard let us know if the colour is ok ;)

[2022-02-03 12:55] madewild commented on #283
We should also harmonise the use of "&" vs "and" in all TOs:
![and](https://user-images.githubusercontent.com/942488/152346977-a7b04dc8-3956-4473-93fa-9f1321416f57.png)

[2022-02-03 13:03] AThollard commented on #283
This bureaucratic grey matches perfectly with the content of the TA "theme" (Technical assistance').
You are becoming good at this ;-)

[2022-02-03 13:14] DiaZork commented on #283
It's added

[2022-02-03 14:34] madewild opened #336 "Add Saint Martin to outermost regions"
@madewild @raphdom just checked with OR colleagues.
They would like to  have Guadeloupe **and Saint Martin** on the labels and the filters.
But it's not urgent and it's not going to create a diplomatic incident.
For the rest they praised us for the good look and feel!

_Originally posted by @AThollard in https://github.com/ec-doris/kohesio.eu/issues/328#issuecomment-1029000552_

[2022-02-03 15:55] roberto-musmeci commented on #283
Something strange when applying policy objective and thematic filter. The first result in the screenshot is not relevant.
Also, if you select as theme ITC we get no result back.. I am a bit confused.
![image](https://user-images.githubusercontent.com/86654885/152378090-ddc74e09-6bb1-4ab4-954e-ca94239f24e7.png)

[2022-02-03 16:03] madewild commented on #283
Looks like a bug, @svili could you have a look?

[2022-02-03 16:07] madewild commented on #269
Thank you for small cow lovers :)

[2022-02-03 16:07] AThollard commented on #283
This project has several TO, one of them being 'Research and innovation'. So it's a bit confusing in the result list but it's logical from a graph perspective no?

[2022-02-03 16:10] madewild commented on #283
Ah yes thanks @AThollard, maybe we should display "multiple TOs" in the result list? Actually I mentioned this on https://github.com/ec-doris/kohesio.eu/issues/301#issuecomment-1021899297

[2022-02-03 16:15] svili commented on #283
Yes this happens on all themes more or less, I also thought its because of multiple TOs and we use the first one in the TO-list as the theme.

[2022-02-03 16:16] madewild commented on #239
A first version of the new carousel is available on https://dev.kohesio.eu/ :)
To discuss tomorrow...

[2022-02-03 16:17] madewild commented on #239
@omar0z the carousel height is much bigger again, compare with https://kohesio.eu/ ... did you change something? I would prefer to keep it slim, especially since we will have to add the Europa header as well.

[2022-02-03 16:19] madewild commented on #239
PS to @AThollard and colleagues, the auto-rotating of the carousel is not yet ready and will probably be for 1.1

[2022-02-03 16:21] madewild opened #341 "Remove home breadcrumb when using anchor"
https://dev.kohesio.eu/#my-region

![home](https://user-images.githubusercontent.com/942488/152383604-28dc62b3-7ed8-4bdd-8a3d-d14b989f4aeb.png)

[2022-02-03 16:22] madewild opened #342 "Adapt carousel to ECL"
And activate auto-rotate

[2022-02-03 16:22] madewild commented on #342
Follow-up to #239

[2022-02-03 16:25] AThollard commented on #239
Really nice!
Let's discuss tomorrow for the details (don't worry not about the colors ;-)

[2022-02-03 16:25] madewild opened #343 "Change link behind "Download the data" button"
In third banner of carousel
Currently https://data.linkedopendata.eu/
Should move to https://kohesio.ec.europa/eu/data (TBC)

Linked to https://github.com/ec-doris/kohesio-backend/issues/87

[2022-02-03 16:27] madewild commented on #342
See https://ec.europa.eu/component-library/ec/components/carousel/code/

[2022-02-03 16:36] AThollard commented on #283
Thanks @svili and sorry for big and small cow lovers, but I think we should get rid of the images and the audiovisual heading for the time being. Or create a serious game: "Cowhesio": find the cow related projects :-D
Ok sorry, let's discuss tomorrow.

[2022-02-03 16:37] AThollard commented on #269
Thanks @svili and sorry for big and small cow lovers, but I think we should get rid of the images and the audiovisual heading for the time being. Or create a serious game: "Cowhesio": find the cow related projects :-D
Ok sorry, let's discuss tomorrow.

[2022-02-03 18:04] omar0z commented on #239
@madewild nope, the only changes have been 1) adding the text and the images, and 2) editing the css of the images inside the carousel to keep their aspect ratio

[2022-02-03 18:12] madewild commented on #239
OK then maybe the images do not have the expected ratio... we'll discuss if we crop them or leave as is.

[2022-02-03 21:26] madewild commented on #239
Here's a proposal with the white space at the top of each image cropped out. Height reduced from 938 to 825 pixels. :)
![kohesio-citizens2](https://user-images.githubusercontent.com/942488/152431468-a7555f3e-31ca-4ce1-8ee0-0504d8213e33.png)
![kohesio-policy2](https://user-images.githubusercontent.com/942488/152431484-97998e1d-a810-421d-9e01-854d309ed124.png)
![kohesio-data2](https://user-images.gi

[2022-02-03 21:30] madewild commented on #239
@omar0z the first part of the carousel has an extra space below, which you can see when you click on the image (orange frame):
![orange_border](https://user-images.githubusercontent.com/942488/152432087-2263e863-387e-4ecd-bf9a-edc050f856d5.png)

[2022-02-04 08:54] gachpas commented on #239
speaking about the carousel, do you have th epossibility to have the same kind of carousem that the one used for the countdown page (i.e. the width of the carousel is aligned on the width of th emap and the little arrow (allowing to navigate the carousel) are part of the carousel (and not outside of teh carousel)? I ncase @AThollard , confirms this choice, it could be for another version if too co

[2022-02-04 08:58] madewild commented on #239
This would be in the scope of #342

[2022-02-04 08:58] madewild commented on #342
speaking about the carousel, do you have th epossibility to have the same kind of carousem that the one used for the countdown page (i.e. the width of the carousel is aligned on the width of th emap and the little arrow (allowing to navigate the carousel) are part of the carousel (and not outside of teh carousel)? I ncase @AThollard , confirms this choice, it could be for another version if too co

[2022-02-04 09:37] madewild opened #345 "Anchor problem when first clicking on text"
Go to https://dev.kohesio.eu/
Click on next "curious to discover..."
URL changes to https://dev.kohesio.eu/#my-region BUT page is not scrolled to the map anchor
If you click a second time it works. The button also works properly.

[2022-02-04 09:41] prototorpedo commented on #297
Same error happens also in other pages in firefox, but doesn't seem to affect the app. Seems like an async / await issue, will attempt to provide a fix

[2022-02-04 09:43] madewild opened #346 "Bad CSS, link text underlined in blue"
Go to https://dev.kohesio.eu
Go to third image of carousel
Click on text "do you want..."
(page opens in new tab as expected)
Go back to carousel, text is now underlined in a blue shade slightly different from the background:
![blue_underline](https://user-images.githubusercontent.com/942488/152506854-41a195f6-238e-48eb-a50a-2518fd7c62c7.png)

Not easy to spot, probably a missing
[code]

[2022-02-04 09:58] AThollard opened #347 "Add new logo"
Kohesio: discover EU projects in your region (one row)
If ready and possible add the logo.
@madewild

[2022-02-04 10:00] madewild commented on #347
There is no title, only a logo, right?
Waiting for the logo then. :)

[2022-02-04 10:37] prototorpedo commented on #297
Appears to be working if ConfigService is setup as instructed in https://stackoverflow.com/a/47110796

[2022-02-04 10:46] raphdom commented on #290
We have some side effects on this, problem with offset in the pagination @omar0z

[2022-02-04 11:18] madewild commented on #318
So @raphdom let's revert for now and then I postpone the issue to 1.2.
I will contact GISCO + the REGIO GIS team to find a better solution.

[2022-02-04 11:21] madewild commented on #269
So @svili let's hide the whole section again, and then I postpone to 1.2 to discuss calmly which links to include etc.

[2022-02-04 11:28] madewild opened #350 "Handle multiple thematic objectives"
Projects allow multiple TOs but:

- only one icon is shown on the project detail page
- only one TO/icon is shown in project results (first one in the list or at random)
- so when we filter one one TO, some results appear to be outside this TO

We should improve the handling of these.
Follow-up to #256 and #283

[2022-02-04 11:29] madewild commented on #283
I have changed "and" to "&" (ampersand) in https://linkedopendata.eu/wiki/Item:Q236695 and https://linkedopendata.eu/wiki/Item:Q236698 in the Wikibase, will be visible tomorrow on dev.

Interaction between PO and TO filters is back.

For the multiple TO issue, see #350.

[2022-02-04 11:29] #283 closed

[2022-02-04 11:33] madewild commented on #290
Indeed, some projects show both on page 1 and on page 2 ! ;)

btw, maybe we could start the count of pages at 1 instead of 0
https://dev.kohesio.eu/projects?page=0 should be https://dev.kohesio.eu/projects?page=1 etc.

[2022-02-04 11:36] madewild commented on #261
Add info about download button and exports:

- download specific search results limited to 5000 for performance reasons (button displayed only if number <= 5000)
- go to https://kohesio.ec.europa.eu/data to access full exports of projects and beneficiaries by country

[2022-02-04 11:44] madewild commented on #239
So summary of changes (in addition to #341 #345 #346):

- [ ] Replace all 3 images with the ones above (keep original filenames, not the ones with "2")
- [ ] Adapt CSS to adjust to the new image ratio
- [ ] Adapt the 3 texts (@AThollard will provide the new versions below)
- [ ] Keep the original case of the messages instead of enforcing full uppercase

[2022-02-04 11:48] madewild opened #351 "Add page listing services"
Let's centralise our offer of services in a new page (/services for instance ?):

- query service that will be on https://kohesio.ec.europa.eu/query
- question answering service that will be on https://kohesio.ec.europa.eu/qa
- data exports service that will be on https://kohesio.ec.europa.eu/data
- EU Knowledge Graph that is on https://linkedopendata.eu (or https://knowledgegraph.eu)

I will prov

[2022-02-04 12:00] madewild opened #352 "Move countdown to prod"
Countdown is currently on https://kohesio.acceptance.ec.europa.eu/
When validated it should move to https://kohesio.ec.europa.eu/ until the launch
@AThollard can you give the green light and ideal date for the switch? Monday 7/2?
Then we can use acceptance for the BERL demo...

[2022-02-04 12:09] madewild opened #353 "Stabilise knowledgegraph.eu"
Domain name has been transferred from Gandi to AWS (Route53). Current status:

- http://knowledgegraph.eu/ redirects correctly to https://linkedopendata.eu/
- https://knowledgegraph.eu/ does not resolve the DNS
- http://www.knowledgegraph.eu/ and https://www.knowledgegraph.eu/ yield NET::ERR_CERT_COMMON_NAME_INVALID

Should be improved with ELB or global accelerator... Not critical but the URL has

[2022-02-04 14:40] AThollard commented on #352
Hi @madewild, countdown version ready.
You can already put it on https://kohesio.ec.europa.eu/ or Monday if more convenient for you.
And then yes demo on:https://kohesio.acceptance.ec.europa.eu/ Monday 07/02 would be perfect so I can prepare in the real environment.
info: @gachpas

[2022-02-04 14:44] raphdom commented on #318
reverted, you can postponed this one

[2022-02-04 14:58] AThollard opened #356 "Bug displaying project details for highlighted projects on map"
On dev.kohesio.eu if you click on some 'highlighted' project (red) on the map the project details page is not displayed.
![image](https://user-images.githubusercontent.com/80402472/152550895-26536483-16b5-4abc-b19f-6b5c8b4f41a6.png)

[2022-02-04 14:59] AThollard commented on #356
@madewild

[2022-02-04 15:10] madewild commented on #356
@D063520 @DiaZork https://dev.kohesio.linkedopendata.eu/api/facet/eu/project?id=https://linkedopendata.eu/entity/Q148455 is giving gateway timeout

[2022-02-04 15:10] #346 closed

[2022-02-04 15:22] omar0z commented on #290
Offset has been fixed in #357. After review and approval, OP can close this issue.

[2022-02-04 15:46] AThollard commented on #347
Right @madewild, just the title
And let's add the logo with the ECL to see where it fits.
We have already chosen
![Kohesio_signature-10](https://user-images.githubusercontent.com/80402472/152558875-e9bedfdc-bc40-4321-9033-fbc78d8bbc83.png)

[2022-02-04 15:50] #291 closed

[2022-02-04 16:01] madewild opened #361 "Paginate from 1 instead of 0"
Indeed, some projects show both on page 1 and on page 2 ! ;)

btw, maybe we could start the count of pages at 1 instead of 0
https://dev.kohesio.eu/projects?page=0 should be https://dev.kohesio.eu/projects?page=1 etc.

_Originally posted by @madewild in https://github.com/ec-doris/kohesio.eu/issues/290#issuecomment-1029906582_

[2022-02-04 16:02] #290 closed

[2022-02-04 16:04] madewild commented on #291
The pagination of images on https://dev.kohesio.eu/projects?tab=audiovisual is not persisted yet but we can live with that for now ;)

[2022-02-04 16:06] raphdom commented on #297
@madewild, @Bisiaam can you test now? should be fine on Firefox

[2022-02-04 16:08] madewild commented on #297
Thank you @prototorpedo for your first bugfix and welcome to Kohesio :)

[2022-02-04 16:08] #297 closed

[2022-02-04 16:09] madewild commented on #345
As discussed with @omar0z , linked to #341
Temp fix for now is to remove link on the text...

[2022-02-04 16:14] Bisiaam commented on #297
Hello,
I still have the issue from my side :/ (and I cleaned the cache)

[2022-02-04 16:18] roberto-musmeci commented on #297
To me it works properly instead !

[2022-02-04 16:24] raphdom commented on #352
The countdown is on prod now: https://kohesio.ec.europa.eu/
I am preparing the acceptance for monday. Waiting for a stable version to freeze and put on acceptance for your presentation @AThollard

[2022-02-04 16:33] AThollard commented on #352
The Portuguese commissioner [Elisa Ferreira](https://ec.europa.eu/commission/commissioners/2019-2024/ferreira_en) counts on us @raphdom!
No pressure, have a nice week-end!

[2022-02-04 16:44] raphdom commented on #352
@AThollard you can mention there is a portuguese in the team, she will be very happy. :) lol
Have a nice week-end!

[2022-02-04 16:54] AThollard commented on #352
We could prepare a slide with the extended Kohesio Team photos, and related nationalities :-)

[2022-02-04 16:59] madewild commented on #297
Same for me, it works... @Bisiaam can you try again tomorrow or Monday?

[2022-02-04 17:02] madewild commented on #352
@raphdom the font size is much larger on https://kohesio.ec.europa.eu/ compared to https://kohesio.acceptance.ec.europa.eu/, is this normal?

[2022-02-04 17:11] raphdom commented on #352
@madewild the acceptance you have the old version probably cached...

[2022-02-04 18:03] madewild commented on #352
ah ok, now I see indeed kohesio website in acceptance...
but the font still appears huge to me in prod:
![huge](https://user-images.githubusercontent.com/942488/152579913-117c6a64-6720-4362-b410-4083353e8f97.png)
@AThollard @djang0 this is as expected?

[2022-02-04 20:01] Djang0 commented on #352
@madewild indeed @AThollard asked for bigger title. So I supercharged bootstrap's css (since this is already a h1). I can revert back to the standard (as it was before). just tell me.

[2022-02-04 20:21] Djang0 commented on #352
@madewild I created a branch to revert back to standard https://github.com/ec-doris/kohesio-countdown/tree/pure_bootstrap checkout the one you and @AThollard will choose. have a nice weekend

[2022-02-05 09:21] madewild commented on #336
The problem is that it's quite long and takes 3 lines, so the island drawing becomes very small:
![gsm2](https://user-images.githubusercontent.com/942488/152636004-1ad9bdd3-9aff-4a13-bac2-d0acb640d980.png)

Unless we remove the "and"?
![gsm](https://user-images.githubusercontent.com/942488/152636011-0f32a913-d428-40a5-a229-2bdc17a2c297.png)

[2022-02-05 09:23] madewild commented on #336
I also changed on https://linkedopendata.eu/wiki/Item:Q2577038 for the filter but it's really weird to me to change a NUTS3 region to use an official name...

[2022-02-05 10:11] madewild commented on #239
@AThollard I did some tests with the texts on https://dev.kohesio.eu/ but feel free to suggest changes...

[2022-02-05 11:57] madewild commented on #345
@omar0z now the button also does not work for some reason :/ let's look for a fix at least for that before 1.0 release

[2022-02-05 13:02] madewild commented on #356
Working now, @AThollard can you check?

[2022-02-05 13:02] #356 closed

[2022-02-05 13:05] madewild commented on #345
For now I added back the href="#my-region" on the text and now it works again...

[2022-02-05 14:28] madewild commented on #347
I already changed the title and subtitle. I move to 1.1 for the logo...

[2022-02-05 15:05] madewild opened #368 "Email issues"
Today I noticed that the email address used on project and beneficiary detail page (behind orange icon) was still mail@example.com! ;) I changed to REGIO-EXTERNAL-COMMUNICATION@ec.europa.eu but this made me realise two things:

1. the email used in the footer etc. is REGIO-EXTERNAL-COMMUNICATION@ec.europa.eu but the one on the about page is REGIO-KM@ec.europa.eu, @AThollard is this normal?
2. the

[2022-02-07 09:11] Bisiaam commented on #297
It works :)

[2022-02-07 09:12] madewild commented on #239
I discussed with Anne and the texts are good enough for now so closing. :)

[2022-02-07 09:12] #239 closed

[2022-02-07 09:14] AThollard commented on #356
All good @madewild, you can close the issue

[2022-02-07 09:16] madewild commented on #352
Let's keep the size and change the text to:

Kohesio
Discover EU projects in your region

[2022-02-07 09:22] AThollard commented on #368
To be aligned with ECL and adapt from InfoRegio footer: https://ec.europa.eu/regional_policy/en/contact/
(adding REGIO-EXTERNAL-Communication@ec.europa.eu or REGIO-KM@ec.europa.eu ? or webmaster? @gachpas @roberto-musmeci  @Bisiaam
In addition check the links behind social media icons with Social media team.
Not urgent-> v1.1

[2022-02-07 09:24] AThollard commented on #352
Discussed with @madewild so ok for me to change the text as mentioned @Djang0

[2022-02-07 09:38] madewild opened #369 "Customise homepage"
Remove h2 titles "IN MY REGION" and "THEMES"
Align outermost regions ribbon to bottom

[2022-02-07 09:44] AThollard commented on #352
Thanks for adding a link to https://ec.europa.eu/regional_policy/en/, on the text :"Directorate-General for Regional and Urban Policy" @Djang0

[2022-02-07 09:57] Bisiaam commented on #368
I would say External comm but don't have a strong opinion on that

[2022-02-07 10:06] madewild commented on #369
add back h2 in the end...

[2022-02-07 10:06] #369 closed

[2022-02-07 10:13] madewild commented on #336
NUTS2 also changed, finally I put "Guadeloupe (including Saint Martin)" which will appear in the filter tomorrow
Adapted without the "and" in the OR ribbon

[2022-02-07 10:13] #336 closed

[2022-02-07 11:20] madewild commented on #352
All good on prod: https://kohesio.ec.europa.eu/

[2022-02-07 11:20] #352 closed

[2022-02-07 11:34] prototorpedo commented on #266
Using background-image with background-size: cover on the div offers a slight improvement, but just for that one photo. Not sure if it's worth it or if this fix has some drawbacks?

[2022-02-07 11:42] madewild commented on #266
OK, let's try to find a generic solution and not something too custom... You can test with other images as well:

https://dev.kohesio.eu/projects/Q139958
https://dev.kohesio.eu/projects/Q141625
https://dev.kohesio.eu/projects/Q192825
etc.

[2022-02-07 11:43] madewild commented on #269
@gachpas can you coordinate this after the launch and provide requirements of what we want to achieve exactly? thx

[2022-02-07 11:46] gachpas commented on #269
hello @madewild , no problem. What would be the new deadline for you to have the final requirements? Thx
Pascal

[2022-02-07 11:48] roberto-musmeci opened #374 "Map behaviour"
Hi guys,

hopefully two small bugs
I noticed a change in the behaviour of the Map.

In dev, the NUTS layer is not displayed in the project fiche. As a result, the map does not zoom in on the project.
- https://kohesio.eu/projects/Q3105597
- https://dev.kohesio.eu/projects/Q3105597
left(prod) - right(dev)
![image](https://user-images.githubusercontent.com/86654885/152782485-06f8fffc-529b-4458-bd36-

[2022-02-07 11:48] madewild commented on #269
1.2 is for June so would be good to have the reqs around mid-April or May at the lastest :)

[2022-02-07 12:01] madewild commented on #374
1. NUTS is fine on https://linkedopendata.eu/wiki/Item:Q3105597 so looks like a backend issue

This is what I see in the console:
core.js:4197 ERROR Error: Bounds are not valid.

2. Also backend issue, Pomeranian Voivodeship is fine on https://linkedopendata.eu/wiki/Item:Q2530082 but the geojson is empty in https://dev.kohesio.linkedopendata.eu/api/facet/eu/search/project/map?granularityRegion=htt

[2022-02-07 12:10] madewild commented on #374
Actually it looks like the same issue (or at least related), because for the first problem the reason is also that geojson is empty but this time in https://dev.kohesio.linkedopendata.eu/api/facet/eu/project?id=https://linkedopendata.eu/entity/Q3105597

@DiaZork can you investigate?

[2022-02-07 13:31] madewild commented on #374
Sorry guys, a bit urgent because @raphdom needs to redeploy this to ACC before demo to Commissioner on Wednesday...

[2022-02-07 13:49] D063520 commented on #374
It was me ... I did it because absically we use two sparql endpoints ... one is the one over the projects. The other one is the one containing the nuts. This one is currently not in the live endpoint. It was down and then nothing was rendering. It is back again

[2022-02-07 13:49] #374 closed

[2022-02-07 16:06] madewild opened #375 "Don't send null value to api"
Go to https://dev.kohesio.eu/projects?tab=results
select any country (e.g. Austria)
unselect the country to go on blank again
the UI sends a null value to the regions and programs apis:

https://dev.kohesio.linkedopendata.eu/api/facet/eu/regions?country=https://linkedopendata.eu/entity/null
https://dev.kohesio.linkedopendata.eu/api/facet/eu/programs?country=https://linkedopendata.eu/entity/null

P

[2022-02-07 17:15] Djang0 commented on #352
Github notifications arriving on my personal mailbox. Juste saw it :)

[2022-02-08 07:57] D063520 opened #376 "link of 3rd carousel section"
Currently the 3rd carousel link is pointing to:

https://data.linkedopendata.eu

It's a non very ui freindly page .... what about putting:

https://linkedopendata.eu

There are links on how to download the data and also to query it via sparql .....

[2022-02-08 08:35] madewild commented on #376
Duplicate of #343 ;)
Yes we could put this for now...

[2022-02-08 08:39] prototorpedo commented on #266
It's not custom at all. Actually the other solution I proposed is not as good...I went for divs with background-image and background-size: cover.

[2022-02-08 09:10] madewild commented on #266
OK then I musunderstood "offers a slight improvement, but just for that one photo" ;)

[2022-02-08 09:22] madewild commented on #343
Changed to https://linkedopendata.eu/ for now

[2022-02-08 09:33] madewild commented on #376
Changed on https://dev.kohesio.eu/

[2022-02-08 09:33] #376 closed

[2022-02-08 10:30] prototorpedo commented on #266
I didn't test enough photos when I said it 😃 a lot of them are actually displaying better. My concern for this is to not affect SEO by mot using images, but I don't know too much about that

[2022-02-08 11:30] madewild opened #379 "Rename Edit button"
@AThollard in the end should we rename the Edit button visible on https://dev.kohesio.eu/projects/Q139379 for instance?
One suggestion would be to call it "More", a bit more neutral ;)

[2022-02-08 11:32] AThollard commented on #379
Yes, please go ahead with 'More'

[2022-02-08 12:37] madewild commented on #375
@svili you changed for regions but could you do the same for programs? still sending null to https://dev.kohesio.linkedopendata.eu/api/facet/eu/programs?country=https://linkedopendata.eu/entity/null

[2022-02-08 14:16] madewild commented on #361
Let's postpone this to 1.1

[2022-02-08 14:45] madewild commented on #375
OK I changed it, also in beneficiaries for both apis...

[2022-02-08 14:45] #375 closed

[2022-02-08 17:10] D063520 opened #382 "highlighted projects are covered"
Theory: the sharp eye of Jonathan saw that some points are more red then others. Can you check in the UI if you are covering the red points

<img width="1680" alt="Screenshot 2022-02-08 at 18 08 52" src="https://user-images.githubusercontent.com/10883585/153039013-3035e301-95a6-469f-8521-332367817de4.png">

PS: also in the backend response we see more highlighted projects that we see on the map

A

[2022-02-08 18:38] D063520 commented on #382
it was a backend problem ....

[2022-02-08 20:53] madewild commented on #382
OK cool, DK looks much better now :)
![dk](https://user-images.githubusercontent.com/942488/153073749-e0f98580-446c-494b-8231-cd77554e9599.png)

[2022-02-08 20:53] #382 closed

[2022-02-10 14:31] madewild commented on #322
Target date for the redirection: 16 March. Countdown will disappear at that point.

[2022-02-10 14:33] madewild commented on #379
@svili maybe we also need a new icon as a writing pen is convenient for "Edit" but not really for "More"...

also present on beneficiaries like https://dev.kohesio.eu/beneficiaries/Q2514974
so should be changed in two places

[2022-02-10 15:27] madewild commented on #322
Reminder: issue a new certificate in the correct region and attach it to the load balancer
else we will face certificate errors in the browser...

[2022-02-10 16:54] roberto-musmeci opened #387 "Change text hyperlink to Info Regio page"
As suggested by A2 Director, we should change the text "Discover more in Info Regio" in something more like "more details".

![image](https://user-images.githubusercontent.com/86654885/153456615-f44eba2a-62a2-4803-a0ee-3044d5a8c6d4.png)

[2022-02-10 17:13] madewild commented on #387
OK but we already agree to transform "Edit" into "More" (cf. #379) so that might be confusing... Let's find something more specific. :)

[2022-02-11 06:23] madewild commented on #379
So if we want to use "More details" to replace "Discover in InforRegio", here are other suggestions for the Edit button:

- **Source** (but this sounds a bit like source code of the page)
- **Data** (I like this one since it's going to linkedopen**data**.eu)
- ...

@AThollard @roberto-musmeci what do you think?

[2022-02-11 08:13] madewild opened #388 "Rename repo to kohesio-frontend"
To be aligned with kohesio-backend
Caution: needs to be aligned with https://github.com/ec-doris/gitops-kohesio to avoid breaking the CI/CD pipeline!
(note: the URL https://github.com/ec-doris/kohesio.eu will still work, Github will handle the redirection)

[2022-02-11 08:15] madewild opened #389 "Improve README"
Current README is too generic: https://github.com/ec-doris/kohesio.eu/blob/dev/README.md
We should explain better the purpose of the tool, the context, and how to run it

[2022-02-11 08:33] svili commented on #379
![image](https://user-images.githubusercontent.com/11196689/153559851-98f87e61-6e81-4014-9a4e-3ffc0f60e174.png)
or maybe
![image](https://user-images.githubusercontent.com/11196689/153559947-a762adcb-84ff-4001-9f00-92ad556ab790.png)
?

[2022-02-11 08:43] madewild commented on #379
I prefer the 3 dots, but let's wait to see if we keep "More" or "Data" or something else ;)

[2022-02-11 09:06] roberto-musmeci commented on #379
I agree with the tree dots.
For the link to info regio we could use "Read further about the project" (too long ?). In this way we can use "More"

[2022-02-11 11:27] madewild opened #390 "Integrate webtools snippet for Europa Analytics"
https://webgate.ec.europa.eu/fpfis/wikis/pages/viewpage.action?spaceKey=EuropaAnalyticsWiki&title=FAQ#FAQ-WhatistheproceduretoincludeawebsiteinPiwik?

[2022-02-11 12:17] madewild commented on #390
https://webgate.ec.europa.eu/fpfis/wikis/display/EuropaAnalyticsWiki/Upgrade+of+Europa+Analytics+Tool

When will the upgrade happen?
It is expected to be finalized in March 2022.

Likely will not be ready for the launch so we might lose stats about the first few weeks :-(

[2022-02-11 12:52] #287 closed

[2022-02-11 12:52] #387 closed

[2022-02-11 12:53] #379 closed

[2022-02-11 13:34] madewild opened #394 "Change favicon"
Currently we use https://kohesio.development.ec.europa.eu/favicon.ico
We should normally use https://ec.europa.eu/info/sites/default/themes/information/favicon.ico
Maybe this is included in the ECL header?

[2022-02-11 13:41] madewild opened #395 "Improve title alignment"
Currently, the EC logo and title are not well aligned:
![title_align](https://user-images.githubusercontent.com/942488/153601311-3b3d4f40-53fd-492a-ba81-bbcf293049bf.png)
(reported by @Bisiaam )

However, the new look and feel will probably be like on https://digital-strategy.ec.europa.eu/en
![title_mockup](https://user-images.githubusercontent.com/942488/153601601-7450a52f-63c5-4a13-9975-4da0ed1b

[2022-02-11 13:51] madewild commented on #242
Maybe we can reuse something of this component: https://digital-strategy.ec.europa.eu/en/search?search=regions

[2022-02-11 13:56] madewild commented on #347
@AThollard not so easy to see where the logo will fit in the ECL template...
check https://digital-strategy.ec.europa.eu/en for instance

[2022-02-11 14:14] madewild commented on #266
@prototorpedo I don't see the image improvement on https://kohesio.development.ec.europa.eu/projects/Q139588 ... can you check?

[2022-02-11 14:15] madewild commented on #266
(ah on https://kohesio.development.ec.europa.eu/projects/Q139958 it's nice :) )

[2022-02-11 14:18] madewild commented on #266
@roberto-musmeci if you want to check make sure to clean the cache ;)

[2022-02-11 14:29] madewild commented on #296
Caution: [InfoRegio](https://ec.europa.eu/regional_policy/en/) is not (yet) compliant with ECL!
The footer will be more like on https://digital-strategy.ec.europa.eu/en

[2022-02-11 14:32] madewild commented on #343
Better to move to /services, cf. #351

[2022-02-13 20:09] raphdom opened #396 "Top search"
Implement new ECL component to top search in order redirect to the new global page mix beneficiaries and projects

[2022-02-13 20:10] raphdom opened #397 "Breadcrumb adaptation in all pages"
New ecl component to breadcrumb in all pages, can be simple right now, to be improved for next version

[2022-02-13 20:11] raphdom opened #398 "ECL menu"
need to activate the menu in each page, new ECL component

[2022-02-13 20:12] raphdom opened #399 "New carousel"
Adapt the new ECL carousel component

[2022-02-13 20:12] raphdom opened #400 "Map side effects"
- [x] Feature Collapse Regions Names
- [x] Responsive design
- [x] Mobile experience
- [x] Title outermost regions
- [x] Doesn’t work on project list page
- [x] Modal detail page integration

[2022-02-13 20:13] raphdom opened #401 "Themes component homepage"
- Align the design with ECL
- Responsive Design

[2022-02-13 20:13] raphdom opened #402 "Themes page - Side effect"
- Align ECL design
- Responsive Design

[2022-02-13 20:14] raphdom opened #403 "Footer - side effect"
Check with Max what we should do

[2022-02-13 20:14] raphdom opened #404 "About page - Side effects"
- Align ECL design
- Responsive Design

[2022-02-13 20:15] raphdom opened #405 "Filters Sidenav - Side effect"
Fix the sidenav for the filters on projects and beneficiaries list page
Responsive design

[2022-02-13 20:16] raphdom opened #406 "Tabs - Side effect"
Fix tabs component
Responsive design

[2022-02-13 20:17] raphdom opened #407 "Project List Design"
Fix the design of the project list
Responsive design also
Wait Raphael to fix the sidepane and the filters

[2022-02-13 20:18] raphdom opened #408 "Project Details Design - Side effect"
Fix the design of the page detail
Responsive design

[2022-02-13 20:19] raphdom opened #409 "Beneficiary List Design - Side effect"
Fix the design of the beneficiary list
Currencies broken
Wait for Raphael to fix the sidenav and the filters

[2022-02-13 20:27] raphdom opened #410 "Beneficiary detail - Side effect"
- Design
- Responsive design

[2022-02-13 20:28] raphdom opened #411 "Download button - side effect"
use ECL button instead or Material design

[2022-02-13 20:28] raphdom opened #412 "Sort - Side effect"
change to ECL component

[2022-02-13 20:29] raphdom opened #413 "Pagination and tabs query params - side effect"
Doesn't work anymore
Wait for Raphael to fix sidenav and tabs

[2022-02-13 20:30] raphdom opened #414 "Resolver error redirect to 400 page - Side effect"
Fix the catch error for each resolver

[2022-02-13 20:31] raphdom opened #415 "Modal component for all places"
New material component for modal to use in detail page and other places

[2022-02-13 20:32] raphdom opened #416 "ECL Menu bug on mobile, click on item doesn’t disappear"
Wait for Raphael to create the ECL component

[2022-02-13 20:32] raphdom opened #417 "Align social media icons with ECL rules on detail page"

[2022-02-13 21:26] raphdom opened #418 "Loading for lists (projects and beneficiaries) - Side effect"

[2022-02-14 06:15] madewild commented on #396
Linked to #242

[2022-02-14 06:17] madewild commented on #399
Duplicate of #342

[2022-02-14 06:18] #399 closed

[2022-02-14 06:19] madewild commented on #403
Linked to #298

[2022-02-14 12:03] madewild commented on #390
While Europa Analytics are unavailable, investigate alternative solution (with CloudFront?) to have at least basic stats about the number of users etc. for the launch...

[2022-02-14 12:08] madewild opened #419 "Slowness issue with PulseSecure"
Probably linked to proxy rather than VPN.
To investigate further...

@AThollard @gachpas apparently it could also be linked to an outdated antivirus but I guess all updates have been applied?

[2022-02-14 12:19] madewild commented on #342
Note: on https://ec.europa.eu/info/index_en they have a wider carousel, to evaluate...
But indeed it does not stop when you hover or click :(

[2022-02-14 12:48] gachpas commented on #419
@madewild , yes, my security updates are OK.

[2022-02-14 12:59] AThollard commented on #419
@madewild mine as well, I have updated everything following my call to the helpdesk last week

[2022-02-14 13:37] AThollard commented on #296
@gachpas as discussed

[2022-02-14 13:46] madewild commented on #419
Yes I thought so.
This morning we experienced a delay of ~3 hours for the DNS propagation of kohesio.eu -> kohesio.ec.europa.eu whereas without the VPN/proxy it took less than one minute :-/
Apparently the proxy randomly assigns you to one server in Luxembourg, and if that server happens to be busy orfaulty or whatever then you will experience extreme solowness. There is not way to change that and

[2022-02-14 13:54] madewild commented on #390
"The current date to resume onboarding is the 08 of March 2022" so all is not lost yet ;)

[2022-02-14 15:01] gachpas commented on #296
@AThollard , PS adapted for Kohesio sent to Maria ;)

[2022-02-14 16:34] madewild commented on #401
Fine for me on https://kohesio.development.ec.europa.eu/themes

[2022-02-14 20:24] madewild commented on #405
@raphdom mostly fine but the intervention fields are missing (we only have the section headers). Should I open a separate issue for this or will you follow-up here?

[2022-02-14 20:26] madewild commented on #405
also, the help tooltips to explain how to use 1. keywords and 2. type of beneficiary (public/private) are missing

[2022-02-14 20:27] madewild commented on #398
I guess this is fine now? not sure to understand the issue so @raphdom I let you close :)

[2022-02-14 20:33] madewild commented on #403
@raphdom what is the "side effect"? or is it just about adding the correct info to the footer? in this case I will treat as a duplicate of #298 and close this one.

[2022-02-14 20:36] raphdom commented on #398
I've fixed. It is fine now.

[2022-02-14 20:36] #398 closed

[2022-02-14 20:38] raphdom commented on #405
Yeah, maybe is a good idea, open 2 new issues. I will do it.

[2022-02-14 20:38] #405 closed

[2022-02-14 20:44] madewild opened #422 "Intervention fields missing in advanced filter"
Filters are mostly fine but the intervention fields are missing (we only have the section headers)

_Originally posted by @madewild in https://github.com/ec-doris/kohesio.eu/issues/405#issuecomment-1039520830_

[2022-02-14 20:45] madewild opened #423 "Help tooltips missing"
In the filters, the help tooltips to explain how to use 1. keywords and 2. type of beneficiary (public/private) are missing

_Originally posted by @madewild in https://github.com/ec-doris/kohesio.eu/issues/405#issuecomment-1039522499_

[2022-02-14 20:45] raphdom opened #424 "Tolltips on filters - side effect"
We should use something else to replace the tooltip on the filters help.

Maybe the angular material tooltip component:
https://material.angular.io/components/tooltip/overview

[2022-02-14 20:45] raphdom commented on #423
Maybe the angular material tooltip component:
https://material.angular.io/components/tooltip/overview

[2022-02-14 20:49] madewild commented on #395
Not relevant any more

[2022-02-14 20:49] #395 closed

[2022-02-14 21:15] madewild commented on #281
@AThollard for inspiration you can check https://digital-strategy.ec.europa.eu/en which has its own privacy statement (and copyright notice) in the footer on top of the standard privacy policy and legal notice included in any Europa website

[2022-02-14 21:58] madewild commented on #389
Much better now

[2022-02-14 21:58] #389 closed

[2022-02-14 22:01] madewild commented on #347
Now we can see for real on https://kohesio.development.ec.europa.eu/
No idea where to put the logo :-/

[2022-02-14 22:30] raphdom commented on #412
Should be fine now, on projects and beneficiaries list.

[2022-02-14 22:30] raphdom commented on #406
Shoud be fine now. You can test @madewild, please...

[2022-02-15 07:59] madewild opened #432 "Main map - side effect"
With the reduced width, Cyprus is hidden by the Leaflet credits:
![cyprus_hidden](https://user-images.githubusercontent.com/942488/154017773-542723f5-ecca-49f2-9af3-5b8332874ba5.png)

I would suggest changing the default minimum longitude to have something like this:
![cyprus_leaflet](https://user-images.githubusercontent.com/942488/154017870-579f54a9-081d-4a7b-9a43-3fae81fe96e6.png)

[2022-02-15 08:17] #403 closed

[2022-02-15 08:29] raphdom commented on #414
it is calling twice also when you come from the menu, don't know why, side effect.

[2022-02-15 08:52] madewild commented on #412
Looks good.

[2022-02-15 08:52] #412 closed

[2022-02-15 08:53] madewild opened #433 "No sort disappeared"
Side effect of #412
"No sort" disappeared on https://kohesio.development.ec.europa.eu/projects

[2022-02-15 08:55] madewild commented on #406
Looks fine.

[2022-02-15 08:55] #406 closed

[2022-02-15 09:09] AThollard commented on #347
Can you modify the first banner for the logo? I fear not...
![image](https://user-images.githubusercontent.com/80402472/154029443-e21e83c0-db15-45e2-a4c0-31053d55a95a.png)

[2022-02-15 09:19] AThollard commented on #281
@gachpas could you please communicate the updated privacy statement document as discussed with Maria so @madewild can create a specific page?
We can then link the 'privacy statement' in the footer to this page.
Thanks a lot

[2022-02-15 09:48] madewild commented on #347
I don't think so... other examples of websites using ECL:

https://ec.europa.eu/food/index_en
https://ec.europa.eu/oceans-and-fisheries/ocean_en
https://trade.ec.europa.eu/access-to-markets/en/home

[2022-02-15 09:49] madewild commented on #281
I received it by email, thanks. I suggest to put this on /privacy (link already in the footer), ok for you?

[2022-02-15 10:26] madewild commented on #342
Thanks @omar0z for this first working version! Here are a few improvements:

- [ ] remove text-decoration:underline on the buttons texts
- [ ] align play/pause button vertically with "1 of 3"
- [ ] check if images should be resized to avoid cropping them too much (compare with https://kohesio.test.ec.europa.eu/)
- [ ] Enjoy Kohesio's... -> Check Kohesio's...
- [ ] open and linked data -> linked an

[2022-02-15 10:32] AThollard commented on #281
Yes perfect

[2022-02-15 10:55] raphdom commented on #422
Fixed, can you check @madewild

[2022-02-15 10:58] raphdom commented on #413
fixed on projects and beneficiaries page, we don't have the tab=results anymore, per default is results, we don't need to put in the query params. The same for page=1, I remove because it is the default. @madewild if it is okay you can close the other issues also (https://github.com/ec-doris/kohesio.eu/issues/361)

[2022-02-15 11:20] madewild commented on #422
Perfect.

[2022-02-15 11:20] #422 closed

[2022-02-15 11:22] madewild commented on #413
Very nice like this!

[2022-02-15 11:22] #413 closed

[2022-02-15 11:22] madewild commented on #361
Fixed and shown only starting from 2.

[2022-02-15 11:22] #361 closed

[2022-02-15 11:42] raphdom commented on #418
fixed, @madewild you can test it

[2022-02-15 12:10] madewild commented on #418
The rendering is a bit strange (loading over the table header) but OK it works.

[2022-02-15 12:10] #418 closed

[2022-02-15 12:11] madewild commented on #418
(in beneficiaries)
in projects it's fine

[2022-02-15 12:15] madewild commented on #281
@prototorpedo or @raphdom can you prepare a skeleton of /privacy page? then I will convert the Word document to HTML and add the contents to the page

[2022-02-15 12:15] madewild commented on #281
(on the model of the about page)

[2022-02-15 12:17] madewild opened #437 "Strange rendering for loading beneficiaries"
The rendering is a bit strange (loading over the table header)

_Originally posted by @madewild in https://github.com/ec-doris/kohesio.eu/issues/418#issuecomment-1040198512_

[2022-02-15 12:17] madewild commented on #437
![benef_loading](https://user-images.githubusercontent.com/942488/154060593-2bcbe159-5825-4a0e-b310-450e95f9e672.png)

[2022-02-15 12:30] madewild commented on #351
After discussing with @AThollard we will keep the /services page (@prototorpedo can you prepare the skeleton?) but change the contents, I will take care of this.

[2022-02-15 12:35] #437 closed

[2022-02-15 12:36] raphdom commented on #437
done

[2022-02-15 12:38] madewild commented on #437
writing "fix" in the PR also automatically closes the issue ;) but it's fine in this case, I confirm it works

[2022-02-15 12:53] #433 closed

[2022-02-15 12:58] madewild opened #439 "Remove no sort for beneficiaries"
"No sort" is not needed anymore, default should always be EU Contribution (descending) for beneficiaries.

[2022-02-15 13:09] madewild commented on #390
In the meantime I will add this in dev:
[code]

[2022-02-15 13:28] gachpas commented on #298
@AThollard , the A2 Web Team FMB is still refer under contact....it should rather be Alex's team FMB instead, right?

[2022-02-15 13:32] gachpas commented on #298
@AThollard , Beaulieu us still mentioned in the REGIO address...to be updated ate DG COMM level?

[2022-02-15 13:37] gachpas commented on #298
@madewild , I suppose that it is normal that some links leads to error 404 at the moment, right? (Privacy statement, legal notice, ....)

[2022-02-15 13:45] madewild commented on #298
Yes, I will try to make them work by the end of the week...

[2022-02-15 14:03] AThollard commented on #298
After discussion with Max the standard is to refer to a generic page under contact (not even the Webteam actually). Or I have not understood to which 'contact' you refer to.
However, I think we could use the 'about' to mention more specific contacts: Alex's team + our FMB so we are sure to get the messages.
The about section should be revised and the 'data protection' section deleted in the about

[2022-02-15 14:23] madewild commented on #400
I changed the bullet points to checkboxes so that we can tick what is done...

[2022-02-15 14:28] prototorpedo commented on #407
Are sidepane and filters fixed @raphdom ?

[2022-02-15 14:30] madewild commented on #407
Yes: #405

[2022-02-15 15:48] raphdom opened #442 "Advanced Filter expanded rules"
The advanced filters should be expanded when we have values filled inside, specially when the page loads with queryparams.

[2022-02-15 16:10] svili commented on #411
Button is working as per the commit, just not sure about the look:
![image](https://user-images.githubusercontent.com/11196689/154101901-60d78334-41bb-4ed7-8868-b4b47e697261.png)

[2022-02-15 16:14] svili commented on #411
Basically there are 4 built in look and feel in ECL for buttons but all of them look a bit out of place for me, here are the others.
![image](https://user-images.githubusercontent.com/11196689/154102339-3c406b5d-e7d3-4e04-9273-a86db837e4a4.png)
![image](https://user-images.githubusercontent.com/11196689/154102480-b585a7db-4475-49d8-ad70-16e07e8190e7.png)
![image](https://user-images.githubusercont

[2022-02-15 19:49] madewild commented on #411
Good enough for now.

[2022-02-15 19:52] madewild commented on #404
The CSS seems strange to me (black text, strange heading styles)
@raphdom this is for later? can I close here?

[2022-02-15 19:52] madewild commented on #404
https://kohesio.development.ec.europa.eu/about

[2022-02-15 19:52] raphdom commented on #432
Should be fine now. You can test @madewild

[2022-02-15 19:52] raphdom commented on #415
Almost there, we have the modal on the map already, but still need to apply in other places

[2022-02-15 19:53] madewild commented on #417
Fine.

[2022-02-15 19:53] #417 closed

[2022-02-15 19:53] raphdom commented on #400
Everything was fixed. Can you check @madewild ?

[2022-02-15 19:59] madewild commented on #432
Almost good but when we hover the word "project" is still behind Leaflet... could we move further to the left? No problem if we hide Azores since it's an outermost region.

[2022-02-15 20:04] madewild commented on #400
Great, just two small things:

- the outermost region stays there empty instead of disappearing completely when non-relevant country (e.g. Germany) selected:
![outer_stays](https://user-images.githubusercontent.com/942488/154140125-2a97333f-8562-4060-9ceb-ddab047ad498.png)

- the css of the list of projects is quite bad:
![map_proj_css](https://user-images.githubusercontent.com/942488/154140164-07

[2022-02-15 20:05] raphdom commented on #400
please and put to the other release

[2022-02-15 20:07] madewild opened #448 "Hide outermost region ribbon"
The outermost regions ribbon stays there empty instead of disappearing completely when non-relevant country (e.g. Germany) selected:
![outer_stays](https://user-images.githubusercontent.com/942488/154140125-2a97333f-8562-4060-9ceb-ddab047ad498.png)

_Originally posted by @madewild in https://github.com/ec-doris/kohesio.eu/issues/400#issuecomment-1040737838_

[2022-02-15 20:09] madewild opened #449 "Improve CSS of project list in map"
The css of the list of projects is quite bad:
![map_proj_css](https://user-images.githubusercontent.com/942488/154140164-07f374e0-6720-4f98-bc40-f29a41cd090a.png)

Align more with https://kohesio.test.ec.europa.eu/ (European blue, underline on hover, wider box to avoid too much horizontal scrolling...)

_Originally posted by @madewild in https://github.com/ec-doris/kohesio.eu/issues/400#issuecomme

[2022-02-15 20:19] raphdom commented on #432
I cannot push more otherwise in the tablet mode Portugal will be cutted. 768ox. Please check @madewild

[2022-02-15 20:30] madewild commented on #432
Perfect now!

[2022-02-15 20:30] #432 closed

[2022-02-15 20:35] #400 closed

[2022-02-15 20:45] raphdom commented on #404
No, normally for the typography we need to apply the rules from ECL:
@svili the <h1> and <p> tags are not enough, you need to use:
`<h1 class="ecl-u-type-heading-1">`
or
`<p class="ecl-u-type-paragraph">`

Please check the documentation:

https://ec.europa.eu/component-library/ec/utilities/typography/usage/

[2022-02-15 20:57] madewild commented on #342
I already adapted the texts.
The first two things are defined in ecl-ec.css so I guess we need to define some custom css that has precedence over ECL.

For the text-decoration:

[code]

For the play-pause button:

[code]

[2022-02-15 23:11] raphdom commented on #342
Fix the two first points

[2022-02-15 23:11] raphdom commented on #409
fixed, can you check @madewild

[2022-02-15 23:12] raphdom commented on #410
working on that, some improvements already, miss some styles and the responsive design...

[2022-02-15 23:37] raphdom commented on #396
Fixed, the page was created and the global search is redirecting to there. @madewild we can close the issue and leave the other one to follow the global page implementation....

[2022-02-16 06:21] madewild commented on #342
The padding is indeed fixed but the text in the button is still underlined... it should never be underlined.

[2022-02-16 06:26] madewild commented on #409
Fine for me except that the rendered font looks a bit strange
Also there is an error in the console on https://kohesio.development.ec.europa.eu/beneficiaries
ERROR Error: NG0100: ExpressionChangedAfterItHasBeenCheckedError: Expression has changed after it was checked. Previous value: 'true'. Current value: 'false'

[2022-02-16 06:29] #396 closed

[2022-02-16 06:34] madewild commented on #242
Skeleton is there: https://kohesio.development.ec.europa.eu/search?keywords=wifi
So now it's a matter of getting the results from https://kohesio.development.ec.europa.eu/api/facet/eu/search/general?offset=0&limit=15&keywords=wifi and arranging the cards like on https://digital-strategy.ec.europa.eu/en/search?search=wifi

[2022-02-16 07:24] raphdom commented on #342
It is aligned with the link call to action from ECL:

https://ec.europa.eu/component-library/ec/components/navigation/link/code/

Why this should never be underlined?

[2022-02-16 07:33] madewild commented on #342
Mmmh, it was not underlined on https://kohesio.test.ec.europa.eu/ and I found it much better. For me it's strange to have underlined text inside a button. It would prefer something like the button/tab "My Trade Assistant" on https://trade.ec.europa.eu/access-to-markets/en/home but as you wish.

[2022-02-16 07:36] raphdom commented on #342
They have a button and a link, the link has underlined text and the cursor to indicate that will go somewhere else, the button doesn't have that means that will perform an action inside the page, at least this is my interpretation of this. But as you want, we can always change of course... We could remove the underline and in the hover keep?

[2022-02-16 07:39] madewild commented on #342
I would remove the underline always and only change the button color on hover (like on https://kohesio.test.ec.europa.eu/).
But don't lose too much time with this, we have more urgent things to tackle ;)

[2022-02-16 08:04] svili commented on #402
This was done by #420

[2022-02-16 08:05] madewild commented on #414
second part is not solved yet... still calling twice

[2022-02-16 08:06] #402 closed

[2022-02-16 08:08] madewild commented on #401
Confusion with #402
The other one is solved but this one we still need

[2022-02-16 08:23] madewild commented on #281
@raphdom created the page, I will add the contents

[2022-02-16 09:37] gachpas commented on #281
@madewild , on recommendation of our DPO, we have registered the PS in ARES but I suppose it does not affect what we do with the doc in Kohesio.

Just for alignement purposes the word 'Model' in the titile on the first page of the doc has been removed in the version published on ARES.
Br, PAscal

[2022-02-16 09:40] raphdom commented on #409
now is good, closing...

[2022-02-16 09:40] #409 closed

[2022-02-16 09:41] raphdom commented on #423
@svili  You can do in the beneficiaries list

[2022-02-16 09:45] roberto-musmeci opened #457 "Chained dropdown filters not working"
In the https://kohesio.test.ec.europa.eu/projects?tab=results, the program filter does not work properly.
It you select ESF as fund, you can still find ERDF programs in the program filters. See screenshot, "RF" (position 10 in the CCI) indicates it is a ERDF program.

I tried with Germany and Austria. It seems an overarching issue.

![image](https://user-images.githubusercontent.com/86654885/15423

[2022-02-16 09:45] roberto-musmeci opened #541 "Interaction between fund and programme filters"
In the https://kohesio.test.ec.europa.eu/projects?tab=results, the program filter does not work properly.
It you select ESF as fund, you can still find ERDF programs in the program filters. See screenshot, "RF" (position 10 in the CCI) indicates it is a ERDF program.

I tried with Germany and Austria. It seems an overarching issue.

![image](https://user-images.githubusercontent.com/86654885/15423

[2022-02-16 09:46] madewild commented on #281
Indeed, this is a separate administrative process.
Here's the working version of the PS: https://kohesio.development.ec.europa.eu/privacy
I will add the other sections today, then I will request the help of @raphdom to have a nice table of contents like on https://digital-strategy.ec.europa.eu/en/pages/legal-notice

[2022-02-16 09:51] madewild commented on #457
We have never created the dependency between fund and programme, only between country and programme.
@svili could look into this since he already fixed the intreraction with country but it's not always easy (what about multifund programmes?)

[2022-02-16 09:53] madewild commented on #457
(sorry I'm confusing, it's a backend issue)

[2022-02-16 11:09] madewild commented on #281
All sections added, just missing the ToC now. @gachpas can you proofread it?

[2022-02-16 11:28] raphdom commented on #397
you forgot about the themes page

[2022-02-16 12:03] gachpas commented on #281
Hello @madewild , I will do that tomorrow ( I am on the testing right now ;))
Also, I have spoken with Alain Vanden Borre and I will have to pass through different pages to align teh contact details, ...
Br,
Pascal

[2022-02-16 12:21] madewild commented on #281
Great, for that you can refer to #368

[2022-02-16 12:23] madewild commented on #397
There is also:

https://kohesio.development.ec.europa.eu/about
https://kohesio.development.ec.europa.eu/privacy

[2022-02-16 12:28] madewild commented on #341
Perfect now.

[2022-02-16 12:28] #341 closed

[2022-02-16 12:29] madewild commented on #345
Not relevant anymore since in ECL we cannot click on the text, only on the button.

[2022-02-16 12:29] #345 closed

[2022-02-16 12:53] omar0z commented on #397
@madewild What about it? I can see the breadcrumbs there

![image](https://user-images.githubusercontent.com/2214957/154268625-08117ec6-b30a-4f66-a558-60189faec209.png)

[2022-02-16 12:54] omar0z commented on #397
Also on privacy
![image](https://user-images.githubusercontent.com/2214957/154268735-9c629251-0450-4510-9e51-1436838193bc.png)

[2022-02-16 12:57] raphdom commented on #329
this is done. Can you test @madewild

[2022-02-16 12:57] raphdom commented on #448
this is fixed. Can you check @madewild ?

[2022-02-16 13:00] #397 closed

[2022-02-16 13:00] raphdom commented on #408
As I did the beneficiary page. I will do it. It will be more easy...

[2022-02-16 13:03] madewild commented on #397
ok sorry was probably a cache issue on my side...

[2022-02-16 13:05] madewild commented on #410
Start and end date are still missing on https://kohesio.development.ec.europa.eu/beneficiaries/Q2514974, compare with https://kohesio.test.ec.europa.eu/beneficiaries/Q2514974

[2022-02-16 13:09] madewild commented on #410
And also: for the name of the beneficiary, I suggest using `class="ecl-u-type-heading-4"` (the current style is much too big)

[2022-02-16 13:11] madewild commented on #448
Perfect.

[2022-02-16 13:16] madewild opened #461 "Proofreading"
Some texts (e.g. About page) are not written in perfect English... would be good to have a native English speaker proofread the whole website before the launch. @AThollard can you find someone in REGIO?

[2022-02-16 13:21] madewild commented on #342
@omar0z the link is still underlined when hovering the button... or is it a cache issue again?

[2022-02-16 13:26] AThollard commented on #461
Ok, first we need to revise the content then I will find someone @gachpas I think Simon in our unit would do that.

[2022-02-16 13:35] madewild commented on #351
It's a static page, now I know how to do it myself :)

[2022-02-16 13:36] madewild commented on #298
Now all the links in the footer should work properly.

[2022-02-16 13:38] madewild commented on #419
@gachpas @AThollard just to check if the issue was eUI-related: do you still experience the slowness on https://kohesio.development.ec.europa.eu/ ?

[2022-02-16 13:48] raphdom commented on #407
For me still some points to adjust:

- [ ] Remove the space between the image on the card
- [ ] Remove the margin on the footer(grey area)
- [ ] On the footer of the card, the font of the "Total budget" seems Italic, need to align the test environment
- [ ] Same for the font-size of the value of the Total Budget
- [ ] The sort should be in the same position as it is in the beneficiaries list

[2022-02-16 13:50] madewild commented on #407
Yes, I was about to comment on the font sizes (we have 12px, 13px and 16px in the same card). Maybe let's have 14px everywhere. The "Total budget" was already italics in test but not sure we need it... And we miss the "clock" icon just before the dates.

[2022-02-16 13:55] prototorpedo commented on #407
I tried to make it exactly as on test. If you check there, those are the font sizes used

[2022-02-16 13:57] madewild commented on #407
Yes, test is an inspiration but we should not stick too much to the exact font sizes... the font has changed and the goal is to make it nicer and harmonized. :)

[2022-02-16 14:12] gachpas commented on #461
@madewild , I will update the About page and will have it validated by Anne and proofread by Simon.

In the meantime, I am wondering on which ticket I can provide you updated information for the social network in the footer (cas confirmed by our Social media team)?
Here they are:
- Linkedin can be removed
- Insta and youtube to be added with the following links:
-[EU in my Region (@euinmyregion) •

[2022-02-16 14:21] raphdom commented on #410
both are fixed, can you check again @madewild

[2022-02-16 14:24] prototorpedo commented on #407
I felt it looked nicer on test, also why I kept the font sizes.
Regarding the icon, the EclIconModule wasn't imported and wasn't sure what I needed to import. I see now in the documentation it's a component.

[2022-02-16 14:30] madewild commented on #461
For the footer, please use #298
For the about page, I reopened #222

[2022-02-16 14:32] madewild commented on #298
- Linkedin can be removed
- Insta and youtube to be added with the following links:
- [EU in my Region (@euinmyregion) • Instagram photos and videos](https://www.instagram.com/euinmyregion/)
https://www.youtube.com/c/EUinmyRegion

_Originally posted by @gachpas in https://github.com/ec-doris/kohesio.eu/issues/461#issuecomment-1041532336_

[2022-02-16 14:35] madewild commented on #410
Perfect now.

[2022-02-16 14:35] #410 closed

[2022-02-16 14:38] prototorpedo commented on #407
What image are you referring to? The photo of the project?

Are you referring to top and bottom margin of the grey little box? If so, I would need to add padding

Total budget is italic on test

Will use same font size for all text there, as per @madewild request

Am I missing something? It's in the same position

[2022-02-16 14:47] raphdom commented on #407
What image are you referring to? The photo of the project?
The photo of the project, we have a lot of blank space on left and right

Are you referring to top and bottom margin of the grey little box? If so, I would need to add padding
Yes, we need to have the same spacing as we have on test, smaller, otherwise the card will be bigger(height)

Total budget is italic on test
We have some strange let

[2022-02-16 14:56] prototorpedo commented on #407
Ah, indeed, I used letter spacing for the amount bc the difference between them was quite staggering, on dev it's bundled together, thought it was very ugly.

[2022-02-16 15:06] raphdom commented on #401
@svili for me we could align the margins on desktop and mobile with the other elements in the page, carousel and map.
another thing that I thing it will be better is decrease the margin between the cards on desktop version (columns)

[2022-02-16 15:09] raphdom commented on #404
we can close this @madewild ?

[2022-02-16 15:10] raphdom commented on #342
@madewild I've tried to change the button inside the carousel, but with the button instead of the link we will loose the cursor and the hover, I think for now we can leave like that and move on, in the feature we can improve? what do you think?

[2022-02-16 15:10] prototorpedo commented on #407
All points should be addressed in latest PR

[2022-02-16 15:25] madewild commented on #404
Indeed, for the contents change we will follow-up in #222

[2022-02-16 15:25] #404 closed

[2022-02-16 15:39] svili commented on #423
Unfortunately Angular Material Tooltip doesn't support HTML content by design:
https://github.com/angular/components/issues/5440#issuecomment-313740211

[2022-02-16 15:43] madewild commented on #423
Shit, we really need it for the keywords because operators are complex... can we develop something custom or import from elsewhere?

[2022-02-16 15:44] madewild commented on #342
OK, then there is only the issue of cropped images...

[2022-02-16 15:47] raphdom commented on #342
@omar0z can you check this? please

[2022-02-16 15:49] madewild commented on #407
Yes much better, good enough for now.
Thanks @prototorpedo !

[2022-02-16 15:49] #407 closed

[2022-02-16 15:51] raphdom commented on #423
we could put it no a modal for now?
...or another idea is have a button to collapse the header and have this bellow the label like they have in ECL, but it will take too much space:
<img width="284" alt="Screenshot 2022-02-16 at 16 50 59" src="https://user-images.githubusercontent.com/5124917/154302577-4d50b396-e1a3-476f-be42-3e3b898b9933.png">

[2022-02-16 15:52] madewild commented on #342
Not sure there is an easy solution to this... I will close and open a separate issue, to check with REGIO designers.

[2022-02-16 15:52] #342 closed

[2022-02-16 15:54] madewild opened #468 "Carousel images ratio"
The images have been designed for the previous eUI viewport and now the carousel is much narrower... Sorry about that, can the designers help to have something nicer on https://kohesio.development.ec.europa.eu/ ? Currently we just crop the images...

https://kohesio.test.ec.europa.eu/assets/images/banners/kohesio-citizens.png
https://kohesio.test.ec.europa.eu/assets/images/banners/kohesio-policy.p

[2022-02-16 15:55] gachpas commented on #419
@madewild , yes I do :(

[2022-02-16 16:02] svili commented on #423
We can probably do it via plain CSS, I'll try.

[2022-02-16 16:08] madewild commented on #419
OK good to know. We'll narrow it down. :)

[2022-02-16 16:11] omar0z commented on #342
Or maybe we could try and play with the opacity of the controls strip of the carousel, but that might be some work for not much gain IMO

[2022-02-16 16:12] madewild commented on #468
Is it because the blue strip of the controls is over the image? Then if that is the issue, don't ask them to make the image smaller, otherwise the component will adjust to the new aspect ratio and then it will still crop the image to show the controls. The image should be the same as right now, but leaving a blank space in the bottom to accommodate the carousel control overlay, so the scene is not

[2022-02-16 16:21] omar0z commented on #468
I would add to the above that if an empty space is added at the bottom of the banners, while keeping the same dimensions, then the entire scene should be scaled down so it is displayed properly in the component without crops.

[2022-02-16 16:49] gachpas commented on #368
@madewild , I have prepared a document (under reviw by Anne roght now) that harmonise the contact detail in footer and pages accessible from the footer. You shoudl have this doc tomorrow. Do you see other pages where contact info is displayed?

cc: @AThollard

[2022-02-16 16:52] madewild commented on #368
On https://kohesio.development.ec.europa.eu/projects/Q100952 and https://kohesio.development.ec.europa.eu/beneficiaries/Q2514974 there is an email icon that is currently pointing to REGIO-EXTERNAL-COMMUNICATION@ec.europa.eu
We could just remove it and leave social media icons only...

[2022-02-16 16:53] madewild commented on #468
Then I could try to do that myself...

[2022-02-16 16:58] gachpas commented on #368
Hello @madewild ,

the good thing is that THE email address for contact is that one (Alex'steam FMB) ;)

The problem is that this enveloppe is part of the Sharing possibilities, and therefore, I would expect that clicking it just opens an email to which the user woud add whatever recipients is needed to share...
@AThollard , do you agree with this?

[2022-02-16 19:08] madewild commented on #408
The location over the map (e.g. "In Zielonogórski, Poland") could also be an h4 or even h5...

[2022-02-16 19:17] madewild opened #469 "Remove space below breadcrumb"
We lose a lot of space because of:

[code]
Is there an easy way to remove this margin bottom for the breadcrumb on all pages?

[2022-02-16 19:21] madewild commented on #401
Also, the link behind "Explore more..." is now https://kohesio.development.ec.europa.eu/projects?theme=Climate-Change-Adaptation-%26-Risk-Prevention&sort=Total-Budget-(descending) instead of https://kohesio.development.ec.europa.eu/themes

[2022-02-16 19:38] madewild commented on #351
Done, can be improved later.

[2022-02-16 19:38] #351 closed

[2022-02-16 19:39] madewild commented on #343
Done.

[2022-02-16 19:39] #343 closed

[2022-02-16 19:41] raphdom commented on #408
it is

[2022-02-16 19:42] madewild commented on #408
ah yes, much better now :) maybe I still had an old version in cache (with h2)

[2022-02-16 20:01] madewild commented on #468
I tried with this image but the result is exactly the same:
![kohesio-citizens-test](https://user-images.githubusercontent.com/942488/154345882-95e97e15-f3fd-4b1d-82c3-4fb411dbe068.png)

So I think the problem is not the controller bar: the image adjusts to the width and then the bottom is cropped
@gachpas can we have a quick chat with the image designers tomorrow to check the options?

[2022-02-16 20:36] raphdom commented on #408
done, can you test @madewild?

[2022-02-16 20:43] madewild commented on #408
Very nice!

[2022-02-16 20:43] #408 closed

[2022-02-16 20:46] raphdom commented on #415
the main modal is there, the one to open the page detail. I think we can open another issue to create another component to the image overlay on project list, project detail and beneficiary detail pages.

[2022-02-16 20:48] raphdom commented on #246
For this, I don't think that make more sense as we revamp the entire menu, we can close it?

[2022-02-16 20:49] madewild opened #473 "Image overlays"
create another component to the image overlay on project list, project detail and beneficiary detail pages.

_Originally posted by @raphdom in https://github.com/ec-doris/kohesio.eu/issues/415#issuecomment-1042295750_

[2022-02-16 20:50] #415 closed

[2022-02-16 20:52] raphdom commented on #328
it was implemented in the project list, I think we can close this @madewild ?

[2022-02-16 20:53] raphdom commented on #449
This is already done also.

[2022-02-16 20:54] madewild commented on #246
Yes indeed, should look like this on @gachpas phone now:
![iphone7](https://user-images.githubusercontent.com/942488/154355206-d02d5866-6575-4cab-a305-37e1bb18354a.png)

[2022-02-16 20:54] #246 closed

[2022-02-16 20:57] madewild commented on #328
It's quite slow in dev but that's related to the (unlimited) live index.
Closing now, will reopen if there is a problem after merging to test.

[2022-02-16 20:57] #328 closed

[2022-02-16 20:59] madewild commented on #449
Excellent.

[2022-02-16 20:59] #449 closed

[2022-02-16 21:05] raphdom commented on #442
done. Can you test @madewild ?

[2022-02-16 21:09] madewild commented on #442
If I select a fund for instance, close the advanced filters and press show results, then the advanced filters stays closed.
But if I then refresh the pages, it opens. Is that the intended behaviour? Fine for me.

[2022-02-16 21:10] raphdom commented on #442
it was like that before, we open when you refresh the page only

[2022-02-16 21:11] raphdom commented on #439
done

[2022-02-16 21:11] #442 closed

[2022-02-16 21:13] #439 closed

[2022-02-16 21:14] D063520 opened #475 "suggestion: would increase width of project view"
BEFORE (a bit small)

<img width="1680" alt="Screenshot 2022-02-16 at 22 10 47" src="https://user-images.githubusercontent.com/10883585/154357725-488d1343-4c25-4929-bc2a-47bf2bf9939c.png">

AFTER:

<img width="1680" alt="Screenshot 2022-02-16 at 22 11 56" src="https://user-images.githubusercontent.com/10883585/154357876-21dce3c0-43b5-4f70-b9fd-1426671a06c9.png">

Here the css that I changed:

<img

[2022-02-16 21:15] madewild commented on #281
In the end I managed to implement the inpage navigation myself. :)
@gachpas you can test on https://kohesio.development.ec.europa.eu/privacy and close if all is fine

[2022-02-16 21:41] madewild commented on #401
(I already fixed the last point)

[2022-02-16 22:00] madewild opened #477 "Interaction between policy and theme - side effect"
When I select https://kohesio.development.ec.europa.eu/projects?policyObjective=Smarter-Europe&sort=Total-Budget-(descending) for instances the themes are not restricted anymore. Was working on test after implementation in #283

[2022-02-16 22:14] madewild opened #478 "Improve policy objectives"
I noticed some inconsistencies and made some changes in the Wikibase accordingly:

Green and carbon free europe -> Greener, carbon-free Europe
Europe closer to citizen -> Europe closer to citizens
Technical Assitance: should only be a theme (TO), not a policy (PO)

Let's see how these are handled by the UI...

[2022-02-16 22:15] madewild commented on #477
Also note change for Technical Assistance: #478

[2022-02-17 06:09] madewild commented on #478
Working out of the box on:
https://kohesio.development.ec.europa.eu/projects?policyObjective=Greener,-carbon-free-Europe&sort=Total-Budget-(descending)
https://kohesio.development.ec.europa.eu/projects?policyObjective=Europe-closer-to-citizens&sort=Total-Budget-(descending)

Broken when clicking on the homepage:
https://kohesio.development.ec.europa.eu/projects?policyObjective=Green-and-carbon-fre

[2022-02-17 06:26] madewild opened #480 "Adapt social media links on detail pages"
Current on https://kohesio.development.ec.europa.eu/projects/Q19822 we have this:
![sml](https://user-images.githubusercontent.com/942488/154417685-b5dd7f03-a40a-472a-8845-e5e7cecb2f71.png)

Some remarks:

- [x] Facebook should be before Twitter to respect the same order as the footer
- [x] Do we keep Instagram knowing that the URL is just https://instagram.com/ (no way to draft a post)?
- [x] Do

[2022-02-17 06:28] madewild commented on #302
Mostly OK, closing this main issue.

[2022-02-17 06:28] #302 closed

[2022-02-17 06:29] madewild commented on #347
I will do a few tests but not sure there is a good solution.

[2022-02-17 06:33] madewild opened #481 "Graph and More buttons"
Currently the buttons Graph and More are in a div of their own and take a lot of vertical space, we should consider moving them elsewhere.
Also, is there a way to add back the icons or we keep like that for simplicity?

[2022-02-17 07:28] raphdom commented on #416
Fixed, thank you @omar0z

[2022-02-17 07:28] #416 closed

[2022-02-17 08:05] madewild opened #482 "Wrap up image credits"
On https://kohesio.development.ec.europa.eu/projects/Q19822
![credits](https://user-images.githubusercontent.com/942488/154431804-43984f0b-25a7-47a2-97be-437104ea4143.png)

Credits should stay below the image over more lines instead of eating up the space of summary

[2022-02-17 08:09] madewild commented on #401
As discussed:

- [ ] Change color to blue
- [ ] Align left and right to the map
- [ ] Don't hardcode PO and TOs
- [ ] Remove explore more card and move to call for action
- [ ] (remove Themes h2?)

[2022-02-17 08:11] madewild commented on #281
- [ ] Check inpage nav on mobile

[2022-02-17 08:13] madewild opened #483 "Remove "in my region" and "themes" headers?"
Now that we have moved to ECL, do we want to keep these on the homepage or not?
If we keep them we should align the spacing before/after.

[2022-02-17 08:26] AThollard commented on #368
Good morning @gachpas and @madewild
I share your views @gachpas on the expected behaviour, it should open an email with possibly a link to the project and the ability to share by email.
However, if we don't have it ready, we can just remove the icon from the package unless @madewild has a ready to go solution.

[2022-02-17 08:32] madewild commented on #368
We can discuss this on #480
I will investigate...

[2022-02-17 08:34] madewild opened #484 "Align carousel blue shade"
Currently the carousel has a different blue, try to override ECL to align with European blue.

[2022-02-17 08:34] gachpas commented on #468
@madewild , invitation sent out for a 15 min meeting with the graphic designer.

I could not confirm with her if the lot is Ok , as she is "away" in skype but her agenda is free in teh slot I have planned...let's cross the fingers ;)

[2022-02-17 08:54] gachpas commented on #298
@madewild , all working ;)

[2022-02-17 08:55] madewild commented on #298
Great, I just need to add a link to the new FAQ page...

[2022-02-17 08:57] gachpas commented on #246
@madewild , indeed on the search element, it is ok on mobile :)

[2022-02-17 09:22] gachpas commented on #480
@madewild ,

for what concerns Linkedin, I would keep it, as the purpose here is different, I (as a user) may want to share a project with a colleagues via Linkedin. I have double check with Slaven and he is aligned with this...so we can keep Linkedin.

When implemented, I will check the good functionning of all share, as for the meoment they are not availble §I assume that Raph is working on it)

[2022-02-17 09:28] svili commented on #478
On the homepage the highlighted themes are basically static. I can change it to use the backend labels as in the /themes page.

[2022-02-17 09:38] madewild commented on #480
Sould be working on https://kohesio.development.ec.europa.eu/projects/Q19822, maybe you need to refresh the cache?

[2022-02-17 09:42] raphdom commented on #401
Seems to be fine now, we need to remove the h2?

[2022-02-17 09:43] madewild commented on #478
I already discussed this with Raph, check #401

[2022-02-17 09:48] madewild opened #487 "Invalid date"
https://kohesio.development.ec.europa.eu/projects?policyObjective=Smarter-Europe&sort=Total-Budget-(descending)

in the console:
core.mjs:6485 ERROR Error: NG02100: InvalidPipeArgument: 'Unable to convert "Invalid Date" into a date' for pipe 'DatePipe'

[2022-02-17 09:54] madewild commented on #477
Fixed now. TA works fine also.

[2022-02-17 09:54] #477 closed

[2022-02-17 09:59] madewild commented on #484
Fixed!

[2022-02-17 09:59] #484 closed

[2022-02-17 10:00] madewild commented on #478
Everything is working.

[2022-02-17 10:04] #401 closed

[2022-02-17 10:05] madewild commented on #401
The last one is covered by #483

[2022-02-17 10:09] raphdom commented on #483
I have aligned the spaces between all components in the homepage already.

[2022-02-17 10:11] raphdom commented on #469
done

[2022-02-17 10:11] #469 closed

[2022-02-17 10:15] prototorpedo commented on #407
It just dawned on me I could have used material icons for the clock. Maybe we can use material icons since they're already there?

[2022-02-17 10:21] madewild commented on #483
@AThollard what is your view? we keep or remove?

[2022-02-17 10:35] gachpas commented on #480
@madewild,
The link to Linkedin and FB is working as expected (i.e. it opens the project page); for Insta, it did not copy any link, just opens the Insta homepage.....for twitter, I would not test, as I don't have an account :(
For the email, it still address the email to the FMB of REGIO EXT COM, while there should not be any recipient.
Br, Pascal

[2022-02-17 10:45] madewild commented on #480
@gachpas for insta this is what I wrote above: there is no way to make it work like the other social media (or least least we did not find it, do you have a working example on another website?). If we cannot make it then it's a bit strange to leave just a link to insta homepage, so maybe we should remove the insta button.

For the mailto I will fix it with mailto:?subject=your%20subject&body=your%

[2022-02-17 10:46] madewild commented on #298
Done

[2022-02-17 10:46] #298 closed

[2022-02-17 10:47] madewild commented on #261
Page ready on https://kohesio.development.ec.europa.eu/faq
Waiting for the contents :)

[2022-02-17 10:49] madewild commented on #481
With the space #469 removed it already looks much better
@roberto-musmeci do we leave like https://kohesio.development.ec.europa.eu/projects/Q100952 or needs extra improvements (icons etc.)?

[2022-02-17 10:52] gachpas commented on #261
Hello @slaven777 and @roberto-musmeci ,
here is teh place for FAQ.
Agreed deadline is 21/02 ;)
Br,
Pascal

[2022-02-17 10:59] gachpas commented on #480
@madewild
In this case, for Insta, I would remove it from the sharing possibilities...in any case, I do not really imagine nabila and co sharing a Kohesio project ;)
@AThollard , do you confirm that we can remove Insta?

[2022-02-17 11:14] AThollard commented on #480
@gachpas could you please check this with Corinne and ask her how the insta link should work?
Btw, Insta is now massively used for institutional communication, and it covers much more than haircut and make-up pics :-)
Plus don't underestimate the power of Kohesio on Nabila :-)

[2022-02-17 11:16] roberto-musmeci commented on #481
It looks already good!
Maybe another option would be using the link with icon component (see (here)[https://ec.europa.eu/component-library/ec/components/navigation/link/code/]). so we reduce the white space and put less enfasis on these two functionalities which are in general less relevant for the public.

[2022-02-17 11:16] Bisiaam commented on #261
yes we're on it :)

[2022-02-17 11:23] gachpas commented on #480
@AThollard , I had already asked Corinne before answering to Max ;) and she does not have example of other sites that pushes content to insta. She thinks that there is an Instagram policy preventing to do so.
If so, as said by Max, there is no point in letting a link in the Share, while we cannot share ...

For what concerns purely content push to Insta, I find strange to push content as a Project

[2022-02-17 11:25] madewild commented on #481
@raphdom what do you think?

[2022-02-17 11:30] gachpas commented on #480
@AThollard ,  in fact, thinking about it, it makes sense that Insta does not accept the push of other website pages, as its core business and concept is to share pictures that they want you to upload on their servers....make sense, no?

[2022-02-17 11:30] madewild commented on #480
Now I know why GitHub is considered a social network by our analytics software! :laughing:
![social_github](https://user-images.githubusercontent.com/942488/154472651-af4c054f-67ae-4c00-bdb5-4339e8994aca.png)

[2022-02-17 11:35] roberto-musmeci opened #490 "Translitteration issue"
Translitteration is includede in the beneficiary detail page but not on the project detail page.
Do we plann to include it ?

Example
https://kohesio.development.ec.europa.eu/projects/Q3842682
https://kohesio.development.ec.europa.eu/beneficiaries/Q3842681

[2022-02-17 11:47] madewild commented on #490
We completely missed this one. ;)
@DiaZork could you add **beneficiaryTransliteration** along beneficiaryLabel in https://kohesio.development.ec.europa.eu/api/facet/eu/project?id=https://linkedopendata.eu/entity/Q3842682 ?

[2022-02-17 11:51] madewild commented on #480
Should be better now, you can check on:
https://kohesio.development.ec.europa.eu/projects/Q19822
https://kohesio.development.ec.europa.eu/beneficiaries/Q197627

I hid Insta but can revert if necessary...

[2022-02-17 12:16] DiaZork commented on #490
It's done

[2022-02-17 12:22] madewild commented on #490
@svili can you take it from there and add the transliterated name next to the beneficiary name (bottom left) on https://kohesio.development.ec.europa.eu/projects/Q3842682 ?

[2022-02-17 12:23] madewild commented on #490
PS: the field is called "transliteration"

[2022-02-17 12:23] gachpas commented on #480
@madewild  email ok now :) Thx

[2022-02-17 12:25] madewild commented on #468
Thanks to Chloe we have much better visuals now :)
https://kohesio.development.ec.europa.eu/
@AThollard I slightly adapted the carousel texts for better rendering, let me know what you think...

[2022-02-17 12:25] #468 closed

[2022-02-17 12:25] madewild commented on #480
@AThollard can you confirm for insta? can we close?

[2022-02-17 12:26] raphdom commented on #475
nice, not easy with the responsive design (phone, tablet and desktop) sizes. But I've changed now and seems to be more big and nicer. Can you check @D063520?

[2022-02-17 12:49] AThollard commented on #480
Amen. You can close

[2022-02-17 12:50] #480 closed

[2022-02-17 12:51] madewild commented on #480
it will still be in the footer ;)

[2022-02-17 12:51] AThollard commented on #480
what insta?

[2022-02-17 12:52] gachpas commented on #480
@AThollard , yes, it is in the footer to lead to the EUinMyRegion inst page

[2022-02-17 12:53] AThollard commented on #468
Much better, thanks

[2022-02-17 12:54] D063520 commented on #475
Much better : )

[2022-02-17 12:55] madewild commented on #480
https://kohesio.development.ec.europa.eu/
![insta_footer](https://user-images.githubusercontent.com/942488/154485923-77eeeb53-2b56-4b78-b90e-eb73262a0339.png)

[2022-02-17 12:55] D063520 opened #492 "Don't go back to top of header after searching keyword"

[2022-02-17 13:17] D063520 opened #493 "viewport problem2"
In the facet search when selecting one project the viewport is keept, but it should be rest.
Obvious with a project in the bottom part of the list

[2022-02-17 13:27] D063520 opened #496 "facets cut"
see under temes

<img width="1680" alt="Screenshot 2022-02-17 at 14 25 49" src="https://user-images.githubusercontent.com/10883585/154491023-73ebe33e-ef7d-457f-8715-df2f2b624fa2.png">

[2022-02-17 13:30] D063520 commented on #475
Sorry .... only that now it changes from project to project:

LARGE
<img width="1680" alt="Screenshot 2022-02-17 at 14 27 38" src="https://user-images.githubusercontent.com/10883585/154491434-d2bdc537-8018-43e8-92f2-e9ffbf770cf4.png">

SMALL
<img width="1680" alt="Screenshot 2022-02-17 at 14 29 30" src="https://user-images.githubusercontent.com/10883585/154491556-1e3bc3ae-c10a-4444-a04e-323324fed9

[2022-02-17 13:31] raphdom commented on #493
now it is working on all pages. On dev first.

[2022-02-17 13:33] raphdom commented on #475
yeah, depending of the content, and the size of the screen, you don't like it, you are expecting something more fixed?

[2022-02-17 13:38] D063520 opened #497 "projects nearby me, external regions are kept"
<img width="1680" alt="Screenshot 2022-02-17 at 14 37 38" src="https://user-images.githubusercontent.com/10883585/154492981-2053c0c1-506f-4659-8055-56c8aa4f6edc.png">

[2022-02-17 13:42] D063520 opened #498 "new version cut's down more space"
I'm not sure if I was just used to the old one, but I feel that a lot of space is not taken by the new version. To compare

<img width="1680" alt="Screenshot 2022-02-17 at 14 41 35" src="https://user-images.githubusercontent.com/10883585/154493807-f6831789-519b-4310-92a3-2361aca0283f.png">

<img width="1680" alt="Screenshot 2022-02-17 at 14 41 29" src="https://user-images.githubusercontent.com/108

[2022-02-17 13:44] D063520 commented on #475
Yes, the previews one was fixed and I preferred it ....

[2022-02-17 13:47] #493 closed

[2022-02-17 14:16] raphdom commented on #475
now should be fine, on dev... @madewild can you check?

[2022-02-17 14:35] raphdom commented on #498
This is the size of the viewport on ECL, 1140px fixed, it will not grow. You can see that in all website from the commission. It is a standard. I like more the other one, with more space, anyway...
https://ec.europa.eu/info/index_en
https://ec.europa.eu/regional_policy/en/

[2022-02-17 14:41] madewild commented on #497
For me this is not such a problem... @AThollard do you think we should hid ethe ribbon in that case? Then what if someone hits projects near me from an outermost region? ;)

[2022-02-17 14:43] madewild commented on #498
Yeah nothing we can do about that unfortunately...

[2022-02-17 14:43] #498 closed

[2022-02-17 14:53] D063520 commented on #475
looks fine to me

[2022-02-17 15:06] #475 closed

[2022-02-17 15:17] madewild commented on #497
not so bad... Anne also says it can stay like that
@raphdom what do you think?

[2022-02-17 15:19] D063520 commented on #497
? For me it does not make sense .... if I'm in Auvergne and I search for projects nearby me, why should I see some other French islands?

[2022-02-17 15:42] madewild commented on #483
In the end we keep them but I changed to h2 to have something a bit smaller.

[2022-02-17 15:42] #483 closed

[2022-02-17 20:51] madewild commented on #468
@AThollard here's a new proposal for the first card:
![car1_new](https://user-images.githubusercontent.com/942488/154568564-969bb00a-5b74-42de-a96b-8fa1de945b4d.png)

[2022-02-17 20:55] madewild commented on #351
After discussion with Dennis we chose to leave only these for the first release:
![services_new](https://user-images.githubusercontent.com/942488/154569135-5b313238-568b-4049-9996-170d1416b904.png)

cf. https://kohesio.development.ec.europa.eu/services
@AThollard fine for you?
(the data page is not ready yet)

[2022-02-17 21:03] raphdom commented on #394
Fixed on dev

[2022-02-17 21:03] raphdom commented on #482
Fixed on dev

[2022-02-17 21:10] madewild commented on #281
@raphdom can you take care of the mobile navigation? too complex for me ;)

Other nice to have: https://digital-strategy.ec.europa.eu/en/pages/legal-notice#ecl-inpage-km0gfb8o has this nice autofocus on the correct section when you scroll...

![inline_focus](https://user-images.githubusercontent.com/942488/154571226-8959d5dc-4629-4584-81b5-7ae5d9c2aea3.png)

[2022-02-17 21:10] #394 closed

[2022-02-17 21:11] #497 closed

[2022-02-17 21:12] madewild commented on #487
Nice

[2022-02-17 21:12] #487 closed

[2022-02-17 21:12] #482 closed

[2022-02-17 21:33] raphdom commented on #281
done, now it works on mobile as expected...

[2022-02-17 21:34] madewild commented on #347
I managed to squeeze the logo in the footer:
![logo_footer](https://user-images.githubusercontent.com/942488/154574392-eaecf101-de51-45ed-99cf-a41b07e26524.png)

you can check on https://kohesio.development.ec.europa.eu/
not the most visible place but better than nothing ;)

[2022-02-17 21:34] #347 closed

[2022-02-17 21:37] #281 closed

[2022-02-17 21:42] madewild opened #502 "Projects near me failing in Liège"
Projects near me does not alway display Belgium's projects. The only pattern we could find with Pascal is that laptop within VPN network area will display Belgian projects but personnal computers from external zone will not display. Tested with IPAD, Personal desktop, PGA's Unisys laptop and personal IPhone. Cached have been refreshed and when test failed, tried with "private" session.

[2022-02-17 21:44] madewild commented on #502
For me works perfectly with VOO (personal laptop) in Mons:
![pnm](https://user-images.githubusercontent.com/942488/154575759-26bd50ab-abb4-42d0-a9d7-bd58a054326e.png)

Happy to debug with you @djang0 @gachpas

[2022-02-17 21:47] madewild opened #503 "Switch NUTS level when zooming"
Zooming-in/out the map will not make NUTS level to switch, you need to click.
It seems (to @djang0) counter intuitive. (Click is needed)

[2022-02-17 21:49] madewild opened #504 "Reset map breadcrumb when clicking projects near me"
Navigating the map to a given NUTS level (lets say NUTS 3) then clicking "projects near me" will trigger the "projects near me" functionality but the "NUTS breadcrumb buttons" are not reset.

[2022-02-17 21:50] madewild commented on #504
Example for me:
![pnm_bc](https://user-images.githubusercontent.com/942488/154576649-46cf5c92-60e5-4e86-8449-63d5c8c5c214.png)

[2022-02-17 21:52] madewild opened #505 "Make projects more accessible on map"
It is mandatory to click until the finest NUTS level is reached in order to display "blue bullets" (projects) appears.
For a newcomer it is not very obvious that such bullet are available, it kind of "kills the functionality".

[2022-02-17 22:09] madewild opened #507 "Improve readability of long labels in map"
In blue bullet contextual tooltip, project labels could benefit from better readability (text column is narrow).
When project label is very long, layout is negatively impacted.

[2022-02-17 22:16] madewild opened #508 "Allow to click on semantic search related terms"
In projects semantic search functionality, other search criteria are suggested to the user (near terms). That's cool !
If those terms were clickable (launching new search with the selected term), it would be perfect.

[2022-02-18 06:10] madewild commented on #502
Yes @raphdom did some changes to the DEV>TEST workflow but it seems that it did not go well this night... the backend is broken in test.
In the meantime you can test on https://kohesio.development.ec.europa.eu/ or https://kohesio.acceptance.ec.europa.eu/

[2022-02-18 06:15] Djang0 commented on #502
<img width="1167" alt="image" src="https://user-images.githubusercontent.com/841633/154628043-c89718e0-f1f8-4c5f-9e69-8e559f3a0428.png">
development Environment.
<img width="1091" alt="image" src="https://user-images.githubusercontent.com/841633/154628139-39a636df-3176-4cfc-80cd-9aeb47d16e76.png">
acceptance environment...

are data cached at browser level (I don't really trust what I am writing h

[2022-02-18 06:40] madewild opened #509 "RouterLink not going back to top of active page"
Go to https://kohesio.development.ec.europa.eu/about
Scroll to the bottom of the page
Click on "About Kohesio" in the footer

Observed behaviour: nothing happens
Expected behaviour: page refreshed at the top

[2022-02-18 07:01] D063520 opened #510 "when clicking on a point ranking the featured projects first"
It's more a backend issue, but is it ok for you?

<img width="1041" alt="Screenshot 2022-02-18 at 08 00 48" src="https://user-images.githubusercontent.com/10883585/154633780-2550bec4-a7e8-4d4d-adb3-0d4284f388aa.png">

[2022-02-18 07:18] raphdom commented on #509
fixed on dev

[2022-02-18 07:24] raphdom commented on #504
fixed on dev.

[2022-02-18 07:31] raphdom commented on #481
For me buttons that are on the top right of the page are to do edit the content or actions related to the content itself. Maybe we could move those buttons to a link inside a grey box on the left? Like you said too much attention and is not so relevant to the public...

[2022-02-18 07:55] #509 closed

[2022-02-18 07:56] raphdom commented on #492
I don't understand this issue, seems the same as #496 ?

[2022-02-18 07:56] madewild commented on #504
Great, fyi @djang0

[2022-02-18 07:56] #504 closed

[2022-02-18 08:11] AThollard commented on #347
Perfect @madewild ! Logo is not the main message we want to pass with Kohesio

[2022-02-18 08:16] AThollard commented on #468
I was about to propose 'find-out' as well this morning @madewild
Could you please switch? ->curious to discover....and Find-out projects around you, thks

[2022-02-18 08:20] AThollard commented on #351
Fine. thanks.

[2022-02-18 08:21] madewild commented on #468
I don't think we can say "find out projects" in correct English... that's why I switched. To be checked.

[2022-02-18 08:23] AThollard commented on #298
Sleeping on it, could you please add 'REGIO-KM@ec.europa.eu' in the recipients? Thks

[2022-02-18 08:24] AThollard commented on #468
Find-out about?

[2022-02-18 08:27] madewild commented on #468
Then why not simply "Find projects around you" ?
"Find out about projects around you" with 3 prepositions is really not elegant...

[2022-02-18 08:29] AThollard commented on #468
ok

[2022-02-18 08:35] AThollard commented on #298
OK, leave it like that then. We will organise ourselves internally

[2022-02-18 08:39] madewild commented on #468
![Uploading car_final.png…]()

[2022-02-18 08:41] svili opened #512 "Themes component on homepage on mobile"
![image](https://user-images.githubusercontent.com/11196689/154648079-ae71369f-7b66-4f3d-9803-6fea0689aa22.png)

[2022-02-18 08:55] madewild commented on #496
In some cases we get a vertical scrollbar on both sides...
https://kohesio.development.ec.europa.eu/projects?keywords=Reconstruction%20of%20the%20NKP%20%E2%80%9COld%20Town%20Hall%E2%80%9D%20in%20T%C3%A1bor&sort=Total-Budget-(descending)

[2022-02-18 10:00] Djang0 commented on #504
@madewild and @raphdom tested and fix is confirmed in DEV env. Thank you.

[2022-02-18 10:48] madewild opened #515 "Trim leading and trailing whitespace around keywords"
https://kohesio.test.ec.europa.eu/projects?keywords=wifi&sort=Total-Budget-(descending) -> 3808 results
https://kohesio.test.ec.europa.eu/projects?keywords=%20wifi&sort=Total-Budget-(descending) -> 3687 results

trim before sending to search api

[2022-02-18 11:19] madewild opened #516 "Pressing Enter triggers wrong button"
Got to https://kohesio.development.ec.europa.eu/projects?keywords=wifi&sort=Total-Budget-(descending)
Put your cursor next to "wifi" in keyword field
Press Enter

Observed behaviour: you go to https://kohesio.development.ec.europa.eu/projects?keywords=%22wifi%22&sort=Total-Budget-(descending) because "Use my keywords only" button is triggered instead of "Show results"

Expected behaviour: trigger

[2022-02-18 11:20] madewild commented on #516
@raphdom will handle it because he's already working in the sidenav pane...

[2022-02-18 11:23] madewild opened #517 "Pagination total slow to load"
Go to https://kohesio.development.ec.europa.eu/projects?sort=Total-Budget-(descending)
Select a big country and press "Show Results"
Projects are loaded immediately (cached) but the pagination total only appears after a small delay

Note: if I try again with the same country it works, seems that the total is also cached in that case

[2022-02-18 11:25] madewild opened #518 "Improve readability of extended keywords"
Difficult to read white on pale blue:
![extended](https://user-images.githubusercontent.com/942488/154673764-e783b02d-4b9e-4d26-b391-4a317e04c359.png)

Let's try to have a better contrast...

[2022-02-18 11:32] madewild opened #519 "Wrong bottom pagination for audiovisual"
https://kohesio.development.ec.europa.eu/projects?keywords=test&sort=Total-Budget-(descending)&page=3&tab=audiovisual
![av_bottom_pag](https://user-images.githubusercontent.com/942488/154674748-c09ab7c8-34d6-4b91-87dc-8e1a8b42845c.png)

Pagination below images is the one of projects!!

[2022-02-18 11:33] madewild commented on #519
On the projects tab we have the pagination controller only at the top, we can do the same for AV and just remove it

[2022-02-18 11:38] madewild opened #520 "Expression Changed After It Has Been Checked"
Go to https://kohesio.development.ec.europa.eu/projects?tab=audiovisual
Click on one image
Click the "back" button in the browser -> ExpressionChangedAfterItHasBeenCheckedError

[2022-02-18 12:00] madewild commented on #508
@djang0 cherry on the cake has been delivered already! ;)
https://kohesio.development.ec.europa.eu/projects?keywords=cherry&sort=Total-Budget-(descending)

[2022-02-18 13:18] raphdom commented on #517
I cannot reproduce it Max. I saw in your computer and I believe in you but I've try to reproduce and failed. :)

[2022-02-18 13:41] #516 closed

[2022-02-18 13:43] madewild commented on #496
just one thing, when you go to https://kohesio.development.ec.europa.eu/projects?keywords=wifi&sort=Total-Budget-(descending) and press "Show Results", the sidepane is quite ugly/cut during the (short) loading time. Is there a quick fix for that?

[2022-02-18 13:45] raphdom commented on #496
ah, I didn't count with the search terms, we have a margin, but I will increase, don't worry

[2022-02-18 13:49] raphdom commented on #519
it was my fault. I moved the bottom paginator from the results to the audio visual tab. I moved back to the bottom to the results, should be fine now...

[2022-02-18 13:49] raphdom commented on #520
fixed for all tabs and the pagination also

[2022-02-18 13:50] raphdom commented on #496
the things that only you find, lol

[2022-02-18 13:56] madewild commented on #517
Let's try again tomorrow (or Monday) with a clean cache...

[2022-02-18 13:57] #519 closed

[2022-02-18 13:57] #520 closed

[2022-02-18 14:01] madewild commented on #496
I still have a vertical scrollbar while the page is loading:
![loading_scroll](https://user-images.githubusercontent.com/942488/154696578-bcc24f80-6fb3-46fb-ab6f-7cc6a08ca77b.png)

[2022-02-18 14:08] raphdom commented on #496
@madewild  can you check now?

[2022-02-18 14:10] madewild commented on #496
Perfect!

[2022-02-18 14:10] #496 closed

[2022-02-18 14:28] AThollard opened #522 "Mobile - call for action button do not work"
On the carousel, call for action buttons are not active: Explore the map/Browse the project / Download the data
Samsung /Android

[2022-02-18 15:22] AThollard opened #523 "Mobile - beneficiary link does not appear on the project details"
@raphdom the beneficiary link does not appear at the end of the project details (mobile version)
If I open the project in a new tab, then it appears correctly

[2022-02-18 15:50] madewild opened #525 "Harmonise font size on beneficiary detail page (mobile)"
![mobile_benef_detail](https://user-images.githubusercontent.com/942488/154715695-2907a3c9-1570-483c-ad6c-164cd68405ee.png)

https://kohesio.development.ec.europa.eu/beneficiaries/Q2514974

[2022-02-18 16:39] AThollard commented on #523
It does not happen for all beneficiaries, the project details are troncated
![image](https://user-images.githubusercontent.com/80402472/154724707-cc0793ec-074e-449d-a6c7-523e8576e2cc.png)

[2022-02-18 16:43] AThollard commented on #523
And yes in the modal over the map

[2022-02-18 16:53] raphdom commented on #522
@omar0z  Seems that we have a problem with the ECL carousel component, even in the playground on mobile the actions doesn't work. I think it is related to the swipe action that overlap the buttons...

[2022-02-18 16:55] madewild commented on #522
ah damn... I hope we don't have to change the carousel component again :(

[2022-02-18 17:07] raphdom commented on #523
I agree, the modal on mobile sometimes cut the bottom of the information, we need to decrease the height of the modal

[2022-02-18 17:10] AThollard opened #527 "Mobile - Project search advanced filters scroll down"
In Project search filter, advanced filter, scroll down bar is not available on the right, so impossible to scroll down until the last filters.
I am stuck at 'Total Budget'.
![image](https://user-images.githubusercontent.com/80402472/154729952-558b7fb7-eec3-4123-aebd-535d85827df0.png)

[2022-02-18 17:13] AThollard commented on #527
Now it works, refresh issue.  I close it, please ignore it.

[2022-02-18 17:13] #527 closed

[2022-02-18 17:34] raphdom commented on #523
this is done, now is much better the modal in mobile, I did some small improvements. Can you check @AThollard and @madewild ?

[2022-02-19 07:10] madewild opened #529 "Map breadcrumb collapsed when clicking blue circle"
The map breadcrumb should not collapse on desktop when you click on one location.

[2022-02-19 10:04] madewild commented on #266
It looks like this did not survive the ECL move...
https://kohesio.development.ec.europa.eu/projects/Q139958
https://kohesio.development.ec.europa.eu/projects/Q107810
@prototorpedo can you check?

[2022-02-19 12:47] madewild commented on #423
When it's ready, you can add this (slightly adapted) text to the keywords tooltip:

[code]

[2022-02-19 13:44] madewild opened #533 "Reset filters does not work properly"
Go to https://kohesio.development.ec.europa.eu/projects
Select a theme (e.g. "Research & Innovation")
Click "Show results"
Click "Reset Filters"
Policy is reset but not Theme

[2022-02-19 13:51] madewild commented on #533
Other example:

Got to https://kohesio.development.ec.europa.eu/projects
Select a country (e.g. Austria)
Click "Show results"
Click "Reset Filters"
Region list is reset but not country

Probably linked to filters interaction

[2022-02-20 06:35] madewild opened #534 "Better visual indication of project numbers on the map"
If you want to search on a TO or keyword and see all related projects in Europe, when passing to the map view, you have to hover to see if there are projects or not…there is no direct visual sign of where projects are or which countries have such projects.

https://kohesio.development.ec.europa.eu/projects?theme=Research-%26-Innovation&policyObjective=Smarter-Europe&sort=Total-Budget-(descending)&

[2022-02-20 06:46] madewild opened #535 "Close modal when clicking new tab"
If you select a project from the map, the project modal opens up. If you then click on the open in another page tab, I expect the modal to be closed. This is currently not the case. Also I don't know if the browser should jump into the new page or rather stay on Kohesio home page.  but not essential.

reported by @roberto-musmeci

[2022-02-20 06:48] madewild opened #536 "Allow searching by clicking on terms in project detail page"
It would be nice if users were able to see the results by theme, intervention field and program by clicking on these items also from the project detail page.

[2022-02-20 06:53] madewild opened #537 "Hide programming period filter"
In advanced filters, we can hide (comment out) programming period for now.
Will only become relevant in a future release.

[2022-02-20 06:58] madewild opened #650 "Add policy objective to project API"
Currently on https://kohesio.test.ec.europa.eu/api/facet/eu/project?id=https://linkedopendata.eu/entity/Q100952 we have:

"objectiveIds":["TO09"]
"objectiveLabels":["Social Inclusion"]

"objective" is not very clear since it can refer both to thematic objective (TO, theme) or policy objective (PO, policy)
it would be good for later to:

- change these to themeIds and themeLabels
- add policyId and

[2022-02-20 07:36] madewild opened #716 "Warn users about projects with no geolocation"
Map overview when searching via keywords - it seems that sometimes no markers indicated on the map, only regions?
reported by @slaven777

Example:

- Go to https://kohesio.test.ec.europa.eu/en/projects?keywords=wifi&sort=Total-Budget-(descending)&tab=map
- Sweden is orange
- Hover it: 1 project
- Click on it > nothing

This is because the unique project has no geolocation. Known issue but bad user

[2022-02-21 07:57] raphdom commented on #523
The title on the top is needed when we scroll down, specially on mobile that we loose the title inside the content. For the scrollbar is indeed a bug

[2022-02-21 08:00] madewild commented on #523
Then can we keep the top title only on mobile? Not critical of course...

[2022-02-21 08:09] AThollard opened #538 "Enhancement - desktop version projects list"
Results/Audiovisual/Map tabs: if possible align the font size and color with the filter names on the left + reduce the blank space on top
![image](https://user-images.githubusercontent.com/80402472/154914450-546eac22-e47b-4ebb-985f-abb48ee94c2a.png)

[2022-02-21 08:26] madewild commented on #517
Mmmh not happening again today... will close and reopen if necessary.

[2022-02-21 08:26] #517 closed

[2022-02-21 08:54] svili commented on #423
I'm getting there, there was a bunch of problems with dependency conflicts with certain packages and that a bunch of libs are not compatible with angular 13 or something.
In the end I managed to do it with an angular wrapper of PopperJS.
The only thing that remains is to make it mobile friendly.
![image](https://user-images.githubusercontent.com/11196689/154920890-afdf047e-9173-45ce-9389-b2f502f5a

[2022-02-21 08:56] madewild commented on #423
I notice I left a mistake in the text of the first paragraph, should be: use double quotes (**"ai"**)

[2022-02-21 09:03] raphdom commented on #529
Done, we keep this behaviour only on mobile

[2022-02-21 09:04] raphdom commented on #523
Not easy, depend of the height on desktop and sometimes we have a big description that need the scroll even on desktop. I left the title and fix the scroll, can you check @madewild ?

[2022-02-21 09:04] #529 closed

[2022-02-21 09:06] madewild commented on #523
OK!

[2022-02-21 09:06] #523 closed

[2022-02-21 09:13] prototorpedo commented on #266
It doesn't appear that the code made it there at all

[2022-02-21 09:16] madewild commented on #266
Yeah so it's a side effect... can you please retrieve the proper code and integrate it in the ECL version? thx

[2022-02-21 10:28] AThollard opened #539 "Enhancement - footer "twitter" mention"
Comments from Regio Social Media team
Is it possible to add the[ #Kohesio](https://twitter.com/search?q=%23kohesio&src=typed_query&f=live) under "Twitter" button in the footer?
If not possible link the Twitter button itself to https://twitter.com/search?q=%23kohesio&src=typed_query&f=live

[2022-02-21 10:33] AThollard opened #540 "Semantic search - matching terms for 'Just transition'"
In the previous version when searching for 'Just transition' I had the following matching terms
"inclusive_societies_clean_energy_transitionlow_carbon_economylow_carbon_societyresilient_citiesclimate_justicesustainable_economic_growthclimate_neutralsocially_inclusivetransition_towardresponsible_citizenshipsustainable_lifestylestransition_towards_sustainableterritorial_cohesioninclusive_growthpover

[2022-02-21 10:37] madewild commented on #540
Yes we tried to improve the semantic search, cf. https://github.com/ec-doris/kohesio-backend/issues/74
We may have some side effects...
@faustusdotbe can you have a look? but let's not break one thing to make the other work ;)

[2022-02-21 11:02] AThollard commented on #540
Maybe I can search with 'Transition' only? because 'Just Transition' is a bit artificial even if very relevant for Cohesion Policy context.

[2022-02-21 11:36] faustusdotbe commented on #540
@AThollard  Do you see those similar words for `just_transition`on similarity.cnect.eu while using the H2020 models (default, first in the dropdown) or the Kohesio one?

It's not in the vocabulary of the model in the Kohesio one: `KeyError: "Key 'just_transition' not present"`. It might have been in an earlier version but I raised the minimal frequency threshold to filter out some other noise back

[2022-02-21 11:48] madewild commented on #539
So Facebook, Instagram and Youtube will all go to "EU in my region" but Twitter will behave differently and go to #Kohesio ?

[2022-02-21 11:52] madewild commented on #539
@AThollard you can test it on dev:
![koh_hashtag](https://user-images.githubusercontent.com/942488/154950147-3c7e9dd9-4a56-4ee3-84e6-c1ec8b74468c.png)

[2022-02-21 11:55] madewild commented on #222
@roberto-musmeci let's follow up here on the changes needed for the About page

[2022-02-21 11:56] madewild commented on #368
@gachpas @AThollard @Bisiaam do you still see email issues on dev? or can we close this?

[2022-02-21 11:59] madewild commented on #481
At the same time the 3 buttons are aligned in the modal:
![open_graph_more](https://user-images.githubusercontent.com/942488/154951232-d1477d54-da15-4123-82df-afaaa45059c2.png)

I propose leaving like that for now and reviewing for next version.

[2022-02-21 12:04] madewild commented on #538
Yes exactly, I would not touch this.
The typography of the tabs names seems aligned with the pagination, easy way to tweak this? For me it's good enough as it is...

[2022-02-21 12:05] raphdom commented on #538
I will increase the font-size of the tabs.

[2022-02-21 12:50] #512 closed

[2022-02-21 13:08] AThollard commented on #538
fine with me if we just touche the font-size

[2022-02-21 13:09] AThollard commented on #539
Yes, because there is a specific hashtag for Kohesio now. I send the test Corinne, my Social Media colleague

[2022-02-21 13:45] madewild opened #542 "Move "select a country first" to placeholder"
For region and programme filters.

[2022-02-21 13:55] raphdom commented on #538
done

[2022-02-21 13:55] raphdom commented on #537
done

[2022-02-21 13:55] raphdom commented on #533
fixed

[2022-02-21 13:55] raphdom commented on #515
fixed

[2022-02-21 13:59] #538 closed

[2022-02-21 13:59] #537 closed

[2022-02-21 14:00] #533 closed

[2022-02-21 14:01] #515 closed

[2022-02-21 14:16] DiaZork commented on #242
I've add everything

[2022-02-21 14:17] madewild commented on #481
For later, maybe we should move the social sharing buttons to the top instead. We just need to figure out where to place the "Open" in the modal...

[2022-02-21 14:17] madewild commented on #481
fyi @AThollard

[2022-02-21 14:18] madewild commented on #536
reported by @roberto-musmeci
fyi @AThollard (also reported by other user)

[2022-02-21 14:21] madewild commented on #242
Excellent, @raphdom can you check if you have all the elements you need for the card?

[2022-02-21 14:27] madewild commented on #539
@AThollard can you check now?

![hash2](https://user-images.githubusercontent.com/942488/154974140-360de304-2554-49cc-85da-3b159ffd49f2.png)

[2022-02-21 16:06] raphdom commented on #242
Thanks @DiaZork. Now we have the first version of the global search. @madewild and @D063520 can you check please?

[2022-02-21 16:06] raphdom commented on #242
on dev

[2022-02-21 16:11] raphdom commented on #245
Finally we are back in this issue. I've updated the plugin to interact with the map on mobile, I've test on my iphone and seems quite good. Can you test it @gachpas and @madewild ? on dev, today in the end of the day we are going to send it to test environment.

[2022-02-21 16:18] madewild commented on #242
Nice first version!
@raphdom some summaries are missing although they are provided by the API
I think you cut long summaries with "..." but then for some reason the summaries shorter than the threshold are not displayed ;)
@gachpas can you also test?

[2022-02-21 16:19] madewild commented on #242
![Uploading summary_missing.png…]()

[2022-02-21 16:20] raphdom commented on #242
indeed, my bad, already fixed. 2min to deploy :)

[2022-02-21 16:20] madewild commented on #242
PS: I tried to disable the ugly purple for visited links in most pages by adding

[code]

[2022-02-21 16:22] madewild commented on #245
Cool, @AThollard @roberto-musmeci @Bisiaam could you also test?

[2022-02-21 16:22] raphdom commented on #242
this is something that came with ECL:
https://ec.europa.eu/component-library/ec/components/navigation/link/code/

[2022-02-21 16:23] madewild commented on #242
I know, but I hate it! Looks like IE from the nineties ;)

[2022-02-21 16:26] madewild commented on #242
Note for @DiaZork : the general search is quite slow, maybe we could put a limit at 5000 results like for the others...

[2022-02-21 16:37] gachpas commented on #368
@madewild , the share via email feature is now working as expected :)
Thx

[2022-02-21 16:50] gachpas commented on #245
@raphdom, it is indeed better. ;) Thx

[2022-02-21 16:51] roberto-musmeci commented on #245
Navigation seems ok to me.

One issue is that if you open a circle with several projects, the tooltip appears and if you try to scroll down the map displays "use two fingers to move in the map". The list items still scroll down on the background but it is not ideal.

[2022-02-21 16:58] #368 closed

[2022-02-21 16:59] madewild commented on #245
@raphdom can we do something about this?

[2022-02-21 17:02] Bisiaam commented on #245
I tested it. I agree with Roberto, otherwise all good with me :)

[2022-02-21 17:08] madewild commented on #242
(I opened a separate issue on the backend side for this)

[2022-02-21 17:15] madewild commented on #242
@AThollard @roberto-musmeci can you also test the global search on dev and provide feedback?

[2022-02-21 17:20] madewild commented on #540
Closing as duplicate of https://github.com/ec-doris/kohesio-backend/issues/74

[2022-02-21 17:20] #540 closed

[2022-02-21 18:10] AThollard commented on #539
You can get rid off the parenthesis and it will be perfect

[2022-02-21 18:36] madewild commented on #539
For me it's strange to have just "Twitter #Kohesio" with two links...
What about "Twitter - #Kohesio" then if you don't like the parentheses?
Or again, just Twitter with the Kohesio link behind.

[2022-02-21 19:38] raphdom commented on #388
now kohesio-frontend

[2022-02-21 19:38] #388 closed

[2022-02-21 19:43] madewild commented on #388
fyi I have created https://github.com/kohesio
at some point in the future we might consider moving away from the doris org...

[2022-02-21 20:19] raphdom commented on #245
not easy this one, but fixed. Now we have the version on test with all changes also. Can you test it to finally close this issue? @madewild @Bisiaam @roberto-musmeci @gachpas

[2022-02-21 20:28] madewild commented on #245
I tested on Fairphone3/Android and works perfectly! :)

[2022-02-21 20:28] #245 closed

[2022-02-22 06:36] raphdom commented on #423
Good jog @svili. I've check and everything is fine and working, even on mobile is very good placed. Thank you

[2022-02-22 06:43] raphdom commented on #525
Fixed

[2022-02-22 07:31] #423 closed

[2022-02-22 07:32] #525 closed

[2022-02-22 07:46] madewild commented on #322
Already redirected
Check if all works after move to prod cluster

[2022-02-22 07:56] madewild opened #546 "Add Cookie Consent Kit"
Note that the corporate service Cookie Consent Kit must be implemented on all pages of the website.
https://webgate.ec.europa.eu/fpfis/wikis/pages/viewpage.action?spaceKey=webtools&title=Cookie+Consent+Kit

[2022-02-22 07:58] madewild opened #547 "Pre-launch checks"
- [x] You are kindly requested to send mock-ups and the URL of the draft website to allow DG COMM the possibility to review the compliance with the Europa Web Guide prior to launch.
- [x] You are kindly requested to inform DG COMM of the exact date when the website goes live
- [ ] You are kindly requested to send a website accessibility evaluation report to DG COMM before the launch of the website

[2022-02-22 09:00] #266 closed

[2022-02-22 09:10] AThollard commented on #547
OK, taking care of that. So I will communicate acceptance still this week and I will ask @gachpas to follow-up on this.

[2022-02-22 09:10] madewild commented on #492
side effect of jumping to the top for about/privacy etc

[2022-02-22 09:20] AThollard commented on #261
@madewild first version of FAQ page ready
[Kohesio FAQ_rev1_final.docx](https://github.com/ec-doris/kohesio-frontend/files/8115262/Kohesio.FAQ_rev1_final.docx)
Also in [Teams](https://eceuropaeu.sharepoint.com/:w:/s/GRP-REGIOKMteam/EV9HLAUUhYlEmUgojuim4UgBE0tyAGB2eFo3zetrceJcGA?e=q3OiQM)
FYI: @roberto-musmeci @gachpas

[2022-02-22 09:22] AThollard commented on #461
Hi @madewild, "[About](https://eceuropaeu.sharepoint.com/:w:/r/sites/GRP-REGIOKMteam/Shared%20Documents/Kohesio%20Com%20-%20presentations/About%20-%20FAQ/Kohesio%20about.docx?d=wbed9d140df524e339636860c808e6b89&csf=1&web=1&e=BbZfnx)" amended version ready in Teams

[Kohesio about.docx](https://github.com/ec-doris/kohesio-frontend/files/8115240/Kohesio.about.docx)

FYI: @gachpas @roberto-musmeci

[2022-02-22 09:36] madewild opened #651 "Query TO by PO and PO by TO"
https://kohesio.development.ec.europa.eu/api/facet/eu/thematic_objectives should have an extra param ?policy
https://kohesio.development.ec.europa.eu/api/facet/eu/policy_objective should be renamed to polycy_objective**s** and have an extra param ?theme

First wait for https://github.com/ec-doris/kohesio-data/issues/213
For after launch!

[2022-02-22 09:37] madewild opened #551 "Move PO/TO logic to backend"
Will be provided by the API: https://github.com/ec-doris/kohesio-frontend/issues/651
Better for cache handling

[2022-02-22 09:38] madewild commented on #547
@raphdom will merge into ACC tomorrow

[2022-02-22 09:40] madewild commented on #222
Hi @madewild, "[About](https://eceuropaeu.sharepoint.com/:w:/r/sites/GRP-REGIOKMteam/Shared%20Documents/Kohesio%20Com%20-%20presentations/About%20-%20FAQ/Kohesio%20about.docx?d=wbed9d140df524e339636860c808e6b89&csf=1&web=1&e=BbZfnx)" amended version ready in Teams

[Kohesio about.docx](https://github.com/ec-doris/kohesio-frontend/files/8115240/Kohesio.about.docx)

FYI: @gachpas @roberto-musmeci

_

[2022-02-22 09:42] madewild commented on #461
So the proofreading is finished? If yes we can close this issue and follow up on the about page in #222

[2022-02-22 09:55] madewild commented on #539
![twitter_final](https://user-images.githubusercontent.com/942488/155107938-2d36f861-0f11-49ce-97f9-9843ff53633d.png)

[2022-02-22 09:55] #539 closed

[2022-02-22 10:03] AThollard commented on #461
yes

[2022-02-22 10:03] AThollard commented on #539
You can close it :-)

[2022-02-22 10:09] roberto-musmeci commented on #242
@AThollard  and I discussed briefly. Overall, it seems to work fine. I will keep on testing it today.

One changes we would like to propose is to highlight more the type of the result (project vs beneficiary)
Currently it's a but hard to distinguish beneficiaries from projects. We though about including a clear text on top of the EU Flag. This is just a suggestion. Definitely open to more ideas @m

[2022-02-22 10:13] #461 closed

[2022-02-22 10:19] roberto-musmeci opened #552 "Outermost region ribbon width"
In  [prod](https://prod.kohesio.eu/) the width of the outermost region ribbon matches the one of the project near me button. This is not the case in [test](https://kohesio.test.ec.europa.eu/)

If we have time, it would be great to restore that. No big issue otherwise.

[2022-02-22 10:24] AThollard commented on #242
Can you please add the pagination at the top of the results list  (for now only displayed at the bottom)

[2022-02-22 10:25] raphdom commented on #546
implemented on dev

[2022-02-22 10:28] AThollard opened #555 "Beneficiary search filter 1st label - change KEYWORDS -> BENEFICIARY NAME"
@madewild is it already spotted somewhere else?

[2022-02-22 10:32] raphdom commented on #548
now https://kohesio.test.ec.europa.eu/data is working fine with the new nginx-s3-proxy app. Let's keep this here to move this to acc and prod

[2022-02-22 10:34] madewild commented on #555
Well spotted
Compare with https://prod.kohesio.eu/beneficiaries

[2022-02-22 10:35] madewild commented on #548
What is this "Screenshot 2022-02-18 at 07.39.41.png" ? ;)

[2022-02-22 10:35] madewild commented on #548
And more exports are empty on https://kohesio.test.ec.europa.eu/data/projects/ so it's not working...

[2022-02-22 10:37] madewild commented on #546
It contains a link to https://kohesio.ec.europa.eu/cookie-policy_en but this gives an nginx error

[2022-02-22 10:38] madewild commented on #546
We can change to https://ec.europa.eu/info/cookies_en as we don't have a custom policy

[2022-02-22 10:39] svili commented on #548
The gateway is working, there's just bad data in the bucket, will fix it.

[2022-02-22 10:43] raphdom commented on #546
Changed to /cookie. Maybe we need to put something on that page?

[2022-02-22 10:44] madewild commented on #546
No, we don't have any cookies
We just implement it because mandatory
Please put the EC default one https://ec.europa.eu/info/cookies_en

[2022-02-22 10:55] AThollard commented on #222
Fine with me. I can't even spot your changes ;-)

[2022-02-22 10:57] madewild commented on #222
All the datasets are available both in CSV/XLSX and in RDF format (see [Services page](https://kohesio.development.ec.europa.eu/services)). ;)

[2022-02-22 10:57] #222 closed

[2022-02-22 11:04] AThollard commented on #242
I have tested it both on mobile and desktop, everything seems to work fine on my side.
Possible enhancement: the flag on the mobile version is really big, maybe reduce it a bit.

[2022-02-22 11:06] AThollard opened #556 "Enhancement - Map breadcrumb (detail - not urgent)"
Why do we have an arrow to reduce the map when positioned on 'Europe'
![image](https://user-images.githubusercontent.com/80402472/155119983-ef4d1f86-9e98-47eb-af27-3bf168180b0c.png)

[2022-02-22 11:08] madewild commented on #556
Because it cas take some space on mobile...

[2022-02-22 11:10] AThollard commented on #556
Ok, maybe good to hide it on the desktop version, but really a minor detail

[2022-02-22 11:10] madewild commented on #556
This arrow does not care if we have one or two or three levels open, it just closes the breadcrumb.
Can we keep this behavour?

[2022-02-22 11:13] AThollard commented on #556
So let the arrow alive ! Fine with me and you can close this issue

[2022-02-22 11:14] #556 closed

[2022-02-22 11:15] #546 closed

[2022-02-22 11:23] madewild commented on #242
I would not put text above the flag. Maybe use a different default image for beneficiaries?
The "Kohesio project" comes straight from the Wikibase (instance of). @raphdom can you fix it in the frontend or do we need to change in the backend?

[2022-02-22 12:14] raphdom commented on #555
fixed on dev

[2022-02-22 12:15] #555 closed

[2022-02-22 12:17] madewild commented on #541
In the future we will also make policy/theme inreraction work like this, see #551

[2022-02-22 12:19] raphdom commented on #552
fixed on dev

[2022-02-22 12:20] madewild commented on #473
Should be implemented in 3 places:

- [ ] https://kohesio.development.ec.europa.eu/projects
- [ ] https://kohesio.development.ec.europa.eu/projects/Q100952
- [ ] https://kohesio.development.ec.europa.eu/beneficiaries/Q2514974

Compare with https://prod.kohesio.eu/projects?tab=results etc.

[2022-02-22 12:26] madewild commented on #552
Sorry to be picky but:
- the margin to the right is not the same for PNM button and OR ribbon (button is closer to map border)
- the OM ribbon has a border so it's actually 2px wider than the button ;)

[2022-02-22 12:38] raphdom commented on #242
@madewild , @AThollard , @roberto-musmeci @gachpas:  I did some improvements:
- Pagination on top and bottom
- Decrease the image size on mobile
- Normalize "Project" or "Beneficiary" label

on dev

[2022-02-22 12:39] raphdom commented on #552
done

[2022-02-22 12:41] #552 closed

[2022-02-22 13:03] prototorpedo commented on #214
Created this PR:
https://github.com/ec-doris/kohesio-frontend/pull/557

First issue is that what appears in the input field after selection is the id (I think) of the category. Not sure how to mitigate this.

[2022-02-22 13:03] madewild commented on #242
Great! @AThollard do you want a different image for project/beneficiary or good enough like this?

[2022-02-22 13:30] AThollard commented on #242
Do you have a different image or we have to find one?

[2022-02-22 13:33] madewild commented on #242
we need to find one...

[2022-02-22 13:34] AThollard commented on #242
OK, I check quickly in the EC audiovisual service catalogue

[2022-02-22 13:35] madewild commented on #214
Let's harmonise the spacing:
![spacing](https://user-images.githubusercontent.com/942488/155142842-01f01918-022b-42a8-8cd7-b7dd8c1622b9.png)

- remove the extra space between "intervention field" and "Please select" box
- remove the extra space between "Please select" and "Date"

[2022-02-22 13:37] madewild commented on #242
If you find one for project and one for beneficiary even better... The flag was just a default and does not particulary match either. ;)

[2022-02-22 13:39] AThollard commented on #242
ok

[2022-02-22 14:25] AThollard commented on #242
Not that easy and not a lot of choic
For beneficiary:
![image](https://user-images.githubusercontent.com/80402472/155149768-c5778d50-38b4-4042-8f2c-28ebe4a30090.png)
![P051516-189895](https://user-images.githubusercontent.com/80402472/155151766-7fa42d00-2fa2-44b7-a018-5b25a53cc44e.jpg)

what do you think @roberto-musmeci @madewild

[2022-02-22 14:26] AThollard commented on #242
If no one is convinced, we keep the flag!

[2022-02-22 14:34] roberto-musmeci commented on #242
The picture is nice but as it is associated to "beneficiaries" it may be seen as people putting their hands to receive EU money :/ ahah I don't think it is the best way to portrait beneficiaries ahah

Trying to find some more options also from my side

[2022-02-22 14:35] AThollard commented on #242
Indeed and instead of money they receive a star ;-)

[2022-02-22 14:37] AThollard commented on #242
![istockphoto-1134037713-612x612](https://user-images.githubusercontent.com/80402472/155154111-e59af4b9-44d1-4d6a-a521-6b04bbbf31b5.jpg)
Also this one for projects

[2022-02-22 14:45] madewild commented on #242
Please decide still today so that @raphdom can implement in DEV and merge to TEST and ACC tomorrow...

[2022-02-22 14:47] Bisiaam commented on #242
My proposal :
![image](https://user-images.githubusercontent.com/85291854/155155693-c9716961-ded7-468d-9537-f72b03de79ff.png)

[2022-02-22 14:51] AThollard commented on #242
Projects
![image](https://user-images.githubusercontent.com/80402472/155157479-4f70ab41-b1e5-4e9b-9b62-b816b2538d6e.png)

[2022-02-22 14:54] AThollard commented on #242
I prefer the handshake, there was a version more neutral without the ring. Can you find it on the AV portal please @Bisiaam ?

[2022-02-22 14:56] Bisiaam commented on #242
Yes here: https://audiovisual.ec.europa.eu/en/reportage/P-039364

![image](https://user-images.githubusercontent.com/85291854/155158309-5edfcead-7e62-4b54-b022-3afd0d21c5c8.png)
![image](https://user-images.githubusercontent.com/85291854/155158418-da071aaf-f694-47ef-aaf7-f92a78f35632.png)

[2022-02-22 14:58] gachpas commented on #222
@madewild ,

d'un point devue grammatical, je pense que, dans la première section du About, il faudrait corriger "It aims to correct imbalances between countries and regions" en "It aims at correcting imbalances between countries and regions"
Br, Pascal

[2022-02-22 15:01] roberto-musmeci commented on #242
So EU flag for project and handshake for beneficiaries ?
Handshake 1 or 2 ? In the second one, the woman's hand is a bit weird, no ?

[2022-02-22 15:06] Bisiaam commented on #242
I would say the first picture (with the lady, I don't think the ring would be a problem), but if you prefer let's take the first handshake (indeed the woman's hand is a bit weird).

[2022-02-22 15:09] AThollard commented on #242
Ok, then let's go for the handshake with the ring for beneficiaries (I think also the flag colors will match more) and the flag for projects

[2022-02-22 15:26] prototorpedo commented on #214
I don't think there's a good fix for this. The space under the input is actually padding and seems to be used for validation messages and animations. Removing it breaks the underline.

[2022-02-22 15:57] madewild commented on #222
done on dev

[2022-02-22 15:59] madewild commented on #242
OK, @raphdom can you take care of that?

[2022-02-22 16:12] madewild commented on #261
I will try to integrate this before @raphdom merges to ACC...

[2022-02-22 16:19] raphdom commented on #242
I will

[2022-02-22 17:12] svili commented on #541
@DiaZork can you check if this works? For me it seems the fund parameter doesnt do anything right now. It returns all programmes of the country no matter what.
![image](https://user-images.githubusercontent.com/11196689/155183089-7d318bf8-305b-450d-aa8a-ec34c991a892.png)

[2022-02-22 17:27] prototorpedo commented on #214
There are a few other caveats I have noticed with this component:
* When you select an item, the cursor will be positioned at the end of the input. That's expected, but for long texts like we have, you can't really tell what category it is
* When focusing on the input after a selection, you will have the list filtered to that selection only, as that is the value of the input

What are your thought

[2022-02-22 17:44] AThollard commented on #242
Nice. Thanks @raphdom

[2022-02-22 18:26] D063520 opened #560 "Map not rendering due to 403 error"
I get this currently ....
<img width="1680" alt="Screenshot 2022-02-22 at 19 25 37" src="https://user-images.githubusercontent.com/10883585/155195451-2942831e-a93b-4402-bda7-add7c109ccb5.png">

[2022-02-22 19:04] madewild commented on #473
Good for the functionality but maybe we could still improve the CSS for the credits? I preferred the former version:

![overlay_prod](https://user-images.githubusercontent.com/942488/155201080-0fe1056d-b9aa-4336-a7c9-bcf5974289f0.png)

[2022-02-22 19:09] madewild commented on #214
Indeed...

- for the first point you just have to click anywhere outside the box to make the cursor go to the beginning, good enough for now
- the other is a bit more annoying since not behaving like other filters... you have to click "Reset filters" to get the full list again
@raphdom any quick fix? if not we can leave like that and improve for 1.2
@roberto-musmeci can you test?

[2022-02-22 19:16] madewild commented on #541
Indeed @DiaZork there is a bug, Q2504369 should return the ERDF and Q2504370 the ESF...

https://query.linkedopendata.eu/#select%20%2a%20where%20%7B%0A%20%20%3Fprogramme%20wdt%3AP35%20wd%3AQ2463047%20.%0A%20%20%3Fprogramme%20wdt%3AP32%20wd%3AQ22%20.%0A%20%20%3Fprogramme%20rdfs%3Alabel%20%3FprogLabel%20.%0A%20%20%3Fprogramme%20wdt%3AP1584%20%3Ffund%20.%0A%20%20%3Ffund%20rdfs%3Alabel%20%3FfundLabel%

[2022-02-22 19:18] madewild commented on #242
Great:

![global_fixed](https://user-images.githubusercontent.com/942488/155203098-8b228783-efcc-43d3-82d6-b54c97264427.png)

Closing for now, next round of improvements for 1.2 :)

[2022-02-22 19:18] #242 closed

[2022-02-22 19:23] madewild commented on #560
Damn... not much we can do since it comes from the Eurostat webtools...
@raphdom have you seen this before?

[2022-02-22 19:26] madewild commented on #522
Thank you @omar0z !
@AThollard can you test on dev on mobile?

[2022-02-22 19:33] raphdom commented on #560
yes, on codeweek, the problem is more on their side, hope that tomorrow will be more stable. I cannot reproduce it on my computer, maybe because it was cached...

[2022-02-22 19:34] madewild commented on #560
Me neither, I guess it's already gone... Will close tomorrow if all is fine.

[2022-02-22 20:50] madewild commented on #261
FAQ is available on https://kohesio.development.ec.europa.eu/faq
@AThollard @Bisiaam @roberto-musmeci @gachpas can you test?

[2022-02-22 20:57] raphdom opened #563 "Regresion on dev (urgent)"
The version that we have one dev with the changes of today break some other things that we fixed before:

-Scroll up for all pages
-In page navigation for privacy page

Can you help me to check which change affect this?

Use this link to see the changes
https://github.com/ec-doris/kohesio-frontend/compare/test...dev

[2022-02-22 21:02] madewild commented on #563
Probably because I also added inpage nav to FAQ...
https://github.com/ec-doris/kohesio-frontend/commit/4479de84f671763ab1294e5a67102ecae5d52ee7
should I use different variable names? I let you check

[2022-02-22 21:06] madewild commented on #563
was working on my local :(

[2022-02-22 21:20] madewild commented on #563
Actually no it's you @raphdom !

https://github.com/ec-doris/kohesio-frontend/commit/8c6b3c04aa35a57b3b6dc7fa1f8ebe214d3dc720

removing

[code]

fixed the problem for me :)

[2022-02-22 21:26] madewild commented on #563
Solved but you need another solution for the horizontal scrollbar...

[2022-02-22 21:26] #563 closed

[2022-02-22 21:39] madewild opened #564 "Social links don't work in modal"
The social links are constructed based on the QID. For instance for Facebook:

[code]

works fine on https://kohesio.development.ec.europa.eu/projects/Q151756, URL gets constructed as "https://www.facebook.com/sharer/sharer.php?u=https://kohesio.development.ec.europa.eu/projects/Q151756"

but in the modal we don't have the correct "currentUrl" info (we are still on the homepage) so the Facebook UR

[2022-02-22 21:57] madewild commented on #214
@prototorpedo your change https://github.com/ec-doris/kohesio-frontend/commit/33e4cd0b1d88eb42fd33651afcac97ecfa249607 fixed the display but broke the autotype functionality! It's not working anymore (check https://kohesio.development.ec.europa.eu/projects) since that commit (I checked it out in detached head to confirm it's the guilty commit...)

[2022-02-22 22:06] raphdom commented on #563
indeed, thank you to spotted. I've fixed in another way...

[2022-02-23 08:06] roberto-musmeci commented on #261
works perfectly both on laptop and mobile! Thanks Max, we can close it :)

[2022-02-23 08:06] AThollard commented on #261
It is fine, thanks.
There is a wrong link in the section "Can I download the datasets?"
It is also possible to access the complete exports of projects and beneficiaries by country by clicking on [this link](https://kohesio.development.ec.europa.eu/data). it leads to a blank page. @roberto-musmeci can you take care of that?
@madewild finally do we have the page with 'services' somewhere? we should

[2022-02-23 08:10] roberto-musmeci commented on #261
I think that the download page is work in progress since the same link exists in this page
https://kohesio.development.ec.europa.eu/services

[2022-02-23 08:11] madewild commented on #261
@AThollard it is not a wrong link, it's just that we don't have any /data in DEV with the live index
in TEST it works: https://kohesio.test.ec.europa.eu/data/ (but still needs improvement, cf. https://github.com/ec-doris/kohesio-frontend/issues/548

[2022-02-23 08:11] AThollard commented on #261
Ok, sorry, fine with me then.

[2022-02-23 08:11] #261 closed

[2022-02-23 08:14] madewild commented on #419
I am a bit at a loss with this issue... @Drino-San do you think you could help?

[2022-02-23 08:19] AThollard commented on #522
Hello,
Thanks it works better. But 'Browse the project' button leads to an 'error 404' page @omar0z  @madewild

[2022-02-23 08:20] AThollard commented on #522
Ok already fixed? works fine now

[2022-02-23 08:22] madewild commented on #522
we did not touch anything ;)

[2022-02-23 08:24] AThollard commented on #522
Strange...I really had an error 404 for 2 minutes...anyway, it works fine now.
@roberto-musmeci can you please double check?
And then we can close the issue :-) Thank you for having fixed this, it was a very important one!

[2022-02-23 08:26] roberto-musmeci commented on #522
It works on my side as well :)

[2022-02-23 08:27] #522 closed

[2022-02-23 09:03] #560 closed

[2022-02-23 09:44] prototorpedo commented on #214
huh...I'll check it but it should have worked...

[2022-02-23 10:16] svili commented on #473
I agree that some changes should be made.
I truncated the title length and dropped the default ECL styling of the figcaption. But Im not sure I'd use the caption style of the old version cause it looks quite outdated and doesn't really fit the ECL look.
Right now it looks like this on my local.
Im open for suggestions of course, not really big on designing.
![image](https://user-images.githubuserc

[2022-02-23 10:18] madewild commented on #473
Good enough for me!

[2022-02-23 10:23] madewild commented on #214
Works now!

[2022-02-23 10:23] #214 closed

[2022-02-23 10:26] raphdom commented on #473
on my view we should have a close button. You can check in the modal that we have for the project detail.

[2022-02-23 10:52] madewild commented on #473
Thanks @svili
can you add the red cross like on the map modal?
![modal_close](https://user-images.githubusercontent.com/942488/155305432-87e4afa0-0ac1-4196-aa54-344a03ea59ad.png)

then I think we can close

[2022-02-23 10:58] DiaZork commented on #541
That's should be fix now

[2022-02-23 14:19] raphdom commented on #564
fixed

[2022-02-23 14:22] #564 closed

[2022-02-23 15:44] madewild commented on #541
Working in dev now!
@roberto-musmeci I let you cross-check...

[2022-02-23 15:44] #541 closed

[2022-02-23 15:54] roberto-musmeci commented on #541
Excellent guys, very good enhancement together with https://github.com/ec-doris/kohesio-frontend/issues/214)(https://github.com/ec-doris/kohesio-frontend/issues/214)n. Thanks and congrats ❤️

[2022-02-23 15:55] madewild commented on #419
We recorded a JSON profile in Chrome with @gachpas and sent a ticket to DIGIT through MITS... Sandrino can push if we get no answer.

[2022-02-23 16:20] AThollard commented on #448
Hi @madewild @raphdom
Sorry to reopen the issue but could you please hide the ribbon when we are on the map tab as well?
![image](https://user-images.githubusercontent.com/80402472/155361163-925e9a5c-b12b-4a3e-bfac-c7c16d942fa9.png)

[2022-02-23 18:12] svili commented on #473
Oh sorry, I didn't notice this, I added the ECL close icon, should I change it?
![image](https://user-images.githubusercontent.com/11196689/155381154-73600f5e-ff35-46ab-9a52-ab90a9d96911.png)

[2022-02-23 18:25] raphdom commented on #473
I am fine with this. @madewild ?

[2022-02-23 18:45] madewild commented on #473
For me too, don't worry.

[2022-02-23 18:45] #473 closed

[2022-02-23 19:30] raphdom opened #571 "Outermost regions (projects page)"
Deal with the outermost regions in the projects tab.
Should work using the filters

[2022-02-23 19:32] raphdom commented on #448
@AThollard fixed and hidden like we had in the previous version. I've created another issue(https://github.com/ec-doris/kohesio-frontend/issues/571) to improve on version 1.2 using the filters also

[2022-02-23 20:46] #448 closed

[2022-02-23 23:33] raphdom commented on #548
on acceptance now. the workflow to release on acc is copying the data from staging and @svili copying the latest image from staging ECR also.

[2022-02-24 08:21] D063520 opened #575 "facet search cut when no results"
<img width="1680" alt="Screenshot 2022-02-24 at 09 19 53" src="https://user-images.githubusercontent.com/10883585/155485772-cd72194f-f725-48db-9a25-cee39e29a558.png">

[2022-02-24 08:24] D063520 opened #576 "loader needed on map component while searching"
- go to map vew
- search a term
- search a new term (not clear if something is happening)

[2022-02-24 08:25] D063520 opened #577 "on map not clear if loading or no result"
<img width="1680" alt="Screenshot 2022-02-24 at 09 25 24" src="https://user-images.githubusercontent.com/10883585/155486521-ffe9cae8-2db2-43dd-ad35-08817a792a5c.png">

[2022-02-24 08:34] D063520 opened #578 "front-end wrongly calling map API"
the map API is called with a total budget parameter. this is not good for performance and is not necessary for the map. Please take care to never pass any sorting parameter. We probably should even remove them from the REST API

<img width="1680" alt="Screenshot 2022-02-24 at 09 32 58" src="https://user-images.githubusercontent.com/10883585/155487972-44e16970-97ac-47d5-a3e1-56cd9ed6e326.png">

Rel

[2022-02-24 08:38] madewild commented on #575
It's because of the semantic search keywords...
example: https://kohesio.development.ec.europa.eu/projects?keywords=rome&policyObjective=Connected-Europe&sort=Total-Budget-(descending)&amountEUSupport=1-000-000-000---10-000-000-000

Related: verticall scrollbar still there sometimes
![filter_scroll](https://user-images.githubusercontent.com/942488/155488566-74fd23b0-4fbb-4720-933d-361a99cee015.png

[2022-02-24 08:40] madewild commented on #577
For me it's the same as #576

[2022-02-24 08:41] D063520 commented on #577
true ... would have put it in this version though .....

[2022-02-24 08:41] #577 closed

[2022-02-24 08:42] madewild commented on #577
@raphdom what do you think?

[2022-02-24 08:44] madewild commented on #576
@raphdom possible still for 1.1?

[2022-02-24 08:46] raphdom commented on #577
yes, seems to me the improvement of the map on the search

[2022-02-24 08:48] raphdom commented on #576
no, should be for 1.2, thanks

[2022-02-24 09:08] raphdom commented on #578
now, there is no sort in the parameters, on dev

[2022-02-24 09:08] raphdom commented on #575
fixed

[2022-02-24 09:11] #575 closed

[2022-02-24 09:13] madewild commented on #578
What is the issue exactly?
https://kohesio.development.ec.europa.eu/projects?country=Finland&region=Finland-Proper&sort=Total-Budget-(descending)&tab=map

[2022-02-24 09:13] madewild commented on #578
ah "no sort" passed as parameter I guess, ok

[2022-02-24 09:15] raphdom commented on #578
Yes, I remove the sort, there is "no sort" in the parameters anymore (for the map request)

[2022-02-24 09:23] madewild commented on #578
OK closing

[2022-02-24 09:23] #578 closed

[2022-02-24 09:25] madewild commented on #547
Email sent

[2022-02-24 09:25] #547 closed

[2022-02-24 14:21] D063520 opened #579 "sometimes projects of beneficiaries not rendered even if API came back"
<img width="1680" alt="Screenshot 2022-02-24 at 15 18 35" src="https://user-images.githubusercontent.com/10883585/155541506-2db0a941-838b-49fa-b001-9cebbc5d71c7.png">

I can reproduce it by clicking on some of this list of beneficiaries

https://kohesio.development.ec.europa.eu/beneficiaries?page=3&name=water&country=Italy

[2022-02-24 14:24] D063520 opened #580 "Prevent going to page over pagination total"
1) go here https://kohesio.development.ec.europa.eu/beneficiaries?page=3&name=water&country=Italy
2) click on search
3) refresh the page

[2022-02-24 14:24] madewild commented on #579
I tried to reproduce but cannot...

[2022-02-24 14:26] D063520 commented on #579
on how many beneficiaries did you click?

[2022-02-24 14:27] madewild commented on #580
because page 1 is not explicit in the URL (on purpose)

question is: how did you arrive on https://kohesio.development.ec.europa.eu/beneficiaries?page=3&name=water&country=Italy in the first place since it does not exist ??

[2022-02-24 14:27] madewild commented on #579
5 or 6

there is no page 3 so I guess you mean https://kohesio.development.ec.europa.eu/beneficiaries?name=water&country=Italy

[2022-02-24 14:28] D063520 commented on #580
the UI generated it .... but you see it start with an empty search, put the same search parameters and check the URL

[2022-02-24 14:28] madewild commented on #579
I tried to reproduce but cannot...

There is no page 3 so I guess you mean https://kohesio.development.ec.europa.eu/beneficiaries?name=water&country=Italy

[2022-02-24 14:29] madewild commented on #579
Ah no I have it! You need to open several in a row, OK.

[2022-02-24 14:29] D063520 commented on #579
you run into the other bug also : )

[2022-02-24 14:30] D063520 commented on #579
I think if the request is fast (which is the case when it is cached) it is not appearing. But if it is a bit slower the UI is not triggering the rerendering

[2022-02-24 14:31] madewild commented on #579
https://kohesio.development.ec.europa.eu/beneficiaries/Q4196129
![ben1](https://user-images.githubusercontent.com/942488/155543868-ed2394cc-ee47-49f2-9658-146ee2df4dcb.png)

https://kohesio.development.ec.europa.eu/beneficiaries/Q4205743
![ben2](https://user-images.githubusercontent.com/942488/155543911-610bd0f6-40d2-4c9c-9f9b-da5268677160.png)

[2022-02-24 14:34] madewild opened #581 "Invalid date"
In the console I see:

[code]

_Originally posted by @madewild in https://github.com/ec-doris/kohesio-frontend/issues/579#issuecomment-1049920179_

[2022-02-24 14:34] madewild commented on #581
On https://kohesio.development.ec.europa.eu/beneficiaries/Q4206035

[2022-02-24 14:35] madewild commented on #579
(separate issue I think)

[2022-02-24 14:36] madewild commented on #579
Notice that the "Graph" and "More" buttons are also badly rendered in the screenshots... Something is blocking part of the response.

[2022-02-24 14:38] madewild commented on #580
I don't understand... can you explain step by step how you arrive on this URL?

[2022-02-24 14:41] D063520 commented on #580
strange I cannot reproduce it anymore .... I will close it

[2022-02-24 14:43] madewild commented on #580
Maybe we could redirect to 404 when page number is over total...
@raphdom worth keeping for 1.2 ?

[2022-02-24 14:44] raphdom commented on #580
already closed no?

[2022-02-24 14:46] madewild commented on #580
Yes but https://kohesio.development.ec.europa.eu/beneficiaries?page=30&name=water&country=Italy looks weird, even if you can only arrive that by tweaking the URL (which Dennis obviously did not do so there might be somthing in the UI generating this king of fake url).

[2022-02-24 14:50] raphdom commented on #580
okay, if it is not urgent and not block situation I would say put it to 1.2

[2022-02-24 15:34] raphdom commented on #579
in fact we have 2 bugs here, the last one is fixed with the other issue (https://github.com/ec-doris/kohesio-frontend/issues/581) and the pagination error, I can reproduce it if I go to here: https://kohesio.development.ec.europa.eu/beneficiaries?name=water&country=Italy&page=2 and change the page in the url to here: https://kohesio.development.ec.europa.eu/beneficiaries?name=water&country=Italy&p

[2022-02-24 15:34] raphdom commented on #581
fixed

[2022-02-24 15:35] madewild commented on #579
Sure, the bigger problem is the other one (data not displayed)

[2022-02-24 15:36] madewild commented on #579
Sure, the bigger problem is the other one (data not displayed)

[2022-02-24 15:36] madewild commented on #579
Sure, the bigger problem is the other one (data not displayed)

[2022-02-24 15:37] #581 closed

[2022-02-24 15:46] madewild commented on #579
@raphdom this sounds like a serious bug... you don't think we can fix it for 1.1?

[2022-02-24 15:50] raphdom commented on #579
let me check the complexity of this, because we don't have the total in the first place, we need to wait the call to check if the page index match...

[2022-02-24 15:57] madewild commented on #579
No Raph, this is not the important issue.
Look at the screenshots: we are missing the list of projects, the EU contribution, the funds...

[2022-02-24 16:01] #579 closed

[2022-02-24 16:36] D063520 commented on #579
looks fine ....

[2022-02-25 07:57] madewild commented on #548
@svili what's the status of this?
I still see many empty files on https://kohesio.test.ec.europa.eu/data/

[2022-02-25 08:32] svili commented on #548
I can always upload the newest files from the wikibase machine, thats not a problem.
I created python script for the dump creation and uploading and tested it yesterday. The problem was the bigger stuff like Italy times out (timeout is 1 hour for each country creation), and I don't know yet if its because the sparql is slow or just the network connection, Im testing it now. If the latter thats not

[2022-02-25 08:35] madewild commented on #548
No not necessary, but this is the only part that is missing for the release now... just want to be sure that we are on track to make it fully operational by next Thursday. Don't hesitate to check with @D063520 and @DiaZork if there is anything suspect about the contents of the exports.

[2022-02-25 08:39] madewild commented on #548
Ah and we have another bug... If you go to https://kohesio.test.ec.europa.eu/services and click "all the data" you get a 404 because the routerLink does not work (https://kohesio.test.ec.europa.eu/data/ is not really inside the Angular app). If you right click and open in a new tab then it works.
@raphdom what is the right way to make it work? we cannot hardcode the full URL since it will change f

[2022-02-25 08:40] svili commented on #548
just use href instead of [routerLink] I think.

[2022-02-25 08:42] raphdom commented on #548
yeah, that's it

[2022-02-25 08:42] raphdom commented on #548
use href="/data"

[2022-02-25 08:47] madewild commented on #548
Mmmh does not work on my local... but I pushed anyway to try on dev.

[2022-02-25 08:50] madewild commented on #548
I confirm it does NOT work with href on https://kohesio.development.ec.europa.eu/services

[2022-02-25 08:58] svili commented on #548
I don't think there is an nginx-gateway set up for dev is there?

[2022-02-25 08:59] svili commented on #548
the /data is not part of the site, the loadbalancer (or whatever its called right now in kubernetes) reroutes the traffic to the nginx gateway, so thats why its not working on dev and local.

[2022-02-25 09:00] madewild commented on #548
ah damn sorry, so we first need to deploy to test, fair enough

[2022-02-25 09:14] madewild commented on #548
Working on https://kohesio.test.ec.europa.eu/services now ;)

[2022-03-02 10:51] madewild opened #584 "Sort beneficiaries by total budget"
Current is by EU contribution
Align with projects and use total budget instead?

[2022-03-02 10:51] madewild opened #585 "Add new Kohesio FMB"
Replace functional mailbox

[2022-03-02 11:09] gachpas opened #586 "Replacing contact email"
hello, on request of @AThollard , could you please replace all contact FMB in Kohesio (i.e. REGIO-KM@ec.europa.eu and REGIO-EXTERNAL-COMMUNICATION@ec.europa.eu) by REGIO-KOHESIO@ec.europa.eu?

Thansk and kr,
Pascal

CC: @roberto-musmeci

[2022-03-02 11:15] madewild commented on #586
Duplicate of https://github.com/ec-doris/kohesio-frontend/issues/585
Was laready created ;)

[2022-03-02 11:16] madewild commented on #585
REGIO-KOHESIO@ec.europa.eu

[2022-03-02 11:29] madewild commented on #585
Changed on:

- https://kohesio.development.ec.europa.eu/ (footer)
- https://kohesio.development.ec.europa.eu/about (Contact)
- https://kohesio.development.ec.europa.eu/privacy#section-9
- https://kohesio.development.ec.europa.eu/faq#section-6

@gachpas can you cross-check everything and confirm I did not forget any other page?
It will be merged into TEST tomorrow and into ACC on Monday.

[2022-03-02 11:40] madewild commented on #419
After DIGIT investigation, seems to be an issue of DNS delegation.
Basically the proxy is waiting while the domain name is going round the world to be resolved.
Should be fixed next week...

[2022-03-02 11:45] gachpas commented on #419
@madewild Good news ;)

Well done!

[2022-03-02 12:59] gachpas commented on #585
@madewild , it looks OK to me ;)
Thx

[2022-03-02 13:02] #585 closed

[2022-03-07 08:44] madewild opened #589 "Don't load external resources"
Connection to 3rd party domains outside europa.eu – External resources loaded from https://cdnjs.cloudflare.com/ and https://fonts.gstatic.com/. These external resources must be hosted on the local environment instead.

[2022-03-07 08:45] madewild opened #590 "Hide Commission logo in footer"
According to DG COMM, the logo of the Commission can’t be used in the footer.

[2022-03-07 08:46] madewild commented on #590
This seems coherent with https://ec.europa.eu/component-library/ec/harmonised-templates/footer/group1/

Not sure how the logo got there in the first place... bug in ECL template?

[2022-03-07 08:48] madewild opened #591 "Remove Kohesio logo in footer?"
DG COMM: You used a logo for Kohesio. Could you let us know if it has been approved as an exception? TBC

Replace by just "Kohesio" text for now?
@AThollard to decide today

[2022-03-07 08:53] madewild opened #592 "Avoid acronyms"
DG COMM: We don’t recommend using abbreviations and acronyms for public communication. Thus, we would advise you to avoid using DG REGIO, e.g. in Contact DG REGIO Kohesio team in the footer.

[2022-03-07 08:54] madewild commented on #592
In footer, already changed to "Contact the Kohesio team".
Will check other acronyms later on...

[2022-03-07 10:46] raphdom commented on #589
done, now everything is loaded from ec.europa.eu domain

[2022-03-07 10:48] raphdom commented on #590
done, in the playground for the group1 we have the logo in the footer, it was there that we copy the styles and html. Anyway, doesn't hurt to remove it
https://ec.europa.eu/component-library/playground/ec/?path=/story/components-footers-harmonised--group-1

[2022-03-07 10:52] #589 closed

[2022-03-07 10:53] madewild commented on #590
Thanks for the link, @AThollard please share with DG COMM when replying to comments.

[2022-03-07 10:53] #590 closed

[2022-03-07 15:43] AThollard commented on #591
waiting for DG COMM approval, should be quick (they told me)

[2022-03-08 09:17] gachpas opened #595 "Unselecting Intervention field"
when an intervention field is selected (for filtering the Projects page), you cannot go back unselect and re-select another one

[2022-03-08 09:20] madewild commented on #595
You can, but currently you need to select the text and to delete it with the keyboard key (delete or backspace).
Let's see if we can improve this in the next version...

[2022-03-13 18:31] D063520 opened #598 "buggy link to exports"
<img width="1680" alt="Screenshot 2022-03-13 at 19 30 17" src="https://user-images.githubusercontent.com/10883585/158073933-bbbb33d2-43be-45a5-9d3e-0ae2ec47bc89.png">
For me the exports link ("this link") goes to a 404 ....