[2022-03-13 18:45] madewild commented on #598
Good catch! It's a routerlink instead of href... fixed in dev but we cannot test, will merge into test and then we can move on to the other envs...

[2022-03-13 18:51] madewild commented on #598
Fixed

[2022-03-13 18:51] #598 closed

[2022-03-14 07:53] madewild commented on #419
@gachpas @AThollard can you check if the issue is gone for you?

[2022-03-14 07:58] gachpas commented on #419
@madewild (cc: @AThollard ),
seems solved in dev for me ;)
Thanks

[2022-03-14 08:00] madewild commented on #419
Wonderful! can you test the other environments as well?

[2022-03-14 08:06] AThollard commented on #419
It's better but not ideal on my side :-(

[2022-03-14 08:06] AThollard commented on #419
I keep testing but I think I will disconnect from pulse later for the Board meeting

[2022-03-14 08:07] gachpas commented on #419
@madewild , acceptance NOK.

Prod is with the countdown.

[2022-03-14 08:13] AThollard commented on #419
I am testing on acceptance

[2022-03-14 08:14] AThollard commented on #419
So I keep the demo on acceptance later on or on test? or I just disconnect from Pulse?

[2022-03-14 08:15] gachpas commented on #419
@AThollard , for me acceptance is still slow too. Max is checking if DIGIT has deployed the fix on all env.

[2022-03-14 08:15] AThollard commented on #419
thanks @gachpas so I will do the demo on acceptance but disconnected from Pulse

[2022-03-14 08:29] madewild commented on #419
I confirm the fix is deployed on DEV and TEST but not yet on ACC, checking with DIGIT.
For PROD we cannot really test now, need to wait until Wednesday when we remove the countdown...

[2022-03-14 10:20] madewild opened #601 "Improve contrast of email icon"
On project detail page (e.g. https://kohesio.acceptance.ec.europa.eu/projects/Q100952) the email social sharing icon is blue on blue, not very visible especially for color-blind people...

[2022-03-14 10:22] madewild opened #602 "Vertical scrollbar and bottom cut in filters - map tab"
https://kohesio.acceptance.ec.europa.eu/projects?keywords=migrant&sort=Total-Budget-(descending)&tab=map

![filters_vertical_scroll](https://user-images.githubusercontent.com/942488/158153240-c0dad4be-c739-4cde-9e66-1e4df636e76a.png)

[2022-03-14 11:22] madewild commented on #419
No it should be working on ACC as well, @gachpas do you confirm? :)

[2022-03-14 11:40] gachpas commented on #419
@madewild  (cc: @AThollard ), yes, it works now on acceptance too :):):)

[2022-03-14 11:42] madewild commented on #419
Finally closing this!

[2022-03-14 11:42] #419 closed

[2022-03-16 15:12] madewild opened #608 "Footer: open twitter link in new tab"
Add target blank linke other social media links in footer

[2022-03-16 15:16] raphdom opened #609 "Webanalytics (use manual mode) to track all pages and actions"
As we have the SPA angular app, the webanalytics that we are using from the commission doesn't work properly in auto mode, that means that we should implement the manual mode inside the angular application, docs:

https://webgate.ec.europa.eu/fpfis/wikis/display/webtools/Europa+Analytics

[2022-03-17 12:25] madewild opened #610 "Cookie banner behind map"
In incognito mode
https://kohesio.ec.europa.eu/projects/Q192825
map is in front of cookie banner!

[2022-03-17 18:32] madewild opened #611 "Add disclaimer to map"
See https://webgate.ec.europa.eu/fpfis/wikis/pages/viewpage.action?pageId=81471704

Adding a general disclaimer

In addition to paying due attention to the specific examples described below, it might be a good idea that you put the following footnote on any map that shows national borders outside the EU. This is standard UN practice and should protect us to some degree from angry reactions from wh

[2022-03-17 18:37] #591 closed

[2022-03-18 10:03] madewild opened #614 "Make /services page more visible"
Currently only in third carousel banner and FAQ...
Add an extra tab next to projects and beneficiaries?

[2022-03-18 10:03] madewild commented on #614
@roberto-musmeci other ideas?

[2022-03-18 10:35] raphdom commented on #609
I've changed and include in all navigation end that means every time that we changed the page it will be tracked now.
The only thing that still missing is track the download button, for this we need to use this method from analytics:

_paq.push(['trackLink', '[https://ec.europa.eu/regional_policy/en/'])

_paq.push(['trackLink', 'https://ec.europa.eu/regional_policy/en/', 'download'])

[2022-03-18 10:57] raphdom opened #615 "Keyword on project page goes to the global search input"
When we type a keyword in the project page, it goes to the search input field on top of the page.

[2022-03-18 13:16] raphdom commented on #615
fixed

[2022-03-18 13:16] #615 closed

[2022-03-24 14:13] D063520 commented on #22
Hi Max,

a few comments:

- translate all other Wikibase contents (countries, regions, themes, intervention fields, etc.)
      -> I would take the country names/regions from wikidata or maybe check some vocabulary from eurostats
      -> intervention fields are already translated https://linkedopendata.eu/wiki/Item:Q200734 (we took them from the files provided by thierry)
- Index all data in Elas

[2022-03-24 14:42] madewild commented on #22
I agree we should use the backend when possible but we will still have things like "Curious to discover what Europe does in your region?" or "Projects near me" or "Contact the Kohesio Team" etc. We will not put everything in the Wikibase...

[2022-03-25 10:39] madewild opened #620 "Track more actions in analytics"
For instance on the map...

[2022-03-25 10:39] madewild commented on #620
@roberto-musmeci feel free to add more details

[2022-03-25 10:56] madewild commented on #276
Let's explore a first simple version for 1.3
Caution: how to provide support for implementation?!

[2022-03-25 11:02] madewild commented on #269
I suggest postponing this to 1.3

[2022-03-25 11:03] madewild commented on #548
Including fixing Italy issue

[2022-03-25 11:04] #322 closed

[2022-03-25 11:04] #390 closed

[2022-03-25 11:05] madewild commented on #414
@raphdom still the case? if yes @omar0z can you tackle this?

[2022-03-25 11:06] raphdom commented on #414
Yes, but I do prefer me by this one

[2022-03-25 11:06] madewild commented on #481
Let's review it for 1.3

[2022-03-25 11:07] roberto-musmeci commented on #620
Thanks @madewild

I think essentially we need track which exact project is opened in modal from the map in the homepage and ideally how long users stay on that.

This could help understanding the average "quality" of the content users are looking at. The time log could help determining the quality of the project description and from there promote or demote the visibility of the project.

Let me kn

[2022-03-29 21:58] hejjoe opened #623 "Idea: Add option to report data errors more easily"
A button like "Report Error/Duplicate" could be a mailto link that includes the website URL near the displayed data - not in the footer. This could encourage more people to participate in improving data quality.

E.g.
[code]

[2022-03-30 05:08] madewild commented on #623
Hello @hejjoe, thank you for this suggestion! Indeed we had such a button at a stage (the email social media sharing button had this behaviour) but that was changed at some point... @AThollard what do you think?

[2022-03-30 07:52] AThollard commented on #623
Hi @madewild I think it would be good to have an additional button 'report an issue' for that from project details and also beneficiary. (icon: https://www.flaticon.com/free-icons/problem-report)
Maybe just above the 'share' icones? I let you @madewild and @raphdom decide where it fits best.

[2022-03-30 08:05] madewild commented on #623
@raphdom let's prepare this for the next release...

[2022-03-30 08:13] faustusdotbe opened #624 "Translate all other Wikibase contents (countries, regions, themes, intervention fields, etc.)"
This is a sub-issue from https://github.com/ec-doris/kohesio-frontend/issues/22#issuecomment-1077664039, splitting the main issue for tracking clarity.

Copy pasting from @D063520 :

[2022-03-31 14:51] roberto-musmeci opened #625 "Include NUTS 3 filter in advanced filters"
Maybe we can put a filter in the advance filter. What do you think?

-------------------
_Good morning, my name is _*****_ and I am a journalist _************_, in Spain. I am writing to you because I have just discovered the Kohesio portal and I have found all the accessible content offered on it very interesting.
The problem I have is that I don't know if there is the possibility of obtaining ge

[2022-03-31 14:51] roberto-musmeci opened #702 "Include NUTS 3 filter in advanced filters"
Maybe we can put a filter in the advance filter. What do you think?

-------------------
_Good morning, my name is _*****_ and I am a journalist _************_, in Spain. I am writing to you because I have just discovered the Kohesio portal and I have found all the accessible content offered on it very interesting.
The problem I have is that I don't know if there is the possibility of obtaining ge

[2022-03-31 14:51] roberto-musmeci opened #705 "Include NUTS 3 filter in advanced filters"
Maybe we can put a filter in the advance filter. What do you think?

-------------------
_Good morning, my name is _*****_ and I am a journalist _************_, in Spain. I am writing to you because I have just discovered the Kohesio portal and I have found all the accessible content offered on it very interesting.
The problem I have is that I don't know if there is the possibility of obtaining ge

[2022-03-31 14:51] roberto-musmeci opened #706 "Include NUTS 3 filter in advanced filters"
Maybe we can put a filter in the advance filter. What do you think?

-------------------
_Good morning, my name is _*****_ and I am a journalist _************_, in Spain. I am writing to you because I have just discovered the Kohesio portal and I have found all the accessible content offered on it very interesting.
The problem I have is that I don't know if there is the possibility of obtaining ge

[2022-03-31 14:51] roberto-musmeci opened #707 "Include NUTS 3 filter in advanced filters"
Maybe we can put a filter in the advance filter. What do you think?

-------------------
_Good morning, my name is _*****_ and I am a journalist _************_, in Spain. I am writing to you because I have just discovered the Kohesio portal and I have found all the accessible content offered on it very interesting.
The problem I have is that I don't know if there is the possibility of obtaining ge

[2022-04-08 09:56] madewild commented on #625
@D063520 is still you could easily provide in the backend?

[2022-04-08 09:58] madewild opened #626 "Add "like" button to projects"
Functionality to let users highlight examples of nice projects
But the storage could be tricky...

[2022-04-10 08:52] D063520 commented on #625
This should not be complicated to do ....

[2022-04-29 10:03] madewild opened #630 "Add keywords to html head"
To optimize SEO
https://www.w3schools.com/tags/tag_meta.asp
Fot instance `<meta name="keywords" content="Kohesio, ERDF, ESF, CF, projects, EU">`

[2022-04-29 10:04] madewild commented on #630
@D063520 @AThollard @roberto-musmeci other ideas?

[2022-04-29 10:46] roberto-musmeci commented on #630
"Cohesion" for sure . Can we also have acronymns of funds in other language ?
How many keywards you suggest to have ?

[2022-04-29 10:48] roberto-musmeci commented on #630
https://www.rankwatch.com/free-tools/meta-tag-analyzer

[2022-04-29 10:55] D063520 commented on #630
that is a good catch! probably something similar ....

[2022-04-29 12:51] AThollard commented on #630
I think we should have: region, regional policy, cohesion policy, cohesion, projects, financing, EU, European union, funding, financing, investment, development, territorial, cooperation, urban, ERDF, ESF, CF, JTF, transition (structural funds, esi and esif not that sure because it's not used anymore in the current programming period)
And it's already a lot no?

[2022-04-29 12:53] madewild commented on #630
The links I put above suggest 2 to 5 keywords perpage so... yes! :P

[2022-04-29 13:42] AThollard commented on #630
And I forgot European Commission (but with European Union maybe we are covered).

[2022-05-03 12:50] madewild opened #632 "Add pagination below beneficiaries list"
On https://kohesio.ec.europa.eu/projects we have the pagination both at the top and bottom, which is nice.
But on https://kohesio.ec.europa.eu/beneficiaries it's only at the top, it would be good to add at bottom to align.
If we want to keep only one, it would be better at bottom (like Google), more logical when you reach the end of the list... but again we can keep both.

[2022-05-03 13:26] madewild opened #633 "Unable to move map after focus"
- Go to https://kohesio.ec.europa.eu/
- Hover over Ukraine (for instance): the cursor is a hand and you can move the map around
- Hover over Poland: the cursor becomes a pointer
- Hover over Ukraine again: now the cursor is an arrow and you cannot move the map anymore!

[2022-05-03 13:26] madewild commented on #633
If the cursor leaves the map and comes again, then it's fine.

[2022-05-16 09:04] madewild commented on #625
@DiaZork can you implement this in the backend?

[2022-05-16 09:11] #610 closed

[2022-05-16 09:16] #608 closed

[2022-05-16 09:17] madewild commented on #602
also on audiovisual tab: https://kohesio.acceptance.ec.europa.eu/projects?keywords=migrant&sort=Total-Budget-(descending)&tab=audiovisual

[2022-05-16 09:19] madewild commented on #592
Caution with translations!

[2022-05-16 09:20] madewild commented on #584
@roberto-musmeci we need a decision about this...

[2022-05-16 09:23] madewild commented on #576
Or go back to Results tab?

[2022-05-16 09:24] madewild commented on #571
Projects page, map tab ;)

[2022-05-16 09:25] #542 closed

[2022-05-16 09:28] madewild commented on #535
In the end I propose to leave it as it is...

[2022-05-16 09:28] #535 closed

[2022-05-16 09:29] madewild commented on #536
@AThollard @roberto-musmeci please discuss internally and let us know what to implement
postponed to 1.3 anyway

[2022-05-16 09:38] madewild commented on #505
@roberto-musmeci @gachpas any ideas to improve this?
add a text to tell people to select one subregion first?

[2022-05-16 09:39] madewild commented on #503
Too complex to implement, closing.

[2022-05-16 09:39] #503 closed

[2022-05-16 09:41] madewild commented on #492
For me it makes sense to go back to the top when you get new results...
Or @D063520 can you explain a bit more?

[2022-05-16 09:44] gachpas commented on #505
@madewild  (cc: @roberto-musmeci ), indeed adding a text when clicking like: "Click further to reach finest granularity and once at subregion level, discover clickable projects"

[2022-05-16 09:44] madewild commented on #548
@svili do you see a solution for Italy?

[2022-05-16 09:53] D063520 commented on #548
I think I can propose a solution .... the idea would be to export italy program by program. This is not always possible in other countries since the program might not be available, but I think for italy it is the case. The idea would be:
1) find all programs
2) for each program extract the projects
3) join the csv files in bash
Would that be fine for you? We would avoid additional infrastructure .

[2022-05-16 09:58] bogdan-necula opened #638 "CSVs in the data section - not UTF8 encoded"
Hi, the CSVs are not UTF-8 encoded. Maybe you could export the data with UTF-8 encoding

[2022-05-16 10:00] madewild commented on #638
Thank you for reporting, we noticed this also and it has just been fixed in dev. It will be deployed to prod with the next release in June. In the meantime you can use the files here: https://kohesio.test.ec.europa.eu/data/

[2022-05-16 10:00] #638 closed

[2022-05-16 11:18] D063520 commented on #492
ehmmm ... I think it is still there this effect but either I got used to it or we made some changes and it is better now. For me we can close it.

In general the effect is, when you search a keyword and you press enter, then the viewport is moved again up.

[2022-05-16 12:00] #492 closed

[2022-05-16 14:41] D063520 commented on #548
@svili can you give me access to the repo

[2022-05-16 15:33] D063520 commented on #548
I checked, there is no project without program

<img width="1728" alt="Screenshot 2022-05-16 at 17 20 45" src="https://user-images.githubusercontent.com/10883585/168627237-11b7751a-a6c4-4804-bc7b-65188afbb23a.png">

Ok, so only for italy you first ask:

PREFIX wd: <https://linkedopendata.eu/entity/>
PREFIX wdt: <https://linkedopendata.eu/prop/direct/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-

[2022-05-17 15:04] raphdom commented on #601
fixed, you can test it on dev and test environment.

[2022-05-17 15:04] raphdom commented on #414
fixed, you can test it on dev and test environment.

[2022-05-17 15:51] #601 closed

[2022-05-18 09:10] raphdom commented on #602
fixed, you can test it on dev and test environments...

[2022-05-18 09:11] raphdom commented on #580
fixed, you can test it on dev and test environments...

[2022-05-18 09:11] raphdom commented on #614
fixed, you can test it on dev and test environments...

[2022-05-18 09:11] raphdom commented on #632
fixed, you can test it on dev and test environments...

[2022-05-18 09:19] madewild commented on #602
Sorry I still have the issue on https://kohesio.test.ec.europa.eu/en/projects?keywords=ai&sort=Total-Budget-(descending)&tab=map with advanced filters open...

[2022-05-18 09:23] #614 closed

[2022-05-18 09:28] madewild commented on #632
It's fine. Just one related thing, maybe you canb fix it at the same time (unless you prefer I open another issue): when clicking "next page" on the beneficiaries, the dropdown "EU contribution (descencing)" moves slightly to the left or to the right which is annoying. Some simple CSS should fix it inside the div as absolute instead of relative to the pagination. This does not happen on the Projec

[2022-05-18 11:33] raphdom commented on #602
@madewild  now should be fine...

[2022-05-18 11:35] raphdom commented on #580
collateral effect with another issue, now the behaviour is, if the page is out of the range it will go to page 1 and remove page parameter from queryParams... the same for projects page, can you test it again @madewild

[2022-05-18 11:36] raphdom commented on #632
thanks to report... it is fixed now, can you re-check?

[2022-05-18 11:46] #602 closed

[2022-05-18 11:47] madewild commented on #580
Great!

[2022-05-18 11:47] #580 closed

[2022-05-18 11:48] madewild commented on #632
The issue is fixed but now the text is cut ;)
![contrib_cut](https://user-images.githubusercontent.com/942488/169031889-1b1e7c78-4987-4f8e-9cd9-33e7ee77d4f5.png)

Can you put a slightly larger width?

[2022-05-18 12:09] raphdom commented on #632
now should be fine

[2022-05-18 12:11] madewild commented on #632
Sorry @raphdom but when going to page 2 now the pagination info spreads over 2 lines :(
![pagi_2lines](https://user-images.githubusercontent.com/942488/169035743-1db3fd0d-336b-44a7-b422-458b891b5d32.png)

[2022-05-18 12:40] raphdom commented on #632
ok, hope now everything is good... :)

[2022-05-18 12:43] madewild commented on #632
Looks good now :)

[2022-05-18 12:43] #632 closed

[2022-05-23 12:50] raphdom commented on #633
fixed on dev, can you check?

[2022-05-23 12:52] raphdom commented on #507
can you check please?

[2022-05-23 13:02] madewild commented on #507
@roberto-musmeci @gachpas @AThollard what do you think about this solution with projects separated by horizontal lines ?
you can check on dev
![horizontal](https://user-images.githubusercontent.com/942488/169825371-2766c6cf-662d-4c98-9b1b-141fc9989f0a.png)

[2022-05-23 13:18] gachpas commented on #507
@madewild , in my view, the original presentation is good enough but if I had to make a change, I would prefer bulleting the existing list vs horizontal lines.

but it is  jus mho :)

[2022-05-23 13:19] madewild commented on #507
The difference is that full titles are readable now, that the main change.

[2022-05-23 13:23] AThollard commented on #507
I prefer the new version, more readable. And the separators are fine as well. I don't think Roberto will have a strong opinion on that. So for me you can go ahead (sorry for the bullets @gachpas ;-))

[2022-05-23 13:24] madewild commented on #507
I don't like lines/bullets either, so here I suggest a solution without border-bottom:
![noline](https://user-images.githubusercontent.com/942488/169829245-e6349df1-1759-45bc-83f6-ae7865943316.png)

[2022-05-23 13:26] raphdom commented on #507
for me I agree with Anne, the version with the small line is the best, without a line it is very easy to get confused with a lot of labels...

[2022-05-23 13:41] madewild commented on #507
OK as you wish, for me we can go ahead with this...

[2022-05-23 13:42] #507 closed

[2022-06-01 14:32] D063520 commented on #548
how much does it take? Just to understand ....

[2022-06-07 13:06] raphdom opened #647 "Misconfiguration of the backend api endpoint"
As we change the application to i18n app, now the path for the backend configuration is not right.

[2022-06-08 11:32] raphdom commented on #647
fixed, but keep it here to remember of clean the config map on the frontend when we do the release, on ACC and PROD

[2022-06-08 18:20] raphdom commented on #576
on dev, can you test it please?

[2022-06-08 18:21] raphdom commented on #571
on dev, can you test, please?

[2022-06-08 18:51] raphdom commented on #611
applied, we can keep it to the next to apply the i18n, the translated file is inside the documentation from webtools.

[2022-06-08 19:49] #576 closed

[2022-06-08 19:52] madewild commented on #571
Good, but still a bit strange when there are no projects...
For instance here I searched for wifi, then clicked on Guardeloupe: no projects to display and no zoom on the region :-/

![Uploading map_noproj.png…]()

[2022-06-08 19:59] raphdom commented on #571
This is the way that the API works, @D063520 don't know if we can change it, but with this example that Max mention, with wifi, the first call I receive the list of the countries:
https://kohesio.development.ec.europa.eu/api/facet/eu/search/project/map?keywords=wifi

When we click in France then I already have the list of the coordinates, no subregions here:
https://kohesio.development.ec.europa.e

[2022-06-08 20:26] D063520 commented on #571
yes sounds tricky, we can discuss in a meeting

[2022-06-09 09:42] bogdan-necula opened #649 "question - CSV"
Are the csv's appended? The daily update appends to the previous one or just records the new data?

[2022-06-09 09:44] madewild commented on #649
Each CSV export is a new full dump of all the data, if that's the question?

[2022-06-09 09:45] bogdan-necula commented on #649
yes, solved. Thank you

[2022-06-09 09:46] #649 closed

[2022-06-13 14:45] #620 closed

[2022-06-13 14:58] #611 closed

[2022-06-13 14:59] raphdom commented on #571
For now I've changed the behaviour and hide the outermost regions when we have the project list, specially when we filter and doesn't have the sub-regions

[2022-06-13 15:00] raphdom commented on #630
added

[2022-06-13 15:00] #630 closed

[2022-06-13 15:24] D063520 commented on #650
https://kohesio.development.ec.europa.eu/en/projects/Q100952 exmaple of broken UI due to this

[2022-06-13 15:26] D063520 commented on #651
Breaks probably https://kohesio.development.ec.europa.eu/en/projects

[2022-06-14 06:13] raphdom commented on #650
ok, now is good

[2022-06-14 06:13] raphdom commented on #651
okay, now is good

[2022-06-16 06:36] raphdom commented on #651
Can you check this @madewild ?

[2022-06-16 06:37] raphdom commented on #650
Can you check this @madewild ?

[2022-06-16 06:45] madewild commented on #651
Almost good but Technical assistance (T012 - https://linkedopendata.eu/wiki/Item:Q2577338) is missing in the list of themes when no policy is selected (it is not linked to a policy, special case).
@DiaZork can you add it on https://kohesio.development.ec.europa.eu/api/facet/eu/thematic_objectives ?

[2022-06-16 06:48] madewild commented on #650
Looks good on https://kohesio.development.ec.europa.eu/api/facet/eu/project?id=https://linkedopendata.eu/entity/Q100952 !

[2022-06-16 06:48] #650 closed

[2022-06-16 07:10] madewild opened #713 "Add fund website to project API"
On https://kohesio.development.ec.europa.eu/api/facet/eu/project?id=https://linkedopendata.eu/entity/Q100952 there is already "fundLabel":"European Regional Development Fund" but we would also need "fundWebsite":"https://ec.europa.eu/regional_policy/en/funding/erdf/".

This information is already in the Wikibase (see https://linkedopendata.eu/wiki/Item:Q2504369) and can be retrieved through the P6

[2022-06-16 13:04] madewild opened #655 "Themes disappeared on the home page"
https://kohesio.development.ec.europa.eu/en/

No themes anymore! Side effect of api change (objectiveLabel > themeLabels)

[2022-06-16 13:07] madewild commented on #592
Coming back to this, a bit later than expected! ;)

"Kohesio: discover EU projects in your region" > we should maybe replace "EU" par "European"? @AThollard
"Navigate the EU knowledge graph or get the datasets" > same thing?
"About EU Regional Policy" > same

For the rest it seems OK...

[2022-06-16 13:14] madewild commented on #308
I could not find any mention of GR expect in https://kohesio.development.ec.europa.eu/en/assets/images/flags/gr.png
@D063520 @AThollard @roberto-musmeci did I miss something? or can we close this?

[2022-06-16 13:17] AThollard commented on #592
Hi Max, EU has not the same meaning as "European" as you already know (and we don't have UK or Norway to name just a few in Kohesio ...)
So the only option I see is to replace EU by "European Union" but then it's becoming really long...
Let me consult with my colleagues experts in communication in the unit, because I know that for the com campaign #EUinmyRegion", they have recently replace it by #

[2022-06-17 06:20] raphdom commented on #655
Fixed

[2022-06-17 06:20] #655 closed

[2022-06-17 09:08] D063520 opened #656 "Problem with intereg projects in multiple countries"
<img width="1728" alt="Screenshot 2022-06-17 at 11 07 05" src="https://user-images.githubusercontent.com/10883585/174266569-fa3c9a4b-af75-4598-8985-bd607bf039ff.png">
see multiple countries in API call

[2022-06-17 09:35] madewild commented on #623
try at the bottom, right of "share on"
with bug icon?
separate with some spacing

[2022-06-17 09:40] madewild commented on #584
check the cache

[2022-06-17 09:41] #551 closed

[2022-06-17 09:43] madewild commented on #651
policy should be optional in the sparql query

[2022-06-17 09:44] #308 closed

[2022-06-17 09:50] madewild opened #657 "Add robots.txt"
To hide dev/test/acc from search engine results

[2022-06-17 09:58] DiaZork commented on #651
It's fix in the backend

[2022-06-17 10:05] madewild commented on #651
yes now I see TA on https://kohesio.development.ec.europa.eu/en/projects
great, closing

[2022-06-17 10:13] D063520 commented on #651
![Uploading Screenshot 2022-06-17 at 12.12.47.png…]()

[2022-06-17 10:18] D063520 commented on #651
@raphdom

[2022-06-17 10:53] roberto-musmeci opened #714 "Display external content"
We are starting enriching projects with links to tweets, videos etc. Managing authorities are also sending us some materials so other unit of REGIO

For instance this [tweet](https://twitter.com/ElisaFerreiraEC/status/1537118383652712448) refers to this [project](https://kohesio.ec.europa.eu/projects/Q3810843)

Could we embed the tweet or a youtube video if the property is availalbe in the KG ?
Of

[2022-06-17 11:20] raphdom commented on #651
We have the same error in PROD, the Technical Assistance was related to Policy Objective(Q2577337) that doesn't exist. Don't know why. Another thing that I didn't understand well is now the API has the relation between theme and policy objective, still have this hardcoded in the frontend. I will try to implement it, but need to test all the cases on the filters (query params, map)...

[2022-06-17 11:27] raphdom commented on #584
Can we change it first on the backend side? so no sort means sort by Total Budget(descending), otherwise we the user enter in the page the url will be changed to add the sort, this is weird... It is easy @D063520 @DiaZork ?

[2022-06-17 11:49] D063520 commented on #651
It was hardcoded in the front-end but we want to get rid of that an have it in the data. This was the orginal motivation

[2022-06-17 11:54] DiaZork commented on #584
It's not complicated  

[2022-06-17 13:04] madewild commented on #651
Yes, this was the goal of this issue: #551

Before we had a policy objective "Technical Assistance" linked to the theme of the same name, but this was a mistake so I deleted it. Technical assistance is a thematic objective (theme) with code TO12 but not linked to any policy. We should be able to use it normally as a filter in themes to see related projects, to be fixed.

[2022-06-17 13:16] raphdom commented on #623
What do you think about this:
<img width="363" alt="Screenshot 2022-06-17 at 15 16 17" src="https://user-images.githubusercontent.com/5124917/174305738-9e873c35-0910-479e-b11d-f6bb0126bd03.png">

[2022-06-17 13:19] raphdom commented on #656
Now, I've change to european flag, when we have more than one country code, on dev, can you check, please?

[2022-06-17 13:55] gachpas commented on #623
@madewild , is the icon not copyright protected?

[2022-06-17 13:59] madewild commented on #623
@raphdom I guess you chose something under creative commons?

[2022-06-17 14:03] raphdom commented on #623
I am using the fontawesome:
https://fontawesome.com/icons/bug?s=solid

[2022-06-17 14:07] raphdom commented on #584
@madewild we should do it, or postponed? The query maybe should be cached, non?

[2022-06-17 14:22] madewild commented on #584
Not urgent, we can postpone

[2022-06-17 14:52] AThollard commented on #623
Ok tested with one colleague (not the best scenario as he's British, but he was the only available). So for him the icon is fine specially with the text. And he told me that red would be better than green! For him the alternate icons in small format are not clear so forget my previous suggestion.

[2022-06-17 15:18] Bisiaam commented on #623
I agree for the color. In my test, someone thought it was a green/ecological button (without the text)

[2022-06-17 17:28] #656 closed

[2022-06-20 06:13] raphdom commented on #623
I've change the color, can you check please?

[2022-06-20 06:36] raphdom commented on #657
Not so easy to implement with all the i18n complexity on nginx side. I will postponed

[2022-06-20 08:20] madewild commented on #548
So all is fine now, can we close?

[2022-06-20 08:31] AThollard commented on #623
Good for me as well!

[2022-06-20 08:47] svili commented on #548
Done:
- Added connection error handling to the export script
- Managing authorities added to normal exports
- Cronjob is working
- In s3 added a lifecycle policy to the exports' folder to delete 7 days old files (only for the staging bucket)

Whats not done:
- Still don't know why the cronjob didn't fire for days, but now its working.
- There is an issue with managing authorities only for Italy be

[2022-06-20 09:00] #623 closed

[2022-06-20 11:19] D063520 opened #659 "No icons for social media on safari browser only"
<img width="1121" alt="Screenshot 2022-06-20 at 13 18 57" src="https://user-images.githubusercontent.com/10883585/174590646-9f1ff31f-bf27-4ef6-9106-5b2d5958de9a.png">
https://kohesio.test.ec.europa.eu/en/projects/Q4301486

[2022-06-20 11:25] D063520 opened #660 "arrows missing in selection"
<img width="363" alt="Screenshot 2022-06-20 at 13 24 19" src="https://user-images.githubusercontent.com/10883585/174591617-c673584d-7215-4739-8fd1-60562a53ae51.png">

[2022-06-20 11:28] madewild commented on #660
This is also on Safari? Fine on Chrome:
![chrome_arrows](https://user-images.githubusercontent.com/942488/174592046-1ba254f7-3ec7-4af0-91f8-37f19fa75aac.png)

[2022-06-20 11:29] raphdom commented on #660
indeed, the same problema as before

[2022-06-20 11:38] madewild opened #661 "Shorten "missing intervention field" text"
On https://kohesio.development.ec.europa.eu/en/projects?country=Cyprus&sort=Total-Budget-(descending) for instance
The text "Intervention field not declared by the Managing Authority" is very long and does not show well with the new ECL look & feel.
![notdeclared](https://user-images.githubusercontent.com/942488/174593693-b37443c4-7b9f-4c2a-8928-bc055da4c387.png)

Could we shorten this text to jus

[2022-06-20 12:15] raphdom commented on #659
now should be fine on dev

[2022-06-20 12:15] raphdom commented on #660
fine on dev, can you test it?

[2022-06-20 13:06] raphdom commented on #651
okay, now is not hardcoded anymore, the relationship is using the theme and policy parameters to get the themes and policies objectives correspondents in the API. on dev

[2022-06-20 13:10] #651 closed

[2022-06-20 13:28] #660 closed

[2022-06-20 13:29] #659 closed

[2022-06-20 13:34] raphdom commented on #548
let's create another issue with the improvements for next release? for now seems to be good, @madewild ?

[2022-06-20 13:36] madewild opened #664 "Improve CSV exports"
Whats not done:
- Still don't know why the cronjob didn't fire for days, but now its working.
- There is an issue with managing authorities only for Italy because of the special nature of the exporting there. But I think this is a separate issue.
- The data is still reachable on https://kohesio.test.ec.europa.eu/data/ , I dont think we want to change to data.kohesio.xyz in the middle of a release,

[2022-06-20 13:40] #647 closed

[2022-06-21 08:42] gachpas opened #666 "Link to programme leads to Kohesio Homepage"
https://kohesio.test.ec.europa.eu/en/#my-region

Valid for several (all?) Interreg projects

Link to programme (in the project fiche) leads to Kohesio Homepage

![Link Programme](https://user-images.githubusercontent.com/74774446/174756923-4b103342-e876-4c23-9e40-7dc4ac1347ca.png)

[2022-06-21 08:49] madewild commented on #666
Indeed, and also we should not put a link behind n/a:
![nalink](https://user-images.githubusercontent.com/942488/174758470-98bbdcdc-3c9a-436e-87ac-a5fefc673c52.png)

[2022-06-21 08:51] gachpas opened #667 "Projects near me"
Projects near me feature displays all projects in EU instead of a surrounding of 100kms
![PNM](https://user-images.githubusercontent.com/74774446/174758918-bdcba506-3bf3-4aa9-b4ba-169c4bbed984.jpg)

[2022-06-21 08:56] madewild commented on #667
Bug linked to interreg? @DiaZork can you have a look?

[2022-06-21 09:22] gachpas opened #669 "Special filter for interreg projects"
more a question than an issue....

why is there no way to identify all Interreg projects via a filter on ETC?
Is there any meta-data allowing to do so?

[2022-06-21 09:23] madewild commented on #669
I think we decided against giving them a special status... can change later if needed.

[2022-06-21 09:32] gachpas opened #670 "negative EU contribution"
I knew about issues with DE on negative Total budget but here we have 'normal' total budget and a negative EU contribution.

is it a known issue for you?

https://kohesio.test.ec.europa.eu/en/beneficiaries/Q3767158

[2022-06-21 12:57] gachpas opened #672 "Missing theme on project detail page"
https://kohesio.test.ec.europa.eu/en/projects?theme=Sustainable-and-quality-employment&sort=Total-Budget-(descending)

when starting from this link and clicking a project, the related icon does not display and we have a kind default ion (electric bulb) instead

[2022-06-21 13:24] madewild commented on #672
The problem is not really the icon, it's because the theme is marked as n/a on the detail page instead of "Sustainable and quality employment".

@DiaZork can you check why themeLabels and themeIds are empty on https://kohesio.test.ec.europa.eu/api/facet/eu/project?id=https://linkedopendata.eu/entity/Q3936213 ?

on https://linkedopendata.eu/wiki/Item:Q3936213 there is an intervention field https://

[2022-06-21 13:30] Djang0 opened #673 "Project near me : Orange circle z-index won't allow project selection"
When using "project near me" feature, an orange circle is used to display approximative location of the end user. It looks like the z-index of the mentioned circle won't allow project circle (blue one) within (under?) the orange one to be clicked.

<img width="1108" alt="image" src="https://user-images.githubusercontent.com/841633/174810976-bfd7d299-a0fa-47db-ba57-31f029b20123.png">

[2022-06-21 13:34] Djang0 opened #674 "mailto buttons won't work with firefox & outlook on commission pc"
Everything is in the title. From project view (same applies for e-mail button within social media button panel):
![image](https://user-images.githubusercontent.com/841633/174811669-9ff3cccb-a50e-44be-ae75-e6087502f959.png)
![image](https://user-images.githubusercontent.com/841633/174811720-e0605e37-978a-4bcf-ba17-492c1909910b.png)
![image](https://user-images.githubusercontent.com/841633/174811768

[2022-06-21 14:28] madewild commented on #674
![report_issue](https://user-images.githubusercontent.com/942488/174824553-bea93291-a656-4a18-bf20-b3c2f4d08cda.png)

[2022-06-22 06:29] raphdom commented on #666
can you test it, please, dev and test envs

[2022-06-22 07:07] madewild commented on #666
Looks good to me.
@gachpas can you confirm and close?

[2022-06-22 07:19] gachpas commented on #666
Hello @raphdom and @madewild , not sure what you ask me to check exactly?
Indeed the n/a does not offer link anymore....good.
However the Programme link does not offer link either...so we do not have that info? If it is the case, then yes, it can be close ;)

[2022-06-22 07:24] madewild commented on #666
Well it does, https://kohesio.test.ec.europa.eu/en/projects/Q100952 for instance has a working program link.
But for some like https://kohesio.test.ec.europa.eu/en/projects/Q4298599 (which you mentioned above) we do not have the information: there is no URL on https://linkedopendata.eu/wiki/Item:Q2463550 (that's why we had a default link to the homepage, now removed).
@roberto-musmeci is this norm

[2022-06-22 07:29] gachpas commented on #666
@madewild , the info on programme (for which I reported a non-working link) seems existing: https://ec.europa.eu/regional_policy/de/atlas/programmes/2014-2020/spain/2014tc16rfcb006

How come we do not have that info?

[2022-06-22 07:30] madewild commented on #666
Probably we did not import this for interreg projects... @D063520 @DiaZork do you know something?

[2022-06-22 08:06] raphdom commented on #673
Thank you to report this bug, It is okay now on dev and test, can you check, please?

[2022-06-22 08:07] D063520 commented on #666
Hi!

Yes, the information for this is missing in the graph:

https://linkedopendata.eu/wiki/Item:Q2463550

@roberto-musmeci can you provide it to us?

A csv with program name, homepage?

[2022-06-22 08:09] madewild commented on #673
Works for me but now I have a project with no title! Maybe it's one I translated yesterday ;)

![orange](https://user-images.githubusercontent.com/942488/174978058-f5404cca-3046-4399-b0cb-a766e8ff7f8b.png)

@Djang0 do you confirm we can close?

[2022-06-22 09:43] Djang0 commented on #673
@raphdom and @madewild On my computer I don't see the "location circle" anymore an clicking on project near me only affects the zoom level but not the selection of project:

<img width="1101" alt="image" src="https://user-images.githubusercontent.com/841633/174998174-87faf088-e383-4b16-852b-1dae0b468138.png">

[2022-06-22 11:56] Djang0 commented on #673
Obviously, that's an argument :)
I can confirm that it works and that labels are not empty.

[2022-06-23 15:43] AThollard opened #678 "Error 404 page on one project fiche"
https://kohesio.test.ec.europa.eu/en/projects?sort=Total-Budget-(descending)&country=Poland&program=2014TC16RFIR004---ESPON
Clicking on the second project in the list->project 404 page
![image](https://user-images.githubusercontent.com/80402472/175339827-573a51d0-9a5d-4520-b531-07fd20a9d1cc.png)

[2022-06-23 15:47] AThollard opened #680 "No map on project fiche"
https://kohesio.test.ec.europa.eu/en/projects/Q3095626

[2022-06-23 15:52] AThollard opened #679 "More and Graph buttons frame have disappeared"
TEST
![image](https://user-images.githubusercontent.com/80402472/175341508-9f088b63-bfc9-4eba-827a-b4ebab9727a9.png)

PROD
![image](https://user-images.githubusercontent.com/80402472/175341627-3a5d284f-dc8f-4fc0-8189-ebb5b13a0c99.png)

[2022-06-23 16:22] DiaZork commented on #667
Fixed on dev

[2022-06-23 16:46] gachpas commented on #667
Hello @DiaZork , the bug reported was on test. Will the fix be pushed to test for us to test? Thx and br

[2022-06-23 16:54] D063520 commented on #672
Is solved. The problem was that the TO was only retrieved from the entity directly and not as a fallback also form the intervention field.

[2022-06-23 16:54] #672 closed

[2022-06-23 20:32] D063520 opened #681 "images not rendered in safari"
https://kohesio.test.ec.europa.eu/en/beneficiaries/Q276795

See below, image of ferrovie d'italia is not rendered

<img width="1728" alt="Screenshot 2022-06-23 at 22 32 07" src="https://user-images.githubusercontent.com/10883585/175394322-71c1431f-c5c4-4369-8d98-df5d70be191b.png">

[2022-06-24 05:59] raphdom commented on #681
On my safari it is working fine, but we have a warning in the console:
"The page at https://kohesio.test.ec.europa.eu/en/beneficiaries/Q276795 was allowed to display insecure content from http://commons.wikimedia.org/wiki/Special:FilePath/Sede%20Centrale%20FS.jpg."

So the url of the image is still "http", this is more data issue, there is a way to detect all the image url and change it to https?

[2022-06-24 06:43] madewild commented on #678
https://linkedopendata.eu/wiki/Item:Q4295701 exists and it's a valid Kohesio project. So it looks like a problem with the index...

[2022-06-24 06:45] madewild commented on #679
For me it's fine on https://kohesio.test.ec.europa.eu/en/projects/Q100952
What browser do you use?

[2022-06-24 06:46] madewild commented on #680
I can see the map on this project:

![map](https://user-images.githubusercontent.com/942488/175478660-9cc5ae94-0d47-4096-8979-fa77d61b04d7.png)

Maybe it was a temporary issue?

[2022-06-24 06:47] raphdom commented on #680
now is good, it was a problem with merge the frontend and backend not at the same time.

[2022-06-24 06:53] madewild commented on #681
The correct url would be https://upload.wikimedia.org/wikipedia/commons/6/64/Sede_Centrale_FS.jpg

[2022-06-24 06:53] #680 closed

[2022-06-24 07:02] gachpas commented on #672
Thanks @D063520 ;)

[2022-06-24 07:13] AThollard commented on #679
This morning this is fine. Yesterday I was using Chrome, also this morning. Strange. Probably a temporary issue.
You can close it.

[2022-06-24 07:20] #679 closed

[2022-06-24 09:16] madewild commented on #678
https://kohesio.development.ec.europa.eu/en/projects/Q4295701

[2022-06-24 09:18] madewild commented on #678
https://kohesio.development.ec.europa.eu/api/facet/eu/project?id=https://linkedopendata.eu/entity/Q4295701

[2022-06-24 09:21] #674 closed

[2022-06-24 09:33] D063520 commented on #678
Ok it is fixed. The problem was that the query was timing out. (I increased the timeout from 2 to 3 sec). This might be related to the fact that this project has so many countries. We might need in future to analyze the query more in detail and try to optimize it

[2022-06-24 09:33] #678 closed

[2022-06-24 09:34] D063520 commented on #678
Ok it is fixed. The problem was that the query was timing out. (I increased the timeout from 2 to 3 sec). This might be related to the fact that this project has so many countries. We might need in future to analyze the query more in detail and try to optimize it

https://kohesio.test.ec.europa.eu/en/projects/Q4295701

the project loading is slowish

[2022-06-24 09:56] D063520 commented on #681
working on DEV

[2022-06-24 09:56] #681 closed

[2022-06-24 12:59] roberto-musmeci commented on #666
it's done. it can be closed

[2022-06-24 13:01] madewild commented on #666
I confirm it works on https://kohesio.development.ec.europa.eu/en/projects/Q4298599

[2022-06-24 13:01] #666 closed

[2022-06-28 13:28] gachpas opened #684 "Acceptance environment unstable"

[2022-06-28 13:51] madewild commented on #684
@svili there seems to be something unstable in ACC... for me it disappears when you press F12 but then it comes back...

[2022-06-29 07:05] madewild commented on #684
Today I don't have the issue anymore...
@gachpas are you still experiencing strange behaviour in acceptance?

[2022-06-29 08:11] gachpas commented on #684
Hello @svili and @madewild ,

well, it is much better today but still some issues (see pic attached) + issue to move the map with the mouse

[2022-06-29 08:13] madewild commented on #684
and this problem is totally absent in TEST ??

[2022-06-29 08:16] gachpas commented on #684
well, I have not experienced this when testing Kohesio in Test last time....and quickly checking now, I do not have it either...

although, I agree that the issue seems inconsistent, as the behaviour yesterday and today is different...

[2022-06-29 08:19] madewild commented on #684
Mmmh, might be related to your connection or Gisco tiles that are slow... Difficult to debug, let's monitor it until Friday.

[2022-06-29 08:31] madewild commented on #684
![carousel](https://user-images.githubusercontent.com/942488/176390488-f1fea766-a60f-45b1-8706-2a2013b8611f.png)

very strange and not reproducable every time...
@raphdom in case you have some time could you have a look at acceptance?

[2022-06-30 06:26] bogdan-necula opened #685 "Add geocoordinates to beneficiaries csv export"
Dear Team

Do you plan to add location (city and country) to the beneficiaries csv export. In the URLs of the beneficiaries this information exists.

Thank you

[2022-06-30 06:52] madewild commented on #685
Hello @bogdan-necula, the country is already in the name of each file so it seems a bit redundant... For the city, it could be done but the geo information is somewhat disparate: sometimes we have a string, sometimes a postal code, etc. Or would the latitude/longitude be useful?

@D063520 what's your view on this?

[2022-06-30 06:55] bogdan-necula commented on #685
Hi, lat-long would be great !

[2022-06-30 07:08] D063520 commented on #685
Hi,

as far as I know not all beneficiaries have a geo location. For sure not across all countries. To directly help you, you can extract this information yourself using this SPARQL endpoint:

https://query.linkedopendata.eu/#SELECT%20%2a%20WHERE%20%7B%0A%20%20%23%20things%20of%20types%20beneficiaries%0A%20%20%3Fbeneficiary%20wdt%3AP35%20wd%3AQ196899%20.%0A%20%20%23%20beneficiaries%20in%20poland%0

[2022-06-30 08:15] gachpas commented on #684
@madewild ,
I have tried now and do not have any issue with map, nor carousel ;)

[2022-06-30 08:17] madewild opened #686 "Carousel regression"
![carousel](https://user-images.githubusercontent.com/942488/176390488-f1fea766-a60f-45b1-8706-2a2013b8611f.png)

very strange and not reproducable every time...
@raphdom in case you have some time could you have a look at acceptance?

_Originally posted by @madewild in https://github.com/ec-doris/kohesio-frontend/issues/684#issuecomment-1169689054_

[2022-06-30 08:17] #684 closed

[2022-06-30 08:19] madewild commented on #686
Also happens in prod although we did not touch it!

[2022-06-30 19:26] D063520 commented on #685
@bogdan-necula ping

[2022-06-30 19:35] D063520 commented on #685
Hi,

I just tried now and it seams to work:

https://query.linkedopendata.eu/#SELECT%20%2a%20WHERE%20%7B%0A%20%20%23%20things%20of%20types%20beneficiaries%0A%20%20%3Fbeneficiary%20wdt%3AP35%20wd%3AQ196899%20.%0A%20%20%23%20beneficiaries%20in%20poland%0A%20%20%23%3Fbeneficiary%20wdt%3AP32%20wd%3AQ13%20.%0A%20%20%23%20beneficiaries%20with%20coordinates%0A%20%20%3Fbeneficiary%20wdt%3AP127%20%3Fcoordi

[2022-06-30 19:37] bogdan-necula commented on #685
Thanks it did!

[2022-06-30 19:39] D063520 commented on #685
great! we will also try to add them to the exports for the next release, which should be in september. If you need any other data, try yourself over the endpoint or write us again : )

[2022-07-01 09:34] madewild commented on #633
@raphdom we noticed that this bug is still happening but with project blue circles:

- go to home page
- click projects near me
- hover over a project blue circle
- put your mouse over the map again: there is no hand and you cannot drag it

could you fix this when you have time (along with #686 ) and do a fast release to prod? thx

[2022-07-01 13:20] gachpas opened #690 "Missing project ID when reporting an issue from overlay window"
if you want to report an issue from the po-up window of a project, the link in the email is generic and not related to the project.

While it works when opening completely the project page

[2022-07-01 13:21] madewild commented on #686
@svili and @omar0z tried to fix it but to no avail... still happens in prod
@raphdom when you're back can you have a look? it seems that the page is loading and the dimensions are not properly computed...

[2022-07-01 13:22] madewild commented on #690
Ah yes I'm not surprised because it's linked to the URL... @raphdom can fix this for 1.3 ;)

[2022-07-11 12:35] madewild opened #703 "Allow to search for radius around one town"
Add extra filter

[2022-07-11 12:35] madewild opened #704 "Allow to search for radius around one town"

[2022-07-19 07:05] raphdom commented on #686
now is good on PROD

[2022-07-19 12:23] raphdom commented on #633
ok, now is fixed on PROD

[2022-07-20 10:11] faustusdotbe opened #695 "Map incorrectly centering"
On a fresh browser session, the map in prod is centered in the Atlantic:

![Screenshot from 2022-07-20 12-04-31](https://user-images.githubusercontent.com/5579081/179956604-521f5239-46bd-4b58-ac33-43bf791cd6d2.png)

Clicking "Projects near me" centers the map on the English Channel. This happens despite my being located in Belgium (and Kohesio correctly highlighting projects around Brussels on the

[2022-07-20 10:28] faustusdotbe commented on #695
This happens in 2560x1440, cannot reproduce on 1920x1080

[2022-07-22 12:38] faustusdotbe commented on #695
Confirmed working here, thanks!

[2022-07-22 12:38] #695 closed

[2022-08-05 08:18] raphdom commented on #690
Fixed, can you check please?

[2022-08-24 13:48] madewild commented on #269
@AThollard @gachpas is still still something we want for 1.3? If yes we would need more specifics...

[2022-08-24 13:49] madewild commented on #276
@raphdom did you have the time to look into this? Not urgent, just to get an idea of what is achievable later on...

[2022-08-24 13:50] madewild commented on #318
@roberto-musmeci reminder...
We can organise a meeting with GISCO if easier.
@AThollard do you remember the name of the person we met in the past?

[2022-08-24 13:51] madewild commented on #350
This would be good to implement for 1.3.
@D063520 @DiaZork is is already available in the backend?

[2022-08-24 13:52] madewild commented on #481
@AThollard @roberto-musmeci any suggestion of change or we leave like that and close this issue?

[2022-08-24 13:56] madewild commented on #534
Updated URL: https://kohesio.test.ec.europa.eu/en/projects?theme=Research-and-innovation&policyObjective=Smarter-Europe&sort=Total-Budget-(descending)&tab=map

@raphdom could we do a test with darker shades of orange or too difficult?

[2022-08-24 13:57] madewild commented on #536
@AThollard in the end should we go for this or not? Not too difficult on our side, more a matter of business decision :)

[2022-08-24 14:12] AThollard commented on #318
Yes I do. It is REUTER Hannes (ESTAT)

[2022-08-24 14:18] AThollard commented on #481
For me it's fine as it is. We have abandoned the 'Open' button?

[2022-08-24 14:20] AThollard commented on #536
Intervention field and program definitly yes. Themes are more problematic as we might change them in the future. Let me discuss this with @roberto-musmeci on Monday.

[2022-08-24 14:23] madewild commented on #481
No it's still there, but only in the modal (from the homepage):
![open](https://user-images.githubusercontent.com/942488/186443439-e0013eb9-0669-4318-a0b7-861ea0904d8f.png)

[2022-08-24 14:24] madewild commented on #536
@raphdom we could already do a test with intervention field and/or programme

[2022-08-24 14:32] AThollard commented on #481
It makes sense as we only need to 'open' from the smaller window from the homepage. So you can close the issue.

[2022-08-24 14:36] #481 closed

[2022-08-24 15:01] DiaZork commented on #584
For the moment, by default it order EU contribution if we don't specify anything.
So do you want that It order by total budget by default or i remove the default order by and we specify in the call from the frontend how to order it ?

[2022-08-24 15:03] madewild commented on #584
The idea would be to have total budget by default without specifying the parameter. But we need to cache this!

[2022-08-24 15:20] DiaZork commented on #584
Okay, I made the change in the backend, and it should be cached too.

[2022-08-25 08:19] raphdom commented on #633
@madewild can you check this, I think we can close it

[2022-08-25 08:19] raphdom commented on #686
@madewild can you check this, I think we can close it

[2022-08-25 08:20] raphdom commented on #690
@madewild and @gachpas  can you check this, I think we can close it

[2022-08-25 08:27] raphdom commented on #534
Yes we can try, but we need kind of legend to the map, something like this:
<img width="662" alt="Screenshot 2022-08-25 at 10 27 02" src="https://user-images.githubusercontent.com/5124917/186615106-59f1e695-d338-418d-ba20-ad7d3e03c192.png">

[2022-08-25 08:31] raphdom commented on #505
I think it is already intuitive and on my view we already have many things that can distract on the map.
If you have any other suggestion, but like @madewild said, we have the disclaimer, not easy to find a place to put this.

[2022-08-25 08:51] #633 closed

[2022-08-25 08:51] #686 closed

[2022-08-25 08:53] madewild commented on #690
Mmmh seems not fixed in TEST for me...

[2022-08-25 08:54] madewild commented on #534
@AThollard @gachpas what do you think?

[2022-08-25 08:55] madewild commented on #505
@AThollard @gachpas @roberto-musmeci we need a decision on this...

[2022-08-26 09:00] AThollard commented on #534
With a legend on the legend: "Number of projects"

[2022-08-26 09:00] AThollard commented on #534
For me it's fine, to be tested.

[2022-08-29 09:30] Bisiaam commented on #269
I know that @roberto-musmeci found 254 new projects thanks to his algorithm, but now we have to confirm them manually and in order to help us we need a comparison table. Otherwise, it will take too much time.

[2022-08-29 13:13] gachpas commented on #690
Hello @raphdom and @madewild ,

it seems working fine for me in test ;)

Thanks and kr,
Pascal

[2022-08-29 13:14] madewild commented on #690
Not for me... @raphdom have you merged from DEV to TEST?

[2022-08-30 08:48] raphdom commented on #690
Now is merged into test, can you test @madewild?

[2022-08-30 08:53] madewild commented on #690
Great now! Just one thing: maybe this should open in another tab... when I click "report an issue" it opens Gmail in place of Kohesio in the same tab.

[2022-08-30 13:42] gachpas commented on #690
For me it works ok, as it opens my Commission email in another app ;)

[2022-09-01 07:15] raphdom commented on #690
@madewild, can you try again now (on dev) should open in a new tab

[2022-09-01 07:27] #690 closed

[2022-09-01 07:30] raphdom commented on #584
Total budget(descending) is the new sort for beneficiaries list. Can you test it @madewild and close?

[2022-09-01 07:34] madewild commented on #584
I see it but the search on beneficiaries is broken now @DiaZork !
https://kohesio.development.ec.europa.eu/en/beneficiaries?name=roads returns nothing while https://kohesio.ec.europa.eu/en/beneficiaries?name=roads has 10 results

[2022-09-01 08:09] raphdom commented on #536
Yes I can, but on the project detail API can I have the intervention field ID and programme label and ID? @DiaZork?

[2022-09-01 11:27] raphdom commented on #534
The first version is on dev, can you check it, please @madewild @gachpas @roberto-musmeci

[2022-09-01 11:40] madewild commented on #534
@gachpas do we want this feature only on https://kohesio.development.ec.europa.eu/en/projects?tab=map or also on the homepage?

[2022-09-01 11:53] gachpas commented on #534
Hello @raphdom and @madewild ,

I would say on homepage too, but would let the final decision to Diego and @roberto-musmeci.

This being said, I have serious performance issue for loading the map. Do you have the same?
This may also influence the decision on implementing on the homepage...
Br,
Pascal

[2022-09-01 11:54] raphdom commented on #534
The performance is not related to the new feature, we are facing some problems on dev, maybe I could merge it on test...

[2022-09-01 11:56] gachpas commented on #534
@raphdom , ok then.
for merging with test, I let Max decide with you what is best :)

[2022-09-01 11:56] gachpas commented on #534
I will speak to Diego and Roberto and will come back to you

[2022-09-01 11:57] madewild commented on #534
Yes go ahead :)

[2022-09-01 12:04] raphdom commented on #534
deployed on test @madewild @gachpas

[2022-09-01 12:11] gachpas commented on #534
it is better in terms of performance, though sometimes not direct when going deeper in a country but acceptable.
When speaking with Diego and Roberto, I will also challenge the range proposed in the legend, as, at the moment, it is a bit too wide...we will see...I suppose that this something we can adapt, right?

[2022-09-01 12:12] raphdom commented on #534
Indeed, the colors and the range can be adapt.

[2022-09-02 08:44] D063520 opened #701 "Click on intervention field with redirect to search is not working"
Example:

https://kohesio.development.ec.europa.eu/en/projects/Q3685543

(click on intervention field here is not working)

[2022-09-07 07:16] raphdom commented on #584
now it is working again, can we close it @madewild ?

[2022-09-07 07:17] #584 closed

[2022-09-07 07:19] raphdom commented on #701
This is related to #536, I don't have the code of the intervetion field to redirect to the project list with the good id, that's why I ask @DiaZork or maybe @D063520 to add this in the API side, look into #536 comments

[2022-09-07 07:19] #701 closed

[2022-09-07 08:29] madewild commented on #269
@D063520 we need to add the video url property to the project detail API

[2022-09-07 08:30] roberto-musmeci commented on #269
potential good ECL component is the gallery
https://ec.europa.eu/component-library/ec/components/media/gallery/usage/

[2022-09-07 08:30] D063520 commented on #269
@roberto-musmeci please provide an example

[2022-09-07 08:37] madewild commented on #269
Try auto-disappearing pop-up "Select a subregion to see individual projects"

[2022-09-07 08:43] madewild commented on #669
@D063520 to implement in backend first (projects API)

[2022-09-07 08:46] madewild commented on #505
Try auto-disappearing pop-up "Select a subregion to see individual projects"

[2022-09-07 08:55] roberto-musmeci commented on #269
property is https://linkedopendata.eu/wiki/Property:P2210

project example: https://kohesio.test.ec.europa.eu/en/projects/Q4110492

[2022-09-07 08:58] madewild commented on #269
In the graph: https://linkedopendata.eu/wiki/Item:Q4110492

[2022-09-07 09:20] raphdom commented on #661
Done, you can check and close it @madewild or @roberto-musmeci

[2022-09-07 09:22] #661 closed

[2022-09-07 09:26] D063520 commented on #269
<img width="1728" alt="Screenshot 2022-09-07 at 11 25 40" src="https://user-images.githubusercontent.com/10883585/188843156-0f89dc96-ecc9-4761-b651-a5602035a4cd.png">
is done
https://kohesio.development.ec.europa.eu/en/projects/Q4110492

[2022-09-07 13:23] raphdom commented on #505
It is on dev:
Can you check it? @madewild @gachpas @roberto-musmeci
<img width="1177" alt="Screenshot 2022-09-07 at 15 23 12" src="https://user-images.githubusercontent.com/5124917/188889340-966b37fb-ad79-4853-9356-ac883dac19ed.png">

[2022-09-08 07:02] madewild commented on #505
Looks good to me! :)

[2022-09-08 07:04] roberto-musmeci commented on #505
Perfect for me too. We can close it ;)

[2022-09-08 07:08] #505 closed

[2022-09-08 07:09] gachpas commented on #505
Good to me too :)
only remark, is the colour code also adapting for the Outermost regions? It looks like they stay with the standard colour...
Thanks and kr

[2022-09-08 07:11] madewild commented on #505
This is more a discussion for #534

[2022-09-08 08:34] madewild commented on #595
Yes much better for me, @gachpas can we close?

[2022-09-08 09:53] gachpas commented on #595
Much better indeed :) Thx for that.
This ticket can be closed.
Checking this, I have seen something else that puzzles me a bit: if you are on a project fiche and click on the link under the Intervention field, you arrive on a page that - i assume - list all the projects for that intervention field.
What is a bit weird to me is that when looking into the advanced filter/Intervention field, this con

[2022-09-08 09:56] madewild commented on #595
Mmmh good point, maybe @raphdom you can tackle this as part of this issue?

[2022-09-08 09:56] raphdom commented on #595
Dennis had already logged this ticket, and I close it :) #701 , but in fact we are waiting the implementation of the ticket #536 to finish this part of the implementation.

[2022-09-08 09:56] madewild commented on #595
Ah OK then :)

[2022-09-08 09:56] #595 closed

[2022-09-08 09:59] madewild commented on #536
@D063520 @DiaZork could you add this? it's blocking another issue :)

[2022-09-08 13:18] #704 closed

[2022-09-08 13:19] #705 closed

[2022-09-08 13:20] #706 closed

[2022-09-08 13:20] #707 closed

[2022-09-08 13:23] madewild commented on #670
@roberto-musmeci any input on this?

[2022-09-08 13:25] madewild commented on #664
@svili what's the status on these leftovers?

[2022-09-08 13:26] madewild commented on #626
@raphdom is this possible or blocking factor to store it in a backend?

[2022-09-08 13:27] madewild commented on #269
I think so in the first phase... we can add more media type later on.

[2022-09-08 13:28] raphdom commented on #626
we need to store somewhere indeed...

[2022-09-08 13:29] D063520 commented on #269
there are 2 different properties, one is youtube and the other one is video in the KB. Just as an information

[2022-09-08 13:30] D063520 commented on #269
video looks cool, I would somehow put it above the map ....

[2022-09-08 13:32] D063520 commented on #269
it's a bit strange that the page is in english but the video is in italian (sorry, very picky complaining)

[2022-09-08 13:32] madewild commented on #269
Not convinced about that because we have maps for all projects but only video for 500...

[2022-09-08 13:47] roberto-musmeci opened #708 "Expose keep.eu URL in project detail page API"
Example
https://linkedopendata.eu/wiki/Item:Q4300675
https://linkedopendata.eu/wiki/Property:P562941

We'd like to implement a sort of read further about the project for Keep.eu projects
https://kohesio.development.ec.europa.eu/en/projects/Q100952

[2022-09-08 14:36] svili commented on #664
The kronjob is working, you said you just added the managing authorities to Italy and there is no decision on the new subdomain for the data.

[2022-09-08 15:39] roberto-musmeci commented on #534
we discussed with @raphdom and @madewild to keep the heat map only in the map tab of the project detail page.

[2022-09-09 05:16] madewild commented on #669
Implemented in the backend: https://github.com/ec-doris/kohesio-backend/issues/179

[2022-09-09 09:31] raphdom commented on #534
Ok, now should be good, the heat map is only on the map tab(projects page) and with dynamic range now, can you check if all is good? @madewild @roberto-musmeci @gachpas
Still have some doubts about the outermost regions, which color should appear (tricky)

[2022-09-09 09:51] roberto-musmeci commented on #534
This is very good @raphdom. Thanks.
If you mange also with the outermost regions, I think that for this version is perfect

[2022-09-12 07:11] raphdom commented on #269
@D063520 can you give me an example with the other video in KB, as you said?

[2022-09-12 07:36] raphdom opened #709 "Adapt the colors of the outermostregions in heat map"
In the country level we have the info about the number of projects per region, we can adapt the color of the outermost regions.

[2022-09-12 07:37] raphdom commented on #318
No answer until today, I will postponed this issue

[2022-09-12 07:38] raphdom commented on #657
For next release with the i18n implementation

[2022-09-12 07:39] madewild commented on #318
My bad, I forgot to contact him... will do.

[2022-09-12 07:43] raphdom commented on #276
I put the last parameter for this version:
https://kohesio.development.ec.europa.eu/en/map?heatScale=true
I think we can close this and open new issues when is need to improve this feature.

[2022-09-12 07:43] raphdom commented on #276
@madewild ?

[2022-09-12 07:43] raphdom commented on #534
For now the outermost regions will be gray in the heatMap, I will create a new issue to adapt the colors of the outermost regions when we are in the country level, that we have this information. Can we close it? @madewild @roberto-musmeci @gachpas ?

[2022-09-12 07:44] #276 closed

[2022-09-12 07:44] #534 closed

[2022-09-12 11:49] D063520 commented on #269
Hi Raph, the other property is not used currently. So I would close this issue until we do not find an example ...

[2022-09-12 11:50] #269 closed

[2022-09-14 09:30] roberto-musmeci opened #710 "Heatmap - number of projects and intervention field"
it looks like the heatmap is not working properly when selecting a specific intervention field

https://kohesio.development.ec.europa.eu/en/projects?interventionField=010&sort=Total-Budget-(descending)&tab=map

[2022-09-15 07:10] raphdom commented on #702
done, can you check if this is good enough? @roberto-musmeci

[2022-09-15 07:10] raphdom commented on #669
done, can you test it, please? @roberto-musmeci @madewild

[2022-09-15 07:14] madewild commented on #702
Looks good to me! @roberto-musmeci feel free to close when tested in dev

e.g. https://kohesio.development.ec.europa.eu/en/projects?nuts3=Arrondissement-of-Mons&sort=Total-Budget-(descending)

[2022-09-15 07:17] madewild commented on #669
Works well on https://kohesio.development.ec.europa.eu/en/projects?nuts3=Arrondissement-of-Mons&sort=Total-Budget-(descending)&interreg=Yes for instance (in combination with NUTS filter).

However if I click on the 3rd result https://kohesio.development.ec.europa.eu/en/projects/Q4297390 I get a 404... @roberto-musmeci @D063520 did we delete some interref projects from the Wikibase which are still

[2022-09-15 07:19] raphdom commented on #669
this seems to be a problem in the dev index, because this is working fine:
https://linkedopendata.eu/entity/Q4297390
but not this:
https://kohesio.development.ec.europa.eu/api/facet/eu/project?id=https://linkedopendata.eu/entity/Q4297390

[2022-09-15 07:22] D063520 commented on #702
Hi, I think it is good, but the map is not working

[2022-09-15 07:23] raphdom commented on #702
I am sending the same parameter in the map request:

https://kohesio.development.ec.europa.eu/api/facet/eu/search/project/map?nuts3=https://linkedopendata.eu/entity/Q2572108

[2022-09-15 07:24] D063520 commented on #702
@DiaZork: did you adapted also the map API?

[2022-09-15 07:55] raphdom commented on #708
done, can you check on dev, please? @roberto-musmeci
The good example:
https://kohesio.development.ec.europa.eu/en/projects/Q4300675

[2022-09-15 07:56] madewild commented on #708
I would put a different from from when we redirect to inforegion...

"Read more on keep.eu" ?

[2022-09-15 08:04] raphdom commented on #708
done

[2022-09-15 08:05] madewild commented on #708
@roberto-musmeci waiting for your validation to close

[2022-09-15 08:08] raphdom commented on #710
done, problem with zeros in the log scale, now we ignore them...

[2022-09-15 08:13] madewild commented on #710
Looks good now

[2022-09-15 08:13] #710 closed

[2022-09-15 08:41] DiaZork commented on #702
No, i didn't think about it.
I adding it as soon as possible

[2022-09-15 08:54] DiaZork commented on #702
It's added.

[2022-09-15 08:55] roberto-musmeci commented on #702
It looks good indeed. thanks
An issue still to take care of is the automatic reset the country and region filters if the NUTS 3 filter is not empty.
Currently we can run this query
https://kohesio.development.ec.europa.eu/en/projects?country=Austria&nuts3=Region-of-Murcia&sort=Total-Budget-(descending)&tab=map&region=Ost%C3%B6sterreich

It is executed because some INTERREG projects are in multiple

[2022-09-15 09:35] raphdom commented on #669
Change the name to: PROGRAMME TYPE
Change the order to: before PROGRAMME filter
Values: Yes= Interreg, No=Investment in Growth and Jobs

[2022-09-15 09:35] #708 closed

[2022-09-15 10:10] raphdom commented on #669
done, can you check, please? @roberto-musmeci @madewild

[2022-09-15 10:10] raphdom commented on #702
done, can you check please? @roberto-musmeci @madewild

[2022-09-15 10:15] madewild commented on #669
Looks good. We just need to keep in mind to improve the interaction between filters (e.g. programme and programme type) for next release...

[2022-09-15 10:16] madewild commented on #702
Working.

[2022-09-15 10:16] #702 closed

[2022-09-15 10:26] D063520 commented on #669
Refresh of the URL is not working

[2022-09-15 11:08] raphdom commented on #669
what do you mean?
https://kohesio.development.ec.europa.eu/en/projects?nuts3=Heidelberg&sort=Total-Budget-(descending)&interreg=Investment-in-Growth-and-Jobs
This works for me

[2022-09-15 11:26] madewild opened #717 "Descriptions disappeared in dev"
https://kohesio.development.ec.europa.eu/api/facet/eu/search/project?offset=0&limit=15 contains empty descriptions for all projects
compare with https://kohesio.test.ec.europa.eu/api/facet/eu/search/project?offset=0&limit=15 where it works properly

[2022-09-15 11:37] D063520 commented on #669
ok, sorry ... probably I made some mistake

[2022-09-15 11:37] #669 closed

[2022-09-15 12:33] raphdom commented on #318
They don't have such tiles, I will close this issue and open others to change specific things that we have discussed on the meeting with REUTER Hannes (ESTAT)

[2022-09-15 12:33] #318 closed

[2022-09-15 12:34] raphdom opened #711 "Change the disclaimer in the map"
Change the disclaimer in the map to a popup like here:

https://ec.europa.eu/statistical-atlas/viewer/

Should be translated in all languages also

[2022-09-15 12:35] raphdom opened #712 "Map multilingual"
Change the tiles of the map to multilingual

[2022-09-16 09:12] madewild commented on #350
Available in the backend but tricky to display with 2 images

Example: https://kohesio.test.ec.europa.eu/en/projects/Q68696

[2022-09-16 09:39] D063520 commented on #536
I added it ...

<img width="1724" alt="Screenshot 2022-09-16 at 11 39 20" src="https://user-images.githubusercontent.com/10883585/190607869-c0d5d2dc-368a-4333-ac62-b263b2908400.png">

[2022-09-16 09:43] D063520 commented on #626
Let's discuss this ....
I can embed a simple h2 database in the spring boot application. The problem is that the cluster is not persistent. So when the pod is gone the data is lost.
As a consequence we need a volume attached to the pod, the problem here is that we have 3 pods and we cannot query the same volume from all 3 and also we cannot mount the same volume on multiple pods.
So I guess we nee

[2022-09-16 11:45] madewild commented on #685
Checking this again, we only have 10.000 beneficiaries with geocoordinates out of 500.000... Seems to be a bit overkill to add this to the exports since it will be mostly empty. I will close it unless there is a big need to have it in the CSVs.

[2022-09-16 11:45] #685 closed

[2022-09-16 11:48] madewild commented on #626
Agree with your analysis :)

[2022-09-16 13:50] raphdom commented on #609
After some analysis in the load.js module on the trackPageView() function, there is no easy way to track ajax calls without change the url. The implementation for this release is only change the url in the homepage when the user navigate to a specific project and open in a modal window. I will close it here and open new issues for the rest.

[2022-09-16 13:50] #609 closed

[2022-09-16 13:52] raphdom opened #715 "Change the query parameters in map navigation"
This will allow the tracking in the analytics
Should be only in the homepage, in order to not be confusing with other parameter in the project list... to be discussed

[2022-09-19 08:21] raphdom commented on #536
Okay, now is good for THEME and INTERVENTION FIELD. For programs we need to decide where I should put the link, can you check it @madewild ?

[2022-09-19 08:25] madewild commented on #536
@roberto-musmeci currently on https://kohesio.development.ec.europa.eu/en/projects/Q100952 if we click on the programme name "Lubuskie Voivodeship" we jump to the programme page https://ec.europa.eu/regional_policy/EN/atlas/programmes/2014-2020/poland/2014PL16M2OP004

Do we want to keep this behaviour or allow searching over a programme inside Kohesio by clicking? Difficult to keep both...

[2022-09-19 09:17] roberto-musmeci commented on #536
What do you think if we place the link to the InfoRegio page in a hyperlink that displays
_"read further about the investment program"_
and if we click on the program name we jump to the project list filtered by that specific program ?

Basically as we do for "_read further about the project_"

[2022-09-19 09:19] madewild commented on #536
Yes something like this...

[2022-09-19 14:09] raphdom commented on #717
I didn't change anything, normally the property that I render here is descriptions, and apparently is empty now...

[2022-09-19 14:21] D063520 commented on #717
thank you Raph, forgot that! is working again ...

[2022-09-19 14:21] #717 closed

[2022-09-20 07:55] raphdom commented on #536
Can you check on dev, please? @madewild @roberto-musmeci
https://kohesio.development.ec.europa.eu/en/projects/Q100952
The problem is, the program label that we have on project detail is not the same that we have in the filters,
@D063520 don't know if you can add the first part of the programme label that I can concatenate?

[2022-09-20 07:59] roberto-musmeci commented on #536
thanks @raphdom. The functionality works perfectly.
Could you move the string "read further about the investment program" at the bottom of the _funding_ box to align it with the layout of the _project info_ box
![image](https://user-images.githubusercontent.com/86654885/191201369-b6b8af20-6920-49bb-a688-3615cbbe4498.png)

[2022-09-20 08:00] madewild commented on #536
I would style it like this:
![read_further](https://user-images.githubusercontent.com/942488/191201306-ccc0ca2f-b12c-4581-90d9-c756329a9ae9.png)

With the same vertical spacing as before "Read further about the project"

[2022-09-20 08:00] madewild commented on #536
Great minds... ;)

[2022-09-20 09:30] raphdom commented on #536
done, just waiting @D063520 about the programme label value

[2022-09-20 09:32] D063520 commented on #536
@raphdom : what you want exactly, the QID?

[2022-09-20 09:34] raphdom commented on #536
For this example:
https://kohesio.development.ec.europa.eu/en/projects/Q100952
I have programmeLabel: Lubuskie Voivodeship
And in the filters the value of this programme is: 2014PL16M2OP004 - Lubuskie Voivodeship

[2022-09-20 09:37] D063520 commented on #536
I would prefer to use IDs like here:

https://kohesio.development.ec.europa.eu/api/facet/eu/search/project?offset=0&limit=15&country=https://linkedopendata.eu/entity/Q13&program=https://linkedopendata.eu/entity/Q2463421&orderTotalBudget=false

instead of labels. Also because the labels can change and they are language dependent .....

[2022-09-20 09:44] D063520 commented on #536
So we will render in the project view also "2014PL16M2OP004 - Lubuskie Voivodeship"?

[2022-09-20 09:45] raphdom commented on #536
You can send me the programmeFullLabel, maybe? it is too difficult?

[2022-09-20 09:47] D063520 commented on #536
it's that the query starts looking like this:

<img width="1046" alt="Screenshot 2022-09-20 at 11 46 50" src="https://user-images.githubusercontent.com/10883585/191226065-5b84f82a-d622-4315-ab0c-ddf774bfefbe.png">

(and this is only a part)

[2022-09-20 10:49] raphdom commented on #536
Now is good, we can close it, thanks @D063520

[2022-09-20 10:49] #536 closed

[2022-09-20 13:22] madewild commented on #664
@svili let's review this

[2022-09-20 14:07] roberto-musmeci commented on #670
I created an item called (financial correction)[https://linkedopendata.eu/wiki/Item:Q4411786]. All projects with negative budget can be encoded as instance of financial corrections  (i.e. P35 -> Q4411786).

@DiaZork

[2022-09-21 06:34] madewild commented on #626
@svili could you create this simple database/table inside the cluster?

[2022-09-21 06:48] madewild commented on #350
@raphdom to discuss together for next release

[2022-09-21 07:43] madewild commented on #664
Fixed

[2022-09-21 07:43] #664 closed

[2022-09-21 13:01] svili commented on #626
@D063520 @DiaZork @madewild
Added a MySQL to the dev cluster in the development namespace. For development you can access it via port forwarding to the mysql service via
[code]
and then accessing it from localhost:3306.
I can give you the root password.
Added new environment variables to the backend deployment DB_HOST, DB_PORT, DB_USER, DB_PASSWORD.

[2022-09-27 13:11] roberto-musmeci opened #722 "Menu button triggers 404 error"
Amaury noted that on mobile or small screen the menu gives back a 404 error
![image](https://user-images.githubusercontent.com/86654885/192535392-2df0e8e5-ec82-46a3-84b1-6c3b734ba96e.png)

[2022-09-27 13:54] raphdom commented on #722
fixed on dev and test, today I will send it to acc, thanks

[2022-09-28 15:09] roberto-musmeci opened #725 "Download button does not work"
The download button does not generate any reports

https://kohesio.ec.europa.eu/en/projects?keywords=solar%20energy&sort=Total-Budget-(descending)&interventionField=013

Also if you click on the link, the list of projects are only related to intervention 013.

Bug already there in prod.

[2022-09-30 16:00] #722 closed

[2022-10-03 06:40] AnneThol commented on #709
Thanks @madewild ! Have a  nice day

[2022-10-03 07:50] raphdom commented on #725
Issue fixed, please can you test and close?

[2022-10-03 07:59] madewild commented on #725
works for me, @gachpas can you check with the original reporter?

[2022-10-03 08:34] roberto-musmeci commented on #725
FYI @madewild @gachpas
I sent an email to the reporter. It works for me too.

[2022-10-03 08:42] roberto-musmeci opened #731 "Program Type filter not linked to heatmap"
I think the heat map is not connected to the program type filter ([link](https://kohesio.ec.europa.eu/en/projects?interreg=Interreg&sort=Total-Budget-(descending)&tab=map))
INTERREG projects across the EU are ~8K. The heat map shows only in Italy +700K (which is the total number of all projects)

I don't know if you want to fix this already or push it to December. December for me it's fine.
I thin

[2022-10-03 09:00] raphdom commented on #731
We are sending the interreg:true in this situation, maybe in the backend side? @D063520 @DiaZork ?

[2022-10-03 09:30] raphdom opened #732 "Upgrade ECL version"
They deprecated the harmonized group 1 site header.

We should align and upgrade the version to 3.4.2 at least

Need to adapt the script, with special developments, on the carousel side.

[2022-10-11 14:17] madewild opened #733 "Double space in carousel pagination"
On https://kohesio.ec.europa.eu/en/ there is a double space bewteen "1" and "of 3" in the carousel pagination.
I tried to fix it on https://kohesio.development.ec.europa.eu/en/ by moving the non-breaking space inside the "of " string (see https://github.com/ec-doris/kohesio-frontend/commit/e63cf0669136cbe676ffe6f6454a7d90c9952fa3), it works but it's a bad solution because it break the multilingual

[2022-10-12 07:30] raphdom commented on #733
fixed

[2022-10-12 07:31] raphdom commented on #711
Done, can you check @madewild and close it, please?

[2022-10-12 07:33] madewild commented on #711
Perfect. We need to translate the word "Disclaimer" to 24 languages?

[2022-10-12 07:34] raphdom commented on #711
Don't know, what do you think?

[2022-10-12 07:35] madewild commented on #711
Probably better to include it in the Poetry second batch to be on the safe side...

[2022-10-12 07:35] #711 closed

[2022-10-12 08:09] madewild opened #734 "Put email address in full in about page"

[2022-10-13 08:05] madewild opened #735 "Align vertical space"
On https://kohesio.development.ec.europa.eu/en/projects/Q100952 for instance

There is a small vertical space before "Read further about the project" which is nice.
Would be good to have the same space before "Read further about the programme" (currently too close to the programme).

[2022-10-18 06:46] raphdom commented on #735
This is fixed, can you check on dev and close it?

[2022-10-18 06:46] raphdom commented on #734
This is fixed also

[2022-10-18 06:47] raphdom commented on #733
can you check this and close it? @madewild

[2022-10-18 06:47] raphdom commented on #713
This is also implemented. Can you check and close it? @madewild

[2022-10-18 08:58] #735 closed

[2022-10-18 08:59] #734 closed

[2022-10-18 09:00] #733 closed

[2022-10-18 09:01] madewild commented on #713
Great

[2022-10-18 09:01] #713 closed

[2022-10-18 09:35] raphdom commented on #714
Have been implemented, can you check if it is okay? @roberto-musmeci @madewild @D063520

https://kohesio.development.ec.europa.eu/en/projects/Q3810843

The multilingual works also 😃

[2022-10-18 09:37] D063520 commented on #714
this is a nice one!

[2022-10-18 09:47] roberto-musmeci commented on #714
Lovely @raphdom ! It's a great feature !

[2022-10-18 09:48] #714 closed

[2022-10-18 11:31] raphdom commented on #712
done

[2022-10-18 11:31] #712 closed

[2022-10-19 07:12] madewild opened #736 "Improve REACT EU theme display"
On https://kohesio.ec.europa.eu/en/themes
New theme is shown in white on grayish background, difficult to read and we miss an icon

[2022-10-19 07:30] madewild opened #742 "Add NUTS3 code to API"
On https://kohesio.development.ec.europa.eu/api/facet/eu/nuts3?language=en we don't have the NUTS3 code (e.g. FR01)
Would be good to add it since it's an expert filter

[2022-10-19 07:32] madewild opened #737 "Reorganise boxes on project detail page"
Project info, funding, programme...

[2022-10-19 07:33] madewild opened #738 "Add tooltip on project/beneficiary pages boxes “Graph” and “More”"
I will provide the text

[2022-10-19 07:47] madewild opened #739 "Filters activation"
Auto reload page when one filter is chosen? Or move up the "Show results" button? When advanced filters are open, the button is hidden below and users who select a filter wonder why nothing is happening... Tricky issue.

[2022-10-19 07:48] madewild opened #740 "Reset button should hide semantic search extra keywords"
Currently they are still shown after reset

[2022-10-20 07:12] raphdom commented on #350
Ask REGIO graphic team to create 2 new icons (multiple thematic objectives and react)(related #736)

[2022-10-20 08:52] raphdom opened #741 "Outermost regions API"
Now, I have this json hardcoded on my side, can you give me an API to get this from the KG? Can you add the total project number, by region, it will be great.
Thanks
[code]

[2022-10-20 09:43] madewild commented on #742
To add in front of the NUTS name in the filter dropdown, like "FR1 - Île de France"

[2022-10-20 11:49] raphdom commented on #742
I do prefer that you concatenate this in the server side, as we have it for Fund and Programme...

[2022-10-20 11:49] raphdom commented on #740
fixed. Can you test it, please @madewild

[2022-10-20 12:11] #740 closed

[2022-10-20 16:10] #742 closed

[2022-10-21 09:05] raphdom commented on #741
done, all the values from the outermost regions now come via API,
It is difficult to add the total Number of the project in all outermost regions? This allow us to colorize the regions on the heat map.

[2022-10-21 09:08] D063520 commented on #741
uuuuu, this is a bit custom ..... I think we will not make it for this release ..... I would need to think how to do this conretely. We also do not have the numbers on the main map at the beginning ....

[2022-10-21 09:09] raphdom commented on #741
no, it is only for the heat map, inside the projects page, but no worries, we can postponned it to next year. Thanks

[2022-10-21 09:10] raphdom commented on #709
Will be postponned because we need the information about the total number per region

[2022-11-08 08:59] faustusdotbe opened #744 ""0 of + length" instead of "0 of 0" when search returns an empty result"
See screenshots for illustration. This happens both for projects and beneficiaries.

**DEV**, as of 2022/11/08:
![image](https://user-images.githubusercontent.com/5579081/200520282-2bb03f87-de6b-4e71-8824-9642611a3054.png)

**PROD**, as of 2022/11/08:
![image](https://user-images.githubusercontent.com/5579081/200520418-b32abd63-7e43-4261-8de2-20e9be430ccb.png)

[2022-11-08 14:29] DiaZork opened #745 "NUTS3 Filter Undefined before label"
There is this undefined before the label of the NUTS,
If you can take a look on it @raphdom

<img width="702" alt="Capture d’écran 2022-11-08 à 15 27 19" src="https://user-images.githubusercontent.com/34543056/200590845-51565f12-4adb-4319-8d9c-e7112c9de173.png">

[2022-11-09 08:10] raphdom commented on #745
fixed

[2022-11-09 08:10] #745 closed

[2022-11-09 08:10] raphdom commented on #744
fixed

[2022-11-09 08:10] #744 closed

[2022-11-09 10:10] D063520 opened #747 "Website not accessible with latest version of Safari"
the problem on my side is that the browser is stuck at loading ifframe_api

<img width="1728" alt="Screenshot 2022-11-09 at 10 36 12 (1)" src="https://user-images.githubusercontent.com/10883585/200802675-3a499c4d-0cd8-4882-b335-c9d444db9b6a.png">

Version 16.1 (18614.2.9.1.12)

[2022-11-09 10:22] raphdom commented on #747
for me it works, I have exactly the same version:

<img width="1308" alt="Screenshot 2022-11-09 at 11 21 46" src="https://user-images.githubusercontent.com/5124917/200805114-bd331005-ef33-49e2-b572-cea7a30aa67e.png">

Can you try to access this: https://www.youtube.com/iframe_api

[2022-11-09 10:35] D063520 commented on #747
very strange .... yes I can access the link directly, but it never terminates in kohesio ....

[2022-11-09 10:36] D063520 commented on #747
let's wait for some days, hope it will go away by it's own ....

[2022-11-09 12:50] D063520 commented on #747
It's a Safari bug:

https://forums.macrumors.com/threads/safari-certain-websites-wont-load-after-ventura.2367614/

[2022-11-09 12:50] #747 closed

[2022-11-14 11:14] roberto-musmeci opened #749 "Gran Canaria label"
User in DG REGIO noted that
_When you are checking the map of the Kohesio platform and you zoom in the Spanish Canaries, when you set your mouse on Gran Canaria it says Madrid instead of Gran Canaria._

I double checked and it's indeed the case.
Could you take a look ?

[2022-11-27 10:04] D063520 opened #753 "Links not working in project page (when not english) since sorting parameter not translated"
See for example "tema" link on:

https://kohesio.development.ec.europa.eu/it/progetti/Q10000

[2022-11-28 08:27] raphdom commented on #753
Fixed, for all links on project details.

[2022-11-28 08:27] #753 closed

[2022-11-29 10:03] faustusdotbe opened #754 ""Only use my keywords" in pages in some languages is badly displayed"
See image:

![image](https://user-images.githubusercontent.com/5579081/204499270-288e50eb-c5af-490e-b6ca-010c0ea6aaa2.png)

[2022-11-29 10:05] madewild commented on #754
Maybe we could shorten it to "Mes mots-clés uniquement"?

[2022-11-29 10:06] faustusdotbe commented on #754
Yep. I'm going through all languages to see if this is an issue across the board and will report back. We might need help from the translators on this.

[2022-11-29 10:07] raphdom commented on #754
Maybe it will be better change the button to bellow the words.

[2022-11-29 10:13] raphdom commented on #754
Something like this:
Screenshot 2022-11-29 at 11.12.18

[2022-11-29 12:37] faustusdotbe commented on #754
Below is a breakdown. I am not too fond of having the button at the bottom, but aesthetics are personal and this seems like an easy/quick fix so why not.

| Language  | "Use my keywords" text | Problematic? Y/N |
| ------------- | ------------- | ------------- |
| bg  | Използване само на моите ключови думи  | Y |
| es | Utilizar únicamente mis palabras clave | Y |
| cs  | NO SEARCH RESULTS | NO S

[2022-11-30 09:31] D063520 opened #756 "small css problem"
<img width="317" alt="Screenshot 2022-11-30 at 10 29 44" src="https://user-images.githubusercontent.com/10883585/204759131-c96d6642-79d1-4713-8988-59e93635cba9.png">

[2022-11-30 09:39] D063520 opened #757 "Implement SEO"
It would be nice (and important) to have kohesio appearing in google searching like:

- projects financed by the eu
- projects eu
- projects funded by eu
- how does the eu spend his money
- projects erdf
- projects esf
- projects (other funds)
- projects cohesion (probably not in the communication scope)
- projects italy eu (in general projects COUNTRY eu)